<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<button
  (click)="onBack()"
  class="text-textLight dark:text-textDark mb-6 flex items-center gap-2"
>
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>
<div
  class="mx-auto p-6 bg-tileLight dark:bg-tileBlack rounded-lg shadow-lg"
  *ngIf="company"
>
  <h2 class="text-2xl font-normal text-textLight dark:text-textDark mb-6">
    View Company Details
  </h2>
  <!-- Company Logo -->
  <div class="flex items-center mb-6 gap-4">
    <span class="mt-2 text-sm text-textLight dark:text-textDark font-medium">
      {{ company.logo ? "Company Logo" : "No Logo Available" }}
    </span>

    <!-- Show logo if available -->
    <img
      *ngIf="company.logo"
      [src]="company.logo"
      alt="Company Logo"
      class="w-12 h-12 object-cover rounded-lg border border-gray-300 dark:border-gray-600 shadow-md"
    />

    <!-- Show icon if no logo -->
    <div
      *ngIf="!company.logo"
      class="w-12 h-12 flex items-center justify-center rounded-lg border border-gray-300 dark:border-gray-600 bg-gray-100 dark:bg-gray-700 shadow-md"
    >
      <i class="fa-solid fa-image text-gray-400 text-2xl"></i>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- Registration Number -->
    <div class="my-3">
      <label
        class="block text-sm font-medium text-textLight dark:text-textDark"
      >
        Registration Number
      </label>
      <input
        type="text"
        class="mt-1 block w-full p-2 border rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
        [value]="company.regNumber"
        readonly
      />
    </div>

    <!-- Tax ID -->
    <div class="my-3">
      <label
        class="block text-sm font-medium text-textLight dark:text-textDark"
      >
        TAX ID
      </label>
      <input
        type="text"
        class="mt-1 block w-full p-2 border rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
        [value]="company.taxId"
        readonly
      />
    </div>

    <!-- Company Name -->
    <div class="my-3 md:col-span-2">
      <label
        class="block text-sm font-medium text-textLight dark:text-textDark"
      >
        Company Name
      </label>
      <input
        type="text"
        class="mt-1 block w-full p-2 border rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
        [value]="company.companyName"
        readonly
      />
    </div>

    <!-- Phone Number 1 -->
    <div class="my-3">
      <label
        class="block text-sm font-medium text-textLight dark:text-textDark"
      >
        Phone Number - 1
      </label>
      <input
        type="text"
        class="mt-1 block w-full p-2 border rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
        [value]="company.phoneCode1 + '' + company.phoneNumber1"
        readonly
      />
    </div>

    <!-- Phone Number 2 -->
    <div class="my-3">
      <label
        class="block text-sm font-medium text-textLight dark:text-textDark"
      >
        Phone Number - 2
      </label>
      <input
        type="text"
        class="mt-1 block w-full p-2 border rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
        [value]="
          company.phoneNumber2
            ? company.phoneCode2 + '' + company.phoneNumber2
            : '--'
        "
        readonly
      />
    </div>

    <!-- Address -->
    <div class="my-3 md:col-span-2">
      <label
        class="block text-sm font-medium text-textLight dark:text-textDark"
      >
        Address
      </label>
      <textarea
        rows="3"
        class="mt-1 block w-full p-2 border rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
        [value]="company.address"
        readonly
      ></textarea>
    </div>
  </div>
</div>
