<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div *ngIf="!isLoading" class="overflow-x-auto">
  <div>
    <div class="pt-5 pb-5 min-w-[1400px] bg-tileLight dark:bg-tileBlack">
      <div class="mb-2">
        <h2 class="text-2xl font-normal text-textLight dark:text-textDark">
          {{centerObj.centerRegCode}} {{centerObj.centerName}}
        </h2>
      </div>
      <div class="flex justify-between items-center mb-8">
        <div class="flex items-center">
          <h2 class="text-2xl font-normal text-textLight dark:text-textDark">
            All ({{orderCount | number: '2.0'}})
          </h2>
        </div>
      </div>
    </div>
    <div *ngIf="hasData" class="w-full overflow-x-auto border-2 border-gray-200 rounded-2xl">
      <table class="min-w-full divide-y divide-gray-200">
        <thead>
          <tr>
            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left">
              No
            </th>
            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center">
              EMP ID
            </th>
            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left">
              Full Name
            </th>
            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center">
              All Orders
            </th>
            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center">
              Todo
            </th>

            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center">
              Completed
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr class="hover:bg-gray-50 dark:hover:bg-gray-700" *ngFor="let item of ordersArr; let i = index">
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{i +1 | number : '2.0'}}
            </td>
            <td class="px-4 py-3 text-center text-textLight dark:text-textDark">
              {{item.empId}}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{item.firstNameEnglish}} {{item.lastNameEnglish}}
            </td>
            <td class="px-4 py-3 text-center text-textLight dark:text-textDark">
              {{item.target | number: '2.0'}}
            </td>
            <td class="px-4 py-3 text-center text-textLight dark:text-textDark">
              {{(item.target - item.complete) <= 0 ? 0 : (item.target - item.complete) | number: '2.0' }} </td>
            <td class="px-4 py-3 text-center text-textLight dark:text-textDark">
              {{item.complete | number: '2.0'}}
            </td>
            <td class="px-2 py-3 text-left text-textLight dark:text-textDark">
              <button class="w-6 h-6 text-[#367bfa] hover:text-[#83aefd]">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M3 14C3 9.02944 7.02944 5 12 5C16.9706 5 21 9.02944 21 14M17 14C17 16.7614 14.7614 19 12 19C9.23858 19 7 16.7614 7 14C7 11.2386 9.23858 9 12 9C14.7614 9 17 11.2386 17 14Z"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="8" class="px-4 py-6 text-center text-textLight dark:text-textDark"></td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="hasData" class="dark:bg-[#262f45]">
        <pagination-controls [responsive]="true" [previousLabel]="'Previous'" [nextLabel]="'Next'"
          [screenReaderPaginationLabel]="'Pagination'" [screenReaderPageLabel]="'page'"
          [screenReaderCurrentLabel]="'Youre on page'">
        </pagination-controls>
      </div>

      <div *ngIf="hasData" class="flex flex-col items-center w-full h-screen px-10 py-7 mt-6">
        <p class="text-[#494949] my-6 dark:text-textDark">
          --No Data Available--
        </p>
        <img src="assets/images/NoData.png" alt="No Data" class="w-20 h-20" />
      </div>
    </div>

    <div *ngIf="!hasData" class="flex flex-col items-center w-full h-screen px-10 py-7 mt-6 ">
      <p class="text-[#494949] my-6 dark:text-textDark">--No Data Available--</p>
      <img src="assets/images/NoData.png" alt="No Data" class="w-20 h-20" />
    </div>
  </div>
</div>