<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div *ngIf="cropId === null">
  <button (click)="back()" class=" text-textLight dark:text-textDark">
    <i class="fa-solid fa-arrow-left"></i>
    Back
  </button>
  <div class="h-[20px]"></div>
  <div class="mx-auto p-6 bg-tileLight dark:bg-tileBlack rounded-lg shadow-lg">
    <h2 class="text-2xl text-center mb-6 text-textLight dark:text-textDark font-bold">
      ADD CROP CALENDAR
    </h2>

    <form [formGroup]="cropForm" (ngSubmit)="onSubmit()">
      <div>
        <div class="mb-5">
          <label for="cropName" class="block text-sm font-medium text-textLight dark:text-textDark">
            Crop Name *
          </label>
          <p-dropdown id="cropName" name="cropName" formControlName="groupId" (onChange)="getAllVarities($event)"
            [options]="groupList" optionLabel="cropNameEnglish" optionValue="id" [filter]="true"
            filterBy="cropNameEnglish" placeholder="Select a crop" [showClear]="false"
            class="mt-1 block w-full  border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark cursor-pointer"
            [ngClass]="{'border-red-500': cropForm.get('groupId')?.invalid && (cropForm.get('groupId')?.dirty || cropForm.get('groupId')?.touched)}">
          </p-dropdown>

          <div
            *ngIf="cropForm.get('groupId')?.invalid && (cropForm.get('groupId')?.dirty || cropForm.get('groupId')?.touched)"
            class="text-red-500 text-sm mt-1">
            Crop name is required
          </div>
        </div>

        <div>
          <label for="varietyId" class="block text-sm font-medium text-textLight dark:text-textDark">
            Variety Name *
          </label>
          <p-dropdown id="varietyId" name="varietyId" formControlName="varietyId" [options]="varietyList"
            optionLabel="varietyNameEnglish" optionValue="id" [filter]="true" filterBy="varietyNameEnglish"
            placeholder="Select a variety" [showClear]="false"
            class="mt-1 block w-full  border border-gray-300 rounded-md bg-tileLight cursor-pointer dark:bg-tileBlack text-textLight dark:text-textDark"
            [ngClass]="{'border-red-500': cropForm.get('varietyId')?.invalid && (cropForm.get('varietyId')?.dirty || cropForm.get('varietyId')?.touched)}">
          </p-dropdown>
          <div
            *ngIf="cropForm.get('varietyId')?.invalid && (cropForm.get('varietyId')?.dirty || cropForm.get('varietyId')?.touched)"
            class="text-red-500 text-sm mt-1">
            Variety name is required
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4 mt-6">
          <div class="my-3">
            <label for="cultivationMethod" class="block text-sm font-medium text-textLight dark:text-textDark">
              Cultivation Method *
            </label>
            <p-dropdown formControlName="cultivationMethod" [options]="cultivationMethodOptions" optionLabel="label"
              optionValue="value" placeholder="Select method" [ngClass]="{
    'border-red-500':
      cropForm.get('cultivationMethod')?.invalid &&
      (cropForm.get('cultivationMethod')?.dirty ||
        cropForm.get('cultivationMethod')?.touched)
  }" class="w-full mt-1">
            </p-dropdown>

            <div
              *ngIf="cropForm.get('cultivationMethod')?.invalid && (cropForm.get('cultivationMethod')?.dirty || cropForm.get('cultivationMethod')?.touched)"
              class="text-red-500 text-sm mt-1">
              Cultivation method is required
            </div>
          </div>

          <div class="my-3">
            <label for="natureOfCultivation" class="block text-sm font-medium text-textLight dark:text-textDark">
              Nature of Cultivation *
            </label>
            <p-dropdown formControlName="natureOfCultivation" [options]="natureOptions" optionLabel="label"
              optionValue="value" placeholder="Select nature" [ngClass]="{
    'border-red-500':
      cropForm.get('natureOfCultivation')?.invalid &&
      (cropForm.get('natureOfCultivation')?.dirty ||
        cropForm.get('natureOfCultivation')?.touched)
  }" class="w-full">
            </p-dropdown>

            <div
              *ngIf="cropForm.get('natureOfCultivation')?.invalid && (cropForm.get('natureOfCultivation')?.dirty || cropForm.get('natureOfCultivation')?.touched)"
              class="text-red-500 text-sm mt-1">
              Nature of cultivation is required
            </div>
          </div>

          <div class="my-3">
            <label for="cropDuration" class="block text-sm font-medium text-textLight dark:text-textDark">
              Crop duration in days *
            </label>
            <input type="number" formControlName="cropDuration" id="cropDuration" name="cropDuration"
              (keydown)="blockFloatAndZero($event)" (input)="validateCropDuration($event)"
              (paste)="blockPasteInvalid($event)"
              class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
              [ngClass]="{'border-red-500': cropForm.get('cropDuration')?.invalid && (cropForm.get('cropDuration')?.dirty || cropForm.get('cropDuration')?.touched)}" />
            <div
              *ngIf="cropForm.get('cropDuration')?.invalid && (cropForm.get('cropDuration')?.dirty || cropForm.get('cropDuration')?.touched)"
              class="text-red-500 text-sm mt-1">
              <div *ngIf="cropForm.get('cropDuration')?.errors?.['required']">Crop duration is required</div>
              <div *ngIf="cropForm.get('cropDuration')?.errors?.['pattern']">Enter valid day</div>
              <div *ngIf="cropForm.get('cropDuration')?.errors?.['min']">Crop duration must be greater than 0</div>
            </div>
          </div>

          <div class="md:col-span-2 mt-3" style="width: 100%;">
            <label for="specialNotes" class="block text-sm font-medium text-textLight dark:text-textDark">
              Special Notes *
            </label>
            <textarea id="specialNotes" name="specialNotes" formControlName="specialNotes" rows="4"
              placeholder="Enter any special notes about this crop..."
              class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack resize-vertical mb-6"
              [ngClass]="{'border-red-500': cropForm.get('specialNotes')?.invalid && (cropForm.get('specialNotes')?.dirty || cropForm.get('specialNotes')?.touched)}">
            </textarea>
            <div
              *ngIf="cropForm.get('specialNotes')?.invalid && (cropForm.get('specialNotes')?.dirty || cropForm.get('specialNotes')?.touched)"
              class="text-red-500 text-sm mt-1">
              Please enter valid special notes
            </div>
            <label for="suitableAreas" class="block text-sm font-medium text-textLight dark:text-textDark">
              Suitable Areas *
            </label>
            <p-multiSelect id="suitableAreas" formControlName="suitableAreas" [options]="toppingList" optionLabel="name"
              optionValue="name" [filter]="true" filterBy="name" placeholder="Select suitable areas" [showClear]="false"
              class="mt-1 block w-full border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
              [ngClass]="{'border-red-500': cropForm.get('suitableAreas')?.invalid && (cropForm.get('suitableAreas')?.dirty || cropForm.get('suitableAreas')?.touched)}">
            </p-multiSelect>
            <div
              *ngIf="cropForm.get('suitableAreas')?.invalid && (cropForm.get('suitableAreas')?.dirty || cropForm.get('suitableAreas')?.touched)"
              class="text-red-500 text-sm mt-1">
              Suitable areas is required
            </div>
          </div>

        </div>

        <div class="flex justify-end mt-6">
          <div class="px-4 py-2 mx-4 bg-[#74788D] text-white rounded-md cursor-pointer" (click)="onCancel()">
            Cancel
          </div>
          <button type="submit" class="px-6 py-2 bg-[#3980C0] text-white rounded-md" [disabled]="isLoading">
            Next
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="cropId != null">
  <button (click)="backEdit()" class=" text-textLight dark:text-textDark">
    <i class="fa-solid fa-arrow-left"></i>
    Back
  </button>
  <div class="h-[20px]"></div>
  <div class="mx-auto p-6 bg-tileLight dark:bg-tileBlack rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-center mb-6 text-textLight dark:text-textDark">
      EDIT CROP CALENDAR
    </h2>

    <form [formGroup]="cropForm" (ngSubmit)="updateCropCalendar()">
      <div>
        
          <div class="my-3">
            <label for="cultivationMethod" class="block text-sm font-medium text-textLight dark:text-textDark">
              Cultivation Method *
            </label>
            <p-dropdown formControlName="cultivationMethod" [options]="cultivationMethodOptions" optionLabel="label"
              optionValue="value" placeholder="Select method" [ngClass]="{
    'border-red-500':
      cropForm.get('cultivationMethod')?.invalid &&
      (cropForm.get('cultivationMethod')?.dirty ||
        cropForm.get('cultivationMethod')?.touched)
  }" class="w-full mt-1 text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack rounded-md">
            </p-dropdown>

            <div
              *ngIf="cropForm.get('cultivationMethod')?.invalid && (cropForm.get('cultivationMethod')?.dirty || cropForm.get('cultivationMethod')?.touched)"
              class="text-red-500 text-sm mt-1">
              Cultivation method is required
            </div>
          </div>

          <div class="my-3">
            <label for="natureOfCultivation" class="block text-sm font-medium text-textLight dark:text-textDark">
              Nature of Cultivation *
            </label>
            <p-dropdown formControlName="natureOfCultivation" [options]="natureOptions" optionLabel="label"
              optionValue="value" placeholder="Select nature" [ngClass]="{
    'border-red-500':
      cropForm.get('natureOfCultivation')?.invalid &&
      (cropForm.get('natureOfCultivation')?.dirty ||
        cropForm.get('natureOfCultivation')?.touched)
  }" class="w-full mt-1 text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack rounded-md">
            </p-dropdown>

            <div
              *ngIf="cropForm.get('natureOfCultivation')?.invalid && (cropForm.get('natureOfCultivation')?.dirty || cropForm.get('natureOfCultivation')?.touched)"
              class="text-red-500 text-sm mt-1">
              Nature of cultivation is required
            </div>
      
          <div class="md:col-span-2 my-3">
            <label for="cropDuration" class="block text-sm font-medium text-textLight dark:text-textDark">
              Crop Duration *
            </label>
            <input type="number" formControlName="cropDuration" id="cropDuration" name="cropDuration"
              (keydown)="blockFloatAndZero($event)" (input)="validateCropDuration($event)"
              (paste)="blockPasteInvalid($event)"
              class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
              [ngClass]="{'border-red-500': cropForm.get('cropDuration')?.invalid && (cropForm.get('cropDuration')?.dirty || cropForm.get('cropDuration')?.touched)}" />
            <div
              *ngIf="cropForm.get('cropDuration')?.invalid && (cropForm.get('cropDuration')?.dirty || cropForm.get('cropDuration')?.touched)"
              class="text-red-500 text-sm mt-1">
              <div *ngIf="cropForm.get('cropDuration')?.errors?.['required']">Crop duration is required</div>
              <div *ngIf="cropForm.get('cropDuration')?.errors?.['pattern']">Enter valid day</div>
              <div *ngIf="cropForm.get('cropDuration')?.errors?.['min']">Crop duration must be greater than 0</div>
            </div>
          </div>

          <div class="md:col-span-2 my-3 w-full">
            <label for="specialNotes" class="block text-sm font-medium text-textLight dark:text-textDark">
              Special Notes *
            </label>
            <textarea id="specialNotes" name="specialNotes" formControlName="specialNotes" rows="4"
              placeholder="Enter any special notes about this crop..."
              class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack resize-vertical mb-6"
              [ngClass]="{'border-red-500': cropForm.get('specialNotes')?.invalid && (cropForm.get('specialNotes')?.dirty || cropForm.get('specialNotes')?.touched)}">
            </textarea>
            <div
              *ngIf="cropForm.get('specialNotes')?.invalid && (cropForm.get('specialNotes')?.dirty || cropForm.get('specialNotes')?.touched)"
              class="text-red-500 text-sm mt-1">
              Please enter valid special notes
            </div>
            <label for="suitableAreas" class="block text-sm font-medium text-textLight dark:text-textDark">
              Suitable Areas *
            </label>

            <p-multiSelect id="suitableAreas" formControlName="suitableAreas" [options]="toppingList" optionLabel="name"
              optionValue="name" [filter]="true" filterBy="name" placeholder="Select Suitable Areas" [showClear]="false"
              defaultLabel="Select Suitable Areas"
              class="mt-1 block w-full border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
              [ngClass]="{
      'border-red-500':
        cropForm.get('suitableAreas')?.invalid &&
        (cropForm.get('suitableAreas')?.dirty ||
          cropForm.get('suitableAreas')?.touched)
    }">
            </p-multiSelect>

            <div *ngIf="
      cropForm.get('suitableAreas')?.invalid &&
      (cropForm.get('suitableAreas')?.dirty || cropForm.get('suitableAreas')?.touched)
    " class="text-red-500 text-sm mt-1">
              Suitable areas is required
            </div>

          </div>

        </div>

        <div class="flex justify-end mt-6">
          <div class="px-4 py-2 mx-4 bg-[#74788D] text-white rounded-md cursor-pointer" (click)="onCancelEdit()">
            Cancel
          </div>
          <button type="submit" class="px-6 py-2 mx-4 bg-[#3980C0] text-white rounded-md" [disabled]="isLoading">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>