<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div *ngIf="cropId === null">
  <button onclick="window.location.href='/plant-care'" class="mb-5 text-textLight dark:text-textDark">
    <i class="fa-solid fa-arrow-left"></i>
    Back
  </button>
  <div class="h-[20px]"></div>
  <div class="mx-auto p-6 bg-tileLight dark:bg-tileBlack rounded-lg shadow-lg">
    <h2 class="text-2xl text-center mb-6 text-textLight dark:text-textDark font-bold">ADD CROP CALENDAR</h2>

    <!-- <div class="mb-6">
      <ul class="flex">
        <li class="cursor-pointer py-2 px-4 text-center border-b-2 text-textLight dark:text-textDark"
          [ngClass]="{ 'border-[#3980C0]': selectedLanguage === 'english' }" (click)="selectLanguage('english')">
          English
        </li>
        <li class="cursor-pointer py-2 px-4 text-center border-b-2 text-textLight dark:text-textDark"
          [ngClass]="{ 'border-[#3980C0]': selectedLanguage === 'sinhala' }" (click)="selectLanguage('sinhala')">
          Sinhala
        </li>
        <li class="cursor-pointer py-2 px-4 text-center border-b-2 text-textLight dark:text-textDark"
          [ngClass]="{ 'border-[#3980C0]': selectedLanguage === 'tamil' }" (click)="selectLanguage('tamil')">
          Tamil
        </li>
      </ul>
    </div> -->

    <form [formGroup]="cropForm" (ngSubmit)="onSubmit()">


      <!-- <div *ngIf="selectedLanguage === 'english'">
        <div class="my-3">
          <label for="crop" class="block text-sm font-medium text-textLight dark:text-textDark">Crop</label>
          <input formControlName="cropName" id="cropName" [(ngModel)]="createNewObj.cropName" name="cropName"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
          <div
            *ngIf="cropForm.get('cropName')!.invalid && (cropForm.get('cropName')!.dirty || cropForm.get('cropName')!.touched)"
            class="text-red-500 text-sm mt-1">
            <div *ngIf="cropForm.get('cropName')!.errors?.['required']">Crop name is required</div>
          </div>
        </div>

        <div class="my-3">
          <label for="variety" class="block text-sm font-medium text-textLight dark:text-textDark">Variety</label>
          <input formControlName="variety" id="variety" [(ngModel)]="createNewObj.variety" name="variety"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
          <div
            *ngIf="cropForm.get('variety')!.invalid && (cropForm.get('variety')!.dirty || cropForm.get('variety')!.touched)"
            class="text-red-500 text-sm mt-1">
            <div *ngIf="cropForm.get('variety')!.errors?.['required']">Variety is required</div>
          </div>
        </div>

        <div class="md:col-span-2 my-3">
          <label for="specialNotes" class="block text-sm font-medium text-textLight dark:text-textDark">Special Notes</label>
          <textarea formControlName="specialNotes" id="specialNotes" [(ngModel)]="createNewObj.SpecialNotes"
            name="specialNotes" rows="3" class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"></textarea>
          <div
            *ngIf="cropForm.get('specialNotes')!.invalid && (cropForm.get('specialNotes')!.dirty || cropForm.get('specialNotes')!.touched)"
            class="text-red-500 text-sm mt-1">
            <div *ngIf="cropForm.get('specialNotes')!.errors?.['required']">Special Notes is required</div>
          </div>
        </div>
      </div> -->

      <!-- <div *ngIf="selectedLanguage === 'sinhala'">
        <div class="my-3">
          <label for="sinhalaCropName" class="block text-sm font-medium text-textLight dark:text-textDark">Crop in Sinhala </label>
          <input formControlName="sinhalaCropName" id="sinhalaCropName" [(ngModel)]="createNewObj.sinhalaCropName"
            name="sinhalaCropName" class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
          <div
            *ngIf="cropForm.get('sinhalaCropName')!.invalid && (cropForm.get('sinhalaCropName')!.dirty || cropForm.get('sinhalaCropName')!.touched)"
            class="text-red-500 text-sm mt-1">
            <div *ngIf="cropForm.get('sinhalaCropName')!.errors?.['required']">Crop name is required</div>
          </div>
        </div>

        <div class="my-3">
          <label for="sinhalaVariety" class="block text-sm font-medium text-textLight dark:text-textDark">Variety in Sinhala</label>
          <input formControlName="sinhalaVariety" id="sinhalaVariety" [(ngModel)]="createNewObj.sinhalaVariety"
            name="sinhalaVariety" class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
          <div
            *ngIf="cropForm.get('sinhalaVariety')!.invalid && (cropForm.get('sinhalaVariety')!.dirty || cropForm.get('sinhalaVariety')!.touched)"
            class="text-red-500 text-sm mt-1">
            <div *ngIf="cropForm.get('sinhalaVariety')!.errors?.['required']">Variety is required</div>
          </div>
        </div>

        <div class="md:col-span-2 my-3">
          <label for="sinhalaSpecialNotes" class="block text-sm font-medium text-textLight dark:text-textDark">Special Notes in
            Sinhala</label>
          <textarea formControlName="sinhalaSpecialNotes" id="sinhalaSpecialNotes"
            [(ngModel)]="createNewObj.sinhalaSpecialNotes" name="sinhalaSpecialNotes" rows="3"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"></textarea>
          <div
            *ngIf="cropForm.get('sinhalaSpecialNotes')!.invalid && (cropForm.get('sinhalaSpecialNotes')!.dirty || cropForm.get('sinhalaSpecialNotes')!.touched)"
            class="text-red-500 text-sm mt-1">
            <div *ngIf="cropForm.get('sinhalaSpecialNotes')!.errors?.['required']">Special Notes is required</div>
          </div>
        </div>
      </div> -->

      <!-- <div *ngIf="selectedLanguage === 'tamil'">
        <div class="my-3">
          <label for="tamilCropName" class="block text-sm font-medium text-textLight dark:text-textDark">Crop in Tamil </label>
          <input formControlName="tamilCropName" id="tamilCropName" [(ngModel)]="createNewObj.tamilCropName"
            name="tamilCropName" class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
          <div
            *ngIf="cropForm.get('tamilCropName')!.invalid && (cropForm.get('tamilCropName')!.dirty || cropForm.get('tamilCropName')!.touched)"
            class="text-red-500 text-sm mt-1">
            <div *ngIf="cropForm.get('tamilCropName')!.errors?.['required']">Crop name is required</div>
          </div>
        </div>

        <div class="my-3">
          <label for="tamilVariety" class="block text-sm font-medium text-textLight dark:text-textDark">Variety in Tamil</label>
          <input formControlName="tamilVariety" id="tamilVariety" [(ngModel)]="createNewObj.tamilVariety"
            name="tamilVariety" class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
          <div
            *ngIf="cropForm.get('tamilVariety')!.invalid && (cropForm.get('tamilVariety')!.dirty || cropForm.get('tamilVariety')!.touched)"
            class="text-red-500 text-sm mt-1">
            <div *ngIf="cropForm.get('tamilVariety')!.errors?.['required']">Variety is required</div>
          </div>
        </div>

        <div class="md:col-span-2 my-2">
          <label for="tamilSpecialNotes" class="block text-sm font-medium text-textLight dark:text-textDark">Special Notes in Tamil</label>
          <textarea formControlName="tamilSpecialNotes" id="tamilSpecialNotes"
            [(ngModel)]="createNewObj.tamilSpecialNotes" name="tamilSpecialNotes" rows="3"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"></textarea>
          <div
            *ngIf="cropForm.get('tamilSpecialNotes')!.invalid && (cropForm.get('tamilSpecialNotes')!.dirty || cropForm.get('tamilSpecialNotes')!.touched)"
            class="text-red-500 text-sm mt-1">
            <div *ngIf="cropForm.get('tamilSpecialNotes')!.errors?.['required']">Special Notes is required</div>
          </div>
        </div>
      </div> -->

      


      <!-- *ngIf="selectedPage === 'pageTwo'" -->
      <div >

        <div>
          <!-- Role Input -->
          <label for="cropName" class="block text-sm font-medium text-textLight dark:text-textDark">Crop Name</label>
          <select id="cropName" name="cropName" formControlName="groupId" (change)="getAllVarities($event)" class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark">
            <option *ngFor="let group of groupList" [value]="group.id">{{ group.cropNameEnglish}}</option>
          </select>
      </div>



      <div>
        <label for="varietyId" class="block text-sm font-medium text-textLight dark:text-textDark">Variety Name</label>
        <select id="varietyId" name="varietyId" formControlName="varietyId"  class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark">
          <option *ngFor="let variety of varietyList" [value]="variety.id">{{ variety.varietyNameEnglish}}</option>
        </select>
    </div>

      


        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4 mt-6">
          <div class="my-3">
            <label for="cultivationMethod"
              class="block text-sm font-medium text-textLight dark:text-textDark">Cultivation
              Method</label>
            <select formControlName="cultivationMethod" id="cultivationMethod"
              [(ngModel)]="createNewObj.cultivationMethod" name="cultivationMethod"
              class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack">
              <option value="" disabled selected>Select method</option>
              <option value="Open Field">Open Field</option>
              <option value="Protected Field">Protected Field</option>
            </select>
            <!-- <div
              *ngIf="cropForm.get('variety')!.invalid && (cropForm.get('variety')!.dirty || cropForm.get('variety')!.touched)"
              class="text-red-500 text-sm mt-1">
              <div *ngIf="cropForm.get('variety')!.errors?.['required']">Variety is required</div>
            </div> -->
          </div>

          <div class="my-3">
            <label for="natureOfCultivation" class="block text-sm font-medium text-textLight dark:text-textDark">Nature
              of
              Cultivation</label>
            <select formControlName="natureOfCultivation" id="natureOfCultivation"
              [(ngModel)]="createNewObj.natureOfCultivation" name="natureOfCultivation"
              class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack">
              <option value="" disabled selected>Select nature</option>
              <option value="Conventional Farming">Conventional Farming</option>
              <option value="GAP Farming">GAP Farming</option>
              <option value="Organic Farming">Organic Farming</option>
            </select>
            <!-- <div
            *ngIf="cropForm.get('CultivationMethod')!.invalid && (cropForm.get('CultivationMethod')!.dirty || cropForm.get('CultivationMethod')!.touched)"
            class="text-red-500 text-sm mt-1">
            <div *ngIf="cropForm.get('CultivationMethod')!.errors?.['required']">Cultivation Method is required</div>
          </div> -->
          </div>

          <div class="my-3">
            <label for="cropDuration" class="block text-sm font-medium text-textLight dark:text-textDark">Crop duration
              in
              days.</label>
            <input type="number" min="0" step="1" formControlName="cropDuration" id="cropDuration" name="cropDuration"
              class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
            <div
              *ngIf="cropForm.get('cropDuration')!.invalid && (cropForm.get('cropDuration')!.dirty || cropForm.get('cropDuration')!.touched)"
              class="text-red-500 text-sm mt-1">
              <div *ngIf="cropForm.get('cropDuration')!.errors?.['required']">Cultivation Method is required</div>
              <div *ngIf="cropForm.get('cropDuration')!.errors?.['pattern']">Enter Valid day</div>
            </div>
          </div>

          

          <div class="md:col-span-2 mt-3">
            <label for="suitableAreas" class="block text-sm font-medium text-textLight dark:text-textDark">Suitable
              Areas</label>
            <!-- <textarea formControlName="suitableAreas" id="suitableAreas" name="suitableAreas" rows="3" class="mt-1 block w-full p-2 border border-gray-300 rounded-md"></textarea> -->
            <mat-form-field>
              <mat-select formControlName="suitableAreas" multiple>
                @for (topping of toppingList; track topping) {
                <mat-option [value]="topping">{{ topping }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

         
        </div>
       

        <div class="flex justify-end mt-6">
          <button  class="px-4 py-2 mx-4 bg-[#74788D] text-white rounded-md">
            Cancel
          </button>
          <button type="submit" class="px-6 py-2 bg-[#3980C0] text-white rounded-md">
            Next
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--  -->

<div *ngIf="cropId != null">

  <div>
    <button onclick="window.location.href='/plant-care/view-crop-calender'"
      class="mb-5 text-textLight dark:text-textDark">
      <i class="fa-solid fa-arrow-left"></i>
      Back
    </button>
    <div class="h-[20px]"></div>
    <div class="mx-auto p-6 bg-tileLight dark:bg-tileBlack rounded-lg shadow-md">
      <h2 class="text-2xl font-bold text-center mb-6 text-textLight dark:text-textDark">EDIT CROP CALENDAR</h2>

      


      <form [formGroup]="cropForm" (ngSubmit)="updateCropCalender()">



        


        <div >
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4 mt-6">
            <div class="my-3">
              <label for="cultivationMethod"
                class="block text-sm font-medium text-textLight dark:text-textDark">Cultivation Method</label>
              <select formControlName="cultivationMethod" id="cultivationMethod"
                [(ngModel)]="cropCalender[0].methodEnglish" name="cultivationMethod"
                class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack">
                <option value="" disabled selected>Select method</option>
                <option value="Open Field">Open Field</option>
                <option value="Protected Field">Protected Field</option>
              </select>
            </div>

            <div class="my-3">
              <label for="natureOfCultivation"
                class="block text-sm font-medium text-textLight dark:text-textDark">Nature
                of
                Cultivation</label>
              <select formControlName="natureOfCultivation" id="natureOfCultivation"
                [(ngModel)]="cropCalender[0].natOfCulEnglish" name="natureOfCultivation"
                class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack">
                <option value="" disabled selected>Select nature</option>
                <option value="Conventional Farming">Conventional Farming</option>
                <option value="GAP Farming">GAP Farming</option>
                <option value="Organic Farming">Organic Farming</option>

              </select>
            </div>

            <div class="md:col-span-2 my-3">
              <label for="cropDuration" class="block text-sm font-medium text-textLight dark:text-textDark">Crop
                Duration</label>
              <input formControlName="cropDuration" id="cropDuration" [(ngModel)]="cropCalender[0].cropDuration"
                name="cropDuration"
                class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
            </div>



            <div class="md:col-span-2 my-3">
              <label for="suitableAreas" class="block text-sm font-medium text-textLight dark:text-textDark">
                Suitable Areas
              </label>
              <mat-form-field>
                <mat-select id="suitableAreas" formControlName="suitableAreas" multiple
                  placeholder="Select Suitable Areas">
                  <mat-option *ngFor="let topping of toppingList" [value]="topping">
                    {{ topping }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>


           






           

           

            






          </div>

          <div class="flex justify-end mt-6">
            <button class="px-4 py-2 mx-4 bg-[#74788D] text-white rounded-md">
              Cancel
            </button>
            <button type="submit" class="px-6 py-2 mx-4 bg-[#3980C0] text-white rounded-md">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>