<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<button
  class="mb-5 text-textLight dark:text-textDark"
  onclick="window.location.href='/market-place'"
>
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>

<div class="pt-5 pr-12 pl-12 pb-5 w-100 bg-tileLight dark:bg-tileBlack shadow-lg rounded-lg">
  <div class="flex justify-start items-center mb-8">
    <h2 class="text-2xl font-normal text-center text-textLight dark:text-textDark">
      Upload CSV
    </h2>
  </div>

  <div class="flex justify-between items-center mb-8">
    <div class="flex flex-col">
      <label for="date" class="block text-sm font-medium text-gray-700 dark:text-textDark mb-2">Select Date</label>
      <input
        type="date"
        [(ngModel)]="date"
        class="border-solid border-2 text-gray-500 dark:text-[#FFFFFF] focus:ring-4 focus:outline-none font-normal rounded-lg px-6 py-2 text-center inline-flex items-center bg-[#F1F1F1] dark:bg-[#272F45]"
      />
    </div>
    <div class="flex flex-col">
      <label for="startTime" class="block text-sm font-medium text-gray-700 dark:text-textDark mb-2">Start with</label>
      <input
        type="time"
        [(ngModel)]="startTime"
        class="border-solid border-2 text-gray-500 dark:text-[#FFFFFF] focus:ring-4 focus:outline-none font-normal rounded-lg px-8 py-2 text-center inline-flex items-center bg-[#F1F1F1] dark:bg-[#272F45]"
      />
    </div>
    <div class="flex flex-col">
      <label for="endTime" class="block text-sm font-medium text-gray-700 dark:text-textDark mb-2">End with</label>
      <input
        type="time"
        [(ngModel)]="endTime"
        class="border-solid border-2 text-gray-500 dark:text-[#FFFFFF] focus:ring-4 focus:outline-none font-normal rounded-lg px-8 py-2 text-center inline-flex items-center bg-[#F1F1F1] dark:bg-[#272F45]"
      />
    </div>
  </div>

  <!-- Wrapping div that occupies full height and width -->
  <div class="flex justify-center items-center mt-6">
    <div
      class="bg-[#EBF5FF] flex flex-col justify-center items-center py-10 px-72 border-[2px] border-[#0090FF] rounded-lg border-dashed"
      (click)="fileInput.click()"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onDrop($event)"
    >
      <input
        type="file"
        (change)="onFileSelected($event)"
        accept=".csv, .xlsx"
        class="hidden"
        #fileInput
      />

      <div *ngIf="!selectedFile" class="flex flex-col justify-center items-center">
        <i class="fa-solid fa-cloud-arrow-up text-[100px] text-gray-400"></i>
        <p class="text-2xl text-[#0090FF] font-semibold mt-5">
          Select a CSV or XLSX file to upload
        </p>
        <p class="text-lg text-[#0090FF]">or drag and drop it here</p>
      </div>

      <div *ngIf="selectedFile">
        <p class="text-lg text-gray-500">Selected file: {{ selectedFile.name }}</p>
        
      </div>

      <div *ngIf="isLoading">
        <app-loading-spinner></app-loading-spinner>
      </div>

      
    </div>
  </div>

  <div class="flex justify-end mt-12">
    <button class="px-4 py-2 mx-4 bg-[#74788D] text-white rounded-md" (click)="onCancel()">
      Cancel
    </button>
    <button class="px-6 py-2 mx-4 bg-[#3980C0] text-white rounded-md" (click)="onUpload()">
      Save
    </button>
  </div>
</div>
