<div class="w-full p-4">
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-2 gap-4 h-52"
  >
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4"
    >
      <div
        class="bg-[#B78C00] text-white p-4 rounded-lg shadow-lg flex flex-col items-center justify-center text-center"
      >
        <i class="fa-regular fa-newspaper text-4xl mb-4"></i>
        <h2 class="text-md font-semibold dark:text-white">Drivers</h2>
        <h2 class="text-sm font-semibold dark:text-white">Total</h2>
        <p class="text-xl font-bold dark:text-white">{{ drivers }}</p>
      </div>
      <div
        class="flex flex-col dark:bg-tileBlack items-center justify-center text-center bg-white p-4 rounded-lg shadow-lg"
      >
        <h2 class="text-lg font-thin text-gray-600 dark:text-white">
          New Drivers
        </h2>
        <h2 class="text-sm font-thin text-gray-600 dark:text-white">Today</h2>
        <p class="text-2xl font-bold text-gray-900 dark:text-white">
          {{ newDriver }}
        </p>
      </div>
    </div>
  </div>
</div>
