/* Hides clear icon when dropdown has no selected value */
::ng-deep .p-dropdown .p-dropdown-clear {
    display: none;
}

/* Show the clear button only when a value is selected */
::ng-deep .p-dropdown.ng-dirty.ng-valid .p-dropdown-clear {
    display: inline-flex !important;
}

::ng-deep .dark .p-dropdown-panel {
    background-color: #2d354d !important;
    color: #B1B1B1 !important;
    border-radius: 6px !important;
    /* <-- add this for rounded corners */
    overflow: hidden;
    /* ensures child items don't spill over rounded corners */
}

::ng-deep .dark .p-dropdown-panel .p-dropdown-item {
    background-color: #2d354d !important;
    color: #B1B1B1 !important;
}

::ng-deep .dark .p-dropdown-panel .p-dropdown-item:hover {
    background-color: #3a4160 !important;
    color: #fff !important;
}

::ng-deep .dark .p-dropdown-panel .p-dropdown-item.p-highlight {
    background-color: #2d354d !important;
    color: #B1B1B1 !important;
}

::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding-left: 5px !important;
}

::ng-deep .dark .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding-left: 15px !important;
}

.dark .p-dropdown .p-dropdown-label {
    color: #ffffff !important;
  }

  ::ng-deep .dark .p-dropdown .p-dropdown-label:not(.p-placeholder) {
    color: white;
  }

  .status-approved {
  background-color: #d1fae5; /* light green */
  color: #065f46; /* dark green text */
  padding: 6px 12px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 0.875rem;
}

.status-rejected {
  background-color: #fee2e2; /* light red */
  color: #b91c1c; /* dark red text */
  padding: 6px 12px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 0.875rem;
}

.status-not-approved {
  background-color: #fef9c3; /* light yellow */
  color: #713f12; /* dark yellow/brown text */
  padding: 6px 12px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 0.875rem;
}

.status-pending {
  background-color: #e0e7ff; /* light blue */
  color: #3730a3; /* dark blue text */
    padding: 6px 12px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 0.875rem;
}
