:host ::ng-deep .p-calendar .p-button {
    color: black;             
  }
  :host-context(.dark) ::ng-deep .p-calendar .p-button {
    color: white;              
  }

  ::ng-deep .p-calendar .p-inputtext {
    padding-right: 3rem !important; /* Make room for both icons */
  }
  
  ::ng-deep .p-calendar .p-calendar-clear-icon {
    right: 1.2rem !important; /* Position clear button to the left of calendar icon */
    top: 8.2px !important; /* Move clear button slightly down */
    order: 1;
  }
  
  
  ::ng-deep .p-calendar .p-datepicker-trigger {
    right: 0.5rem !important; /* Position calendar icon on the far right */
    order: 2;
  }
  
  /* For light mode placeholder */
:host ::ng-deep .p-calendar .p-inputtext::placeholder {
  color: #6c6c6c; /* gray-400 */
}

/* For dark mode placeholder */
:host-context(.dark) ::ng-deep .p-calendar .p-inputtext::placeholder {
  color: #8B8B8B; /* gray-300 */
}

/* making pop up small*/

::ng-deep .calendar-popup-small {
  width: 320px !important; /* Adjust as needed */
  min-width: 280px !important;
}

::ng-deep .calendar-popup-small .p-datepicker-calendar {
  font-size: 0.875rem; /* Smaller font */
}

::ng-deep .calendar-popup-small .p-datepicker-calendar td {
  padding: 0.25rem !important; /* Smaller cell padding */
}

::ng-deep .calendar-popup-small .p-datepicker-calendar td span {
  width: 1.5rem !important;
  height: 1.5rem !important;
  line-height: 1.5rem !important;
}
