<div class="bg-[#061E2C] py-14 px-12 rounded-lg text-center text-white  h-full">
    <h3 class="mb-3 text-lg text-white dark:text-white">Sales</h3>
    <div class="flex justify-center gap-4 mb-3 text-sm">
      <span class="text-[#94a3b8] cursor-pointer pb-1 border-b-2 border-transparent hover:border-[#3B82F6] active:border-[#3B82F6] dark:text-white">By Category</span>
      <span class="text-[#94a3b8] cursor-pointer pb-1 border-b-2 border-transparent hover:border-[#3B82F6] dark:text-white">By Packages</span>
    </div>
    <canvas id="pieChart" class="w-full h-full"></canvas>
  </div>
  