<div *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>
<button class="mb-5 ml-10 text-textLight dark:text-textDark" (click)="back()">
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>

<div class="flex flex-col justify-start items-start pl-10">
  <div class="flex flex-row gap-16">
    <div class="flex flex-col">
      <div class="flex flex-row gap-16 pb-8">
        <div
          class="relative flex justify-center shadow-lg rounded-lg items-center"
        >
          <div
            class="transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight inline-flex items-center justify-between w-[310px] h-[60px] px-4 text-sm font-medium text-[#495057] bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500"
          >
            <div class="flex items-center">
              <span class="ml-24 font-bold text-[#030308] dark:text-white">{{
                centerObj.centerRegCode
              }}</span>
            </div>
          </div>
        </div>

        <div
          class="relative flex justify-center shadow-lg rounded-lg items-center cursor-pointer"
        >
          <div
            class="transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight inline-flex items-center justify-between w-[310px] h-[60px] px-4 text-sm font-medium text-[#495057] bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500"
            (click)="officersTargets()"
          >
            <div class="flex items-center">
              <span class="ml-8 text-[#292929] dark:text-white font-semibold"
                >Officers & Targets</span
              >
            </div>
            <i
              class="fa-solid fa-arrow-up-right-from-square"
              style="color: #4a90e2"
            ></i>
          </div>
        </div>

        <div
          class="relative flex justify-center shadow-lg rounded-lg items-center cursor-pointer"
        >
          <div
            class="transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight inline-flex items-center justify-between w-[310px] h-[60px] px-4 text-sm font-medium text-[#495057] bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500"
            (click)="driversVehicles()"
          >
            <div class="flex items-center">
              <span class="ml-8 text-[#292929] dark:text-white font-semibold"
                >Drivers & Vehicles</span
              >
            </div>
            <i
              class="fa-solid fa-arrow-up-right-from-square"
              style="color: #4a90e2"
            ></i>
          </div>
        </div>
      </div>

      <div class="flex flex-row gap-16 pb-8">
        <div
           class="cursor-pointer shadow-lg w-[310px] h-[180px] transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500 relative"
          (click)="packingProgress()"
        >
          <!-- Added 'relative' here -->

          <div
            class="flex flex-col items-center justify-center mx-5 gap-5 mt-6"
          >
            <div
              class="bg-[#EDF5FC] p-3 w-12 h-12 flex items-center justify-center rounded-full"
            >
              <i class="fa-solid fa-bag-shopping text-[#415CFF] text-lg"></i>
            </div>

            <div class="flex flex-col justify-center items-center text-center">
              <span class="text-[#292929] font-semibold dark:text-white block"
                >Order Packing</span
              >
              <span class="text-[#292929] font-semibold dark:text-white block"
                >Progress</span
              >
            </div>
          </div>
          <div class="absolute bottom-1 right-2">
            <!-- Changed to absolute positioning -->
            <i
              class="fa-solid fa-arrow-up-right-from-square text-[#415CFF]"
            ></i>
          </div>
        </div>

        <div
          (click)="homeDeliveryOrderRecords()" class="cursor-pointer shadow-lg w-[310px] h-[180px] transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500 relative"
          (click)="homeDeliveryOtherRecords()"
        >
          <!-- Added 'relative' here -->

          <div
            class="flex flex-col items-center justify-center mx-5 gap-5 mt-6"
          >
            <div
              class="bg-[#EDF5FC] p-3 w-12 h-12 flex items-center justify-center rounded-full"
            >
              <i class="fa-solid fa-truck-fast text-[#415CFF] text-lg"></i>
            </div>

            <div class="flex flex-col justify-center items-center text-center">
              <span class="text-[#292929] font-semibold dark:text-white block"
                >Home Delivery</span
              >
              <span class="text-[#292929] font-semibold dark:text-white block"
                >Order Records</span
              >
            </div>
          </div>
          <div class="absolute bottom-1 right-2">
            <!-- Changed to absolute positioning -->
            <i
              class="fa-solid fa-arrow-up-right-from-square text-[#415CFF]"
            ></i>
          </div>
        </div>

        <div
          class="cursor-pointer shadow-lg w-[310px] h-[180px] transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500 relative"
          (click)="pickUpOrderRecords()"
        >
          <!-- Added 'relative' here -->

          <div
            class="flex flex-col items-center justify-center mx-5 gap-5 mt-6"
          >
            <div
              class="bg-[#EDF5FC] p-3 w-12 h-12 flex items-center justify-center rounded-full"
            >
              <i
                class="fa-solid fa-hand-holding-hand text-[#415CFF] text-lg"
              ></i>
            </div>

            <div class="flex flex-col justify-center items-center text-center">
              <span class="text-[#292929] font-semibold dark:text-white block"
                >Pickup Order</span
              >
              <span class="text-[#292929] font-semibold dark:text-white block"
                >Records</span
              >
            </div>
          </div>
          <div class="absolute bottom-1 right-2">
            <!-- Changed to absolute positioning -->
            <i
              class="fa-solid fa-arrow-up-right-from-square text-[#415CFF]"
            ></i>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-row gap-16 pb-8">
      <div
        class="relative flex justify-center rounded-lg items-center cursor-pointer bg-[#3B82F6] shadow-lg transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)]"
      >
        <div
          class="cursor-pointer w-[310px] h-[180px]"
          (click)="receivedCashToday()"
        >
          <div class="flex items-center flex-col gap-2">
            <span class="text-white font-semibold text-4xl"
              ><i class="fa-solid fa-coins"></i
            ></span>
            <span class="text-white font-semibold text-xl"
              >Received Cash Today</span
            >
            <span class="text-white font-semibold text-xl">0 Orders</span>
            <span class="text-white font-semibold text-2xl">Rs. 0.00</span>
          </div>
          <div class="absolute bottom-3 right-3 text-white">
            <!-- Changed to absolute positioning -->
            <span class="underline mr-2">View All</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
