<button class="mb-5 text-textLight dark:text-textDark">
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>

<div
  class="fixed-width-container overflow-x-auto scrollbar-thin scrollbar-thumb-[#8AC440] scrollbar-track-transparent scrollbar-thumb-rounded-full">
  <div class="pt-5 pr-12 pl-12 pb-5 min-w-max bg-white dark:bg-tileBlack shadow-lg rounded-lg">
    <div class="flex space-x-4 pb-5 border-b border-gray-300">
      <button (click)="setActiveTab('Progress')" [ngClass]="
          activeTab === 'Progress'
            ? 'border border-[#415CFF] text-[#415CFF]'
            : 'border border-gray-300 text-textLight dark:text-textDark'
        " class="h-10 px-5 flex items-center justify-center rounded-full gap-2">
        <i *ngIf="activeTab === 'Progress'" class="fa fa-check"></i>
        Progress
      </button>

      <button (click)="setActiveTab('Out for Delivery')" [ngClass]="
          activeTab === 'Out for Delivery'
            ? 'border border-[#415CFF] text-[#415CFF]'
            : 'border border-gray-300 text-textLight dark:text-textDark'
        " class="h-10 px-5 flex items-center justify-center rounded-full gap-2">
        <i *ngIf="activeTab === 'Out for Delivery'" class="fa fa-check"></i>
        Out for Delivery
      </button>

      <button (click)="setActiveTab('Officers')" [ngClass]="
          activeTab === 'Officers'
            ? 'border border-[#415CFF] text-[#415CFF]'
            : 'border border-gray-300 text-textLight dark:text-textDark'
        " class="h-10 px-5 flex items-center justify-center rounded-full gap-2">
        <i *ngIf="activeTab === 'Officers'" class="fa fa-check"></i>
        Officers
      </button>

      <button (click)="setActiveTab('Officer Target')" [ngClass]="
          activeTab === 'Officer Target'
            ? 'border border-[#415CFF] text-[#415CFF]'
            : 'border border-gray-300 text-textLight dark:text-textDark'
        " class="h-10 px-5 flex items-center justify-center rounded-full gap-2">
        <i *ngIf="activeTab === 'Officer Target'" class="fa fa-check"></i>
        Officer Target
      </button>
    </div>
    <div class="h-5"></div>
    <div class="tab-content">
      <app-progress *ngIf="activeTab === 'Progress'"></app-progress>
    </div>
  </div>
</div>