<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<button class="mb-5 text-textLight dark:text-textDark" (click)="back()">
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>

<form>
  <!-- Header -->
  <div class="flex flex-row justify-between items-center mb-6">
    <p class="text-lg text-[#292929] dark:text-textDark font-normal">
      Edit Package
    </p>
    <div>
      <button type="button" class="bg-[#74788D] text-white text-lg px-3 py-1 rounded-lg mx-2" (click)="onCancel()">
        Cancel
      </button>
      <button type="button" class="bg-[#3980C0] text-white text-lg px-5 py-1 rounded-lg mx-2" (click)="onSubmit()"
        [disabled]="packageObj.productPrice < 0.0 || packageObj.packageFee < 0.0 || packageObj.serviceFee < 0.0">
        Save
      </button>
    </div>
  </div>

  <div class="flex flex-row justify-between">
    <!-- Main Form -->
    <div class="bg-white dark:bg-tileBlack py-10 px-14 shadow-md rounded-md w-[70%]">
      <!-- Top Row -->
      <div class="flex flex-row justify-between items-center mb-6">
        <div class="w-[70%]">
          <label class="text-[#534E4E] dark:text-textDark">Display Package Name *</label>
          <input type="text" [(ngModel)]="packageObj.displayName" name="name" placeholder="Fruit Pack"
            class="mt-1 block w-full p-2 border border-[#D9D9D9] dark:border-gray-600 rounded-md text-[#858585] dark:text-white bg-tileLight dark:bg-gray-800" />
        </div>

        <div class="flex flex-row items-center gap-3 mt-6">
          <input type="file" id="imageUpload" accept="image/*" class="hidden" (change)="onFileSelected($event)" />
          <label class="text-[#534E4E] font-semibold dark:text-textDark">Add Image</label>
          <div class="py-1 px-2 rounded-lg shadow-lg border border-[#3980C0] cursor-pointer dark:border-blue-400"
            (click)="triggerFileInput($event)">
            <i class="fa-solid fa-plus text-3xl text-[#A3A3A3] dark:text-white"></i>
          </div>
        </div>
      </div>

      <!-- Description -->
      <div class="mb-6">
        <label class="text-[#534E4E] dark:text-textDark">Description *</label>
        <textarea rows="4" [(ngModel)]="packageObj.description" name="description" placeholder="Enter Description"
          class="mt-1 block w-full p-2 border border-[#D9D9D9] dark:border-gray-600 rounded-md text-[#858585] dark:text-white bg-tileLight dark:bg-gray-800"></textarea>
      </div>

      <hr class="my-8 border-[1px] border-[#D9D9D9] dark:border-gray-600" />

      <!-- Pricing -->
      <div class="grid grid-cols-3 gap-8 mb-6">
        <div>
          <label class="block text-sm text-[#534E4E] dark:text-textDark mb-2">Total Package Price (Rs.)</label>
          <input type="number" min="0" step="0.01" [(ngModel)]="packageObj.productPrice" name="productPrice"
            (change)="calculateApproximatedPrice()" (input)="preventNegative($event)"
            (keypress)="allowDecimalNumbers($event)"
            class="w-full border border-[#D9D9D9] dark:border-gray-600 rounded-md px-3 py-2 focus:outline-none dark:bg-gray-800 dark:text-white"
            placeholder="Enter Amount" />
        </div>

        <div>
          <label class="block text-sm text-[#534E4E] dark:text-textDark mb-2">Service Fee (Rs.)</label>
          <input type="number" min="0" step="0.01" [(ngModel)]="packageObj.serviceFee" name="serviceFee"
            (change)="calculateApproximatedPrice()" (input)="preventNegative($event)"
            (keypress)="allowDecimalNumbers($event)"
            class="w-full border border-[#D9D9D9] dark:border-gray-600 rounded-md px-3 py-2 focus:outline-none dark:bg-gray-800 dark:text-white"
            placeholder="Enter Amount" />
        </div>

        <div>
          <label class="block text-sm text-[#534E4E] dark:text-textDark mb-2">Packaging Fee (Rs.)</label>
          <input type="number" min="0" step="0.01" [(ngModel)]="packageObj.packageFee" name="packageFee"
            (change)="calculateApproximatedPrice()" (input)="preventNegative($event)"
            (keypress)="allowDecimalNumbers($event)"
            class="w-full border border-[#D9D9D9] dark:border-gray-600 rounded-md px-3 py-2 focus:outline-none dark:bg-gray-800 dark:text-white"
            placeholder="Enter Amount" />
        </div>
      </div>
      <!-- Final Price -->
      <div>
        <label class=" text-sm font-medium text-[#534E4E] dark:text-textDark  mb-2">
          Approximated Package Price (Rs.)
        </label>
        <input disabled type="text" id="approximatedPrice" name="approximatedPrice"
          [value]="packageObj.approximatedPrice | number : '1.2-2'" placeholder="--"
          class="w-full border border-[#D9D9D9] rounded-md px-3 py-2" />
      </div>

      <hr class="my-8 border-[1px] border-[#D9D9D9] dark:border-gray-600" />

      <!-- Product Table -->
      <div class="w-full border border-gray-300 dark:border-gray-600 rounded-lg overflow-hidden">
        <table class="w-full font-normal">
          <thead
            class=" dark:bg-gray-700 text-gray-500 dark:text-gray-300 border-b border-[#CFCFCF] dark:border-gray-600">
            <tr>
              <th class="text-left font-normal px-4 py-3">Product Type</th>
              <th class="text-right font-normal px-4 py-3">No. of Items</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of packageObj.packageItems trackBy: trackByFn"
              class="hover:bg-gray-50 dark:hover:bg-gray-800">
              <td class="px-4 py-3 text-[#534E4E] dark:text-textDark">{{ item.typeName }}</td>
              <td class="px-4 py-2 text-right">
                <input type="number" min="0" [(ngModel)]="item.qty" [name]="'qty-' + item.productTypeId"
                  (input)="preventNegative($event)" (keypress)="allowOnlyNumbers($event)"
                  class="w-20 text-center border border-gray-300 dark:border-gray-600 rounded-md py-1 px-2 bg-white dark:bg-gray-800 text-gray-800 dark:text-white"
                  placeholder="--" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Sidebar -->
    <div class="flex flex-col px-6 py-3 mx-6 w-[30%]">
      <div class="rounded-lg  px-12 py-6" style="border: 1px solid #CFCFCF;">
        <p class="text-lg text-black dark:text-textDark font-normal">Preview</p>
        <div class="flex flex-col justify-center items-center my-3 bg-white dark:bg-gray-900 px-5 py-3 rounded-xl">
          <img [src]="selectedImage" class="w-full h-auto object-cover px-4 py-2 mt-8" />
          <div class="flex flex-col items-center gap-y-2">
            <p class="text-lg text-[#393939] dark:text-white font-medium"
              *ngIf="packageObj.displayName; else noDisplayName">
              {{ packageObj.displayName }}
            </p>
            <ng-template #noDisplayName>
              <p class="text-lg text-gray-500 italic">--Package Name--</p>
            </ng-template>

            <p class="text-sm text-[#00957D]" *ngIf="packageObj.approximatedPrice > 0; else noPrice">
              Rs.{{ packageObj.approximatedPrice | number : '1.2-2' }}
            </p>
            <ng-template #noPrice>
              <p class="text-sm text-gray-500 italic">--Price--</p>
            </ng-template>
          </div>
        </div>
      </div>


      <div class="bg-white dark:bg-tileBlack rounded-lg shadow-lg px-12 py-3 mt-10">
        <label class="text-black dark:text-textDark font-normal">Status</label>
        <div class="flex items-center space-x-2 my-5">
          <input type="radio" id="statusEnabled" name="status" [value]="'Enabled'" [(ngModel)]="packageObj.status"
            class="w-5 h-5 text-[#534E4E] dark:bg-gray-800 dark:border-gray-600" />
          <label for="statusEnabled" class="text-sm text-gray-700 dark:text-textDark">Enabled</label>
        </div>

        <div class="flex items-center space-x-2 my-5">
          <input type="radio" id="statusDisabled" name="status" [value]="'Disabled'" [(ngModel)]="packageObj.status"
            class="w-5 h-5 text-[#534E4E] dark:bg-gray-800 dark:border-gray-600" />
          <label for="statusDisabled" class="text-sm text-gray-700 dark:text-textDark">Disabled</label>
        </div>
      </div>
    </div>
  </div>
</form>