<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<button
  class="mb-5 text-textLight dark:text-textDark"
  (click)="back()"
  class="mb-5 text-textLight dark:text-textDark"
>
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>
<button
  *ngIf="
    permissionService.hasPermission('Add And Edit Company') ||
    tokenService.getUserDetails().role === '1'
  "
  class="bg-[#3980C0] text-white font-medium py-2 px-5 rounded text-lg flex mb-5 items-center"
  (click)="add()"
>
  <svg
    class="w-5 h-5 mr-3"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M4 12H20M12 4V20"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
  Add New
</button>

<div
  class="fixed-width-container overflow-x-auto scrollbar-thin scrollbar-thumb-scrollBarColor scrollbar-track-transparent scrollbar-thumb-rounded-full"
>
  <div
    class="pt-5 pr-12 pl-12 pb-5 min-w-[1200px] bg-tileLight dark:bg-tileBlack shadow-lg rounded-lg"
  >
    <div class="flex justify-between items-center mb-8">
      <div class="flex items-center">
        <h2 class="text-2xl font-normal text-textLight dark:text-textDark">
          Companies ({{ this.total }})
        </h2>
      </div>

      <div class="mr-8">
        <div
          class="flex items-center rounded-full bg-[#F1F1F1] dark:bg-[#272F45] px-4 py-2 w-96 relative group"
        >
          <!-- Popover -->
          <!-- <div
            class="absolute top-[50px] left-0 bg-gray-700 text-white text-xs rounded-md py-1 px-2 opacity-0 group-hover:opacity-100 transition-opacity duration-200"
          >
            Search by company
          </div> -->

          <!-- Input field -->
          <input
            type="text"
            placeholder="Search by Company Name or Email"
            class="bg-transparent outline-none w-full dark:text-textDark text-gray-600"
            [(ngModel)]="search"
            (keydown.enter)="searchPlantCareUsers()"
          />

          <!-- Search button -->
          <button
            type="button"
            class="text-gray-500 hover:text-gray-700 focus:outline-none mr-2"
            (click)="searchPlantCareUsers()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 10-14 0 7 7 0 0014 0z"
              />
            </svg>
          </button>

          <!-- Clear button -->
          <button
            type="button"
            (click)="clearSearch()"
            class="text-gray-500 hover:text-gray-700 focus:outline-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div>
    <div *ngIf="!hasData"
      class="flex flex-col items-center w-full h-screen px-10 py-7 bg-tileLight dark:bg-[#363636] dark:text-textDark mt-6">
      <p class="text-[#494949] my-6 dark:text-textDark">--No Data Availabale--</p>
      <img src="assets/images/NoData.png" alt="No Data" class="w-20 h-20 dark:text-textDark" />
    </div>
      <table class="min-w-full divide-y divide-gray-200 table-auto" *ngIf="hasData">
        <thead>
          <tr>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
            >
              No
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
            >
              Company Name
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
            >
              Company Email
            </th>
            <!-- <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center"
            >
              Status
            </th> -->
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center"
            >
              No. of Centres
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center"
            >
              CCH Profiles
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center"
            >
              CCM Profiles
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center"
            >
              COO Profiles
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center"
            >
              CUO Profiles
            </th>
            <th
              class="py-3 font-normal text-textLight dark:text-textDark text-center"
              *ngIf="
                  permissionService.hasPermission('View Company Head Portals') ||
                  tokenService.getUserDetails().role === '1'
                "
            >
              Centre Head Portals
            </th>
            <th
              class="py-3 font-normal text-textLight dark:text-textDark text-center"
            ></th>
            <th
              class="py-3 font-normal text-textLight dark:text-textDark text-center"
            ></th>
            <th
              class="py-3 font-normal text-textLight dark:text-textDark text-center"
            ></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of companies; let i = index">
            <td class="px-2 py-3 text-left text-textLight dark:text-textDark">
              {{ i + 1 }}
            </td>
            <td class="px-2 py-3 text-left text-textLight dark:text-textDark">
              {{ item.companyName }}
            </td>
            <td
              *ngIf="item.companyEmail"
              class="px-2 py-3 text-left text-textLight dark:text-textDark"
            >
              {{ item.companyEmail }}
            </td>
            <td
              *ngIf="!item.companyEmail"
              class="px-2 py-3 text-center text-textLight dark:text-textDark font-bold italic"
            >
              Email added by default
            </td>

            <!-- <td class="px-2 py-3 text-center text-textLight dark:text-textDark">
              <div *ngIf="item.status === 1">
                <span
                  class="w-24 h-7 inline-block bg-green-100 text-green-500 font-medium rounded-md px-3 py-1 text-sm"
                >
                  Active
                </span>
              </div>
              <div *ngIf="item.status === 0">
                <span
                  class="w-24 h-7 inline-block bg-red-100 text-red-500 font-medium rounded-md px-3 py-1 text-sm"
                >
                  Deactive
                </span>
              </div>
            </td> -->

            <td class="px-2 py-3 text-center text-textLight dark:text-textDark">
              {{ item.numOfCenters }}
            </td>
            <td class="px-2 py-3 text-center text-textLight dark:text-textDark">
              {{ item.numOfHead }}
            </td>
            <td class="px-2 py-3 text-center text-textLight dark:text-textDark">
              {{ item.numOfManagers }}
            </td>
            <td class="px-2 py-3 text-center text-textLight dark:text-textDark">
              {{ item.numOfOfficers }}
            </td>
            <td class="px-2 py-3 text-center text-textLight dark:text-textDark">
              {{ item.numOfCustomerOfficers }}
            </td>
            <td
              class="pt-1 pr-2 py-3 text-center text-textLight dark:text-textDark"
            >
              <button
              *ngIf="
                  permissionService.hasPermission('View Company Head Portals') ||
                  tokenService.getUserDetails().role === '1'
                "
                class="w-5 h-5 text-blue-500 hover:text-blue-700"
                (click)="viewCompanyHeadPortals(item.id, item.companyName)"
              >
                <i class="fa-regular fa-square-plus text-2xl"></i>
              </button>
            </td>
            <td class="px-2 py-3 text-center text-textLight dark:text-textDark">
              <button
                class="w-6 h-6 text-[#367bfa] hover:text-[#83aefd]"
                *ngIf="
                  permissionService.hasPermission('View Company') ||
                  tokenService.getUserDetails().role === '1'
                "
                (click)="viewCompany(item.id, true)"
              >
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3 14C3 9.02944 7.02944 5 12 5C16.9706 5 21 9.02944 21 14M17 14C17 16.7614 14.7614 19 12 19C9.23858 19 7 16.7614 7 14C7 11.2386 9.23858 9 12 9C14.7614 9 17 11.2386 17 14Z"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </td>

            <td class="px-2 py-3 text-center text-textLight dark:text-textDark">
              <button
                *ngIf="
                  permissionService.hasPermission('Add And Edit Company') ||
                  tokenService.getUserDetails().role === '1'
                "
                class="w-6 h-6 text-[#367bfa] hover:text-[#83aefd]"
                (click)="editCompany(item.id)"
                [disabled]="item.id === 1"
                [ngStyle]="{ opacity: item.id === 1 ? '0.5' : '1' }"
              >
                <svg
                  fill="currentColor"
                  viewBox="0 0 32 32"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>pen-to-square</title>
                  <path
                    d="M7.263 19.051l-1.656 5.797c-0.030 0.102-0.048 0.22-0.048 0.342 0 0.691 0.559 1.251 1.25 1.252h0c0.126-0 0.248-0.019 0.363-0.053l-0.009 0.002 5.622-1.656c0.206-0.063 0.383-0.17 0.527-0.311l-0 0 17.568-17.394c0.229-0.227 0.371-0.541 0.371-0.889 0-0.345-0.14-0.657-0.365-0.883l-4.141-4.142c-0.227-0.226-0.539-0.366-0.885-0.366s-0.658 0.14-0.885 0.366v0l-17.394 17.394c-0.146 0.146-0.256 0.329-0.316 0.532l-0.002 0.009zM25.859 3.768l2.369 2.369-2.369 2.346-2.37-2.345zM9.578 20.049l12.144-12.144 2.361 2.336-12.307 12.184-3.141 0.924zM30 12.75c-0.69 0-1.25 0.56-1.25 1.25v14.75h-25.5v-25.5h14.75c0.69 0 1.25-0.56 1.25-1.25s-0.56-1.25-1.25-1.25v0h-16c-0.69 0-1.25 0.56-1.25 1.25v0 28c0 0.69 0.56 1.25 1.25 1.25h28c0.69-0.001 1.249-0.56 1.25-1.25v-16c-0-0.69-0.56-1.25-1.25-1.25h-0z"
                  ></path>
                </svg>
              </button>
            </td>
            <td class="px-2 py-3 text-center text-textLight dark:text-textDark">
              <button
                *ngIf="
                  permissionService.hasPermission('Delete Company') ||
                  tokenService.getUserDetails().role === '1'
                "
                class="w-6 h-6 text-[#fc3636] hover:text-[#f38f8f]"
                (click)="deleteCompany(item.id)"
                [disabled]="item.id === 1"
                [ngStyle]="{ opacity: item.id === 1 ? '0.5' : '1' }"
              >
                <svg
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
                  />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
