<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<button (click)="onBack()" class="text-textLight dark:text-textDark mb-6 flex items-center gap-2">
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>

<div *ngIf="!isVerification" class="mx-auto p-6 bg-tileLight dark:bg-tileBlack rounded-lg shadow-lg">
  <h2 class="text-xl font-normal text-[#292929] dark:text-textDark mb-2">
    Edit GoViShop Supplier
  </h2>

  <div class="px-12 pb-6">
    <form (ngSubmit)="onUpload(form)" #form="ngForm">
      <!-- First Row: Cluster Name and District -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6 mt-10">
        <!-- Cluster Name Input -->
        <div>
          <label for="shopName" class="block text-sm font-medium text-[#534E4E] dark:text-textDark mb-2">
            Shop Name *
          </label>
          <input type="text" id="shopName" [(ngModel)]="goviShopObj.shopName" name="shopName" #shopNameInput="ngModel"
            (input)="onFormatInput2($event)"
            class="w-full px-3 py-2 h-12 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
            required />
          <div *ngIf="shopNameInput.touched && !goviShopObj.shopName" class="text-red-500 text-sm mt-1">
            <div>Shop Name is required</div>
          </div>

          <div *ngIf="goviShopObj.shopName && hasLeadingOrTrailingSpaces && formSubmitted" class="text-red-500 text-sm mt-1">
            Shop name should not have leading or trailing spaces
          </div>
        </div>

        <!-- District Dropdown -->
        <div>
          <label for="clusterName" class="block text-sm font-medium text-[#534E4E] dark:text-textDark mb-2">
            Shop’s Phone Number *
          </label>
          <input type="text" id="mobileNumber" [(ngModel)]="goviShopObj.mobileNumber" name="mobileNumber"
            #mobileNumberInput="ngModel"
            class="w-full px-3 py-2 h-12 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
            placeholder="e.g. 07XXXXXXXX" required pattern="^[0-9]{10}$"
            (keypress)="blockInvalidKeypressForPhone($event)" (paste)="blockInvalidPasteForPhone($event)" 
            (input)="onPhoneInput($event)"
            minlength="10"
            maxlength="10"
            (keypress)="($event.charCode >= 48 && $event.charCode <= 57) ? true : $event.preventDefault()"
             />
          <div *ngIf="mobileNumberInput.touched && !goviShopObj.mobileNumber" class="text-red-500 text-sm mt-1">
            <div> Mobile Number is required</div>
          </div>
          <div *ngIf="goviShopObj.mobileNumber && mobileNumberInput.errors?.['pattern']" class="text-red-500 text-sm mt-1">
            Please enter a valid mobile number.
          </div>
        </div>
      </div>


      <!-- Second Row: Certificate Dropdown -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
        <div class="mb-6">
          <label for="email" class="block text-sm font-medium text-[#534E4E] dark:text-textDark mb-2">
            Email Address *
          </label>
          <input type="text" id="email" [(ngModel)]="goviShopObj.email" #emailInput="ngModel"
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.com$" (input)="onTrimInput($event)" name="email"
            class="w-full px-3 py-2 h-12 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
            required />
          <div *ngIf="emailInput.touched && !goviShopObj.email" class="text-red-500 text-sm mt-1">
            Email is required
          </div>

          <div *ngIf="emailInput.touched && emailInput.errors?.['pattern']" class="text-red-500 text-sm mt-1">
            <!-- <p>Invalid email format (e.g., example&#64;mail.com)</p> -->
            <p>Please enter a valid email in the format: example&#64;domain.com</p>
          </div>
        </div>

        <div class="mb-6">
          <label for="address" class="block text-sm font-medium text-[#534E4E] dark:text-textDark mb-2">
            Address *
          </label>
          <input id="address" name="address" [(ngModel)]="goviShopObj.address"
          class="w-full px-3 py-2 h-12 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
                        #addressInput="ngModel" required (input)="onFormatInput1($event)" />
          <div *ngIf="addressInput.touched && !goviShopObj.address" class="text-red-500 text-sm mt-1">
            <div> Shop Addess is required</div>
          </div>
        </div>
      </div>

      <!-- Buttons -->
      <div class="flex justify-end gap-3 pt-4">
        <button type="button"
          class="px-6 py-2 bg-[#74788D] text-[#D3D3D3] rounded-lg hover:bg-[#74788D] transition-colors w-32"
          (click)="onCancel()">
          Cancel
        </button>
        <button
          type="submit"
          class="px-6 py-2 rounded-lg text-white transition-colors w-32"
          [ngClass]="{
            'bg-gray-500 cursor-not-allowed hover:bg-gray-500':
              form.invalid,

            'bg-[#3980C0] hover:bg-[#2d6ca3]':
              form.valid
          }"
        >
          <span *ngIf="!isLoading">Update</span>
          <span *ngIf="isLoading">Processing...</span>
        </button>
      </div>
    </form>
  </div>
</div>

