<button onclick="window.location.href='/steckholders/collective-officer'"
    class="ml-5 text-textLight dark:text-textDark">
    <i class="fa-solid fa-arrow-left"></i>
    Back
</button>
<div class="h-[20px]"></div>
<div class="mx-auto p-6 bg-white dark:bg-tileBlack rounded-lg shadow-mg">
    <h2 class="text-2xl mb-6 text-textLight dark:text-textDark">Add Collection Center</h2>
    <form>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
            <div>
                <label for="crop" class="block text-sm font-medium text-gray-700 dark:text-textDark">Reg Code</label>
                <input formControlName="firstName" id="firstName" name="firstName"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
            </div>

            <div>
                <label for="variety" class="block text-sm font-medium text-gray-700 dark:text-textDark">Collection
                    Center Name</label>
                <input formControlName="lastName" id="lastName" name="lastName"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
            </div>

            <div>
                <label for="phoNumOne" class="block text-sm font-medium text-gray-700 dark:text-textDark">
                    Contact Number 01
                </label>
                <div class="mt-1 flex">
                    <select id="countryCode" name="countryCode"
                        class="block p-2 border border-gray-300 rounded-l-md bg-gray-50 mr-5 text-textLight dark:text-textDark dark:bg-tileBlack">
                        <option value="+94">+94 (LK)</option>
                        <option value="+1">+1 (US)</option>
                        <option value="+44">+44 (UK)</option>
                        <option value="+91">+91 (India)</option>
                    </select>
                    <input formControlName="phoneNumber01" id="phoNumOne" name="phoNumOne"
                        class="block w-full p-2 border border-gray-300 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
                        placeholder="Enter your phone number" />
                </div>
            </div>

            <div>
                <label for="phoNumOne" class="block text-sm font-medium text-gray-700 dark:text-textDark">
                    Contact Number 02
                </label>
                <div class="mt-1 flex">
                    <select id="countryCode" name="countryCode"
                        class="block p-2 border border-gray-300 rounded-l-md bg-gray-50 mr-5 text-textLight dark:text-textDark dark:bg-tileBlack">
                        <option value="+94">+94 (LK)</option>
                        <option value="+1">+1 (US)</option>
                        <option value="+44">+44 (UK)</option>
                        <option value="+91">+91 (India)</option>
                    </select>
                    <input formControlName="phoneNumber01" id="phoNumOne" name="phoNumOne"
                        class="block w-full p-2 border border-gray-300 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
                        placeholder="Enter your phone number" />
                </div>
            </div>

            <div>
                <label for="variety" class="block text-sm font-medium text-gray-700 dark:text-textDark">City</label>
                <input formControlName="lastName" id="lastName" name="lastName"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
            </div>

            <div>
                <label for="variety" class="block text-sm font-medium text-gray-700 dark:text-textDark">Building
                    Number</label>
                <input formControlName="lastName" id="lastName" name="lastName"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
            </div>

            <div>
                <label for="variety" class="block text-sm font-medium text-gray-700 dark:text-textDark">Street
                    Name</label>
                <input formControlName="lastName" id="lastName" name="lastName"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
            </div>

            <div>
                <label for="phoNumOne" class="block text-sm font-medium text-gray-700 dark:text-textDark">
                    District
                </label>
                <div class="mt-1 flex">
                    <select id="countryCode" name="countryCode"
                        class="block p-2 border border-gray-300 rounded w-full bg-gray-50 text-textLight dark:text-textDark dark:bg-tileBlack">
                        <!-- <option value="+94">+94 (LK)</option>
                        <option value="+1">+1 (US)</option>
                        <option value="+44">+44 (UK)</option>
                        <option value="+91">+91 (India)</option> -->
                    </select>
                </div>
            </div>

            <div>
                <label for="phoNumOne" class="block text-sm font-medium text-gray-700 dark:text-textDark">
                    Province
                </label>
                <div class="mt-1 flex">
                    <select id="countryCode" name="countryCode"
                        class="block p-2 border border-gray-300 rounded w-full bg-gray-50 text-textLight dark:text-textDark dark:bg-tileBlack">
                        <!-- <option value="+94">+94 (LK)</option>
                        <option value="+1">+1 (US)</option>
                        <option value="+44">+44 (UK)</option>
                        <option value="+91">+91 (India)</option> -->
                    </select>
                </div>
            </div>

            <div>
                <label for="phoNumOne" class="block text-sm font-medium text-gray-700 dark:text-textDark">
                    Country
                </label>
                <div class="mt-1 flex">
                    <select id="countryCode" name="countryCode"
                        class="block p-2 border border-gray-300 rounded w-full bg-gray-50 text-textLight dark:text-textDark dark:bg-tileBlack">
                        <!-- <option value="+94">+94 (LK)</option>
                        <option value="+1">+1 (US)</option>
                        <option value="+44">+44 (UK)</option>
                        <option value="+91">+91 (India)</option> -->
                    </select>
                </div>
            </div>

        </div>
        <h3 class="text-2xl mb-2 mt-6 text-textLight dark:text-textDark">Officer in Charge - 1</h3>
        <hr class="mb-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
            <div>
                <label for="crop" class="block text-sm font-medium text-gray-700 dark:text-textDark">Officer Name</label>
                <div class="mt-1 flex">
                    <select id="countryCode" name="countryCode"
                        class="block p-2 border border-gray-300 rounded w-full bg-gray-50 text-textLight dark:text-textDark dark:bg-tileBlack">
                        <!-- <option value="+94">+94 (LK)</option>
                        <option value="+1">+1 (US)</option>
                        <option value="+44">+44 (UK)</option>
                        <option value="+91">+91 (India)</option> -->
                    </select>
                </div>
            </div>

            <div>
                <label for="variety" class="block text-sm font-medium text-gray-700 dark:text-textDark">Role</label>
                <div class="mt-1 flex">
                    <select id="countryCode" name="countryCode"
                        class="block p-2 border border-gray-300 rounded w-full bg-gray-50 text-textLight dark:text-textDark dark:bg-tileBlack">
                        <!-- <option value="+94">+94 (LK)</option>
                        <option value="+1">+1 (US)</option>
                        <option value="+44">+44 (UK)</option>
                        <option value="+91">+91 (India)</option> -->
                    </select>
                </div>
            </div>

            <div>
                <label for="phoNumOne" class="block text-sm font-medium text-gray-700 dark:text-textDark">
                    Contact Number 01
                </label>
                <div class="mt-1 flex">
                    <select id="countryCode" name="countryCode"
                        class="block p-2 border border-gray-300 rounded-l-md bg-gray-50 mr-5 text-textLight dark:text-textDark dark:bg-tileBlack">
                        <option value="+94">+94 (LK)</option>
                        <option value="+1">+1 (US)</option>
                        <option value="+44">+44 (UK)</option>
                        <option value="+91">+91 (India)</option>
                    </select>
                    <input formControlName="phoneNumber01" id="phoNumOne" name="phoNumOne"
                        class="block w-full p-2 border border-gray-300 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
                        placeholder="Enter your phone number" />
                </div>
            </div>

            <div>
                <label for="phoNumOne" class="block text-sm font-medium text-gray-700 dark:text-textDark">
                    Contact Number 02
                </label>
                <div class="mt-1 flex">
                    <select id="countryCode" name="countryCode"
                        class="block p-2 border border-gray-300 rounded-l-md bg-gray-50 mr-5 text-textLight dark:text-textDark dark:bg-tileBlack">
                        <option value="+94">+94 (LK)</option>
                        <option value="+1">+1 (US)</option>
                        <option value="+44">+44 (UK)</option>
                        <option value="+91">+91 (India)</option>
                    </select>
                    <input formControlName="phoneNumber01" id="phoNumOne" name="phoNumOne"
                        class="block w-full p-2 border border-gray-300 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
                        placeholder="Enter your phone number" />
                </div>
            </div>
        </div>
        <h3 class="text-2xl mb-2 mt-6 text-textLight dark:text-textDark">Officer in Charge - 2</h3>
        <hr class="mb-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
            <div>
                <label for="crop" class="block text-sm font-medium text-gray-700 dark:text-textDark">Officer Name</label>
                <input formControlName="firstName" id="firstName" name="firstName"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
            </div>

            <div>
                <label for="variety" class="block text-sm font-medium text-gray-700 dark:text-textDark">Role</label>
                <input formControlName="lastName" id="lastName" name="lastName"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
            </div>

            <div>
                <label for="phoNumOne" class="block text-sm font-medium text-gray-700 dark:text-textDark">
                    Contact Number 01
                </label>
                <div class="mt-1 flex">
                    <select id="countryCode" name="countryCode"
                        class="block p-2 border border-gray-300 rounded-l-md bg-gray-50 mr-5 text-textLight dark:text-textDark dark:bg-tileBlack">
                        <option value="+94">+94 (LK)</option>
                        <option value="+1">+1 (US)</option>
                        <option value="+44">+44 (UK)</option>
                        <option value="+91">+91 (India)</option>
                    </select>
                    <input formControlName="phoneNumber01" id="phoNumOne" name="phoNumOne"
                        class="block w-full p-2 border border-gray-300 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
                        placeholder="Enter your phone number" />
                </div>
            </div>

            <div>
                <label for="phoNumOne" class="block text-sm font-medium text-gray-700 dark:text-textDark">
                    Contact Number 02
                </label>
                <div class="mt-1 flex">
                    <select id="countryCode" name="countryCode"
                        class="block p-2 border border-gray-300 rounded-l-md bg-gray-50 mr-5 text-textLight dark:text-textDark dark:bg-tileBlack">
                        <option value="+94">+94 (LK)</option>
                        <option value="+1">+1 (US)</option>
                        <option value="+44">+44 (UK)</option>
                        <option value="+91">+91 (India)</option>
                    </select>
                    <input formControlName="phoneNumber01" id="phoNumOne" name="phoNumOne"
                        class="block w-full p-2 border border-gray-300 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
                        placeholder="Enter your phone number" />
                </div>
            </div>
        </div>
        <h3 class="text-2xl mb-2 mt-6 text-textLight dark:text-textDark">Officer in Charge - 3</h3>
        <hr class="mb-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
            <div>
                <label for="crop" class="block text-sm font-medium text-gray-700 dark:text-textDark">Officer Name</label>
                <input formControlName="firstName" id="firstName" name="firstName"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
            </div>

            <div>
                <label for="variety" class="block text-sm font-medium text-gray-700 dark:text-textDark">Role</label>
                <input formControlName="lastName" id="lastName" name="lastName"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
            </div>

            <div>
                <label for="phoNumOne" class="block text-sm font-medium text-gray-700 dark:text-textDark">
                    Contact Number 01
                </label>
                <div class="mt-1 flex">
                    <select id="countryCode" name="countryCode"
                        class="block p-2 border border-gray-300 rounded-l-md bg-gray-50 mr-5 text-textLight dark:text-textDark dark:bg-tileBlack">
                        <option value="+94">+94 (LK)</option>
                        <option value="+1">+1 (US)</option>
                        <option value="+44">+44 (UK)</option>
                        <option value="+91">+91 (India)</option>
                    </select>
                    <input formControlName="phoneNumber01" id="phoNumOne" name="phoNumOne"
                        class="block w-full p-2 border border-gray-300 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
                        placeholder="Enter your phone number" />
                </div>
            </div>

            <div>
                <label for="phoNumOne" class="block text-sm font-medium text-gray-700 dark:text-textDark">
                    Contact Number 02
                </label>
                <div class="mt-1 flex">
                    <select id="countryCode" name="countryCode"
                        class="block p-2 border border-gray-300 rounded-l-md bg-gray-50 mr-5 text-textLight dark:text-textDark dark:bg-tileBlack">
                        <option value="+94">+94 (LK)</option>
                        <option value="+1">+1 (US)</option>
                        <option value="+44">+44 (UK)</option>
                        <option value="+91">+91 (India)</option>
                    </select>
                    <input formControlName="phoneNumber01" id="phoNumOne" name="phoNumOne"
                        class="block w-full p-2 border border-gray-300 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
                        placeholder="Enter your phone number" />
                </div>
            </div>
        </div>
        <div class="flex justify-end m-10">
            <button type="submit" class="px-4 py-2 bg-[#3980C0] text-white rounded-md">Save</button>
        </div>
    </form>
</div>