<div class=" pt-5 pr-12 pl-12 pb-5 min-w-[1200px] bg-white dark:bg-tileBlack shadow-lg rounded-xl overflow-y-auto">
    <div>

        <div class="flex items-center justify-between mb-6 mx-5">
            <div class="">
                <!-- <h1 class="font-semibold text-[#627189] dark:text-white">INV No : <span class="text-[#212121]">
            {{orderInv}}</span></h1> -->
                <h1 class="font-semibold text-[#627189] dark:text-white">INV No : <span class="text-[#212121]">
                        {{ invNo }}</span></h1>
            </div>

            <div class="">
                <!-- <h2 class="  text-[#212121] dark:text-white">{{orderName}} : Rs.{{orderPrice}}</h2> -->
                <h2 class="  text-[#212121] dark:text-white">{{ name }} : {{fullTotal | number: '1.2-2'}}</h2>
            </div>
        </div>

        <!-- Items Table -->
        <div class="mb-8 ">
            <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
                <thead class="">
                    <tr>
                        <th class=" text-left text-xs font-medium text-[#8492A3] dark:text-gray-300 uppercase">

                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-[#8492A3] dark:text-gray-300 uppercase">
                            ITEM
                            ({{total}})</th>
                        <th
                            class="px-6 py-3 text-center text-xs font-medium text-[#8492A3] dark:text-gray-300 uppercase">
                            QUANTITY
                        </th>
                        <th
                            class="px-6 py-3 text-center text-xs font-medium text-[#8492A3] dark:text-gray-300 uppercase">
                            UNIT</th>
                        <th
                            class="px-6 py-3 text-left text-xs font-medium text-[#8492A3] dark:text-gray-300 uppercase">
                            UNIT PRICE
                        </th>
                        <th
                            class="px-6 py-3 text-left text-xs font-medium text-[#8492A3] dark:text-gray-300 uppercase">
                            TOTAL</th>
                        <th
                            class="px-6 py-3 text-center text-xs font-medium text-[#8492A3] dark:text-gray-300 uppercase">
                            PACKED</th>
                    </tr>
                </thead>
                <tbody class="bg-white dark:bg-gray-800 ">

                    <tr *ngFor=" let item of packageItemsArr">
                        <td class=" whitespace-nowrap text-sm text-[#212121] dark:text-white text-left">
                            <div>
                                <button
                                    (click)="openPopUp(item.productId, item.displayName, item.quantity, item.price)"><i
                                        class="fa-solid fa-square-minus text-[red] text-lg"></i></button>
                            </div>

                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-[#212121] dark:text-white text-left">
                            {{ item.displayName || 'N/A' }}
                        </td>

                        <td class="px-6 text-center py-4 whitespace-nowrap text-sm text-[#212121] dark:text-gray-300 ">
                            {{ item.quantity != null ? item.quantity : '0' }}
                        </td>

                        <td class="px-6 text-center py-4 whitespace-nowrap text-sm text-[#808080] dark:text-gray-300">
                            {{ (item.quantity != null && item.quantity < 1) ? 'g' : 'kg' }} </td>

                                <!-- <td class="px-6 text-center py-4 whitespace-nowrap text-sm text-[#212121] dark:text-gray-300">
              Rs. {{ item.discountedPrice != null ? item.discountedPrice : '0.00' }}
            </td> -->

                        <td class="px-6 text-left py-4 whitespace-nowrap text-sm text-[#212121] dark:text-gray-300">
                            Rs. {{ item.discountedPrice != null ? item.discountedPrice : '0.00' }}
                        </td>

                        <td class="px-6 py-4 whitespace-nowrap text-sm text-[#212121] dark:text-gray-300 text-left ">
                            Rs. {{ item.price != null ? item.price : '0.00' }}
                        </td>

                        <td class="px-6 text-center py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-300 ">
                            <input type="checkbox" [checked]="item.packedStatus === 1"
                                (change)="onCheckboxChange(item, $event)"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="border-t border-gray-200 dark:border-gray-600 my-6"></div>

        <div *ngIf="validationFailedMessage" class="text-[#FA0000] italic font-normal mb-2 text-right">
            {{ validationFailedMessage }}
        </div>

        <div *ngIf="validationSuccessMessage" class="text-[#308233] italic font-normal mb-2 text-right">
            {{ validationSuccessMessage }}
        </div>

        <div class="flex justify-end space-x-4 mx-5">
            <button (click)="onCancel()"
                class="px-4 py-2 border border-gray-300 dark:border-[#74788D] rounded-md text-sm font-medium text-[#D3D3D3] bg-[#74788D] dark:text-white hover:bg-[#74788D] dark:hover:bg-[#74788D]">
                Cancel
            </button>
            <button (click)="saveCheckedItems()"
                class="px-4 py-2 bg-[#3980C0] border border-transparent rounded-md text-sm font-medium text-[#FFFFFF] hover:bg-[#3980C0]">
                Save
            </button>
        </div>
    </div>
</div>



<div *ngIf="isPopupOpen" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="max-w-5xl w-full mx-4 p-6 bg-white dark:bg-gray-800 rounded-xl shadow-lg overflow-y-auto max-h-[800px]">

        <!-- Title -->
        <h2 class="text-lg font-normal text-center text-[#212121] dark:text-white">Replace Product</h2>

        <!-- Selected Product Info -->
        <div class="flex justify-center mt-4 mb-10">
            <div class="border-2 border-dashed border-red-400 rounded-md p-4 text-center w-1/2">
                <p class="text-sm text-[#8492A3] dark:text-gray-200">Selected product</p>
                <p class="font-normal text-[#000000] dark:text-white mt-1">{{this.previousDisplayName}} -
                    {{this.previousQuantity}}kg - Rs.{{this.previousPrice}}</p>
                <p class="text-sm text-[#8492A3] dark:text-gray-200 mt-2">Relevant Product Type :</p>
                <p class="font-normal text-[#000000] dark:text-white mt-1">Up Country Vegetable</p>
            </div>
        </div>

        <div class="border-b border-gray-300 dark:border-gray-600 w-full mb-6"></div>


        <!-- Replace Product Form Row -->
        <div class="flex flex-row gap-6 items-center mb-4">
            <!-- Product Name Dropdown -->
            <div class="w-1/3">
                <label class="block text-sm font-medium text-gray-500 dark:text-gray-300 mb-2">PRODUCT NAME</label>
                <select class="w-full border rounded-lg py-2 px-3 text-gray-700 dark:text-white dark:bg-gray-700"
                    [(ngModel)]="selectedProductId" (change)="onProductChange()">

                    <option [ngValue]="null" disabled>--Product Name--</option>

                    <option *ngFor="let product of productItemsArr" [ngValue]="product.id"
                        [disabled]="productIdsArr.includes(product.id)">

                        {{ product.productName }}
                    </option>
                </select>
            </div>




            <!-- Quantity Input -->
            <div class="w-2/3 flex flex-row gap-8">
                <div class="w-1/3">
                    <label class="block text-sm text-center font-medium text-gray-500 dark:text-gray-300 mb-2">
                      QUANTITY (KG)
                    </label>
                    <input 
                      type="number" 
                      placeholder="--Qty in kg--"
                      class="border text-center rounded-lg py-2 px-3 text-gray-700 dark:text-white dark:bg-gray-700"
                      [(ngModel)]="quantity" 
                      (input)="validateQuantity()" 
                      (keydown)="blockInvalidKeys($event)"
                      min="1"
                    />
                  </div>
                  

                <!-- Unit Price -->
                <div class="w-1/3">
                    <label class="block text-sm font-medium text-gray-500 dark:text-gray-300 mb-2">UNIT PRICE
                        (RS.)</label>
                    <input type="number" readonly [(ngModel)]="unitPrice" placeholder="----"
                        class="w-full py-2 px-3  rounded-lg text-[#212121] text-left dark:text-white dark:bg-gray-700" />

                </div>

                <!-- Total -->
                <div class="w-1/3">
                    <label class="block text-sm font-medium text-gray-500 dark:text-gray-300 mb-2">TOTAL (RS.)</label>
                    <input type="number" readonly [(ngModel)]="totalPrice" placeholder="----"
                        class="w-full py-2 px-3  rounded-lg text-[#212121] text-left dark:text-white dark:bg-gray-700" />
                </div>
            </div>


        </div>

        <div class="border-b border-gray-300 dark:border-gray-600 w-full mt-4"></div>

        <!-- Buttons -->
        <div class="flex justify-end mt-6 space-x-4">
            <button (click)="onCancelPopup()"
                class="px-5 py-2  bg-[#74788D] text-[#D3D3D3] rounded-md hover:bg-gray-500">
                Cancel
            </button>
            <button (click)="replaceProduct()" [disabled]="!selectedProductId || !quantity"
                class="px-5 py-2 bg-[#C1C1C1] rounded-md text-[#FFFFFF]"
                [class.bg-[#C1C1C1]]="!selectedProductId || !quantity"
                [class.cursor-not-allowed]="!selectedProductId || !quantity"
                [class.bg-[#3980C0]]="selectedProductId && quantity"
                [class.hover:bg-[#3980C0]]="selectedProductId && quantity" [class.text-white]="true">
                Update
            </button>
        </div>
    </div>
</div>