.profile-pic {
    background-color: #fff;
    width: 3em;
    height: 3em;
    border-radius: 50%; /* Perfect circle */
    object-fit: cover; /* Ensures the image fills the container without distortion */
}
