<button class="mb-5 ml-10 text-textLight dark:text-textDark" (click)="goBack()">
    <i class="fa-solid fa-arrow-left"></i>
    Back
</button>
<div class="flex justify-center items-center pb-52">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 lg:gap-16">
        <div>
            <div *ngIf="permissionService.hasPermission('Finance completed sales orders') || tokenService.getUserDetails().role === '1'"
                class="relative flex justify-center cursor-pointer">
                <div class="transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight inline-flex items-center justify-between w-[310px] h-[70px] px-4 py-2 text-sm font-medium text-[#495057] bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500"
                    (click)="togglePopupDriverCategories()">
                    <div class="flex items-center">
                        <div class="bg-iconCoverLight dark:bg-iconCoverDark rounded-lg p-3">
                            <i class="fa-solid fa-people-group" style="color: #4a90e2"></i>
                        </div>
                        <span class="ml-3">Completed Orders</span>
                    </div>
                    <i class="fa-solid fa-chevron-right" style="color: #4a90e2"></i>
                </div>
                <div *ngIf="popupCompletedOrders" class="absolute top-3/4 right-0 z-50 rounded-2xl bg-[#F6F4F6] dark:bg-tileBlack shadow-[0_4px_12px_rgb(0,0,0,0.25)]
                    text-[#575459] dark:text-textDark">
                    <div class="px-5 py-3.5 text-sm shadow-2xl font-normal rounded-2xl cursor-pointer whitespace-nowrap bg-[#F6F4F6] hover:bg-tileHoverLight
                     dark:bg-tileBlack dark:text-textDark dark:hover:bg-tileHoverDark dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)]" (click)="ViewAllOrders()">
                        View All Orders
                    </div>
                </div>
            </div>
        </div>
    </div>