<div>
    <button onclick="history.back()" class="mb-5 text-textLight dark:text-textDark">
        <i class="fa-solid fa-arrow-left"></i>
        Back
    </button>
   
    <div class="mx-auto p-6 bg-tileLight dark:bg-tileBlack rounded-lg shadow-lg">
        <h2 class="text-2xl text-center mb-6 text-textLight dark:text-textDark font-bold">Add Complaint Category</h2>

        <div>
            <div class="mb-5">
                <!-- Role Input -->
                <label for="roleId" class="block text-sm font-medium text-textLight dark:text-textDark">Complain Assignee Admin Category</label>
                <select id="roleId" name="roleId" [(ngModel)]="complainObj.roleId"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark">
                    <option disabled selected [value]='0'>--select--</option>
                    <option *ngFor="let item of roleArr" [value]="item.id">{{ item.role}}</option>
                </select>

            </div>

            <div class="mb-5">
                <label for="categoryEnglish" class="block text-sm font-medium text-textLight dark:text-textDark">Category name in English</label>
                <input type="text" id="categoryEnglish" name="categoryEnglish" [(ngModel)]="complainObj.categoryEnglish"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"/>
            </div>

            <div class="mb-5">
                <label for="categorySinhala" class="block text-sm font-medium text-textLight dark:text-textDark">Category name in Sinhala</label>
                <input type="text" id="categorySinhala" name="categorySinhala" [(ngModel)]="complainObj.categorySinhala"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"/>
            </div>

            <div class="mb-5">
                <label for="categoryTamil" class="block text-sm font-medium text-textLight dark:text-textDark">Category name in Tamil</label>
                <input type="text" id="categoryTamil" name="categoryTamil" [(ngModel)]="complainObj.categoryTamil"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"/>
            </div>


            <div class="mb-10">
                <label for="appId" class="block text-sm font-medium text-textLight dark:text-textDark">Select Displaying application</label>
                <select id="appId" name="appId" [(ngModel)]="complainObj.appId"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark">
                    <option disabled selected [value]='0'>--select--</option>
                    <option *ngFor="let item of appsArr" [value]="item.id">{{ item.appName}}</option>
                </select>

            </div>

            <div class="flex flex-row items-center justify-end gap-5 mb-5 ">
                <button class="bg-[#74788D] text-[#D3D3D3] px-5 py-2 rounded-lg" (click)="onCancel()">
                    Cancel
                </button>
                <button class="bg-[#3980C0] text-white px-8 py-2 rounded-lg" (click)="onSubmit()">
                    Save
                </button>

            </div>
        </div>
    </div>
</div>