<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<button
  class="mb-5 text-textLight dark:text-textDark"
  (click)="navigatePath('/plant-care/action')"
>
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>
<div
  class="fixed-width-container overflow-x-auto scrollbar-thin scrollbar-thumb-[#8AC440] scrollbar-track-transparent scrollbar-thumb-rounded-full"
>
  <div
    class="pt-5 pr-12 pl-12 pb-5 min-w-[1200px] bg-tileLight dark:bg-tileBlack shadow-lg rounded-lg overflow-x-auto scrollbar-thin scrollbar-thumb-[#8AC440] scrollbar-track-transparent scrollbar-thumb-rounded-full"
  >
    <div class="flex justify-between items-center mb-8">
      <div class="flex items-center">
        <h2 class="text-2xl font-normal text-gray-500 dark:text-textDark">
          Ongoing Cultivation ({{ this.ongoingCultivation.length }})
        </h2>
      </div>
      <div class="flex items-center">
        <i class="mr-6 w-6 h-6 fill-current text-gray-500">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M0 416c0 17.7 14.3 32 32 32l54.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 448c17.7 0 32-14.3 32-32s-14.3-32-32-32l-246.7 0c-12.3-28.3-40.5-48-73.3-48s-61 19.7-73.3 48L32 384c-17.7 0-32 14.3-32 32zm128 0a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM320 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm32-80c-32.8 0-61 19.7-73.3 48L32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l246.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48l54.7 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-54.7 0c-12.3-28.3-40.5-48-73.3-48zM192 128a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm73.3-64C253 35.7 224.8 16 192 16s-61 19.7-73.3 48L32 64C14.3 64 0 78.3 0 96s14.3 32 32 32l86.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 128c17.7 0 32-14.3 32-32s-14.3-32-32-32L265.3 64z"
            />
          </svg>
        </i>

        <div class="mr-8">
          <div
            class="flex items-center rounded-full bg-gray-100 px-4 py-2 w-96 dark:bg-[#272F45]"
          >
            <input
              type="text"
              placeholder="Search by NIC..."
              class="bg-transparent outline-none w-full text-gray-600 dark:text-textDark"
              [(ngModel)]="searchNIC"
            />
            <button
              type="button"
              class="text-gray-500 hover:text-gray-700 focus:outline-none mr-2"
              (click)="searchCultivations()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 10-14 0 7 7 0 0014 0z"
                />
              </svg>
            </button>
            <button
              type="button"
              (click)="clearSearch()"
              class="text-gray-500 hover:text-gray-700 focus:outline-none"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!hasData" class="text-center py-8">
      <p class="text-gray-500 text-lg">No data to display</p>
    </div>

    <div *ngIf="hasData">
      <table
        class="min-w-full divide-y divide-gray-200 table-auto whitespace-nowrap"
      >
        <thead>
          <tr>
            <th
              class="py-3 font-normal text-gray-500 dark:text-textDark text-left"
            >
              No
            </th>
            <th
              class="py-3 font-normal text-gray-500 dark:text-textDark text-left"
            >
              First Name
            </th>
            <th
              class="px-4 py-3 font-normal text-gray-500 dark:text-textDark text-centser"
            >
              Last Name
            </th>
            <th
              class="px-4 py-3 font-normal text-gray-500 dark:text-textDark text-centser"
            >
              NIC
            </th>
            <th
              class="px-4 py-3 font-normal text-gray-500 dark:text-textDark text-centser"
            >
              Crop Count
            </th>
            <th
              class="px-4 py-3 font-normal text-gray-500 dark:text-textDark text-centser"
            >
              Cultivations
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of ongoingCultivation
                | paginate
                  : {
                      itemsPerPage: itemsPerPage,
                      currentPage: page,
                      totalItems: totalItems
                    };
              let i = index
            "
          >
            <td class="py-3 dark:text-textDark">
              {{ (page - 1) * itemsPerPage + i + 1 }}
            </td>
            <td class="py-3 dark:text-textDark">{{ item.firstName }}</td>
            <td class="px-4 py-3 dark:text-textDark text-center">
              {{ item.lastName }}
            </td>
            <td class="px-4 py-3 dark:text-textDark text-center">
              {{ item.NICnumber }}
            </td>
            <td class="px-4 py-3 dark:text-textDark text-center">
              {{ item.CropCount }}
            </td>

            <td class="px-4 py-3 text-center">
              <button
                class="w-5 h-5 text-blue-500 hover:text-blue-700"
                (click)="viewTaskByUser(item.cultivationId, item.id)"
              >
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3 14C3 9.02944 7.02944 5 12 5C16.9706 5 21 9.02944 21 14M17 14C17 16.7614 14.7614 19 12 19C9.23858 19 7 16.7614 7 14C7 11.2386 9.23858 9 12 9C14.7614 9 17 11.2386 17 14Z"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="dark:bg-[#262f45]">
        <pagination-controls
          (pageChange)="onPageChange($event)"
          [responsive]="true"
          [previousLabel]="'Previous'"
          [nextLabel]="'Next'"
          [screenReaderPaginationLabel]="'Pagination'"
          [screenReaderPageLabel]="'page'"
          [screenReaderCurrentLabel]="'Youre on page'"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
