<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div class="container mx-auto px-4 py-6">
  <!-- Back Button -->
  <button class="mb-5 text-textLight dark:text-textDark" (click)="navigatePath('/collection-hub/agro-world-centers')">
    <i class="fa-solid fa-arrow-left"></i>
    Back
  </button>

  <!-- Top Cards Row -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 lg:gap-8 mb-6">
    <!-- Center Name Card -->
    <div class="flex justify-center items-center p-4 bg-tileLight dark:bg-[#363636] shadow-lg rounded-lg">
      <p class="font-bold text-black text-lg dark:text-white text-center">
        {{ centerNameObj.regCode }}
      </p>
    </div>

    <!-- Market Price Card -->
    <div
      class="flex flex-row items-center justify-between p-4 bg-tileLight dark:bg-[#363636] shadow-lg rounded-lg cursor-pointer"
      (click)="navigateToMarketPrice()">
      <div class="flex flex-col justify-center items-center">
        <p class="font-bold text-black dark:text-white text-lg text-center">View Market Price</p>
      </div>
      <i class="fa-solid fa-arrow-up-right-from-square text-[#415CFF] text-xl"></i>
    </div>

    <!-- Assign Target Card -->
    <div class="flex flex-row items-center justify-center p-4 bg-[#415CFF] shadow-lg rounded-lg cursor-pointer"
      (click)="navigateAddTarget()">
      <p class="font-bold text-tileLight text-lg text-center">Assign Centre Target</p>
    </div>
  </div>

  <!-- Middle Cards Row -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8 mb-6">
    <!-- Current Target Card -->
    <div
      class="flex flex-col justify-center items-center gap-y-3 p-4 bg-tileLight dark:bg-[#363636] shadow-lg rounded-lg cursor-pointer"
      (click)="navigateToTarget()">
      <i class="fa-solid fa-bullseye text-[#415CFF] text-5xl"></i>
      <div class="flex flex-col justify-center items-center">
        <p class="font-bold text-black text-lg dark:text-white">Current Target</p>
      </div>
      <div class="flex flex-row w-full items-center justify-end">
        <i class="fa-solid fa-arrow-up-right-from-square text-[#415CFF] text-xl mx-2"></i>
      </div>
    </div>

    <!-- Today Collection Card -->
    <div class="flex flex-col items-center justify-center p-4 bg-[#FB923C] shadow-lg rounded-lg">
      <i class="fa-solid fa-layer-group text-2xl text-white"></i>
      <div class="flex flex-col justify-center items-center">
        <p class="font-bold text-white text-lg">Today Collection</p>
        <p class="font-bold text-white text-lg">
          {{ transCount === 0 ? '0' : transCount < 10 ? "0" + transCount : transCount }} Transactions </p>
      </div>
      <p class="font-bold text-white text-2xl my-2">
        {{ transAmount | currency : "Rs. " : "symbol" : "1.2-2" }}
      </p>
    </div>

    <!-- Expense and Officers Cards -->
    <div class="grid grid-cols-2 gap-2 md:gap-4">
      <!-- Expense Card -->
      <div
        class="flex flex-col gap-y-1 items-center justify-between p-2 bg-tileLight dark:bg-[#363636] shadow-lg rounded-lg cursor-pointer">
        <div class="flex flex-row justify-end items-center self-end">
          <i *ngIf="expencePrecentage >= 0" class="fa-solid fa-arrow-trend-up text-[#0D9488] mx-1 text-sm"></i>
          <i *ngIf="expencePrecentage < 0" class="fa-solid fa-arrow-trend-down text-[#D70000] mx-1 text-sm"></i>
          <p class="text-[#627189] dark:text-white text-xs">{{ expencePrecentage }}</p>
        </div>

        <div class="bg-[#CCFBF1] p-2 rounded-full">
          <i *ngIf="expencePrecentage >= 0" class="fa-solid fa-arrow-trend-up text-[#415CFF] text-xl"></i>
          <i *ngIf="expencePrecentage < 0" class="fa-solid fa-arrow-trend-down text-[#D70000] text-xl"></i>
        </div>

        <p class="text-[#627189] dark:text-white text-xs text-center">Total Collection Expense</p>

        <p class="font-bold text-black text-lg text-center">
          {{ totExpences | currency : "Rs. " : "symbol" : "1.2-2" }}
        </p>

        <div class="flex flex-row items-center justify-end self-end">
          <p class="text-[#627189] dark:text-white text-xs">30 days</p>
          <i class="fa-solid fa-arrow-up-right-from-square text-[#415CFF] mx-1 text-sm"></i>
        </div>
      </div>

      <!-- Officers Card -->
      <div
        class="flex flex-col gap-y-1 items-center justify-center p-2 bg-tileLight dark:bg-[#363636] shadow-lg rounded-lg cursor-pointer">
        <div class="bg-[#CCFBF1] p-2 rounded-full">
          <i class="fa-solid fa-users text-xl"></i>
        </div>
        <p class="text-[#627189] dark:text-white text-center">Officers</p>
        <p class="font-bold text-black text-lg dark:text-white">
          {{centerNameObj.officerCount === 0 ? '0' : centerNameObj.officerCount < 10 ? "0" + centerNameObj.officerCount : centerNameObj.officerCount }}
        </p>
        <div class="flex flex-row items-center justify-end self-end mt-5">
          <i class="fa-solid fa-arrow-up-right-from-square text-[#415CFF] mx-1 text-sm"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Table Section -->
  <div class="w-full p-4 md:p-6 bg-tileLight dark:bg-[#363636] shadow-lg rounded-lg mb-6">
    <div class="flex flex-row items-center gap-4 md:gap-7 overflow-x-auto pb-2">
      <div class="py-1 font-semibold text-[#627189] cursor-pointer whitespace-nowrap" [ngClass]="{
          'border-b-2 border-[#415CFF] text-black dark:text-white': selectTable === 'collection'
        }" (click)="chooseTable('collection')">
        <p>Recent Collections</p>
      </div>
      <div class="py-1 font-semibold text-[#627189] cursor-pointer whitespace-nowrap" [ngClass]="{
          'border-b-2 border-[#415CFF] text-black dark:text-white': selectTable === 'sale'
        }" (click)="chooseTable('sale')">
        <p>Recent Sales</p>
      </div>
    </div>

    <div *ngIf="selectTable === 'collection'"
      class="overflow-x-auto mt-4 md:mt-6 border-gray-100 border-[2px] rounded-lg dark:border-[#202021]">
      <div class="min-w-[800px]">
        <table class="w-full divide-y-2">
          <thead class="text-gray-700 dark:text-gray-300 dark:bg-[#0F0F0F] dark:border-[#202021]">
            <tr>
              <th class="px-4 py-2 md:px-6 md:py-3 text-left font-medium text-sm md:text-base">No</th>
              <th class="px-4 py-2 md:px-6 md:py-3 text-left font-medium text-sm md:text-base">Crop Name</th>
              <th class="px-4 py-2 md:px-6 md:py-3 text-left font-medium text-sm md:text-base">Variety Name</th>
              <th class="px-4 py-2 md:px-6 md:py-3 text-left font-medium text-sm md:text-base">Grade</th>
              <th class="px-4 py-2 md:px-6 md:py-3 text-left font-medium text-sm md:text-base">Collected (kg)</th>
              <th class="px-4 py-2 md:px-6 md:py-3 text-left font-medium text-sm md:text-base">Value (Rs.)</th>
              <th class="px-4 py-2 md:px-6 md:py-3 text-center font-medium text-sm md:text-base">Date</th>
            </tr>
          </thead>
          <tbody class="bg-white dark:bg-[#1D1D1F] dark:border-[#1D1D1F]">
            <tr *ngFor="let item of resentCollectionArr; let i = index"
              class="hover:bg-gray-50 dark:hover:bg-[#2A2A2A]">
              <td class="px-4 py-2 md:px-6 md:py-4 text-gray-900 dark:text-gray-300 text-sm md:text-base">
                {{ i + 1 < 10 ? "0" + (i + 1) : i + 1 }} </td>
              <td class="px-4 py-2 md:px-6 md:py-4 text-gray-900 dark:text-gray-300 text-sm md:text-base">
                {{ item.cropNameEnglish }}
              </td>
              <td class="px-4 py-2 md:px-6 md:py-4 text-gray-900 dark:text-gray-300 text-sm md:text-base">
                {{ item.varietyNameEnglish }}
              </td>
              <td class="px-4 py-2 md:px-6 md:py-4 text-gray-900 text-center dark:text-gray-300 text-sm md:text-base">
                {{ item.grade }}
              </td>
              <td class="px-4 py-2 md:px-6 md:py-4 text-gray-900 dark:text-gray-300 text-sm md:text-base">
                {{ item.totQty }}
              </td>
              <td class="px-4 py-2 md:px-6 md:py-4 text-gray-900 dark:text-gray-300 text-sm md:text-base">
                {{ item.totPrice }}
              </td>
              <td class="px-4 py-2 md:px-6 md:py-4 text-gray-900 dark:text-gray-300 text-sm md:text-base">
                <div class="flex flex-col items-center justify-center">
                  <p>{{ item.date | date : "yyyy/mm/dd" }}</p>
                  <p>{{ item.date | date : "hh:mm a" }}</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>