<div
  class="flex flex-col p-10 items-center justify-center bg-white rounded-lg shadow-lg text-black h-[450px]"
>
  <div class="flex h-[20%] w-[100%]">
    <h3 class="mb-3 text-lg text-black">Crop Enrollements</h3>
  </div>
  <div class="w-[100%] h-[80%]">
    <p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
  </div>
</div>

<!-- <div class="flex flex-col p-5 sm:p-10 items-center justify-center bg-white rounded-lg shadow-lg text-black h-auto sm:h-[450px] w-full">
  <div class="flex h-auto sm:h-[20%] w-full justify-center">
    <h3 class="mb-3 text-lg sm:text-xl text-black text-center">Crop Enrolments</h3>
  </div>
  <div class="w-full h-auto sm:h-[80%] flex justify-center items-center">
    <p-chart type="doughnut" [data]="data" [options]="options" class="w-full sm:w-[80%] lg:w-[60%]"></p-chart>
  </div>
</div> -->
