<div class="space-y-2 p-10">
  <!-- <div
    class="bg-[#F9FAFC] p-5 rounded-lg mb-5"
    *ngFor="let question of sortedPersonalArr; let i = index"
  >
    <label class="block text-sm font-medium text-gray-700">
      <span class="text-gray-500">{{ formatIndex(question.qIndex) }}.</span>
      {{ question.quaction }}
    </label>
    <div class="relative">
      <ng-container [ngSwitch]="question.ansType.toLowerCase()">
        <input
          *ngSwitchCase="'text'"
          type="text"
          [value]="question.answer || ''"
          class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent bg-white text-gray-900"
          readonly
        />

        <input
          *ngSwitchCase="'email'"
          type="email"
          [value]="question.answer || ''"
          class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent bg-white text-gray-900"
          readonly
        />

        <input
          *ngSwitchCase="'date'"
          type="date"
          [value]="question.answer || ''"
          class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent bg-white text-gray-900"
          readonly
        />

        <input
          *ngSwitchDefault
          type="text"
          [value]="question.answer || ''"
          class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent bg-white text-gray-900"
          readonly
        />
      </ng-container>
    </div>
  </div> -->
</div>
