<div class="flex justify-center items-center pb-52">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 lg:gap-16">
    <div *ngIf="
        permissionService.hasPermission('GoViCare Finance') ||
        tokenService.getUserDetails().role === '1'
      " class="flex justify-center cursor-pointer">
      <div
        class="transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight inline-flex items-center justify-between w-[310px] h-[70px] px-4 py-2 text-sm font-medium text-[#495057] bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500"
         (click)="farmerPayments()">
        <div class="flex items-center">
          <div class="bg-iconCoverLight dark:bg-iconCoverDark rounded-lg p-3">
            <i class="fa-solid fa-coins" style="color: #4a90e2"></i>
          </div>
          <span class="ml-3">GoViCare Finance</span>
        </div>
        <i class="fa-solid fa-chevron-right" style="color: #4a90e2"></i>
      </div>
    </div>

    <div *ngIf="
        permissionService.hasPermission(
          'Employee Salary'
        ) || tokenService.getUserDetails().role === '1'
      " (click)="govicarePackages()" class="flex justify-center cursor-pointer">
      <div
        class="transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight inline-flex items-center justify-between w-[310px] h-[70px] px-4 py-2 text-sm font-medium text-[#495057] bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500">
        <div class="flex items-center">
          <div class="bg-iconCoverLight dark:bg-iconCoverDark rounded-lg p-3">
            <i class="fa-solid fa-users" style="color: #4a90e2"></i>
          </div>
          <span class="ml-3">Employee Salary</span>
        </div>
        <i class="fa-solid fa-chevron-right" style="color: #4a90e2"></i>
      </div>
    </div>

    <div *ngIf="permissionService.hasPermission('Finance Payment History') ||tokenService.getUserDetails().role === '1'" (click)="PaymentHistoryNavigation()"
      class="flex justify-center cursor-pointer">
      <div
        class="transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight inline-flex items-center justify-between w-[310px] h-[70px] px-4 py-2 text-sm font-medium text-[#495057] bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500">
        <div class="flex items-center">
          <div class="bg-iconCoverLight dark:bg-iconCoverDark rounded-lg p-3">
            <i class="fa-solid fa-clock-rotate-left" style="color: #4a90e2"></i>
          </div>
          <span class="ml-3">Payment History</span>
        </div>
        <i class="fa-solid fa-chevron-right" style="color: #4a90e2"></i>
      </div>
    </div>

    <div class="flex justify-center cursor-pointer">
      <div
        class="transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight inline-flex items-center justify-between w-[310px] h-[70px] px-4 py-2 text-sm font-medium text-[#495057] bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500">
        <div class="flex items-center">
          <div class="bg-iconCoverLight dark:bg-iconCoverDark rounded-lg p-3">
            <i class="fa-solid fa-handshake" style="color: #4a90e2"></i>
          </div>
          <span class="ml-3">Pension</span>
        </div>
        <i class="fa-solid fa-chevron-right" style="color: #4a90e2"></i>
      </div>
    </div>

    <div *ngIf="permissionService.hasPermission('Commission Range') ||tokenService.getUserDetails().role === '1'" (click)="commissionRangeNavigation()"
      class="flex justify-center cursor-pointer">
      <div
        class="transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight inline-flex items-center justify-between w-[310px] h-[70px] px-4 py-2 text-sm font-medium text-[#495057] bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500">
        <div class="flex items-center">
          <div class="bg-iconCoverLight dark:bg-iconCoverDark rounded-lg p-3">
            <i class="fa-solid fa-percent" style="color: #4a90e2"></i>
          </div>
          <span class="ml-3">Commission Range</span>
        </div>
        <i class="fa-solid fa-chevron-right" style="color: #4a90e2"></i>
      </div>
    </div>

    <div *ngIf="tokenService.getUserDetails().role === '1'"
    (click)="AgentsCommisionNavigation()"
      class="flex justify-center cursor-pointer">
      <div
        class="transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight inline-flex items-center justify-between w-[310px] h-[70px] px-4 py-2 text-sm font-medium text-[#495057] bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500">
        <div class="flex items-center">
          <div class="bg-iconCoverLight dark:bg-iconCoverDark rounded-lg p-3">
            <i class="fa-solid fa-star" style="color: #4a90e2"></i>
          </div>
          <span class="ml-3">Agents’ Commission</span>
        </div>
        <i class="fa-solid fa-chevron-right" style="color: #4a90e2"></i>
      </div>
    </div>

    <div *ngIf="tokenService.getUserDetails().role === '1'" 
      class="flex justify-center cursor-pointer">
      <div
        class="transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight inline-flex items-center justify-between w-[310px] h-[70px] px-4 py-2 text-sm font-medium text-[#495057] bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500">
        <div class="flex items-center">
          <div class="bg-iconCoverLight dark:bg-iconCoverDark rounded-lg p-3">
            <i class="fa-solid fa-bag-shopping" style="color: #4a90e2"></i>
          </div>
          <span class="ml-3">Sales</span>
        </div>
        <i class="fa-solid fa-chevron-right" style="color: #4a90e2"></i>
      </div>
    </div>

    <div
      class="relative flex justify-center cursor-pointer">
      <div
        class="transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight inline-flex items-center justify-between w-[310px] h-[70px] px-4 py-2 text-sm font-medium text-[#495057] bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500"
        (click)="togglePopupCropCalender()">
        <div class="flex items-center">
          <div class="bg-iconCoverLight dark:bg-iconCoverDark rounded-lg p-3">
            <i class="fa-solid fa-money-bill-wheat" style="color: #4a90e2"></i>
          </div>
          <span class="ml-3">GoViCapital Finance</span>
        </div>
        <i class="fa-solid fa-chevron-right" style="color: #4a90e2"></i>
      </div>
      <div
        class="mt-2 rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)] bg-white w-[310px] absolute top-full mt-2 left-0 dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500 z-50"
        *ngIf="popupVisibleCropCalender">
        <div *ngIf="
            permissionService.hasPermission('Create crop calendar') ||
            tokenService.getUserDetails().role === '1'
          "
          class="flex rounded-t-lg align-middle items-center dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] dark:bg-iconCoverDark dark:hover:bg-tileHoverDark hover:bg-tileHoverLight px-4 py-2 cursor-pointer"
          (click)="invesmentRequest()"
          >
          Investment Requests
        </div>
        <hr />
        <div *ngIf="
            permissionService.hasPermission('View crop calendar') ||
            tokenService.getUserDetails().role === '1'
          "
          class="flex rounded-b-lg align-middle items-center dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] dark:bg-iconCoverDark dark:hover:bg-tileHoverDark hover:bg-tileHoverLight px-4 py-2 cursor-pointer"
          >
          Loan Requests
        </div>
        <hr />
        <div *ngIf=" permissionService.hasPermission('Create crop group') || tokenService.getUserDetails().role === '1'"
          class="flex rounded-b-lg align-middle items-center dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] dark:bg-iconCoverDark dark:hover:bg-tileHoverDark hover:bg-tileHoverLight px-4 py-2 cursor-pointer"
          >
          Bank Registration
        </div>

        <div *ngIf="
            permissionService.hasPermission('Create crop group') ||
            tokenService.getUserDetails().role === '1'
          "
          class="flex rounded-b-lg align-middle items-center dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] dark:bg-iconCoverDark dark:hover:bg-tileHoverDark hover:bg-tileHoverLight px-4 py-2 cursor-pointer"
          (click)="publishedProjects()"
          >
          Published Projects
        </div>
      </div>
    </div>
  </div>
</div>