<div class="flex flex-nowrap justify-between items-center gap-2 w-full">
  <div class="flex w-full gap-2">
    <div class="flex flex-col justify-center items-center bg-[#0D9488] py-4 w-1/6 min-w-[120px] rounded-lg shadow-lg">
      <i class="fa-solid fa-layer-group text-white text-3xl mb-2"></i>
      <h2 class="text-white">Today Sales</h2>
      <h2 class="text-white text-lg">
        <span class="text-xl font-bold">{{firstRow.todaySalses.count}}</span> Order
      </h2>
      <h2 class="text-white text-2xl font-bold">
        {{ (firstRow.todaySalses.total || 0) | number:'1.2-2' }}
      </h2>
    </div>

    <div class="flex flex-col justify-center items-center bg-[#FB923C] py-4 w-1/6 min-w-[120px] rounded-lg shadow-lg">
      <i class="fa-solid fa-layer-group text-white text-3xl mb-2"></i>
      <h2 class="text-white">Yesterday Sales</h2>
      <h2 class="text-white text-lg">
        <span class="text-xl font-bold">{{firstRow.yesterdaySalses.count}}</span> Order
      </h2>
      <h2 class="text-white text-2xl font-bold">{{firstRow.yesterdaySalses.total | number:'1.2-2'}}</h2>
    </div>

    <div class="flex flex-col justify-center items-center bg-[#3B82F6] py-4 w-1/6 min-w-[120px] rounded-lg shadow-lg">
      <i class="fa-solid fa-layer-group text-white text-3xl mb-2"></i>
      <h2 class="text-white">This Month Sales</h2>
      <h2 class="text-white text-lg">
        <span class="text-xl font-bold">{{firstRow.thisMonthSales.count}}</span> Order
      </h2>
      <h2 class="text-white text-2xl font-bold">{{firstRow.thisMonthSales.total | number:'1.2-2'}}</h2>
    </div>

    <div
      class="flex flex-col justify-center items-center py-4 w-1/6 min-w-[120px] rounded-lg shadow-lg dark:bg-[#061E2C]">
      <h2 class="text-lg text-[#4B5563] dark:text-white">Total Visitors</h2>
      <h2 class="text-[#4B5563] my-4 text-md dark:text-white">Today</h2>
      <h2 class="text-4xl my-1 dark:text-white">145</h2>
    </div>

    <div
      class="flex flex-col justify-center items-center py-4 w-1/6 min-w-[120px] rounded-lg shadow-lg dark:bg-[#061E2C]">
      <h2 class="text-lg text-[#4B5563] dark:text-white">Active Users</h2>
      <h2 class="text-[#4B5563] my-4 text-md dark:text-white">Today</h2>
      <h2 class="text-4xl my-1 dark:text-white">37</h2>
    </div>

    <div
      class="flex flex-col justify-center items-center py-4 w-1/6 min-w-[120px] rounded-lg shadow-lg dark:bg-[#061E2C]">
      <h2 class="text-lg text-[#4B5563] dark:text-white">New Users</h2>
      <h2 class="text-[#4B5563] my-4 text-md dark:text-white">Today</h2>
      <h2 class="text-4xl my-1 dark:text-white"> {{firstRow.newUserCount.userCount === 0 ? '0' : 
    (firstRow.newUserCount.userCount < 10 ? '0' + firstRow.newUserCount.userCount : firstRow.newUserCount.userCount)}}</h2>
    </div>
  </div>
</div>