<div class="flex flex-row items-center justify-center">

    <div class="flex flex-col justify-center items-center bg-[#0D9488] py-6 w-40 rounded-lg shadow-lg mx-3">
        <i class="fa-solid fa-layer-group text-white text-3xl mb-2"></i>
        <h2 class="text-white">Today Sales</h2>
        <h2 class="text-white text-lg"><span class="text-xl font-bold">40</span> Order</h2>
        <h2 class="text-white text-2xl font-bold">1,80,000</h2>
    </div>

    <div class="flex flex-col justify-center items-center bg-[#FB923C] py-6 w-40 rounded-lg shadow-lg mx-3">
        <i class="fa-solid fa-layer-group text-white text-3xl mb-2"></i>
        <h2 class="text-white">Yesterday Sales</h2>
        <h2 class="text-white text-lg "><span class="text-xl font-bold">30</span> Order</h2>
        <h2 class="text-white text-2xl font-bold">2,80,000</h2>
    </div>

    <div class="flex flex-col justify-center items-center bg-[#3B82F6] py-6 w-40 rounded-lg shadow-lg mx-3">
        <i class="fa-solid fa-layer-group text-white text-3xl mb-2"></i>
        <h2 class="text-white ">This Month Sales</h2>
        <h2 class="text-white text-lg"><span class="text-xl font-bold">1400</span> Order</h2>
        <h2 class="text-white text-2xl font-bold">33,80,000</h2>
    </div>


    <div class="flex flex-col justify-center items-center py-5 w-40 rounded-lg shadow-lg mx-3 border-gray-300 border-[1px] dark:bg-white">
        <h2 class="text-lg text-[#4B5563] ">Total Visitors</h2>
        <h2 class="text-[#4B5563]  my-4 text-md">Today</h2>
        <h2 class="text-4xl my-1 ">145</h2>
    </div>

    <div class="flex flex-col justify-center items-center py-5 w-40 rounded-lg shadow-lg mx-3 border-gray-300 border-[1px] dark:bg-white">
        <h2 class="text-lg text-[#4B5563] ">Active Users</h2>
        <h2 class="text-[#4B5563]  my-4 text-md">Today</h2>
        <h2 class="text-4xl my-1 ">37</h2>
    </div>

    <div class="flex flex-col justify-center items-center py-5 w-40 rounded-lg shadow-lg mx-3 border-gray-300 border-[1px] dark:bg-white">
        <h2 class="text-lg text-[#4B5563] ">New Users</h2>
        <h2 class="text-[#4B5563]  my-4 text-md">Today</h2>
        <h2 class="text-4xl my-1 ">08</h2>
    </div>

</div>