<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<button
  (click)="onBack()"
  class="text-textLight dark:text-textDark mb-6 flex items-center gap-2"
>
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>

<div class="mx-auto p-6 bg-tileLight dark:bg-tileBlack rounded-lg shadow-lg">
  <h2
    class="text-2xl text-left mb-6 text-textLight dark:text-textDark font-bold"
  >
    Edit Certificate Details
  </h2>

  <form [formGroup]="certificateForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- Certificate Name -->
      <div class="my-3">
        <label
          for="srtName"
          class="block text-sm font-medium text-textLight dark:text-textDark"
          >Certificate Name *</label
        >
        <input
          id="srtName"
          type="text"
          formControlName="srtName"
          class="mt-1 block w-full p-2 border rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
          [ngClass]="{
            'border-red-500':
              certificateForm.get('srtName')?.invalid &&
              certificateForm.get('srtName')?.touched
          }"
        />
        <div
          *ngIf="
            certificateForm.get('srtName')?.invalid &&
            certificateForm.get('srtName')?.touched
          "
          class="text-red-500 text-sm mt-1"
        >
          Certificate Name is required
        </div>
      </div>

      <!-- Certificate Number -->
      <div class="my-3">
        <label
          for="srtNumber"
          class="block text-sm font-medium text-textLight dark:text-textDark"
          >Certificate Number *</label
        >
        <input
          id="srtNumber"
          type="text"
          formControlName="srtNumber"
          class="mt-1 block w-full p-2 border rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
          [ngClass]="{
            'border-red-500':
              certificateForm.get('srtNumber')?.invalid &&
              certificateForm.get('srtNumber')?.touched
          }"
        />
        <div
          *ngIf="
            certificateForm.get('srtNumber')?.invalid &&
            certificateForm.get('srtNumber')?.touched
          "
          class="text-red-500 text-sm mt-1"
        >
          Certificate Number is required
        </div>
      </div>

      <!-- Company Dropdown -->
      <div class="my-3">
        <label
          for="srtcomapnyId"
          class="block text-sm font-medium text-textLight dark:text-textDark"
          >Company *</label
        >
        <p-dropdown
          formControlName="srtcomapnyId"
          [options]="companies"
          optionLabel="label"
          optionValue="value"
          placeholder="Select Company"
          styleClass="custom-dropdown w-full border max-h-10 mt-1 p-0 items-center bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
        ></p-dropdown>
        <div
          *ngIf="
            certificateForm.get('srtcomapnyId')?.invalid &&
            certificateForm.get('srtcomapnyId')?.touched
          "
          class="text-red-500 text-sm mt-1"
        >
          Company is required
        </div>
      </div>

      <!-- Applicable For Dropdown -->
      <div class="my-3">
        <label
          for="applicable"
          class="block text-sm font-medium text-textLight dark:text-textDark"
          >Applicable For *</label
        >
        <p-dropdown
          formControlName="applicable"
          [options]="applicableOptions"
          placeholder="--Select from here--"
          styleClass="custom-dropdown w-full border max-h-10 mt-1 p-0 items-center bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
          (onChange)="onApplicableChange()"
        ></p-dropdown>
        <div
          *ngIf="
            certificateForm.get('applicable')?.invalid &&
            certificateForm.get('applicable')?.touched
          "
          class="text-red-500 text-sm mt-1"
        >
          Applicable For is required
        </div>
      </div>

      <!-- Accreditation Body -->
      <div class="my-3">
        <label
          for="accreditation"
          class="block text-sm font-medium text-textLight dark:text-textDark"
          >Accreditation Body *</label
        >
        <input
          id="accreditation"
          type="text"
          formControlName="accreditation"
          class="mt-1 block w-full p-2 border rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
          [ngClass]="{
            'border-red-500':
              certificateForm.get('accreditation')?.invalid &&
              certificateForm.get('accreditation')?.touched
          }"
        />
        <div
          *ngIf="
            certificateForm.get('accreditation')?.invalid &&
            certificateForm.get('accreditation')?.touched
          "
          class="text-red-500 text-sm mt-1"
        >
          Accreditation Body is required
        </div>
      </div>

      <!-- Service Areas Dropdown -->
      <div class="my-3">
        <label
          for="serviceAreas"
          class="block text-sm font-medium text-textLight dark:text-textDark"
          >Service Areas *</label
        >
        <p-multiSelect
          formControlName="serviceAreas"
          [options]="serviceAreasOptions"
          placeholder="Select Service Areas"
          styleClass="custom-dropdown w-full border max-h-10 mt-1 p-0 items-center bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
        ></p-multiSelect>
        <div
          *ngIf="
            certificateForm.get('serviceAreas')?.invalid &&
            certificateForm.get('serviceAreas')?.touched
          "
          class="text-red-500 text-sm mt-1"
        >
          Service Areas are required
        </div>
      </div>

      <!-- Price -->
      <div class="my-3">
        <label
          for="price"
          class="block text-sm font-medium text-textLight dark:text-textDark"
          >Price (Rs.) *</label
        >
        <input
          id="price"
          type="number"
          formControlName="price"
          class="mt-1 block w-full p-2 border rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
          [ngClass]="{
            'border-red-500':
              certificateForm.get('price')?.invalid &&
              certificateForm.get('price')?.touched
          }"
        />
        <div
          *ngIf="
            certificateForm.get('price')?.invalid &&
            certificateForm.get('price')?.touched
          "
          class="text-red-500 text-sm mt-1"
        >
          Price is required
        </div>
      </div>

      <!-- Timeline -->
      <div class="my-3">
        <label
          for="timeLine"
          class="block text-sm font-medium text-textLight dark:text-textDark"
          >Timeline (Months) *</label
        >
        <input
          id="timeLine"
          type="number"
          formControlName="timeLine"
          class="mt-1 block w-full p-2 border rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
          [ngClass]="{
            'border-red-500':
              certificateForm.get('timeLine')?.invalid &&
              certificateForm.get('timeLine')?.touched
          }"
        />
        <div
          *ngIf="
            certificateForm.get('timeLine')?.invalid &&
            certificateForm.get('timeLine')?.touched
          "
          class="text-red-500 text-sm mt-1"
        >
          Timeline is required
        </div>
      </div>

      <!-- Commission -->
      <div class="my-3">
        <label
          for="commission"
          class="block text-sm font-medium text-textLight dark:text-textDark"
          >Agreed Commission (%) *</label
        >
        <input
          id="commission"
          type="number"
          formControlName="commission"
          class="mt-1 block w-full p-2 border rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
          [ngClass]="{
            'border-red-500':
              certificateForm.get('commission')?.invalid &&
              certificateForm.get('commission')?.touched
          }"
        />

        <!-- Negative value error -->
        <div
          *ngIf="
      certificateForm.get('commission')?.errors?.['min'] &&
      certificateForm.get('commission')?.touched
    "
          class="text-red-500 text-sm mt-1"
        >
          Negative values are not allowed
        </div>

        <!-- Above 100 error -->
        <div
          *ngIf="
      certificateForm.get('commission')?.errors?.['max'] &&
      certificateForm.get('commission')?.touched
    "
          class="text-red-500 text-sm mt-1"
        >
          Enter a valid commission between 0 and 100
        </div>

        <!-- Required error -->
        <div
          *ngIf="
      certificateForm.get('commission')?.errors?.['required'] &&
      certificateForm.get('commission')?.touched
    "
          class="text-red-500 text-sm mt-1"
        >
          Commission is required
        </div>
      </div>

      <!-- Payment Terms -->
      <div class="my-3">
        <label
          for="tearmsFile"
          class="block text-sm font-medium text-textLight dark:text-textDark"
        >
          Payment Terms File
          <span class="text-gray-500 text-sm"
            >(Leave empty to keep current file)</span
          >
        </label>

        <!-- Hidden file input -->
        <input
          type="file"
          id="tearmsFile"
          (change)="onFileUpload($event)"
          class="hidden"
          accept=".pdf"
        />

        <!-- Custom button -->
        <label
          for="tearmsFile"
          class="mt-2 block w-full cursor-pointer bg-gray-200 dark:bg-gray-600 hover:bg-gray-300 text-gray-700 dark:text-white text-center py-2 rounded-md"
        >
          <i class="fa-solid fa-upload mr-2"></i> Upload New PDF
        </label>

        <!-- Show existing file -->
        <div
          *ngIf="existingFileName && !uploadedFile"
          class="mt-2 text-textLight dark:text-textDark"
        >
          Attached:
          <span class="text-[#415CFF]">{{ existingFileName }}</span>
        </div>

        <!-- Show new attached file -->
        <div
          *ngIf="uploadedFile"
          class="mt-2 text-textLight dark:text-textDark"
        >
          New File: <span class="text-[#415CFF]">{{ uploadedFile.name }}</span>
        </div>
      </div>

      <!-- Scope -->
      <div class="my-3 md:col-span-2">
        <label
          for="scope"
          class="block text-sm font-medium text-textLight dark:text-textDark"
          >Scope *</label
        >
        <textarea
          id="scope"
          rows="3"
          formControlName="scope"
          class="mt-1 block w-full p-2 border rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
          [ngClass]="{
            'border-red-500':
              certificateForm.get('scope')?.invalid &&
              certificateForm.get('scope')?.touched
          }"
        ></textarea>
        <div
          *ngIf="
            certificateForm.get('scope')?.invalid &&
            certificateForm.get('scope')?.touched
          "
          class="text-red-500 text-sm mt-1"
        >
          Scope is required
        </div>
      </div>

      <!-- Target Crops Section -->
      <div class="my-3 w-full md:col-span-2" *ngIf="showTargetCropsSection">
        <label
          class="block text-sm font-medium text-textLight dark:text-textDark"
          >Target Crops</label
        >

        <!-- For Selected Crops - Show dropdown and add functionality -->
        <div *ngIf="isForSelectedCrops" class="flex gap-2 w-full mb-2">
          <p-dropdown
            [options]="cropDropdownOptions"
            [(ngModel)]="selectedCrop"
            [ngModelOptions]="{ standalone: true }"
            placeholder="-- Select Crop --"
            styleClass="custom-dropdown w-full border max-h-10 mt-1 p-0 items-center bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
            class="w-full"
          ></p-dropdown>

          <button
            type="button"
            (click)="addCrop()"
            class="px-6 bg-[#3980C0] text-white rounded-md"
          >
            Add
          </button>
        </div>

        <!-- Selected crops box -->
        <div
          class="mt-3 border rounded-md p-3 min-h-[50px] flex flex-wrap gap-2"
        >
          <ng-container *ngIf="isForSelectedCrops">
            <ng-container *ngIf="selectedCrops.length > 0; else noCrops">
              <div
                *ngFor="let crop of selectedCrops; let i = index"
                class="bg-[#F2F2F2] px-3 py-1 rounded-md flex items-center gap-2"
              >
                {{ crop.cropNameEnglish }}
                <button
                  type="button"
                  (click)="removeCrop(i)"
                  class="text-white font-bold bg-red-500 p-1 m-auto rounded-md flex items-center justify-center h-5 w-5"
                >
                  -
                </button>
              </div>
            </ng-container>
            <ng-template #noCrops>
              <span
                class="text-gray-500 text-sm flex items-center justify-center mx-auto min-h-[50px]"
                >-- No crops selected --</span
              >
            </ng-template>
          </ng-container>

          <!-- Show this message if not "For Selected Crops" -->
          <ng-container *ngIf="!isForSelectedCrops">
            <span
              class="text-gray-500 text-sm flex items-center justify-center mx-auto min-h-[50px]"
              >-- All crops has been selected --</span
            >
          </ng-container>
        </div>

        <!-- Validation Message -->
        <div
          *ngIf="isForSelectedCrops && selectedCrops.length === 0"
          class="text-red-500 text-sm mt-1"
        >
          -- Please add at least 1 crop for "For Selected Crops" option --
        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div class="flex justify-end mt-6 gap-2">
      <button
        type="button"
        class="px-4 py-2 bg-[#74788D] text-white rounded-md cursor-pointer w-40"
        (click)="onCancel()"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="px-6 py-2 bg-[#3980C0] text-white rounded-md w-40"
        [disabled]="isLoading"
      >
        Update
      </button>
    </div>
  </form>
</div>
