<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<button class="mb-5 text-textLight dark:text-textDark" (click)="Back()">
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>

<div
  class="fixed-width-container overflow-x-auto scrollbar-thin scrollbar-thumb-[#8AC440] scrollbar-track-transparent scrollbar-thumb-rounded-full"
>
  <div
    class="pt-5 pr-12 pl-12 pb-5 min-w-full w-max bg-tileLight dark:bg-tileBlack shadow-lg rounded-lg"
  >
    <!-- Header and Filters Section -->
    <div class="mb-8">
      <div class="flex justify-between items-center mb-5">
        <div>
          <h2 class="text-2xl font-normal text-textLight dark:text-textDark">
            All Orders ({{ totalItems }})
          </h2>
        </div>
        <div class="flex items-center gap-3">
          <!-- <div>
            <p-dropdown
              styleClass="border border-2 rounded-xl h-8 items-center bg-[#F1F1F1] dark:bg-[#272F45] text-textLight dark:text-textDark border-[#yourLightColor] dark:border-[#AFAFAF]"
              [options]="deliveryTypeArr"
              [checkmark]="true"
              optionLabel="deliveryType"
              optionValue="value"
              [showClear]="true"
              placeholder="delivery type"
              [(ngModel)]="deliveryTypeFilter"
              (onChange)="applydeliveryTypeFilters()"
            />
          </div> -->
          <div class="flex items-center gap-2 h-8">
            <input
              id="toDate"
              type="date"
              class="p-2 border rounded-xl bg-[#F1F1F1] dark:bg-[#272F45] text-textLight dark:text-textDark focus:ring focus:ring-blue-300 w-64 h-8"
              placeholder="Delivery Date"
              [(ngModel)]="date"
              (change)="dateFilter()"
            />
          </div>

          <div>
            <p-dropdown
              styleClass="border border-2 rounded-xl h-8 items-center bg-[#F1F1F1] dark:bg-[#272F45] text-textLight dark:text-textDark border-[#yourLightColor] dark:border-[#AFAFAF]"
              [options]="paymentMethodArr"
              [checkmark]="true"
              optionLabel="paymentMethod"
              optionValue="value"
              [showClear]="true"
              placeholder="payment method"
              [(ngModel)]="paymentMethodFilter"
              (onChange)="applyPaymentMethodFilters()"
            />
          </div>

          <div>
            <p-dropdown
              styleClass="border border-2 rounded-xl h-8 items-center bg-[#F1F1F1] dark:bg-[#272F45] text-textLight dark:text-textDark border-[#yourLightColor] dark:border-[#AFAFAF]"
              [options]="paymentStatusArr"
              [checkmark]="true"
              optionLabel="paymentStatus"
              optionValue="value"
              [showClear]="true"
              placeholder="payment status"
              [(ngModel)]="paymentStatusFilter"
              (onChange)="applyPaymentStatusFilters()"
            />
          </div>

          <div>
            <p-dropdown
              styleClass="border border-2 rounded-xl h-8 items-center bg-[#F1F1F1] dark:bg-[#272F45] text-textLight dark:text-textDark border-[#yourLightColor] dark:border-[#AFAFAF]"
              [options]="orderStatusArr"
              [checkmark]="true"
              optionLabel="orderStatus"
              optionValue="value"
              [showClear]="true"
              placeholder="order status"
              [(ngModel)]="orderStatusFilter"
              (onChange)="applyOrderStatusFilters()"
            />
          </div>

          <div
            class="flex items-center rounded-full px-4 py-2 w-96 bg-[#F1F1F1] dark:bg-[#272F45] text-textLight dark:text-textDark"
          >
            <input
              type="text"
              placeholder="Search..."
              [(ngModel)]="searchText"
              (keydown.enter)="onSearch()"
              class="bg-transparent outline-none w-full text-textLight dark:text-textDark"
            />
            <button
              type="button"
              class="text-gray-500 hover:text-gray-700 focus:outline-none mr-2"
              (click)="onSearch()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 10-14 0 7 7 0 0014 0z"
                />
              </svg>
            </button>
            <button
              type="button"
              class="text-gray-500 hover:text-gray-700 focus:outline-none"
              (click)="offSearch()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Table Section -->
    <div *ngIf="!hasData" class="text-center py-8">
      <p class="text-textLight dark:text-textDark text-lg">
        No data to display
      </p>
    </div>

    <div *ngIf="hasData">
      <table
        class="w-full divide-y divide-gray-200 dark:divide-[#4B555A] table-auto whitespace-nowrap"
      >
        <thead>
          <tr>
            <th
              class="ml-10 font-normal text-textLight dark:text-textDark text-left"
            >
              Invoice No
            </th>
            <th
              class="font-normal text-textLight dark:text-textDark text-center pl-5"
            >
              Customer ID
            </th>
            <th
              class="pl-5 font-normal text-textLight dark:text-textDark text-center"
            >
              Customer Name
            </th>
            <th
              class="font-normal text-textLight dark:text-textDark text-center"
            >
              Agent ID
            </th>
            <th
              class="font-normal text-textLight dark:text-textDark text-center"
            >
              Order Time
            </th>
            <th
              class="font-normal text-textLight dark:text-textDark text-center"
            >
              Delivery date
            </th>

            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center"
            >
              Schedule
            </th>
            <!-- <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center"
            >
              Schedule
            </th> -->

            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center"
            >
              payment
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center"
            >
              Payment Status
            </th>
            <th
              class="px-4 py-1 font-normal text-textLight dark:text-textDark text-center"
            >
              Amount
            </th>
            <th
              class="px-4 py-1 font-normal text-textLight dark:text-textDark text-center"
            >
              Order Status
            </th>
            <th
              class="px-4 py-1 font-normal text-textLight dark:text-textDark text-center"
            >
              Invoice
            </th>
            <!-- <th
              class="px-4 py-1 font-normal text-textLight dark:text-textDark text-center"
            >
            </th> -->
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of ordersArr
                | paginate
                  : {
                      itemsPerPage: itemsPerPage,
                      currentPage: page,
                      totalItems: totalItems
                    };
              let i = index
            "
            class="border-b border-gray-200 dark:border-[#4B555A]"
          >
            <!-- <td class="text-start text-textLight dark:text-textDark ">
              {{ ((page - 1) * itemsPerPage + i + 1).toString().padStart(2, '0') }}
            </td> -->

            <td class="text-textLight dark:text-textDark text-left">
              {{ item.invNo }}
            </td>
            <td class="text-center text-textLight dark:text-textDark pl-5">
              {{ item.cusId }}
            </td>
            <td class="pl-5 text-center text-textLight dark:text-textDark">
              {{ item.firstName + " " + item.lastName }}
            </td>
            <td class="px-4 py-3 text-center text-textLight dark:text-textDark">
              {{ item.empId }}
            </td>

            <td class="px-3 py-3 text-center text-textLight dark:text-textDark">
              {{ item.formattedCreatedDate }}
            </td>
            <td class="px-3 py-3 text-center text-textLight dark:text-textDark">
              {{ item.scheduleDateFormattedSL }}
            </td>

            <td class="px-3 py-3 text-center text-textLight dark:text-textDark">
              {{ item.deliveryType }}
            </td>

            <!-- <td class="px-3 py-3 text-center text-textLight dark:text-textDark">
              {{ item.timeSlot }}
            </td> -->
            <td class="px-3 py-3 text-center text-textLight dark:text-textDark">
              {{ item.paymentMethod }}
            </td>

            <td class="px-3 py-3 text-center text-textLight dark:text-textDark">
              <div>
                <span
                  [ngClass]="{
                    'font-bold px-3 py-1 text-sm bg-green-100 text-green-500 rounded-3xl':
                      item.paymentStatus === 1,
                    'font-bold px-3 py-1 text-sm bg-[#DFDFDF] text-[#5C5C5C] rounded-3xl':
                      item.paymentStatus === 0
                  }"
                  class="inline-block font-medium rounded-2xl min-w-28 px-4 py-2 text-xs cursor-pointer text-center"
                >
                  {{ item.paymentStatus == 1 ? "Paid" : "Pending" }}
                </span>
              </div>
            </td>

            <td class="px-3 py-3 text-center text-textLight dark:text-textDark">
              {{ item.fullTotal - item.fullDiscount | number : "1.2-2" }}
            </td>

            <td class="px-3 py-3 text-center text-textLight dark:text-textDark">
              <div>
                <span
                  [ngClass]="{
                    'font-bold px-3 py-1 text-sm bg-[#FFEDCF] text-[#D17A00] rounded-3xl':
                      item.orderStatus === 'On the way',
                    'font-bold px-3 py-1 text-sm bg-green-100 text-green-500 rounded-3xl':
                      item.orderStatus === 'Delivered',
                    'font-bold px-3 py-1 text-sm bg-[#DFDFDF] text-[#5C5C5C] rounded-3xl':
                      item.orderStatus === 'Cancelled',
                    'font-bold px-3 py-1 text-sm bg-[#CFE1FF] text-[#3B82F6] rounded-3xl':
                      item.orderStatus === 'Processing',
                    'font-bold px-3 py-1 text-sm bg-[#F5FF85] text-[#878216] rounded-3xl':
                      item.orderStatus === 'Ordered' ||
                      item.orderStatus === 'Assigned',
                    'font-bold px-3 py-1 text-sm bg-[#FFDCDA] text-[#FF1100] rounded-3xl':
                      item.orderStatus === 'Failed'
                  }"
                  class="inline-block font-medium rounded-2xl min-w-28 px-4 py-2 text-xs cursor-pointer text-center"
                >
                  {{
                    item.orderStatus === "Ordered"
                      ? "Assigned"
                      : item.orderStatus
                  }}
                </span>
              </div>
            </td>

            <td class="px-3 py-3 text-center text-textLight dark:text-textDark">
              <button (click)="downloadInvoice(item.id, item.invNo)">
                <i class="fa-solid fa-file-lines text-xl text-[#5C5C5C]"></i>
              </button>
            </td>

            <!-- <td class="px-2 py-3 text-center text-textLight dark:text-textDark">
              <button
              class="w-6 h-6 text-[#367bfa] hover:text-[#83aefd]"
              (click)="viewSalesAgent(item.id)"
            >
              <svg
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3 14C3 9.02944 7.02944 5 12 5C16.9706 5 21 9.02944 21 14M17 14C17 16.7614 14.7614 19 12 19C9.23858 19 7 16.7614 7 14C7 11.2386 9.23858 9 12 9C14.7614 9 17 11.2386 17 14Z"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </td>

            <td class="px-3 py-3 text-center text-textLight dark:text-textDark">
              <button
                class="w-6 h-6 mr-2 ml-2 text-[#367bfa] hover:text-[#83aefd]"
                (click)="editCompanyHead(item.id)"
              >
                <svg
                  fill="currentColor"
                  viewBox="0 0 32 32"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>pen-to-square</title>
                  <path
                    d="M7.263 19.051l-1.656 5.797c-0.030 0.102-0.048 0.22-0.048 0.342 0 0.691 0.559 1.251 1.25 1.252h0c0.126-0 0.248-0.019 0.363-0.053l-0.009 0.002 5.622-1.656c0.206-0.063 0.383-0.17 0.527-0.311l-0 0 17.568-17.394c0.229-0.227 0.371-0.541 0.371-0.889 0-0.345-0.14-0.657-0.365-0.883l-4.141-4.142c-0.227-0.226-0.539-0.366-0.885-0.366s-0.658 0.14-0.885 0.366v0l-17.394 17.394c-0.146 0.146-0.256 0.329-0.316 0.532l-0.002 0.009zM25.859 3.768l2.369 2.369-2.369 2.346-2.37-2.345zM9.578 20.049l12.144-12.144 2.361 2.336-12.307 12.184-3.141 0.924zM30 12.75c-0.69 0-1.25 0.56-1.25 1.25v14.75h-25.5v-25.5h14.75c0.69 0 1.25-0.56 1.25-1.25s-0.56-1.25-1.25-1.25v0h-16c-0.69 0-1.25 0.56-1.25 1.25v0 28c0 0.69 0.56 1.25 1.25 1.25h28c0.69-0.001 1.249-0.56 1.25-1.25v-16c-0-0.69-0.56-1.25-1.25-1.25h-0z"
                  ></path>
                </svg>
              </button>
            </td>

            <td class="px-3 py-3 text-center text-textLight dark:text-textDark">
              <button
                class="w-6 h-6 ml-2 mr-2 text-[#fc3636] hover:text-[#f38f8f]"
                (click)="deleteSalesAgent(item.id)"
              >
                <svg
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
                  />
                </svg>
              </button>
            </td> -->
          </tr>
        </tbody>
      </table>
      <div class="dark:bg-[#262f45]">
        <pagination-controls
          (pageChange)="onPageChange($event)"
          [responsive]="true"
          [previousLabel]="'Previous'"
          [nextLabel]="'Next'"
          [screenReaderPaginationLabel]="'Pagination'"
          [screenReaderPageLabel]="'page'"
          [screenReaderCurrentLabel]="'Youre on page'"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
