<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<button class="mb-5 text-textLight dark:text-textDark" (click)="Back()">
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>

<div
  class="fixed-width-container overflow-x-auto scrollbar-thin scrollbar-thumb-[#FACD07] scrollbar-track-transparent scrollbar-thumb-rounded-full">
  <div class="pt-5 pr-12 pl-12 pb-5 min-w-full w-max bg-tileLight dark:bg-tileBlack shadow-lg rounded-lg">
    <!-- Header and Filters Section -->
    <div class="mb-8">
      <div class="flex justify-between items-center mb-5">
        <div>
          <h2 class="text-2xl font-normal text-textLight dark:text-textDark">
            All Orders ({{ totalItems }})
          </h2>
        </div>
        <div class="flex items-center gap-3">
          
          <div class="flex items-center gap-2 h-8 ml-2">
            <p-calendar id="toDate" [(ngModel)]="date" (onSelect)="dateFilter()" (onClear)="onDateClear()"
              placeholder="Schedule Date" [showIcon]="true" [showClear]="true" [showButtonBar]="true"
              iconDisplay="input" [style]="{ width: '16rem', height: '2rem' }" panelStyleClass="calendar-popup-small rounded-xl dark:bg-[#2d354d] dark:text-textDark dark:border-gray-600 
                             [&_.p-datepicker-calendar_td_span:hover]:dark:bg-[#4a5568] 
                             [&_.p-datepicker-calendar_td_span:hover]:dark:text-white
                             [&_.p-datepicker-header]:dark:bg-[#2d354d] 
                             [&_.p-datepicker-header]:dark:text-white
                             [&_.p-datepicker-buttonbar]:dark:bg-[#2d354d]
                             
                             [&_.p-button:hover]:dark:bg-[#6b7280]"
              inputStyleClass="p-2 border cursor-pointer rounded-xl bg-[#F1F1F1] dark:bg-[#272F45] text-textLight dark:text-textDark w-64 h-8 pr-12"
              [appendTo]="'body'" />
          </div>

          <div>
            <p-dropdown
              styleClass="border border-2 rounded-xl h-8 items-center bg-[#F1F1F1] dark:bg-[#272F45] text-textLight dark:text-textDark border-[#yourLightColor] dark:border-[#AFAFAF]"
              [options]="paymentMethodArr" optionLabel="paymentMethod" optionValue="value"
              [showClear]="!!paymentMethodFilter" placeholder="Payment Method" [(ngModel)]="paymentMethodFilter"
              (onChange)="applyPaymentMethodFilters()" />
          </div>

          <div>
            <p-dropdown
              styleClass="border border-2 rounded-xl h-8 items-center bg-[#F1F1F1] dark:bg-[#272F45] text-textLight dark:text-textDark border-[#yourLightColor] dark:border-[#AFAFAF]"
              [options]="paymentStatusArr"  optionLabel="paymentStatus" optionValue="value"
              [showClear]="!!paymentStatusFilter" placeholder="Payment Status" [(ngModel)]="paymentStatusFilter"
              (onChange)="applyPaymentStatusFilters()" />
          </div>

          <div>
            <p-dropdown
              styleClass="border border-2 rounded-xl h-8 items-center bg-[#F1F1F1] dark:bg-[#272F45] text-textLight dark:text-textDark border-[#yourLightColor] dark:border-[#AFAFAF]"
              [options]="orderStatusArr"  optionLabel="orderStatus" optionValue="value"
              [showClear]="orderStatusFilter === '' ? false : true" placeholder="Order Status"
              [(ngModel)]="orderStatusFilter" (onChange)="applyOrderStatusFilters()" />
          </div>

          <div
            class="flex items-center rounded-full px-4 py-2 w-96 bg-[#F1F1F1] dark:bg-[#272F45] text-textLight dark:text-textDark">
            <input type="text" placeholder="Search By Invoice No, CUS ID, Agent ID" [(ngModel)]="searchText"
              (keydown.enter)="onSearch()"
              class="bg-transparent outline-none w-full text-textLight dark:text-textDark" />
            <button type="button" class="text-gray-500 hover:text-gray-700 focus:outline-none mr-2"
              (click)="onSearch()">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 10-14 0 7 7 0 0014 0z" />
              </svg>
            </button>
            <button type="button" class="text-gray-500 hover:text-gray-700 focus:outline-none" (click)="offSearch()">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Table Section -->
    <div *ngIf="!hasData" class="flex flex-col items-center w-full h-screen px-10 py-7 mt-6 ">
      <p class="text-[#494949] my-6 dark:text-textDark">--No Data Available--</p>
      <img src="assets/images/NoData.png" alt="No Data" class="w-20 h-20" />
    </div>

    <div *ngIf="hasData">
      <table class="w-full divide-y divide-gray-200 dark:divide-[#4B555A] table-auto whitespace-nowrap">
        <thead>
          <tr>
            <th class="ml-10 font-normal text-textLight dark:text-textDark text-left">
              Invoice No
            </th>
            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center">
              Customer ID
            </th>
            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center">
              Customer Name
            </th>
            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center">
              Agent ID
            </th>
            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center">
              Order Time
            </th>
            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center">
              Schedule
            </th>

            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left">
              Schedule Date
            </th>

            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left">
              Schedule
            </th>

            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left">
              Payment
            </th>
            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center">
              Payment Status
            </th>
            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left">
              Amount
            </th>
            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center">
              Order Status
            </th>
            <th
              *ngIf="permissionService.hasPermission('Dash view orders download invoice') || tokenService.getUserDetails().role === '1'"
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center">
              PRE-INVOICE
            </th>
            <th class="whitespace-nowrap px-4 py-3 font-normal text-[#4B5563] dark:text-textDark text-center"
              *ngIf="permissionService.hasPermission('Download retail invoice') || tokenService.getUserDetails().role === '1'">
              POST-INVOICE
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
              let item of ordersArr
                | paginate
                  : {
                      itemsPerPage: itemsPerPage,
                      currentPage: page,
                      totalItems: totalItems
                    };
              let i = index
            " class="border-b border-gray-200 dark:border-[#4B555A]">

            <td class="text-textLight dark:text-textDark text-left">
              {{ item.invNo }}
            </td>
            <td class="px-4 py-3 text-center text-textLight dark:text-textDark">
              {{ item.cusId }}
            </td>
            <td class="px-4 py-3 text-textLight dark:text-textDark text-left">
              {{ item.firstName + " " + item.lastName }}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ item.empId }}
            </td>

            <td class="px-4 py-3 text-center text-textLight dark:text-textDark">
              {{ item.formattedCreatedDate }}
            </td>


            <td class="px-4 py-3 text-center text-textLight dark:text-textDark">
              {{ item.sheduleType }}
            </td>

            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ item.scheduleDate | date : "d MMM, y" }}
            </td>

            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ item.sheduleTime.replace('Within ', '') }}
            </td>

            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              <span *ngIf="item.paymentMethod === 'Card'">Debit/Credit</span>
              <span *ngIf="item.paymentMethod === 'Cash'">Cash on Delivery</span>
            </td>

            <td class="px-4 py-3 text-center text-textLight dark:text-textDark">
              <div>
                <span [ngClass]="{
                    'font-bold px-3 py-1 text-sm bg-green-100 text-green-500 rounded-3xl':
                      item.paymentStatus === 1 && item.paymentMethod === 'Card',
                      'font-bold px-3 py-1 text-sm bg-[#F5FF85] text-[#878216] rounded-3xl':
                      item.paymentStatus === 1 && item.paymentMethod === 'Cash',
                    'font-bold px-3 py-1 text-sm bg-[#DFDFDF] text-[#5C5C5C] rounded-3xl':
                      item.paymentStatus === 0
                  }" class="inline-block font-medium rounded-2xl min-w-28 px-4 py-2 text-xs  text-center">
                  {{ (item.paymentStatus == 1 && item.paymentMethod === 'Card') ? "Paid" : 
                  (item.paymentStatus == 1 && item.paymentMethod === 'Cash') ? 'Received' : 
                  "Pending" }}
                </span>
              </div>
            </td>

            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ item.fullTotal | number : "1.2-2" }}
            </td>

            <td class="px-4 py-3 text-center text-textLight dark:text-textDark">
              <div>
                <span [ngClass]="{
                    'bg-[#ACFBFF] text-[#00818A]': item.orderStatus === 'Ready to Pickup',
                    'bg-[#CFE1FF] text-[#3B82F6]': item.orderStatus === 'Processing',
                    'bg-[#F5FF85] text-[#878216]': item.orderStatus === 'Assigned' || item.orderStatus === 'Ordered',
                    'bg-[#BBFFC6] text-[#308233]': item.orderStatus === 'Delivered' || item.orderStatus === 'Picked up',
                    'bg-[#DFDFDF] text-[#5C5C5C]': item.orderStatus === 'Cancelled',
                    'bg-[#FFDCDA] text-[#FF1100]': item.orderStatus === 'Return' || item.orderStatus === 'Return Received',
                    'bg-[#FFEDCF] text-[#D17A00]': item.orderStatus === 'Hold' || item.orderStatus === 'On the way',
                    'bg-[#F8FEA5] text-[#7E8700]': item.orderStatus === 'Collected',
                    'bg-[#FCD4FF] text-[#80118A]': item.orderStatus === 'Out For Delivery'
                  }" class="inline-block font-medium rounded-3xl min-w-28 px-4 py-2 text-xs text-center">
                  {{ item.orderStatus === 'Ordered' ? 'Assigned' : item.orderStatus }}
                </span>
              </div>
            </td>

            <td class="px-4 py-3 text-center text-textLight dark:text-textDark">
              <button
                *ngIf="permissionService.hasPermission('Dash view orders download invoice') || tokenService.getUserDetails().role === '1'"
                (click)="downloadInvoice(item.id, item.invNo)">
                <i class="fa-solid fa-file-lines text-2xl text-[#5C5C5C]"></i>
              </button>
            </td>

            <td class="px-4 py-3 text-center dark:text-textDark"
              *ngIf="permissionService.hasPermission('Download retail post invoice') || tokenService.getUserDetails().role === '1'">

              <div class="relative inline-block">
                <button class="text-textLight dark:text-textDark gap-1"
                  [class.opacity-50]="!isPostInvoiceEnabled(item.orderStatus)"
                  [class.cursor-not-allowed]="!isPostInvoiceEnabled(item.orderStatus)"
                  [class.cursor-pointer]="isPostInvoiceEnabled(item.orderStatus)"
                  [disabled]="!isPostInvoiceEnabled(item.orderStatus)"
                  (click)="isPostInvoiceEnabled(item.orderStatus) ? downloadPostInvoice(item.id, item.invNo) : null">
                  <i class="fa-solid fa-file-lines text-2xl"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="dark:bg-[#262f45]">
        <pagination-controls (pageChange)="onPageChange($event)" [responsive]="true" [previousLabel]="'Previous'"
          [nextLabel]="'Next'" [screenReaderPaginationLabel]="'Pagination'" [screenReaderPageLabel]="'page'"
          [screenReaderCurrentLabel]="'Youre on page'">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>