<p class="text-[#4B5563] text-xl font-semibold mx-5 my-5 dark:text-white">Recent Orders</p>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="uppercase bg-gray-50 dark:bg-[#061E2C] dark:text-gray-400 border-b-4 dark:border-b-2">
            <tr>
                <th scope="col" class="px-6 py-3 text-left dark:text-white">
                    INVOICE NO
                </th>
                <th scope="col" class="px-6 py-3 text-left dark:text-white">
                    ORDER TIME
                </th>
                <th scope="col" class="px-6 py-3 text-left dark:text-white">
                    CUSTOMER NAME
                </th>
                <th scope="col" class="px-6 py-3 text-left dark:text-white">
                    METHOD
                </th>
                <th scope="col" class="px-6 py-3 text-left dark:text-white">
                    AMOUNT
                </th>
                <th scope="col" class="px-6 py-3 text-center dark:text-white">
                    STATUS
                </th>
                <th scope="col" class="px-6 py-3 text-center dark:text-white">
                    INVOICE
                </th>

            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b-2 dark:bg-[#061E2C] dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                *ngFor="let item of orders">
                <th scope="row" class="font-normal px-6 py-4 text-gray-900 dark:text-[#C8C8C8] text-left ">
                    {{item.invNo}}
                </th>
                <td class="px-6 py-4 text-left dark:text-[#C8C8C8]">
                    {{ item.createdAt | date:'d MMM, y h:mm a' }}
                </td>
                <td class="px-6 py-4 text-left dark:text-[#C8C8C8]">
                    {{item.firstName}} {{item.lastName}}
                </td>
                <td class="px-6 py-4 text-left dark:text-[#C8C8C8]">
                    {{item.paymentMethod}}
                </td>
                <td class="px-6 py-4 text-left dark:text-[#C8C8C8]">
                    {{item.fullTotal}}
                </td>
                <td class="px-6 py-4 text-center dark:text-[#C8C8C8]">
                    <div *ngIf="item.status ==='Delivered'" class="bg-[#BBFFC6] px-3 py-2 text-[#308233] rounded-xl">
                        {{item.status}}
                    </div>

                    <div *ngIf="item.status ==='Out For Delivery'" class="bg-[#BBFFC6] px-3 py-2 text-[#308233] rounded-xl">
                        {{item.status}}
                    </div>

                    <div *ngIf="item.status ==='Processing'" class="bg-[#CFE1FF] px-3 py-2 text-[#3B82F6] rounded-xl">
                        {{item.status}}
                    </div>
                    <div *ngIf="item.status ==='Ordered'" class="bg-[#F8FFA6] px-3 py-2 text-[#A8A100] rounded-xl">
                        Assigned
                    </div>
                </td>
                <td class="px-6 py-4 text-center dark:text-[#C8C8C8]">
                    <button 
                        (click)="downloadInvoice(item.id, item.invNo)"
                        [disabled]="isDownloading(item.id)"
                        class="p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors"
                        [class.opacity-50]="isDownloading(item.id)"
                        [class.cursor-not-allowed]="isDownloading(item.id)"
                        title="Download Invoice">
                        <i class="fa-solid fa-file-invoice-dollar text-xl text-center" 
                           [class.text-blue-500]="!isDownloading(item.id)"
                           [class.text-gray-400]="isDownloading(item.id)"></i>
                        <span *ngIf="isDownloading(item.id)" class="ml-2 text-xs">Downloading...</span>
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>