.news-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }


  ::ng-deep .angular-editor-toolbar {
    @apply bg-gray-100 dark:bg-gray-800;
}


/* For WebKit browsers like Chrome, Safari */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
}

.dark input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* For Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
  filter: invert(0.5);
}

.dark input[type="date"]::-moz-calendar-picker-indicator {
  filter: invert(1);
}

::ng-deep .ql-editor p:first-child::first-letter {
  text-transform: uppercase;
}