<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div *ngIf="itemId === null">
    <button onclick="window.location.href='/plant-care'">
    <i class="fa-solid fa-arrow-left"></i>
    Back
  </button>
    <div class="h-[20px]"></div>
    <div class="mx-auto p-6 bg-white rounded-lg shadow-lg rounded-lg">
        <h2 class="text-2xl font-bold mb-6 text-center">NEWS</h2>

        <div class="border-b mb-6">
            <ul class="flex">
                <li class="cursor-pointer py-2 px-4 text-center border-b-2" [ngClass]="{ 'border-green-500': selectedLanguage === 'english' }" (click)="selectLanguage('english')">
                    English
                </li>
                <li class="cursor-pointer py-2 px-4 text-center border-b-2" [ngClass]="{ 'border-green-500': selectedLanguage === 'sinhala' }" (click)="selectLanguage('sinhala')">
                    Sinhala
                </li>
                <li class="cursor-pointer py-2 px-4 text-center border-b-2" [ngClass]="{ 'border-green-500': selectedLanguage === 'tamil' }" (click)="selectLanguage('tamil')">
                    Tamil
                </li>
            </ul>
        </div>

        <div *ngIf="selectedLanguage === 'english'">


            <div class="mb-4">
                <label for="titleEnglish" class="block text-sm font-medium text-gray-700">
                  Add Title in English
                </label>
                <input type="text" id="titleSinhala" [(ngModel)]="createNewsObj.titleEnglish" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" [ngClass]="{'border-red-500': !isEnglishValid}" />
                <div *ngIf="!isEnglishValid" class="text-red-500">
                    Title must be in English.
                </div>
            </div>





            <div class="mb-4">
                <label for="descriptionEnglish" class="block text-sm font-medium text-gray-700">Add Description</label
        >
        <div class="custom-editor">
          <angular-editor
            [placeholder]="'Enter text here...'"
            [(ngModel)]="createNewsObj.descriptionEnglish"
            class="w-full h-full"
            [config]="editorConfig"
          ></angular-editor>
        </div>
        <!-- <textarea
          id="descriptionEnglish"
          [(ngModel)]="createNewsObj.descriptionEnglish"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md h-56"
        ></textarea> -->
      </div>
    </div>

    <div *ngIf="selectedLanguage === 'sinhala'">
      <div class="mb-4">
        <label for="titleSinhala" class="block text-sm font-medium text-gray-700">
          Add Title in Sinhala
        </label>
                <input type="text" id="titleSinhala" [(ngModel)]="createNewsObj.titleSinhala" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" [ngClass]="{'border-red-500': !isSinhalaValid}" />
                <div *ngIf="!isSinhalaValid" class="text-red-500">
                    Title must be in Sinhala.
                </div>
            </div>

            <div class="mb-4">
                <label for="descriptionSinhala" class="block text-sm font-medium text-gray-700">Add Description in Sinhala</label
        >
        <!-- <textarea
          id="descriptionSinhala"
          [(ngModel)]="createNewsObj.descriptionSinhala"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md h-56"
        ></textarea> -->
        <div class="custom-editor">
          <angular-editor
            [placeholder]="'Enter text here...'"
            [(ngModel)]="createNewsObj.descriptionSinhala"
            class="w-full h-full"
            [config]="editorConfig"
          ></angular-editor>
        </div>
      </div>
    </div>

    <div *ngIf="selectedLanguage === 'tamil'">
      
      <div class="mb-4">
        <label for="titleTamil" class="block text-sm font-medium text-gray-700">
          Add Title in Tamil
        </label>
                <input type="text" id="titleTamil" [(ngModel)]="createNewsObj.titleTamil" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" [ngClass]="{'border-red-500': !isTamilValid}" />
                <div *ngIf="!isTamilValid" class="text-red-500">
                    Title must be in Tamil.
                </div>
            </div>



            <div class="mb-4">
                <label for="descriptionTamil" class="block text-sm font-medium text-gray-700">Add Description in Tamil</label
        >
        <!-- <textarea
          id="descriptionTamil"
          [(ngModel)]="createNewsObj.descriptionTamil"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md h-56"
        ></textarea> -->
        <div class="custom-editor">
          <angular-editor
            [placeholder]="'Enter text here...'"
            [(ngModel)]="createNewsObj.descriptionTamil"
            class="w-full h-full"
            [config]="editorConfig"
          ></angular-editor>
        </div>
      </div>
    </div>

    <!-- Hidden file input -->
    <input
      type="file"
      id="imageUpload"
      accept="image/*"
      class="hidden"
      (change)="onFileSelected($event)"
    />

    <!-- Button -->
    <button
      class="flex items-center text-gray-800"
      (click)="triggerFileInput()"
    >
      Add Image
      <span
        class="flex justify-center items-center w-6 h-6 ml-2 border border-green-500 rounded text-green-500 font-bold"
      >
        +
      </span>
    </button>

    <div *ngIf="selectedFileName" class="mt-2 text-green-500">
      {{ selectedFileName }}
      <div class="w-full h-72 py-5 mt-2 content-center flex justify-center border">
        <img [src]="selectedImage" alt="News Iamge" class="max-w-full w-auto object-contain">
      </div>
    </div>

    <div class="flex justify-end mt-6">
      <button
        class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md"
        type="button"
        (click)="onCancel()"
      >
        Cancel
      </button>
      <div class="w-[20px]"></div>
      <button
        class="px-4 py-2 bg-green-500 text-white rounded-md"
        type="button"
        (click)="createNews()"
      >
        Save
      </button>
    </div>
  </div>
</div>

<div *ngIf="itemId != null">
  <button onclick="window.location.href='/plant-care/manage-content'">
    <i class="fa-solid fa-arrow-left"></i>
    Back
  </button>
  <div class="h-[20px]"></div>
  <div class="mx-auto p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-6 text-center">EDIT NEWS</h2>

    <div class="border-b mb-6">
      <ul class="flex">
        <li
          class="cursor-pointer py-2 px-4 text-center border-b-2"
          [ngClass]="{ 'border-green-500': selectedLanguage === 'english' }"
          (click)="selectLanguage('english')"
        >
          English
        </li>
        <li
          class="cursor-pointer py-2 px-4 text-center border-b-2"
          [ngClass]="{ 'border-green-500': selectedLanguage === 'sinhala' }"
          (click)="selectLanguage('sinhala')"
        >
          Sinhala
        </li>
        <li
          class="cursor-pointer py-2 px-4 text-center border-b-2"
          [ngClass]="{ 'border-green-500': selectedLanguage === 'tamil' }"
          (click)="selectLanguage('tamil')"
        >
          Tamil
        </li>
      </ul>
    </div>

    <div *ngIf="selectedLanguage === 'english'">
      <div class="mb-4">
        <label
          for="titleEnglish"
          class="block text-sm font-medium text-gray-700"
          >Add Title</label
        >
        <input
          type="text"
          id="titleEnglish"
          [(ngModel)]="newsItems[0].titleEnglish"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md"
        />
      </div>

      <div class="mb-4">
        <label
          for="descriptionEnglish"
          class="block text-sm font-medium text-gray-700"
          >Add Description</label
        >
        <div class="custom-editor">
          <angular-editor
            [placeholder]="'Enter text here...'"
            [(ngModel)]="newsItems[0].descriptionEnglish"
            class="w-full h-full"
            [config]="editorConfig"
          ></angular-editor>
        </div>
      </div>


      


    </div>

    <div *ngIf="selectedLanguage === 'sinhala'">
      <div class="mb-4">
        <label
          for="titleSinhala"
          class="block text-sm font-medium text-gray-700"
          >Add Title in Sinhala</label
        >
        <input
          type="text"
          id="titleSinhala"
          [(ngModel)]="newsItems[0].titleSinhala"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md"
        />

        
      </div>

      <div class="mb-4">
        <label
          for="descriptionSinhala"
          class="block text-sm font-medium text-gray-700"
          >Add Description in Sinhala</label
        >
       

        <div class="custom-editor">
          <angular-editor
            [placeholder]="'Enter text here...'"
            [(ngModel)]="newsItems[0].descriptionSinhala"
            class="w-full h-full"
            [config]="editorConfig"
          ></angular-editor>
        </div>
      </div>
    </div>

    <div *ngIf="selectedLanguage === 'tamil'">
      <div class="mb-4">
        <label for="titleTamil" class="block text-sm font-medium text-gray-700"
          >Add Title in Tamil</label
        >
        <input
          type="text"
          id="titleTamil"
          [(ngModel)]="newsItems[0].titleTamil"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md"
        />
      </div>

      <div class="mb-4">
        <label
          for="descriptionTamil"
          class="block text-sm font-medium text-gray-700"
          >Add Description in Tamil</label
        >
        <div class="custom-editor">
          <angular-editor
            [placeholder]="'Enter text here...'"
            [(ngModel)]="newsItems[0].descriptionTamil"
            class="w-full h-full"
            [config]="editorConfig"
          ></angular-editor>
        </div>
      </div>
    </div>

    <!-- Hidden file input -->
    <div class="mb-4" *ngIf="!newsItems[0]?.image && !selectedFile">
      <button class="flex items-center text-gray-800" (click)="triggerFileInput()">
        Add New Image
        <span class="flex justify-center items-center w-6 h-6 ml-2 border border-green-500 rounded text-green-500 font-bold">
          +
        </span>
      </button>
    </div>
    
    <div *ngIf="newsItems[0]?.image || selectedFile" class="mb-4">
      <label class="block text-sm font-medium text-gray-700">Image Preview</label>
                <div class="w-full h-72 mt-2 content-center flex justify-center border relative">
                    <img [src]="selectedFile ? (selectedImage || '') : newsItems[0].image" alt="Market Price Image" class="max-w-full h-auto rounded-md object-contain w-80" />
                    <div class="absolute top-2 right-2 flex space-x-2">
                        <button class="text-blue-500 hover:text-blue-700" (click)="triggerFileInput()">
            <i class="fas fa-edit"></i>
          </button>
                        <button class="text-red-500 hover:text-red-700" (click)="onDeleteImage()">
            <i class="fas fa-trash-alt"></i>
          </button>
                    </div>
                </div>
            </div>

            <input type="file" id="imageUpload" accept="image/*" class="hidden" (change)="onFileSelected($event)" />

            <div class="flex justify-end mt-6">
                <button class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md" type="button" (click)="onCancel()">
        Cancel
      </button>
                <div class="w-[20px]"></div>
                <button class="px-4 py-2 bg-green-500 text-white rounded-md" type="button" (click)="updateNews()">
        Save
      </button>
            </div>
        </div>
    </div>