<div class="space-y-10 p-10">

    <div class="bg-[#F9FAFC] p-5 rounded-xl">
        <label class="block text-sm text-[#4A4A4A] mb-2">
            <span class="text-[#4A4A4A]">01.</span>
            An opportunity to go for :
        </label>
        <input type="text" value='Inter-cropping, Mixed Cropping, Other : "Any Cropping"' readonly
            class="w-full px-4 py-3 rounded-lg border border-gray-200 bg-white text-gray-900 focus:outline-none" />
    </div>

    <div class="bg-[#F9FAFC] p-5 rounded-xl">
        <label class="block text-sm text-[#4A4A4A] mb-2">
            <span class="text-[#4A4A4A]">02.</span>
            Does the farmer has knowledge on cropping system management?
        </label>
        <input type="text" value="Yes" readonly
            class="w-full px-4 py-3 rounded-lg border border-gray-200 bg-white text-gray-900 focus:outline-none" />
    </div>

    <div class="bg-[#F9FAFC] p-5 rounded-xl">
        <label class="block text-sm text-[#4A4A4A] mb-2">
            <span class="text-[#4A4A4A]">03.</span>
            What is your previous experience with regard to the crop / cropping systems that farmer is planning to
            choose?
        </label>
        <input type="text" value="Yes" readonly
            class="w-full px-4 py-3 rounded-lg border border-gray-200 bg-white text-gray-900 focus:outline-none" />
    </div>

    <div class="bg-[#F9FAFC] p-5 rounded-xl">
        <label class="block text-sm text-[#4A4A4A] mb-2">
            <span class="text-[#4A4A4A]">04.</span>
            What is the general opinion of your friends, neighborhood farmers on proposed crop / cropping systems?
        </label>

        <div class="w-full px-4 py-3 rounded-lg border border-gray-200 bg-white text-gray-900 min-h-[80px] space-y-1">
            <p class="leading-relaxed">Farmer has previous experience.</p>
            <p class="leading-relaxed">Farmer has more laborers in the farm.</p>
        </div>
    </div>

</div>