<div class="flex flex-col items-center justify-center h-screen bg-gradient-to-r from-[#304352] to-[#D7D2CC] text-center p-4">
    
    <div class="bg-white p-8 rounded-xl shadow-2xl max-w-lg w-full">
      <h1 class="text-7xl font-extrabold text-orange-600 mb-4 animate__animated animate__fadeIn">451</h1>
      <h2 class="text-2xl text-gray-800 font-semibold mb-4 animate__animated animate__fadeIn">{{ message }}</h2>
      <p class="text-lg text-gray-600 mb-8 animate__animated animate__fadeIn">{{ suggestion }}</p>
      <div class="flex justify-center gap-6">
        <!-- <button class="bg-green-600 text-white px-8 py-3 rounded-lg shadow-lg hover:bg-green-700 hover:scale-105 transition transform duration-200 focus:outline-none" (click)="contactSupport()">
          Contact Support
        </button> -->
        <button class="bg-yellow-500 text-white px-8 py-3 rounded-lg shadow-lg hover:bg-yellow-600 hover:scale-105 transition transform duration-200 focus:outline-none" (click)="goBack()">
          Go Back
        </button>
      </div>
    </div>
  </div>
  