<div class="block gap-6 p-6">

  <!-- Square cards row -->
  <div class="mb-5 flex flex-row gap-4">
    <app-square-component
      *ngFor="let card of squareCards"
      [config]="card">
    </app-square-component>
  </div>

  <!-- Timely row -->
  <div class="mt-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <app-rectangle-component
      *ngFor="let card of timelyCards"
      [config]="card">
    </app-rectangle-component>
  </div>

  <!-- Late row -->
  <div class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <app-rectangle-component
      *ngFor="let card of lateCards"
      [config]="card">
    </app-rectangle-component>
  </div>

</div>