<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<button (click)="back()" class="ml-5 text-textLight dark:text-textDark">
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>
<div class="h-[20px]"></div>

<div class="mx-auto p-6 bg-white dark:bg-tileBlack rounded-lg shadow-mg">
  <div *ngIf="itemId === null">
    <div *ngIf="selectedPage === 'pageOne'">
      <h2 class="text-2xl mb-6 text-textLight dark:text-textDark">
        Add Company Details
      </h2>
      <div>
        <div class="pb-6">
          <label
            for="regNumber"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >Registration Number of the Company</label
          >
          <input
            id="regNumber"
            name="regNumber"
            [(ngModel)]="companyData.regNumber"
            (blur)="onBlur('regNumber')"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
          <span *ngIf="isFieldInvalid('regNumber')" class="text-red-600 text-sm"
            >Register Number is required.</span
          >
        </div>

        <div class="pb-6">
          <label
            for="companyNameEnglish"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >Company Name (in English)</label
          >
          <input
            id="companyNameEnglish"
            name="companyNameEnglish"
            [(ngModel)]="companyData.companyNameEnglish"
            (blur)="onBlur('companyNameEnglish')"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
          <span
            *ngIf="isFieldInvalid('companyNameEnglish')"
            class="text-red-600 text-sm"
            >Company Name in English required.</span
          >
        </div>

        <div class="pb-6">
          <label
            for="companyNameSinhala"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >Company Name (in Sinhala)</label
          >
          <input
            id="companyNameSinhala"
            name="companyNameSinhala"
            [(ngModel)]="companyData.companyNameSinhala"
            (blur)="onBlur('companyNameSinhala')"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
          <span
            *ngIf="isFieldInvalid('companyNameSinhala')"
            class="text-red-600 text-sm"
            >Company Name in Sinhala required.</span
          >
        </div>

        <div class="pb-6">
          <label
            for="companyNameTamil"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >Company Name (in Tamil)</label
          >
          <input
            id="companyNameTamil"
            name="companyNameTamil"
            [(ngModel)]="companyData.companyNameTamil"
            (blur)="onBlur('companyNameTamil')"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
          <span
            *ngIf="isFieldInvalid('companyNameTamil')"
            class="text-red-600 text-sm"
            >Company Name in Tamil required.</span
          >
        </div>

        <div class="pb-6">
          <label
            for="email"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >Company Email Address</label
          >
          <input
            id="email"
            name="email"
            [(ngModel)]="companyData.email"
            (blur)="onBlur('email')"
            type="email"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
          <span *ngIf="isFieldInvalid('email')" class="text-red-600 text-sm"
            >Email is required.</span
          >
          <span
            *ngIf="companyData.email && !isValidEmail(companyData.email)"
            class="text-red-600 text-sm"
          >
            Enter a valid email address.
          </span>
        </div>

        <!-- <div class="pb-6">
            <label
              for="oicName"
              class="block text-sm font-medium text-gray-700 dark:text-textDark"
              >Officer In Charge Name</label
            >
            <input
              id="oicName"
              name="oicName"
              [(ngModel)]="companyData.oicName"
              class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
            />
            <div *ngIf="userForm.get('oicName')!.invalid && (userForm.get('oicName')!.dirty || userForm.get('oicName')!.touched)" class="text-red-500 text-sm mt-1">
              <div *ngIf="userForm.get('oicName')!.errors?.['required']">Name is required.</div>
            </div>
          </div> -->

        <!-- <div class="pb-6">
            <label
              for="oicEmail"
              class="block text-sm font-medium text-gray-700 dark:text-textDark"
              >Officer In Charge Email</label
            >
            <input
              id="oicEmail"
              name="oicEmail"
              [(ngModel)]="companyData.oicEmail"
              type="email"
              class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
            />
            <div *ngIf="userForm.get('oicEmail')!.invalid && (userForm.get('oicEmail')!.dirty || userForm.get('oicEmail')!.touched)" class="text-red-500 text-sm mt-1">
              <div *ngIf="userForm.get('oicEmail')!.errors?.['required']">Email is required.</div>
            </div>
          </div> -->

        <!-- <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
         
            <div>
                <label
                  for="phoneNumber01"
                  class="block text-sm font-medium text-gray-700 dark:text-textDark"
                >
                  Phone Number - 1
                </label>
                <div class="mt-1 flex">
                  <select
                    id="phoneNumber01Code"
                    name="phoneNumber01Code"
                    [(ngModel)]="companyData.oicConCode1"
                    class="block p-2 border border-gray-300 rounded-l-md bg-gray-50 mr-5 text-textLight dark:text-textDark dark:bg-tileBlack"
                  >
                    <option value="+94">+94 (LK)</option>
                    <option value="+1">+1 (US)</option>
                    <option value="+44">+44 (UK)</option>
                    <option value="+91">+91 (India)</option>
                  </select>
                  <input
                  [(ngModel)]="companyData.oicConNum1"
                    id="phoneNumber01"
                    name="phoneNumber01"
                    type="number"
                    class="block w-full p-2 border border-gray-300 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
                    placeholder="Enter your phone number"
                  />
                </div>
              </div>
    
              <div>
                <label
                  for="phoNumTwo"
                  class="block text-sm font-medium text-gray-700 dark:text-textDark"
                >
                  Phone Number - 2 (Optional)
                </label>
                <div class="mt-1 flex">
                  <select
                    id="phoneNumber02Code"
                    name="phoneNumber02Code"
                    [(ngModel)]="companyData.oicConCode2"
                    class="block p-2 border border-gray-300 rounded-l-md bg-gray-50 mr-5 text-textLight dark:text-textDark dark:bg-tileBlack"
                  >
                    <option value="+94">+94 (LK)</option>
                    <option value="+1">+1 (US)</option>
                    <option value="+44">+44 (UK)</option>
                    <option value="+91">+91 (India)</option>
                  </select>
                  <input
                    [(ngModel)]="companyData.oicConNum2"
                    id="phoneNumber02"
                    name="phoneNumber02"
                    type="number"
                    class="block w-full p-2 border border-gray-300 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
                    placeholder="Enter your phone number"
                  />
                  
                </div>
              </div>

        </div> -->
      </div>

      <div class="flex justify-end m-10">
        <!-- <button
          
          type="button"
          class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md mr-2"
        >
          Cancel
        </button> -->
        <button
          type="submit"
          class="px-4 py-2 bg-[#3980C0] text-white rounded-md"
          (click)="nextFormCreate('pageTwo')"
        >
          Next
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="itemId === null">
    <div *ngIf="selectedPage === 'pageTwo'">
      <h2 class="text-2xl mb-6 text-textLight dark:text-textDark">
        Billing Information
      </h2>
      <div>
        <div class="pb-6">
          <label
            for="accHolderName"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >Account Holder’s Name</label
          >
          <input
            id="accHolderName"
            name="accHolderName"
            [(ngModel)]="companyData.accHolderName"
            (blur)="onBlur('accHolderName')"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
          <span
            *ngIf="isFieldInvalid('accHolderName')"
            class="text-red-600 text-sm"
            >Account Holder Name is required.</span
          >
        </div>

        <div class="pb-6">
          <label for="accNumber" class="block text-sm font-medium text-gray-700 dark:text-textDark">
            Account Number
          </label>
          <input
            id="accNumber"
            name="accNumber"
            [(ngModel)]="companyData.accNumber"
            (blur)="onBlur('accNumber')"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
          <span *ngIf="isFieldInvalid('accNumber')" class="text-red-600 text-sm">
            Account Number is required.
          </span>
        </div>
        
        <div class="pb-6">
          <label for="confirmAccNumber" class="block text-sm font-medium text-gray-700 dark:text-textDark">
            Confirm Account Number
          </label>
          <input
            id="confirmAccNumber"
            name="confirmAccNumber"
            [(ngModel)]="companyData.confirmAccNumber"
            (blur)="onBlur('confirmAccNumber')"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
          
          <!-- Required validation message -->
          <span *ngIf="confirmAccountNumberRequired" class="text-red-600 text-sm">
            Confirm Account Number is required.
          </span>
        
          <!-- Mismatch validation message -->
          <span *ngIf="confirmAccountNumberError && !confirmAccountNumberRequired" class="text-red-600 text-sm">
            Account Numbers do not match.
          </span>
        </div>
        

        <div class="pb-6">
          <label for="bankDropdown" class="block text-sm font-medium text-gray-700 dark:text-textDark">
            Bank Name
          </label>
          <select 
            id="bankDropdown" 
            name="bankDropdown"
            [(ngModel)]="selectedBankId"
            (change)="onBankChange()"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack">
            <option [ngValue]="null" disabled>Select a bank</option>
            <option *ngFor="let bank of banks" [ngValue]="bank.ID">{{ bank.name }}</option>
          </select>
          <span *ngIf="isFieldInvalid('bankName')" class="text-red-600 text-sm">
            Bank Name is required.
          </span>
        </div>
        
        <div class="pb-6">
          <label for="branchDropdown" class="block text-sm font-medium text-gray-700 dark:text-textDark">
            Branch Name
          </label>
          <select 
            id="branchDropdown" 
            name="branchDropdown"
            [(ngModel)]="selectedBranchId"
            (change)="onBranchChange()"
            [disabled]="!selectedBankId"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack">
            <option [ngValue]="null" disabled>Select a branch</option>
            <option *ngFor="let branch of branches" [ngValue]="branch.ID">{{ branch.name }}</option>
          </select>
          <span *ngIf="isFieldInvalid('branchName')" class="text-red-600 text-sm">
            Branch Name is required.
          </span>
        </div>

        <div class="pb-6">
          <label
            for="companyEmail"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >Finance Officer’s Name</label
          >
          <input
            id="foName"
            name="foName"
            [(ngModel)]="companyData.foName"
            (blur)="onBlur('foName')"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
          <span *ngIf="isFieldInvalid('foName')" class="text-red-600 text-sm"
            >Register Number is required.</span
          >
        </div>
      </div>

      <div class="flex justify-end m-10">
        <button
          (click)="nextFormCreate('pageOne')"
          type="button"
          class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md mr-2"
        >
          Back
        </button>
        <button
          type="button"
          (click)="saveCompanyData()"
          [disabled]="!companyData.confirmAccNumber || !companyData.accNumber || !companyData.accHolderName || !companyData.bankName || !companyData.branchName || !companyData.foName || companyData.accNumber != companyData.confirmAccNumber"
          class="px-4 py-2 bg-[#3980C0] text-white rounded-md"
        >
          Submit
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="itemId !== null">
    <div *ngIf="selectedPage === 'pageOne'">
      <h2 class="text-2xl mb-6 text-textLight dark:text-textDark">
        Edit Company Details
      </h2>
      <div>
        <div class="pb-6">
          <label
            for="regNumber"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >Registration Number of the Company</label
          >
          <input
            [(ngModel)]="companyData.regNumber"
            id="regNumber"
            name="regNumber"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
          <div
            *ngIf="
              userForm.get('regNumber')!.invalid &&
              (userForm.get('regNumber')!.dirty ||
                userForm.get('regNumber')!.touched)
            "
            class="text-red-500 text-sm mt-1"
          >
            <div *ngIf="userForm.get('regNumber')!.errors?.['required']">
              Phone number is required.
            </div>
            <div *ngIf="userForm.get('regNumber')!.errors?.['pattern']">
              Please enter a valid phone number starting with +94 followed by 9
              digits.
            </div>
          </div>
        </div>

        <div class="pb-6">
          <label
            for="companyNameEnglish"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >Company Name (in English)</label
          >
          <input
            id="companyNameEnglish"
            name="companyNameEnglish"
            [(ngModel)]="companyData.companyNameEnglish"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
          <div
            *ngIf="
              userForm.get('companyNameEnglish')!.invalid &&
              (userForm.get('companyNameEnglish')!.dirty ||
                userForm.get('companyNameEnglish')!.touched)
            "
            class="text-red-500 text-sm mt-1"
          >
            <div
              *ngIf="userForm.get('companyNameEnglish')!.errors?.['required']"
            >
              Company Name is required.
            </div>
          </div>
        </div>

        <div class="pb-6">
          <label
            for="companyNameSinhala"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >Company Name (in Sinhala)</label
          >
          <input
            id="companyNameSinhala"
            name="companyNameSinhala"
            [(ngModel)]="companyData.companyNameSinhala"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
          <div
            *ngIf="
              userForm.get('companyNameSinhala')!.invalid &&
              (userForm.get('companyNameSinhala')!.dirty ||
                userForm.get('companyNameSinhala')!.touched)
            "
            class="text-red-500 text-sm mt-1"
          >
            <div
              *ngIf="userForm.get('companyNameSinhala')!.errors?.['required']"
            >
              Company Name is required.
            </div>
          </div>
        </div>

        <div class="pb-6">
          <label
            for="companyNameTamil"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >Company Name (in Tamil)</label
          >
          <input
            id="companyNameTamil"
            name="companyNameTamil"
            [(ngModel)]="companyData.companyNameTamil"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
          <div
            *ngIf="
              userForm.get('companyNameTamil')!.invalid &&
              (userForm.get('companyNameTamil')!.dirty ||
                userForm.get('companyNameTamil')!.touched)
            "
            class="text-red-500 text-sm mt-1"
          >
            <div *ngIf="userForm.get('companyNameTamil')!.errors?.['required']">
              Company Name is required.
            </div>
          </div>
        </div>

        <div class="pb-6">
          <label
            for="email"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >Company Email Address</label
          >
          <input
            id="email"
            name="email"
            [(ngModel)]="companyData.email"
            type="email"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
          <div
            *ngIf="
              userForm.get('email')!.invalid &&
              (userForm.get('email')!.dirty || userForm.get('email')!.touched)
            "
            class="text-red-500 text-sm mt-1"
          >
            <div *ngIf="userForm.get('email')!.errors?.['required']">
              Email is required.
            </div>
          </div>
        </div>

        <!-- <div class="pb-6">
            <label
              for="oicName"
              class="block text-sm font-medium text-gray-700 dark:text-textDark"
              >Officer In Charge Name</label
            >
            <input
              id="oicName"
              name="oicName"
              [(ngModel)]="companyData.oicName"
              class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
            />
            <div *ngIf="userForm.get('oicName')!.invalid && (userForm.get('oicName')!.dirty || userForm.get('oicName')!.touched)" class="text-red-500 text-sm mt-1">
              <div *ngIf="userForm.get('oicName')!.errors?.['required']">Name is required.</div>
            </div>
          </div>




          <div class="pb-6">
            <label
              for="oicEmail"
              class="block text-sm font-medium text-gray-700 dark:text-textDark"
              >Officer In Charge Email</label
            >
            <input
              id="oicEmail"
              name="oicEmail"
              [(ngModel)]="companyData.oicEmail"
              type="email"
              class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
            />
            <div *ngIf="userForm.get('oicEmail')!.invalid && (userForm.get('oicEmail')!.dirty || userForm.get('oicEmail')!.touched)" class="text-red-500 text-sm mt-1">
              <div *ngIf="userForm.get('oicEmail')!.errors?.['required']">Email is required.</div>
            </div>
          </div> -->

        <!-- <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
         
            <div>
                <label
                  for="phoneNumber01"
                  class="block text-sm font-medium text-gray-700 dark:text-textDark"
                >
                  Phone Number - 1
                </label>
                <div class="mt-1 flex">
                  <select
                    id="phoneNumber01Code"
                    name="phoneNumber01Code"
                    [(ngModel)]="companyData.oicConCode1"
                    class="block p-2 border border-gray-300 rounded-l-md bg-gray-50 mr-5 text-textLight dark:text-textDark dark:bg-tileBlack"
                  >
                    <option value="+94">+94 (LK)</option>
                    <option value="+1">+1 (US)</option>
                    <option value="+44">+44 (UK)</option>
                    <option value="+91">+91 (India)</option>
                  </select>
                  <input
                  [(ngModel)]="companyData.oicConNum1"
                    id="phoneNumber01"
                    name="phoneNumber01"
                    type="number"
                    class="block w-full p-2 border border-gray-300 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
                    placeholder="Enter your phone number"
                  />
                </div>
              </div>
    
              <div>
                <label
                  for="phoNumTwo"
                  class="block text-sm font-medium text-gray-700 dark:text-textDark"
                >
                  Phone Number - 2 (Optional)
                </label>
                <div class="mt-1 flex">
                  <select
                    id="phoneNumber02Code"
                    name="phoneNumber02Code"
                    [(ngModel)]="companyData.oicConCode2"
                    class="block p-2 border border-gray-300 rounded-l-md bg-gray-50 mr-5 text-textLight dark:text-textDark dark:bg-tileBlack"
                  >
                    <option value="+94">+94 (LK)</option>
                    <option value="+1">+1 (US)</option>
                    <option value="+44">+44 (UK)</option>
                    <option value="+91">+91 (India)</option>
                  </select>
                  <input
                    [(ngModel)]="companyData.oicConNum2"
                    id="phoneNumber02"
                    name="phoneNumber02"
                    type="number"
                    class="block w-full p-2 border border-gray-300 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
                    placeholder="Enter your phone number"
                  />
                  
                </div>
              </div>

        </div> -->
      </div>

      <div class="flex justify-end m-10">
        <button
          type="button"
          class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md mr-2"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="px-4 py-2 bg-[#3980C0] text-white rounded-md"
          (click)="nextFormCreate('pageTwo')"
        >
          Next
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="itemId !== null">
    <div *ngIf="selectedPage === 'pageTwo'">
      <h2 class="text-2xl mb-6 text-textLight dark:text-textDark">
        Edit Billing Information
      </h2>
      <div>
        <div class="pb-6">
          <label
            for="companyNameEnglish"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >Account Holder’s Name</label
          >
          <input
            id="companyNameEnglish"
            name="companyNameEnglish"
            [(ngModel)]="companyData.accHolderName"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
        </div>

        <div class="pb-6">
          <label for="accNumber" class="block text-sm font-medium text-gray-700 dark:text-textDark">
            Account Number
          </label>
          <input
            id="accNumber"
            name="accNumber"
            [(ngModel)]="companyData.accNumber"
            (blur)="onBlur('accNumber')"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
          <span *ngIf="isFieldInvalid('accNumber')" class="text-red-600 text-sm">
            Account Number is required.
          </span>
        </div>
        
        <div class="pb-6">
          <label for="confirmAccNumber" class="block text-sm font-medium text-gray-700 dark:text-textDark">
            Confirm Account Number
          </label>
          <input
            id="confirmAccNumber"
            name="confirmAccNumber"
            [(ngModel)]="companyData.confirmAccNumber"
            (blur)="onBlur('confirmAccNumber')"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
          
          <!-- Required validation message -->
          <span *ngIf="confirmAccountNumberRequired" class="text-red-600 text-sm">
            Confirm Account Number is required.
          </span>
        
          <!-- Mismatch validation message -->
          <span *ngIf="confirmAccountNumberError && !confirmAccountNumberRequired" class="text-red-600 text-sm">
            Account Numbers do not match.
          </span>
        </div>

        <div class="pb-6">
          <label
            for="bankDropdown"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >Bank Name</label
          >
          <select 
            id="bankDropdown" 
            name="bankDropdown"
            [(ngModel)]="selectedBankId"
            (change)="onBankChange()"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack">
            <option [ngValue]="null" disabled>Select a bank</option>
            <option *ngFor="let bank of banks" [ngValue]="bank.ID">{{ bank.name }}</option>
          </select>
        </div>
        
        <div class="pb-6">
          <label
            for="branchDropdown"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >Branch Name</label
          >
          <select 
            id="branchDropdown" 
            name="branchDropdown"
            [(ngModel)]="selectedBranchId"
            (change)="onBranchChange()"
            [disabled]="!selectedBankId"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack">
            <option [ngValue]="null" disabled>Select a branch</option>
            <option *ngFor="let branch of branches" [ngValue]="branch.ID">{{ branch.name }}</option>
          </select>
        </div>
      </div>

      <div class="flex justify-end m-10">
        <button
          (click)="nextFormCreate('pageOne')"
          type="button"
          class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md mr-2"
        >
          Back
        </button>
        <button
          type="button"
          (click)="updateCompanyData()"
          [disabled]="!companyData.confirmAccNumber || !companyData.accNumber || !companyData.accHolderName || !companyData.bankName || !companyData.branchName || companyData.accNumber != companyData.confirmAccNumber"
          class="px-4 py-2 bg-[#3980C0] text-white rounded-md"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
