<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div *ngIf="!hasData" class="text-center py-8">
  <p class="text-textLight dark:text-textDark text-lg">No data to display</p>
</div>
<div *ngIf="!isLoading">
  <div *ngIf="hasData">
    <div class="flex justify-end mb-4">
      <button
        class="bg-blue-500 text-white px-4 py-2 rounded-lg text-sm hover:bg-blue-600 transition"
      >
        Export Report
      </button>
    </div>

    <div class="w-[100%]">
      <app-dashbord-first-row [dashboardData]="dashboardData" />
    </div>
    <div class="my-10 w-[100%]">
      <app-dashbord-second-row
        [dashboardData]="dashboardData"
        [totalCultivationCount]="totalCultivationCount"
      />
    </div>
    <div
      class="flex flex-row justify-between gap-10 items-center my-10 w-[100%]"
    >
      <div class="h-auto w-[68%]">
        <app-dashbord-area-chart
          [qrUsers]="dashboardData.qrUsers"
          [allusers]="dashboardData.allusers"
        />
      </div>
      <div class="h-auto w-[32%]">
        <app-dashbord-pie-chart [dashboardData]="dashboardData" />
      </div>
    </div>
  </div>
</div>
