<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<button class="mb-5 text-textLight dark:text-textDark" (click)="goBack()">
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>

<div
  class="fixed-width-container overflow-x-auto scrollbar-thin scrollbar-thumb-[#8AC440] scrollbar-track-transparent scrollbar-thumb-rounded-full"
>
  <div
    class="pt-5 pr-12 pl-12 pb-5 min-w-[1400px] bg-tileLight dark:bg-tileBlack shadow-lg rounded-lg"
  >
    <div class="flex justify-between items-center mb-8">
      <div class="flex items-center">
        <h2 class="text-2xl font-normal text-textLight dark:text-textDark">
          Complaint List ({{ this.totalItems }})
        </h2>
      </div>
      <div class="flex items-center">
        <i class="mr-6 w-6 h-6 fill-current text-textLight dark:text-textDark">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M0 416c0 17.7 14.3 32 32 32l54.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 448c17.7 0 32-14.3 32-32s-14.3-32-32-32l-246.7 0c-12.3-28.3-40.5-48-73.3-48s-61 19.7-73.3 48L32 384c-17.7 0-32 14.3-32 32zm128 0a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM320 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm32-80c-32.8 0-61 19.7-73.3 48L32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l246.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48l54.7 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-54.7 0c-12.3-28.3-40.5-48-73.3-48zM192 128a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm73.3-64C253 35.7 224.8 16 192 16s-61 19.7-73.3 48L32 64C14.3 64 0 78.3 0 96s14.3 32 32 32l86.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 128c17.7 0 32-14.3 32-32s-14.3-32-32-32L265.3 64z"
            />
          </svg>
        </i>

        <div class="mr-5">
          <p-dropdown
            styleClass="border border-2 rounded-xl h-8 items-center bg-[#F1F1F1] dark:bg-[#272F45] text-textLight dark:text-textDark border-[#yourLightColor] dark:border-[#AFAFAF]"
            [options]="replyStatus"
            [checkmark]="true"
            optionLabel="status"
            optionValue="value"
            [showClear]="true"
            placeholder="Reply Status"
            [(ngModel)]="rpst"
            (onChange)="regStatusFil()"
          />
        </div>

        <div class="mr-5">
          <p-dropdown
            styleClass="border border-2 rounded-xl h-8 items-center bg-[#F1F1F1] dark:bg-[#272F45] text-textLight dark:text-textDark border-[#yourLightColor] dark:border-[#AFAFAF]"
            [autoZIndex]="true"
            [baseZIndex]="1000"
            appendTo="body"
            [options]="comCategories"
            [(ngModel)]="filterComCategory"
            [checkmark]="true"
            optionLabel="categoryEnglish"
            [showClear]="true"
            placeholder="Category"
            (onChange)="applyFilters()"
            appendTo="body"
          ></p-dropdown>
        </div>

        <div class="mr-5">
          <p-dropdown
            styleClass="border border-2 rounded-xl h-8 items-center bg-[#F1F1F1] dark:bg-[#272F45] text-textLight dark:text-textDark border-[#yourLightColor] dark:border-[#AFAFAF]"
            [autoZIndex]="true"
            [baseZIndex]="1000"
            appendTo="body"
            [options]="status"
            [(ngModel)]="filterStatus"
            [checkmark]="true"
            optionLabel="type"
            [showClear]="true"
            placeholder="Status"
            (onChange)="applyFilters()"
            appendTo="body"
          ></p-dropdown>
        </div>

        <div
          class="flex items-center rounded-full px-4 py-2 w-96 bg-[#F1F1F1] dark:bg-[#272F45]"
        >
          <input
            type="text"
            placeholder="Search.."
            [(ngModel)]="searchText"
            class="bg-transparent outline-none w-full text-textLight dark:text-textDark"
            (keydown.enter)="searchComplain()"
          />
          <button
            type="button"
            class="text-gray-500 hover:text-gray-700 focus:outline-none mr-2"
            (click)="searchComplain()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 10-14 0 7 7 0 0014 0z"
              />
            </svg>
          </button>
          <button
            type="button"
            class="text-gray-500 hover:text-gray-700 focus:outline-none"
            (click)="clearSearch()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="!hasData" class="text-center py-8">
      <p class="text-textLight dark:text-textDark text-lg">
        No data to display
      </p>
    </div>

    
    <div>
      <table
        class="min-w-full divide-y divide-gray-200 dark:divide-[#4B555A] table-auto"
      >
        <thead>
          <tr>
            <th
              class="py-3 font-normal text-textLight dark:text-textDark text-left"
            >
              Ref No.
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
            >
              Category
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
            >
              Farmer NIC
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
            >
              First Name
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
            >
              Last Name
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-centser"
            >
              Received At
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-centser"
            >
              Status
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-centser"
            >
              View
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-centser"
            >
              Reply
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-centser"
            >
              View Reply
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="border-b border-gray-200 dark:border-[#4B555A]"
            *ngFor="
              let item of complainsData
                | paginate
                  : {
                      itemsPerPage: itemsPerPage,
                      currentPage: page,
                      totalItems: totalItems
                    }
            "
          >
            <td class="py-3 dark:text-textDark text-left">
              {{ item.refNo }}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ item.complainCategory }}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ item.NIC }}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ item.farmerName }}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ item.lastName }}
            </td>

            <td class="px-4 py-3 text-center text-textLight dark:text-textDark">
              <div>{{ item.createdAt | date: 'yyyy/MM/dd' : 'Asia/Colombo' }}</div>
              <div>{{ item.createdAt | date: 'hh.mm a' : 'Asia/Colombo' }}</div>
            </td>
            
            <td class="px-4 py-3 text-green-500 text-center">
              <div *ngIf="item.status === 'Assigned'">
                <span
                  class="w-32 h-8 inline-block bg-green-100 text-green-500 font-medium rounded-md px-3 py-1 text-sm"
                  >{{ item.status }}</span
                >
              </div>
              <div *ngIf="item.status === 'Pending'">
                <span
                  class="w-32 h-8 inline-block bg-[#FFB9B7] text-[#D16D6A] font-medium rounded-md px-3 py-1 text-sm"
                  >{{ item.status }}</span
                >
              </div>
              <div *ngIf="item.status === 'Closed'">
                <span
                  class="w-32 h-8 inline-block bg-[#F8FFA6] text-[#A8A100] font-medium rounded-md px-3 py-1 text-sm"
                  >{{ item.status }}</span
                >
              </div>
            </td>

            <td class="px-4 py-3 text-center">
              <button
                class="w-5 h-5 text-blue-500 hover:text-blue-700"
                (click)="navigateSelectComplain(item.id, item.farmerName)"
              >
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3 14C3 9.02944 7.02944 5 12 5C16.9706 5 21 9.02944 21 14M17 14C17 16.7614 14.7614 19 12 19C9.23858 19 7 16.7614 7 14C7 11.2386 9.23858 9 12 9C14.7614 9 17 11.2386 17 14Z"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </td>

            <td class="px-4 py-3 text-green-500 text-center">
              <span
                *ngIf="item.reply === null"
                class="px-4 py-3 text-center text-textLight dark:text-textDark"
                >No</span
              >
              <span
                *ngIf="item.reply != null"
                class="px-4 py-3 text-center text-textLight dark:text-textDark"
                >Yes</span
              >
            </td>

            <td class="px-4 py-3 text-center text-textLight dark:text-textDark">
              <div *ngIf="item.reply === null">
                <button
                  disabled
                  class="w-5 h-5 text-blue-100"
                  (click)="fetchComplain(item.id, item.farmerName, item.language)"
                >
                  <i class="fa-solid fa-file-export"></i>
                </button>
              </div>

              <div *ngIf="item.reply != null">
                <button
                  class="w-5 h-5 text-blue-500 hover:text-blue-700"
                  (click)="fetchComplain(item.id, item.farmerName, item.language)"
                >
                  <i class="fa-solid fa-file-export"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="dark:bg-[#262f45]">
      <pagination-controls
        (pageChange)="onPageChange($event)"
        [responsive]="true"
        [previousLabel]="'Previous'"
        [nextLabel]="'Next'"
        [screenReaderPaginationLabel]="'Pagination'"
        [screenReaderPageLabel]="'page'"
        [screenReaderCurrentLabel]="'Youre on page'"
      >
      </pagination-controls>
    </div>
  </div>
</div>


<div
  *ngIf="showReplyModal"
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50"
>
  <div class="bg-white dark:bg-[#1f2937] rounded-lg shadow-lg w-[90%] max-w-xl p-6">
    <h2 class="text-xl font-semibold text-center mb-4">Reply as AgroWorld</h2>
    
    <div class="text-left space-y-4">
      <p *ngIf="selectedLanguage === 'Sinhala'">
        හිතවත් <strong>{{ selectedFarmerName }}</strong>,
      </p>
      <p *ngIf="selectedLanguage === 'Tamil'">
        அன்புள்ள <strong>{{ selectedFarmerName }}</strong>,
      </p>
      <p *ngIf="selectedLanguage !== 'Sinhala' && selectedLanguage !== 'Tamil'">
        Dear <strong>{{ selectedFarmerName }}</strong>,
      </p>

      <textarea
        class="w-full p-2 border rounded mt-2 mb-2 dark:bg-[#374151] dark:text-white"
        rows="5"
        [readOnly]="true"
        [(ngModel)]="selectedReply"
        [placeholder]="
          selectedLanguage === 'Sinhala' ? 'ඔබගේ පණිවුඩය මෙතැනට ඇතුලත් කරන්න...' :
          selectedLanguage === 'Tamil' ? 'உங்கள் செய்தியை இங்கே சேர்க்கவும்...' :
          'Add your message here...'
        "
      ></textarea>

      <p *ngIf="selectedLanguage === 'Sinhala'">
        ඔබට තවත් ගැටළු හෝ ප්‍රශ්න තිබේ නම්, කරුණාකර අප හා සම්බන්ධ වන්න. ඔබේ ඉවසීම සහ අවබෝධය වෙනුවෙන් ස්තූතියි.
      </p>
      <p *ngIf="selectedLanguage === 'Tamil'">
        உங்களுக்கு மேலும் ஏதேனும் சிக்கல்கள் அல்லது கேள்விகள் இருந்தால், தயவுசெய்து எங்களைத் தொடர்பு கொள்ளவும். உங்கள் பொறுமைக்கும் புரிதலுக்கும் நன்றி.
      </p>
      <p *ngIf="selectedLanguage !== 'Sinhala' && selectedLanguage !== 'Tamil'">
        If you have any further concerns or questions, feel free to reach out. Thank you for your patience and understanding.
      </p>

      <p class="mt-3">
        {{ selectedLanguage === 'Tamil' ? 'இதற்கு' :
           selectedLanguage === 'Sinhala' ? 'මෙයට' : 'Sincerely' }},
        <br />
        AgroWorld Customer Support Team
      </p>
    </div>

    <!-- Action buttons -->
    <div class="flex justify-end mt-6 space-x-3">
      <button
        class="w-28 px-4 py-2 bg-gray-400 text-white rounded"
        (click)="closeModal()"
      >
        Cancel
      </button>
      <button
        class="w-28 px-4 py-2 bg-[#3980C0] text-white rounded"
        (click)="sendReply()"
      >
        Send
      </button>
    </div>
  </div>
</div>
