<div class="p-4">
  <div class="flex justify-end mb-4">
    <button class="bg-blue-500 text-white px-4 py-2 rounded-lg text-sm">
      Export Report
    </button>
  </div>

  <!-- First row -->
  <app-admin-row [firstRow]="firstRow"></app-admin-row>

  <div class="h-4"></div>
  <!-- second row -->

  <app-plantcare-users-row [secondRow]="secondRow"></app-plantcare-users-row>

  <div class="h-4"></div>
  <!-- third row -->

  <app-collection-officer-users-row [thirdRow]="thirdRow"></app-collection-officer-users-row>
  

  <!-- Fourth row -->
  <app-sales-agents-row></app-sales-agents-row>

  
  
