<div class="p-4">
  <div class="flex justify-end mb-4">
    <button class="bg-blue-500 text-white px-4 py-2 rounded-lg text-sm">
      Export Report
    </button>
  </div>

  <!-- First row -->
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-2 gap-4 min-h-52"
  >
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4"
    >
      <div
        class="bg-[#3B82F6] text-white p-4 rounded-lg shadow-lg flex flex-col items-center justify-center text-center"
      >
        <i class="fa-regular fa-newspaper text-4xl mb-4"></i>
        <h2 class="text-lg font-semibold">Admin Users</h2>
        <h2 class="text-sm font-semibold">Total</h2>
        <p class="text-2xl font-bold">20</p>
      </div>

      <div
        class="flex flex-col items-center justify-center text-center bg-white p-4 rounded-lg shadow-lg"
      >
        <p class="text-xl font-thin text-gray-600">Active Admins</p>
        <p class="text-md font-thin text-gray-600">Just Now</p>
        <p class="text-4xl font-bold text-gray-900">05</p>
      </div>

      <div
        class="flex flex-col items-center justify-center text-center bg-white p-4 rounded-lg shadow-lg"
      >
        <p class="text-xl font-thin text-gray-600">New Admins</p>
        <p class="text-md font-thin text-gray-600">Today</p>
        <p class="text-4xl font-bold text-gray-900">0</p>
      </div>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-2 gap-4"
    >
      <div
        class="bg-white p-8 rounded-lg shadow-lg text-center flex flex-row justify-between items-center w-auto"
      >
        <p class="text-xl font-thin text-gray-600">Total Associate</p>
        <p class="text-4xl font-bold text-gray-900">11</p>
      </div>

      <div
        class="bg-white p-8 rounded-lg shadow-lg text-center flex flex-row justify-between items-center w-auto"
      >
        <p class="text-xl font-thin text-gray-600">Total Executives</p>
        <p class="text-4xl font-bold text-gray-900">11</p>
      </div>

      <div
        class="bg-white p-8 rounded-lg shadow-lg text-center flex flex-row justify-between items-center w-auto"
      >
        <p class="text-xl font-thin text-gray-600">Total Officers</p>
        <p class="text-4xl font-bold text-gray-900">20</p>
      </div>

      <div
        class="bg-white p-8 rounded-lg shadow-lg text-center flex flex-row justify-between items-center w-auto"
      >
        <p class="text-xl font-thin text-gray-600">Total Managers</p>
        <p class="text-4xl font-bold text-gray-900">20</p>
      </div>
    </div>
  </div>

  <div class="h-4"></div>
  <!-- second row -->

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-2 gap-4 min-h-52"
  >
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4"
    >
      <div
        class="bg-[#0D9488] text-white p-4 rounded-lg shadow-lg flex flex-col items-center justify-center text-center"
      >
        <i class="fa-regular fa-newspaper text-4xl mb-4"></i>
        <h2 class="text-lg font-semibold">APlantCare Users</h2>
        <h2 class="text-sm font-semibold">Total</h2>
        <p class="text-2xl font-bold">2000</p>
      </div>

      <div
        class="flex flex-col items-center justify-center text-center bg-white p-4 rounded-lg shadow-lg"
      >
        <p class="text-xl font-thin text-gray-600">Active Users</p>
        <p class="text-md font-thin text-gray-600">Just Now</p>
        <p class="text-4xl font-bold text-gray-900">50</p>
      </div>

      <div
        class="flex flex-col items-center justify-center text-center bg-white p-4 rounded-lg shadow-lg"
      >
        <p class="text-xl font-thin text-gray-600">New Users</p>
        <p class="text-md font-thin text-gray-600">Today</p>
        <p class="text-4xl font-bold text-gray-900">200</p>
      </div>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-2 gap-4"
    >
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-1 gap-4"
      >
        <div
          class="bg-white p-8 rounded-lg shadow-lg text-center flex flex-row justify-between items-center w-auto"
        >
          <p class="text-xl font-thin text-gray-600">QR Registered Users</p>
          <p class="text-4xl font-bold text-gray-900">200</p>
        </div>

        <div
          class="bg-white p-8 rounded-lg shadow-lg text-center flex flex-row justify-between items-center w-auto"
        >
          <p class="text-xl font-thin text-gray-600">Unregistered Users</p>
          <p class="text-4xl font-bold text-gray-900">100</p>
        </div>
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-1 gap-4"
      >
        <div
          class="bg-white p-8 rounded-lg shadow-lg text-center flex flex-row justify-between items-center w-auto"
        >
          <p class="text-xl font-thin text-gray-600">Total Managers</p>
          <p class="text-4xl font-bold text-gray-900">20</p>
        </div>
      </div>
    </div>
  </div>

  <div class="h-4"></div>
  <!-- third row -->
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-2 gap-4 min-h-52"
  >
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4"
    >
      <div
        class="bg-[#DA6200] text-white p-4 rounded-lg shadow-lg flex flex-col items-center justify-center text-center"
      >
        <i class="fa-regular fa-newspaper text-4xl mb-4"></i>
        <h2 class="text-lg font-semibold">Admin Users</h2>
        <h2 class="text-sm font-semibold">Total</h2>
        <p class="text-2xl font-bold">20</p>
      </div>

      <div
        class="flex flex-col items-center justify-center text-center bg-white p-4 rounded-lg shadow-lg"
      >
        <p class="text-xl font-thin text-gray-600">Active Officers</p>
        <p class="text-md font-thin text-gray-600">Just Now</p>
        <p class="text-4xl font-bold text-gray-900">100</p>
      </div>

      <div
        class="flex flex-col items-center justify-center text-center bg-white p-4 rounded-lg shadow-lg"
      >
        <p class="text-xl font-thin text-gray-600">New Officers</p>
        <p class="text-md font-thin text-gray-600">Today</p>
        <p class="text-4xl font-bold text-gray-900">02</p>
      </div>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-2 gap-4"
    >
      <div
        class="bg-white p-8 rounded-lg shadow-lg text-center flex flex-row justify-between items-center w-auto"
      >
        <p class="text-xl font-thin text-gray-600">Center Head Officers</p>
        <p class="text-4xl font-bold text-gray-900">11</p>
      </div>

      <div
        class="bg-white p-8 rounded-lg shadow-lg text-center flex flex-row justify-between items-center w-auto"
      >
        <p class="text-xl font-thin text-gray-600">Collection Officers</p>
        <p class="text-4xl font-bold text-gray-900">11</p>
      </div>

      <div
        class="bg-white p-8 rounded-lg shadow-lg text-center flex flex-row justify-between items-center w-auto"
      >
        <p class="text-xl font-thin text-gray-600">Center Managers</p>
        <p class="text-4xl font-bold text-gray-900">20</p>
      </div>

      <div
        class="bg-white p-8 rounded-lg shadow-lg text-center flex flex-row justify-between items-center w-auto"
      >
        <p class="text-xl font-thin text-gray-600">Customer Officers</p>
        <p class="text-4xl font-bold text-gray-900">20</p>
      </div>
    </div>
  </div>

  <!-- Fourth row -->
  <div
    class="pt-9 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-2 gap-4 h-52"
  >
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4"
    >
      <div class="bg-[#A05CA6] text-white p-4 rounded-lg shadow-lg">
        <h2 class="text-lg font-semibold">Admin Users</h2>
        <p class="text-2xl font-bold">20</p>
      </div>

      <div class="card">
        <p class="title">Center Head Officers</p>
        <p class="count">11</p>
      </div>

      <div class="card">
        <p class="title">Collection Officers</p>
        <p class="count">110</p>
      </div>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-2 gap-4"
    ></div>
  </div>
</div>
