<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<button class="mb-5 text-textLight dark:text-textDark" (click)="back()">
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>

<div class="flex w-full mb-10">
  <div class="flex w-full pt-5 px-40 pb-5 bg-white dark:bg-tileBlack shadow-lg rounded-lg items-center">
    <label for="regCode"
      class="text-gray-600 dark:text-textDark font-medium flex items-center justify-center align-middle w-40 mr-5">Filter
      By Centre :</label>
    <p-dropdown 
      [options]="centerOptions" 
      [(ngModel)]="regCode" 
      placeholder="Select Centre" 
      optionLabel="name"
      optionValue="code" 
      [filter]="false" 
      [showClear]="true" 
      (onClear)="clearSearch()"
      class="w-full" 
      styleClass="w-full border rounded-lg 
              bg-[#F1F1F1] dark:bg-[#272F45]
              text-gray-800 dark:text-gray-200
              border-[#D9D9D9] dark:border-gray-700"
    >
      <!-- Item template: show CODE - Name -->
      <ng-template let-opt pTemplate="item">
        <span>{{ opt.code }} - {{ opt.name }}</span>
      </ng-template>
      <!-- Selected template: show CODE - Name -->
      <ng-template let-opt pTemplate="selectedItem">
        <span *ngIf="opt">{{ opt.code }} - {{ opt.name }}</span>
      </ng-template>
    </p-dropdown>

    <button (click)="onSearch()"
      class="bg-blue-500 hover:bg-blue-600 text-white px-6 py-2 rounded-lg transition duration-200 ease-in-out ml-4 whitespace-nowrap">
      Go
    </button>
  </div>
</div>

<div
  class="fixed-width-container overflow-x-auto scrollbar-thin scrollbar-thumb-scrollBarColor scrollbar-track-transparent scrollbar-thumb-rounded-full">
  <div class="pt-5 pb-5 min-w-[1200px] bg-white dark:bg-tileBlack shadow-lg rounded-lg">
    <div class="flex space-x-4 pb-5 pr-12 pl-12 border-b border-gray-300">
      <button (click)="selectTab('all')" [ngClass]="{
          'border-2 border-[#415CFF] text-[#415CFF]': activeTab === 'all',
          'border border-gray-300 text-textLight dark:text-textDark':
            activeTab !== 'all'
        }" class="h-10 px-5 flex items-center justify-center rounded-full gap-2">
        <i *ngIf="activeTab === 'all'" class="fa fa-check"></i>
        All
      </button>
      <button (click)="selectTab('out-for-delivery')" [ngClass]="{
          'border-2 border-[#415CFF] text-[#415CFF]':
            activeTab === 'out-for-delivery',
          'border border-gray-300 text-textLight dark:text-textDark':
            activeTab !== 'out-for-delivery'
        }" class="h-10 px-5 flex items-center justify-center rounded-full gap-2">
        <i *ngIf="activeTab === 'out-for-delivery'" class="fa fa-check"></i>
        Out for Delivery
      </button>
      <button (click)="selectTab('collected')" [ngClass]="{
          'border-2 border-[#415CFF] text-[#415CFF]': activeTab === 'collected',
          'border border-gray-300 text-textLight dark:text-textDark':
            activeTab !== 'collected'
        }" class="h-10 px-5 flex items-center justify-center rounded-full gap-2">
        <i *ngIf="activeTab === 'collected'" class="fa fa-check"></i>
        Collected
      </button>
      <button (click)="selectTab('on-the-way')" [ngClass]="{
          'border-2 border-[#415CFF] text-[#415CFF]': activeTab === 'on-the-way',
          'border border-gray-300 text-textLight dark:text-textDark':
            activeTab !== 'on-the-way'
        }" class="h-10 px-5 flex items-center justify-center rounded-full gap-2">
        <i *ngIf="activeTab === 'on-the-way'" class="fa fa-check"></i>
        On the way
      </button>
      <button (click)="selectTab('hold')" [ngClass]="{
          'border-2 border-[#415CFF] text-[#415CFF]': activeTab === 'hold',
          'border border-gray-300 text-textLight dark:text-textDark':
            activeTab !== 'hold'
        }" class="h-10 px-5 flex items-center justify-center rounded-full gap-2">
        <i *ngIf="activeTab === 'hold'" class="fa fa-check"></i>
        Hold
      </button>
      <button (click)="selectTab('return')" [ngClass]="{
          'border-2 border-[#415CFF] text-[#415CFF]': activeTab === 'return',
          'border border-gray-300 text-textLight dark:text-textDark':
            activeTab !== 'return'
        }" class="h-10 px-5 flex items-center justify-center rounded-full gap-2">
        <i *ngIf="activeTab === 'return'" class="fa fa-check"></i>
        Return
      </button>
      <button (click)="selectTab('delivered')" [ngClass]="{
          'border-2 border-[#415CFF] text-[#415CFF]': activeTab === 'delivered',
          'border border-gray-300 text-textLight dark:text-textDark':
            activeTab !== 'delivered'
        }" class="h-10 px-5 flex items-center justify-center rounded-full gap-2">
        <i *ngIf="activeTab === 'delivered'" class="fa fa-check"></i>
        Delivered
      </button>
    </div>

    <div class="h-5"></div>

    <div *ngIf="activeTab === 'all'">
      <app-all-todays-deleveries [deliveries]="allFilteredDeliveries"></app-all-todays-deleveries>
    </div>
    <div *ngIf="activeTab === 'out-for-delivery'">
      <app-out-for-delivery-todays-deleveries
        [deliveries]="outForDeliveryData"></app-out-for-delivery-todays-deleveries>
    </div>
    <div *ngIf="activeTab === 'collected'">
      <app-collected [deliveries]="collectedData"></app-collected>
    </div>
    <div *ngIf="activeTab === 'on-the-way'">
      <app-on-the-way-todays-deleveries [deliveries]="onTheWayData"></app-on-the-way-todays-deleveries>
    </div>
    <div *ngIf="activeTab === 'hold'">
      <app-hold-todays-deleveries [holdDeliveries]="holdData"></app-hold-todays-deleveries>
    </div>
    <div *ngIf="activeTab === 'return'">
      <app-return-todays-deleveries [deliveries]="returnData"></app-return-todays-deleveries>
    </div>
    <div *ngIf="activeTab === 'delivered'">
      <app-delivered-todays-deleveries [deliveries]="deliveredData"></app-delivered-todays-deleveries>
    </div>
  </div>
</div>