<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<button class="mb-5 text-textLight dark:text-textDark" onclick="window.location.href='/plant-care/report-farmer-list'">
    <i class="fa-solid fa-arrow-left"></i>
    Back
</button>

<p class="text-textLight dark:text-textDark text-xl my-8">
    {{name}}
</p>

<div class="container w-full bg-white dark:bg-tileBlack shadow-lg rounded-lg px-32">
    <div *ngIf="assertReport.length > 0; else noData" class="flex justify-center overflow-x-auto">
        <table class="w-full divide-y divide-gray-200">
            <thead>
                <tr>
                    <th class="px-4 py-3 font-normal text-gray-500 dark:text-textDark text-left">Category</th>
                    <th class="px-4 py-3 font-normal text-gray-500 dark:text-textDark text-start">Total Price (LKR)</th>
                    <th class="px-3 py-3 font-normal text-gray-500 dark:text-textDark text-center">View</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let assert of assertReport">
                    <td class="px-4 py-3 text-start dark:text-textDark">
                        {{assert.category}}
                    </td>
                    <td class="px-4 py-3 text-start dark:text-textDark">
                        {{assert.totPrice}}
                    </td>
                    <td class="px-3 py-3 text-center">
                        <button class="w-5 h-5 text-blue-500 hover:text-blue-700" (click)="viewList(this.userId, assert.category )">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 14C3 9.02944 7.02944 5 12 5C16.9706 5 21 9.02944 21 14M17 14C17 16.7614 14.7614 19 12 19C9.23858 19 7 16.7614 7 14C7 11.2386 9.23858 9 12 9C14.7614 9 17 11.2386 17 14Z"
                                      stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Template for no data -->
    <ng-template #noData>
        <div class="flex justify-center py-10">
            <p class="text-gray-500 text-lg">No Current Asset Data</p>
        </div>
    </ng-template>
</div>