<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div *ngIf="!isLoading" class="overflow-x-auto">
  <div>
    <div class="pt-5 pb-5 min-w-[1400px] bg-tileLight dark:bg-tileBlack">
      <div class="mb-2">
        <h2 class="text-2xl font-normal text-textLight dark:text-textDark">
          {{centerObj.centerRegCode}} {{centerObj.centerName}}
        </h2>
      </div>
      <div class="flex justify-between items-center mb-8">
        <div class="flex items-center">
          <h2 class="text-2xl font-normal text-textLight dark:text-textDark">
            All ({{officerCount | number :'2.0'}})
          </h2>
        </div>

        <div class="flex items-center flex-wrap gap-4">
          <i class="mr-6 w-6 h-6 fill-current text-textLight dark:text-textDark">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                d="M0 416c0 17.7 14.3 32 32 32l54.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 448c17.7 0 32-14.3 32-32s-14.3-32-32-32l-246.7 0c-12.3-28.3-40.5-48-73.3-48s-61 19.7-73.3 48L32 384c-17.7 0-32 14.3-32 32zm128 0a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM320 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm32-80c-32.8 0-61 19.7-73.3 48L32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l246.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48l54.7 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-54.7 0c-12.3-28.3-40.5-48-73.3-48zM192 128a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm73.3-64C253 35.7 224.8 16 192 16s-61 19.7-73.3 48L32 64C14.3 64 0 78.3 0 96s14.3 32 32 32l86.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 128c17.7 0 32-14.3 32-32s-14.3-32-32-32L265.3 64z" />
            </svg>
          </i>
          <p class="text-gray-500 dark:text-textDark text-lg mr-5">Filter By</p>
          <div>
            <p-dropdown
              styleClass="border border-2 rounded-xl h-8 items-center bg-[#F1F1F1] dark:bg-[#272F45] text-textLight dark:text-textDark border-[#yourLightColor] dark:border-[#AFAFAF]"
              [checkmark]="false" [options]="statusOptions" [(ngModel)]="selectStatus" [showClear]="!!selectStatus" optionLabel="label" optionValue="value" placeholder="Status" (onChange)="changeStatus()"></p-dropdown>
          </div>

          <div>
            <p-dropdown
              styleClass="border border-2 rounded-xl h-8 items-center bg-[#F1F1F1] dark:bg-[#272F45] text-textLight dark:text-textDark border-[#yourLightColor] dark:border-[#AFAFAF]"
              [checkmark]="false" [(ngModel)]="selectRole" [options]="roleOptions" [showClear]="!!selectRole" optionLabel="label" optionValue="value" placeholder="Role" (onChange)="changeRole()"></p-dropdown>
          </div>

          <div class="flex items-center rounded-full px-4 py-2 w-96 bg-[#F1F1F1] dark:bg-[#272F45]">
            <input type="text" placeholder="Search by EMP ID, Name" [(ngModel)]="searchText" name="searchText"
              class="bg-transparent outline-none w-full text-textLight dark:text-textDark" (keydown.enter)="onSearch()" />
            <button type="button" class="text-gray-500 hover:text-gray-700 focus:outline-none mr-2" (click)="onSearch()">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 10-14 0 7 7 0 0014 0z" />
              </svg>
            </button>
            <button type="button" class="text-gray-500 hover:text-gray-700 focus:outline-none" (click)="offSearch()">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full overflow-x-auto border-2 border-gray-200 rounded-2xl">
      <table *ngIf="hasData" class="min-w-full divide-y divide-gray-200">
        <thead>
          <tr>
            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left">
              No
            </th>
            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left">
              EMP ID
            </th>
            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left">
              First Name
            </th>
            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left">
              Last Name
            </th>
            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left">
              Role
            </th>
            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center">
              Status
            </th>
            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center">
              Phone-1
            </th>
            <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center">
              NIC
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr class="hover:bg-gray-50 dark:hover:bg-gray-700" *ngFor="let item of officersArr; let i = index">
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{(i + 1) | number :'2.0'}}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{item.empId}}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{item.firstNameEnglish}}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{item.lastNameEnglish}}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{item.jobRole}}
            </td>
            <td class="px-4 py-3 text-center cursor-pointer">
              <span *ngIf="item.status === 'Rejected'" (click)="openPopup(item)"
                class="inline-block bg-[#FFB9B7] text-[#D16D6A] font-medium rounded-md px-4 py-2 text-xs text-center w-32">
                Rejected
              </span>
              <span *ngIf="item.status === 'Not Approved'" (click)="openPopup(item)"
                class="inline-block bg-[#F8FFA6] text-[#A8A100] font-medium rounded-md px-4 py-2 text-xs text-center w-32">
                Not Approved
              </span>
              <span *ngIf="item.status === 'Approved'" (click)="openPopup(item)"
                class="inline-block bg-[#C8E0FF] text-[#415CFF] font-medium rounded-md px-4 py-2 text-xs text-center w-32">
                Approved
              </span>
            </td>
            <td class="px-4 py-3 text-center text-textLight dark:text-textDark">
              {{item.phoneNumber01 === null ? '-' : item.phoneCode01 + '-' + item.phoneNumber01}}
            </td>
            <td class="px-4 py-3 text-center text-textLight dark:text-textDark">
              {{item.nic}}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark" (click)="navigateProfile(item.id)">
              <button class="text-[#000] hover:text-[#83aefd] text-[22px]">
                <i class="fa-regular fa-file dark:text-[#fff]"></i>
              </button>
            </td>

            <td class="px-4 py-3 text-center text-textLight dark:text-textDark">
              <button class="text-blue-400 hover:text-blue-700">
                <svg fill="currentColor" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <title>pen-to-square</title>
                  <path
                    d="M7.263 19.051l-1.656 5.797c-0.030 0.102-0.048 0.22-0.048 0.342 0 0.691 0.559 1.251 1.25 1.252h0c0.126-0 0.248-0.019 0.363-0.053l-0.009 0.002 5.622-1.656c0.206-0.063 0.383-0.17 0.527-0.311l-0 0 17.568-17.394c0.229-0.227 0.371-0.541 0.371-0.889 0-0.345-0.14-0.657-0.365-0.883l-4.141-4.142c-0.227-0.226-0.539-0.366-0.885-0.366s-0.658 0.14-0.885 0.366v0l-17.394 17.394c-0.146 0.146-0.256 0.329-0.316 0.532l-0.002 0.009zM25.859 3.768l2.369 2.369-2.369 2.346-2.37-2.345zM9.578 20.049l12.144-12.144 2.361 2.336-12.307 12.184-3.141 0.924zM30 12.75c-0.69 0-1.25 0.56-1.25 1.25v14.75h-25.5v-25.5h14.75c0.69 0 1.25-0.56 1.25-1.25s-0.56-1.25-1.25-1.25v0h-16c-0.69 0-1.25 0.56-1.25 1.25v0 28c0 0.69 0.56 1.25 1.25 1.25h28c0.69-0.001 1.249-0.56 1.25-1.25v-16c-0-0.69-0.56-1.25-1.25-1.25h-0z">
                  </path>
                </svg>
              </button>

              <button class="w-6 h-6 text-[#367bfa] hover:text-[#83aefd]" (click)="editDistributionOfficer(item.id)">
                <svg fill="currentColor" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <title>Edit</title>
                  <path
                    d="M7.263 19.051l-1.656 5.797c-0.030 0.102-0.048 0.22-0.048 0.342 0 0.691 0.559 1.251 1.25 1.252h0c0.126-0 0.248-0.019 0.363-0.053l-0.009 0.002 5.622-1.656c0.206-0.063 0.383-0.17 0.527-0.311l-0 0 17.568-17.394c0.229-0.227 0.371-0.541 0.371-0.889 0-0.345-0.14-0.657-0.365-0.883l-4.141-4.142c-0.227-0.226-0.539-0.366-0.885-0.366s-0.658 0.14-0.885 0.366v0l-17.394 17.394c-0.146 0.146-0.256 0.329-0.316 0.532l-0.002 0.009zM25.859 3.768l2.369 2.369-2.369 2.346-2.37-2.345zM9.578 20.049l12.144-12.144 2.361 2.336-12.307 12.184-3.141 0.924zM30 12.75c-0.69 0-1.25 0.56-1.25 1.25v14.75h-25.5v-25.5h14.75c0.69 0 1.25-0.56 1.25-1.25s-0.56-1.25-1.25-1.25v0h-16c-0.69 0-1.25 0.56-1.25 1.25v0 28c0 0.69 0.56 1.25 1.25 1.25h28c0.69-0.001 1.249-0.56 1.25-1.25v-16c-0-0.69-0.56-1.25-1.25-1.25h-0z">
                  </path>
                </svg>
              </button>
            </td>
            <td class="px-4 py-3 text-center text-textLight dark:text-textDark">
              <button class="text-red-500 hover:text-red-700" (click)="deleteDistributionOfficer(item.id)">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                  viewBox="0 0 24 24">
                  <title>Delete</title>
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1 1 1H7a1 1 0 0 1-1-1V7Z" />
                </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="8" class="px-4 py-6 text-center text-textLight dark:text-textDark"></td>
          </tr>
        </tbody>
      </table>
      <!-- <div *ngIf="hasData" class="dark:bg-[#262f45]">
        <pagination-controls [responsive]="true" [previousLabel]="'Previous'" [nextLabel]="'Next'"
          [screenReaderPaginationLabel]="'Pagination'" [screenReaderPageLabel]="'page'"
          [screenReaderCurrentLabel]="'Youre on page'">
        </pagination-controls>
      </div> -->

      <div *ngIf="!hasData" class="flex flex-col items-center w-full h-screen px-10 py-7 mt-6">
        <p class="text-[#494949] my-6 dark:text-textDark">
          --No Data Available--
        </p>
        <img src="assets/images/NoData.png" alt="No Data" class="w-20 h-20" />
      </div>
    </div>
  </div>
</div>