<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div>
  <button (click)="back()"
 class="text-textLight dark:text-textDark">
    <i class="fa-solid fa-arrow-left"></i>
    Back
  </button>
  <div class="h-[20px]"></div>
  <div class="mx-auto p-6 bg-white dark:bg-tileBlack rounded-lg shadow-md">
    <h2
      class="text-lg font-semibold text-center mb-4 text-textLight dark:text-textDark"
    >
      Index No: {{ indexId }}
    </h2>

    <div class="border-b mb-6 px-12">
      <ul class="flex">
        <li
          class="cursor-pointer py-2 px-4 text-center border-b-2 text-textLight dark:text-textDark"
          [ngClass]="{ 'border-[#3B82F6]': selectedLanguage === 'english' }"
          (click)="selectLanguage('english')"
        >
          English
        </li>
        <li
          class="cursor-pointer py-2 px-4 text-center border-b-2 text-textLight dark:text-textDark"
          [ngClass]="{ 'border-[#3B82F6]': selectedLanguage === 'sinhala' }"
          (click)="selectLanguage('sinhala')"
        >
          Sinhala
        </li>
        <li
          class="cursor-pointer py-2 px-4 text-center border-b-2 text-textLight dark:text-textDark"
          [ngClass]="{ 'border-[#3B82F6]': selectedLanguage === 'tamil' }"
          (click)="selectLanguage('tamil')"
        >
          Tamil
        </li>
      </ul>
    </div>

    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="px-12" *ngIf="selectedLanguage === 'english'">
        <div class="my-3">
          <label
            for="taskEnglish"
            class="block text-sm font-medium text-textLight dark:text-textDark"
            >Task<span style="color: #2e2e2e">*</span>
          </label>

          <input
            formControlName="taskEnglish"
            id="taskEnglish"
            name="taskEnglish"
            [(ngModel)]="cropTaskObj.taskEnglish"
            (keydown)="allowOnlyEnglishLetters($event)"
            (input)="capitalizeFirstLetter($event)"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
          />

          <div
            *ngIf="
              taskForm.get('taskEnglish')?.touched &&
              taskForm.get('taskEnglish')?.hasError('required')
            "
            class="text-red-500 text-sm mt-1"
          >
            Task Name is required.
          </div>
        </div>

        <div class="my-3">
          <label
            for="taskTypeEnglish"
            class="block text-sm font-medium text-textLight dark:text-textDark"
            >Task Type<span style="color: #2e2e2e">*</span>
          </label>
          <input
            formControlName="taskTypeEnglish"
            id="taskTypeEnglish"
            name="taskTypeEnglish"
            [(ngModel)]="cropTaskObj.taskTypeEnglish"
            (keydown)="allowOnlyEnglishLetters($event)"
            (input)="capitalizeFirstLetter($event)"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
          />
          <div
            *ngIf="
              taskForm.get('taskTypeEnglish')?.touched &&
              taskForm.get('taskTypeEnglish')?.hasError('required')
            "
            class="text-red-500 text-sm mt-1"
          >
            Task Type is required.
          </div>
        </div>

        <div class="md:col-span-2 my-3">
          <label
            for="taskCategoryEnglish"
            class="block text-sm font-medium text-textLight dark:text-textDark"
            >Task Category<span style="color: #2e2e2e">*</span>
          </label>
          <input
            formControlName="taskCategoryEnglish"
            id="taskCategoryEnglish"
            [(ngModel)]="cropTaskObj.taskCategoryEnglish"
            name="taskCategoryEnglish"
            (keydown)="allowOnlyEnglishLetters($event)"
            (input)="capitalizeFirstLetter($event)"
            rows="3"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
          />
          <div
            *ngIf="
              taskForm.get('taskCategoryEnglish')?.touched &&
              taskForm.get('taskCategoryEnglish')?.hasError('required')
            "
            class="text-red-500 text-sm mt-1"
          >
            Task Category is required.
          </div>
        </div>

        <div class="md:col-span-2 my-3">
          <label
            for="taskDescriptionEnglish"
            class="block text-sm font-medium text-textLight dark:text-textDark"
            >Task Description<span style="color: #2e2e2e">*</span>
          </label>
          <textarea
            rows="5"
            formControlName="taskDescriptionEnglish"
            id="taskDescriptionEnglish"
            [(ngModel)]="cropTaskObj.taskDescriptionEnglish"
            name="taskDescriptionEnglish"
            (keydown)="allowOnlyEnglishLetters($event)"
            (input)="capitalizeFirstLetter($event)"
            rows="3"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
          ></textarea>
          <div
            *ngIf="
              taskForm.get('taskDescriptionEnglish')?.touched &&
              taskForm.get('taskDescriptionEnglish')?.hasError('required')
            "
            class="text-red-500 text-sm mt-1"
          >
            Task Descriprion is required.
          </div>
        </div>
      </div>

      <div class="px-12" *ngIf="selectedLanguage === 'sinhala'">
        <!-- Task in Sinhala -->
        <div class="my-2">
          <label
            for="taskSinhala"
            class="block text-sm font-medium text-textLight dark:text-textDark"
          >
            Task in Sinhala<span style="color: #2e2e2e">*</span>
          </label>
          <input
            formControlName="taskSinhala"
            id="taskSinhala"
            [(ngModel)]="cropTaskObj.taskSinhala"
            (keydown)="allowOnlySinhalaLetters($event)"
            name="taskSinhala"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
          />
          <div
            *ngIf="
              taskForm.get('taskSinhala')?.touched &&
              taskForm.get('taskSinhala')?.hasError('required')
            "
            class="text-red-500 text-sm mt-1"
          >
            Task in Sinhala is required.
          </div>
        </div>

        <!-- Task Type in Sinhala -->
        <div class="my-2">
          <label
            for="taskTypeSinhala"
            class="block text-sm font-medium text-textLight dark:text-textDark"
          >
            Task Type in Sinhala<span style="color: #2e2e2e">*</span>
          </label>
          <input
            formControlName="taskTypeSinhala"
            id="taskTypeSinhala"
            [(ngModel)]="cropTaskObj.taskTypeSinhala"
            (keydown)="allowOnlySinhalaLetters($event)"
            name="taskTypeSinhala"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
          />
          <div
            *ngIf="
              taskForm.get('taskTypeSinhala')?.touched &&
              taskForm.get('taskTypeSinhala')?.hasError('required')
            "
            class="text-red-500 text-sm mt-1"
          >
            Task Type in Sinhala is required.
          </div>
        </div>

        <!-- Task Category in Sinhala -->
        <div class="md:col-span-2 my-3">
          <label
            for="taskCategorySinhala"
            class="block text-sm font-medium text-textLight dark:text-textDark"
          >
            Task Category in Sinhala<span style="color: #2e2e2e">*</span>
          </label>
          <input
            formControlName="taskCategorySinhala"
            id="taskCategorySinhala"
            [(ngModel)]="cropTaskObj.taskCategorySinhala"
            (keydown)="allowOnlySinhalaLetters($event)"
            name="taskCategorySinhala"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
          />
          <div
            *ngIf="
              taskForm.get('taskCategorySinhala')?.touched &&
              taskForm.get('taskCategorySinhala')?.hasError('required')
            "
            class="text-red-500 text-sm mt-1"
          >
            Task Category in Sinhala is required.
          </div>
        </div>

        <!-- Task Description in Sinhala -->
        <div class="md:col-span-2 my-3">
          <label
            for="taskDescriptionSinhala"
            class="block text-sm font-medium text-textLight dark:text-textDark"
          >
            Task Description in Sinhala<span style="color: #2e2e2e">*</span>
          </label>
          <textarea
            formControlName="taskDescriptionSinhala"
            id="taskDescriptionSinhala"
            [(ngModel)]="cropTaskObj.taskDescriptionSinhala"
            (keydown)="allowOnlySinhalaLetters($event)"
            name="taskDescriptionSinhala"
            rows="5"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
          ></textarea>
          <div
            *ngIf="
              taskForm.get('taskDescriptionSinhala')?.touched &&
              taskForm.get('taskDescriptionSinhala')?.hasError('required')
            "
            class="text-red-500 text-sm mt-1"
          >
            Task Description in Sinhala is required.
          </div>
        </div>
      </div>

      <div class="px-12" *ngIf="selectedLanguage === 'tamil'">
        <!-- Task in Tamil -->
        <div class="my-2">
          <label
            for="taskTamil"
            class="block text-sm font-medium text-textLight dark:text-textDark"
          >
            Task in Tamil<span style="color: #2e2e2e">*</span>
          </label>
          <input
            formControlName="taskTamil"
            id="taskTamil"
            [(ngModel)]="cropTaskObj.taskTamil"
            (keydown)="allowOnlyTamilLetters($event)"
            name="taskTamil"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
          />
          <div
            *ngIf="
              taskForm.get('taskTamil')?.touched &&
              taskForm.get('taskTamil')?.hasError('required')
            "
            class="text-red-500 text-sm mt-1"
          >
            Task in Tamil is required.
          </div>
        </div>

        <!-- Task Type in Tamil -->
        <div class="my-2">
          <label
            for="taskTypeTamil"
            class="block text-sm font-medium text-textLight dark:text-textDark"
          >
            Task Type in Tamil<span style="color: #2e2e2e">*</span>
          </label>
          <input
            formControlName="taskTypeTamil"
            id="taskTypeTamil"
            [(ngModel)]="cropTaskObj.taskTypeTamil"
            (keydown)="allowOnlyTamilLetters($event)"
            name="taskTypeTamil"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
          />
          <div
            *ngIf="
              taskForm.get('taskTypeTamil')?.touched &&
              taskForm.get('taskTypeTamil')?.hasError('required')
            "
            class="text-red-500 text-sm mt-1"
          >
            Task Type in Tamil is required.
          </div>
        </div>

        <!-- Task Category in Tamil -->
        <div class="md:col-span-2 my-2">
          <label
            for="taskCategoryTamil"
            class="block text-sm font-medium text-textLight dark:text-textDark"
          >
            Task Category in Tamil<span style="color: #2e2e2e">*</span>
          </label>
          <input
            formControlName="taskCategoryTamil"
            id="taskCategoryTamil"
            [(ngModel)]="cropTaskObj.taskCategoryTamil"
            (keydown)="allowOnlyTamilLetters($event)"
            name="taskCategoryTamil"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
          />
          <div
            *ngIf="
              taskForm.get('taskCategoryTamil')?.touched &&
              taskForm.get('taskCategoryTamil')?.hasError('required')
            "
            class="text-red-500 text-sm mt-1"
          >
            Task Category in Tamil is required.
          </div>
        </div>

        <!-- Task Description in Tamil -->
        <div class="md:col-span-2 my-3">
          <label
            for="taskDescriptionTamil"
            class="block text-sm font-medium text-textLight dark:text-textDark"
          >
            Task Description in Tamil<span style="color: #2e2e2e">*</span>
          </label>
          <textarea
            formControlName="taskDescriptionTamil"
            id="taskDescriptionTamil"
            (keydown)="allowOnlyTamilLetters($event)"
            [(ngModel)]="cropTaskObj.taskDescriptionTamil"
            name="taskDescriptionTamil"
            rows="5"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
          ></textarea>
          <div
            *ngIf="
              taskForm.get('taskDescriptionTamil')?.touched &&
              taskForm.get('taskDescriptionTamil')?.hasError('required')
            "
            class="text-red-500 text-sm mt-1"
          >
            Task Description in Tamil is required.
          </div>
        </div>
      </div>

      <div class="flex justify-between">
        <div class="px-12 my-3">
          <div class="flex items-center w-full">
            <label
              for="startingDate"
              class="whitespace-nowrap mr-6 text-sm font-medium text-textLight dark:text-textDark"
            >
              Add Days<span style="color: #2e2e2e">*</span>
            </label>

            <input
              type="number"
              formControlName="startingDate"
              id="startingDate"
              name="startingDate"
              [(ngModel)]="cropTaskObj.startingDate"
              min="0"
              step="1"
              inputmode="numeric"
              class="w-24 p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
              (keypress)="onlyAllowIntegers($event)"
            />
          </div>

          <div
            *ngIf="
              taskForm.get('startingDate')?.touched &&
              taskForm.get('startingDate')?.hasError('required')
            "
            class="text-red-500 text-sm mt-1"
          >
            Number of days are required.
          </div>
        </div>

        <!-- <div class="flex items-center my-3 px-12">
          <label
            for="startingDate"
            class="block w-[100%] mr-2 text-sm font-medium text-textLight dark:text-textDark"
            >Add Days</label
          >
          <input
            type="number"
            formControlName="startingDate"
            id="startingDate"
            [(ngModel)]="cropTaskObj.startingDate"
            name="startingDate"
            step="1"
            inputmode="numeric"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
            (keypress)="onlyAllowIntegers($event)"
          />
        </div> -->

        <div class="px-12 my-3">
          <div class="flex items-center w-full">
            <label
              for="image"
              class="whitespace-nowrap mr-4 text-sm font-medium text-textLight dark:text-textDark"
            >
              Add No. of Images Required
            </label>

            <input
              type="number"
              formControlName="images"
              id="image"
              name="images"
              [(ngModel)]="cropTaskObj.reqImages"
              step="1"
              min="1"
              inputmode="numeric"
              class="flex-1 p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
              (keypress)="onlyAllowIntegers($event)"
              (blur)="blockZeroValue($event)"
            />
          </div>

     

          <div
            *ngIf="
              taskForm.get('images')?.touched &&
              taskForm.get('images')?.hasError('min')
            "
            class="text-red-500 text-sm mt-1"
          >
            Number of images must be at least 1.
          </div>
        </div>
      </div>

      <div class="flex items-center md:col-span-2 my-3 px-12">
        <label
          class="block text-sm font-medium text-textLight dark:text-textDark"
          >Want to Add Images?<span style="color: #2e2e2e">*</span>
        </label>
        <div class="mt-1 ml-6">
          <label class="inline-flex items-center">
            <input
              type="radio"
              [(ngModel)]="requireImageLink"
              [value]="'yes'"
              formControlName="reqImages"
              class="form-radio"
            />
            <span class="ml-2 dark:text-textDark">Yes</span>
          </label>
          <label class="inline-flex items-center ml-32">
            <input
              type="radio"
              [(ngModel)]="requireImageLink"
              [value]="'no'"
              formControlName="reqImages"
              class="form-radio"
            />
            <span class="ml-2 dark:text-textDark">No</span>
          </label>
        </div>
      </div>

      <!-- Conditional Input Field -->
      <div *ngIf="requireImageLink === 'yes'" class="md:col-span-2 my-3 px-12">
        <label
          for="imageLink"
          class="block text-sm font-medium text-textLight dark:text-textDark"
          >Image Link<span style="color: #2e2e2e">*</span>
        </label>
        <input
          min="0"
          formControlName="imageLink"
          id="imageLink"
          [(ngModel)]="cropTaskObj.imageLink"
          name="imageLink"
          rows="3"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
        />
        <div
          *ngIf="
            taskForm.get('imageLink')?.touched && !this.cropTaskObj.imageLink
          "
          class="text-red-500 text-sm mt-1"
        >
          Image Link is required when "Want to Add Images?" is Yes.
        </div>
      </div>

      <div class="md:col-span-2 my-3 px-12">
        <label
          for="videoLinkEnglish"
          class="block text-sm font-medium text-textLight dark:text-textDark"
        >
          Video Link English
        </label>
        <input
          min="0"
          formControlName="videoLinkEnglish"
          id="videoLinkEnglish"
          [(ngModel)]="cropTaskObj.videoLinkEnglish"
          name="videoLinkEnglish"
          rows="3"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
        />
      </div>

      <div class="md:col-span-2 my-3 px-12">
        <label
          for="videoLinkSinhala"
          class="block text-sm font-medium text-textLight dark:text-textDark"
        >
          Video Link Sinhala
        </label>
        <input
          min="0"
          formControlName="videoLinkSinhala"
          id="videoLinkSinhala"
          [(ngModel)]="cropTaskObj.videoLinkSinhala"
          name="videoLinkSinhala"
          rows="3"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
        />
      </div>

      <div class="md:col-span-2 my-3 px-12">
        <label
          for="videoLinkTamil"
          class="block text-sm font-medium text-textLight dark:text-textDark"
        >
          Video Link Tamil
        </label>
        <input
          min="0"
          formControlName="videoLinkTamil"
          id="videoLinkTamil"
          [(ngModel)]="cropTaskObj.videoLinkTamil"
          name="videoLinkTamil"
          rows="3"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
        />
      </div>

      <div class="flex justify-end mt-6 px-12">
        <button
          type="button"
          class="px-4 py-2 bg-[#74788D] text-white rounded-md mr-2"
          (click)="onCancel()"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="px-4 py-2 bg-[#3980C0] text-white rounded-md"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
