<button
  class="mb-5 text-textLight dark:text-textDark"
  onclick="window.location.href='/collection-hub'"
>
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>
<div
  class="pt-5 pr-12 pl-12 pb-5 w-100 bg-tileLight dark:bg-tileBlack shadow-lg rounded-lg"
>
  <div>
    <div class="text-center mb-4">
      <p class="text-sm text-gray-600 dark:text-textDark">Ref No : 868768688</p>
      <p class="text-sm text-gray-600 dark:text-textDark">
        Preferred Language: <span class="font-semibold">Sinhala</span>
      </p>
      <p class="text-sm text-gray-600 dark:text-textDark">Received: 2024/10/24 at 11.55 AM</p>
    </div>

    <div class="flex flex-row mb-6 justify-between">
      <label class="block text-gray-700 mb-2 mr-12 dark:text-textDark">Complain</label>
      <textarea class="w-full p-4 border rounded-lg bg-gray-100 text-textLight dark:text-textDark dark:bg-tileBlack" rows="4">
      </textarea>
    </div>

    <div class="grid grid-cols-2 gap-4 mb-6">
      <div class="flex flex-row justify-between">
        <label class="block text-gray-700 dark:text-textDark  mb-2 mr-11"
          >Center Name</label
        >
        <input
          type="text"
          value=""
          class="w-full p-4 border rounded-lg bg-gray-100 text-textLight dark:text-textDark dark:bg-tileBlack"
        />
      </div>
      <div class="flex flex-row justify-between">
        <label class="block text-gray-700 dark:text-textDark mb-2"
          >Contact (Center)</label
        >
        <input
          type="text"
          value=""
          class="w-full p-4 border rounded-lg bg-gray-100 text-textLight dark:text-textDark dark:bg-tileBlack"
        />
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mb-6">
      <div class="flex flex-row justify-between">
        <label class="block text-gray-700 dark:text-textDark mb-2 mr-7"
          >Sent by (Officer)</label
        >
        <input
          type="text"
          value=""
          class="w-full p-4 border rounded-lg bg-gray-100 text-textLight dark:text-textDark dark:bg-tileBlack"
        />
      </div>
      <div class="flex flex-row justify-between">
        <label class="block text-gray-700 dark:text-textDark mb-2 mr-"
          >Contact (Officer)</label
        >
        <input
          type="text"
          value=""
          class="w-full p-4 border rounded-lg bg-gray-100 text-textLight dark:text-textDark dark:bg-tileBlack"
        />
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mb-6">
      <div class="flex flex-row justify-between">
        <label class="block text-gray-700 dark:text-textDark mb-2">
          Complainant (Farmer)</label
        >
        <input
          type="text"
          value=""
          class="w-full p-4 border rounded-lg bg-gray-100 text-textLight dark:text-textDark dark:bg-tileBlack"
        />
      </div>
      <div class="flex flex-row justify-between">
        <label class="block text-gray-700 dark:text-textDark mb-2"
          >Contact (Farmer)</label
        >
        <input
          type="text"
          value=""
          class="w-full p-4 border rounded-lg bg-gray-100 text-textLight dark:text-textDark dark:bg-tileBlack"
        />
      </div>
    </div>

    <div class="text-center">
      <button
        class="bg-blue-500 text-white font-bold py-2 px-4 rounded-lg hover:bg-blue-600"
      >
        Send Message
      </button>
    </div>
  </div>
</div>
