<div class="flex flex-row justify-between items-center">

    <div class="flex flex-row justify-between items-center bg-white px-4 rounded-lg shadow-lg">
        <div class="flex justify-center items-center bg-[#CCFBF1] py-4 px-6 rounded-full">
            <i class="fa-solid fa-bookmark text-3xl text-[#0D9488]"></i>
        </div>

        <div class="flex flex-col items-center py-5 px-7 rounded-full">
            <div>
                <p class="text-[#4B5563] text-lg">Total Sales</p>
                <p class="text-black text-2xl">5,55,63,255</p>
            </div>
        </div>

        <div class="flex flex-1 flex-col items-end justify-center py-5 px-4 rounded-full">
            <div class="flex flex-row items-center justify-end">
                <i class="fa-solid fa-arrow-trend-up text-[#0D9488]"></i>
                <p class="text-[#0D9488] text-lg text-end font-semibold ml-3">34.7%</p>
            </div>
            <p class="text-[#ABB0B8] text-end">Compared to May 2024</p>
        </div>
    </div>

    <div class="flex flex-row justify-between items-center bg-white px-4 rounded-lg shadow-lg">
        <div class="flex justify-center items-center bg-[#CCFBF1] py-5 px-6 rounded-full">
            <i class="fa-solid fa-bag-shopping text-3xl text-[#0D9488]"></i>
        </div>

        <div class="flex flex-col items-center py-4 px-6">
            <div>
                <p class="text-[#4B5563] text-lg">Total Orders</p>
                <p class="text-black text-2xl">25,000</p>
            </div>
        </div>

        <div class="flex flex-1 flex-col items-end py-5 px-7 ">
            <div class="flex flex-row items-center justify-end">
                <i class="fa-solid fa-arrow-trend-down text-[#D70000]"></i>
                <p class="text-[#D70000] text-lg text-end font-semibold ml-3">1.5%</p>
            </div>
            <div class="h-6"></div>
        </div>
    </div>

    <div class="flex flex-row justify-between items-center bg-white px-4 rounded-lg shadow-lg">
        <div class="flex justify-center items-center bg-[#FFEDD5] py-4 px-5 rounded-full">
            <i class="fa-regular fa-user text-3xl text-[#FB923C]"></i>
        </div>

        <div class="flex flex-col items-center py-4 px-4">
            <div>
                <p class="text-[#4B5563] text-lg">Total Orders</p>
                <p class="text-black text-2xl">25,000</p>
            </div>
        </div>

        <div class="flex flex-1 flex-col items-end py-4 px-4 ">
            <div class="flex flex-row items-center justify-end">
                <i class="fa-solid fa-arrow-trend-down text-[#D70000]"></i>
                <p class="text-[#D70000] text-lg text-end font-semibold ml-3">0.5%</p>
            </div>
            <div class="h-6"></div>
        </div>
    </div>

</div>