<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<button (click)="back()"
class="text-textLight dark:text-textDark">
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>
<div class="h-[20px]"></div>
<div
  *ngIf="this.itemId == null"
  class="mx-auto p-6 bg-white dark:bg-tileBlack rounded-lg shadow-mg"
>
  <div>
    <!-- <div> -->
    <h2 class="text-2xl mb-4 text-textLight dark:text-textDark">
      Add Personal Details
    </h2>
    <div>
      <div class="flex justify-center pt-3 pb-9">
        <div class="relative">
          <input
            type="file"
            id="imageUpload"
            accept="image/*"
            class="hidden"
            (change)="onFileSelected($event)"
          />

          <!-- Display default image if no file is selected -->
          <div
            *ngIf="!selectedImage"
            class="flex rounded-full border-solid border-2 justify-center items-center w-60 h-60"
          >
            <i class="fa-regular fa-user text-8xl dark:text-textDark"></i>
          </div>

          <!-- Display the selected image if available -->
          <img
            *ngIf="selectedImage"
            class="rounded-full w-60 h-60 object-cover"
            [src]="selectedImage"
            alt="Profile Picture"
          />

          <!-- <span
            (click)="triggerFileInput($event)"
            class="absolute bottom-5 right-5 transform translate-x-1/4 translate-y-1/4 bg-white p-1 rounded-full cursor-pointer"
          >
            <img
              src="../../../../assets/images/editIcon.png"
              alt="Edit Icon"
              class="w-16 h-16"
            />
          </span> -->

          <span
            (click)="triggerFileInput($event)"
            class="absolute bottom-5 right-5 transform translate-x-1/4 translate-y-1/4 bg-[#3980C0] w-12 h-12 flex items-center justify-center rounded-full cursor-pointer"
          >
            <i class="fa-solid fa-pen text-lg text-white"></i>
          </span>
        </div>
      </div>

      <div class="h-[20px]"></div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
        <!-- <div>
          <label
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >EMP ID / User name</label
          >
          <div class="flex mt-1">
            <span
              class="inline-flex items-center px-3 py-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
            >
              <p>SA</p>
            </span>
            <input
              type="text"
              [value]="lastID"
              name="empId"
              class="rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm pl-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              disabled
            />
          </div>
        </div> -->

        <div
          [class.border-red-500]="
            !personalData.empType && touchedFields.empType
          "
          class="p-2 rounded-md"
        >
          <label
            for="enpType"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
          >
            Staff Employee Type <span class="text-[#2E2E2E]">*</span>
          </label>

          <div class="flex items-center space-x-4 mt-3">
            <div class="flex flex-row items-center space-x-2">
              <input
                id="Permanent"
                class="w-5 h-5"
                type="radio"
                name="enpType"
                value="Permanent"
                [(ngModel)]="empType"
                (ngModelChange)="updateEmployeeType($event)"
              />
              <label
                for="Permanent"
                class="block text-sm font-medium text-gray-700 dark:text-textDark"
              >
                Permanent
              </label>
            </div>
            <div class="flex items-center space-x-2">
              <input
                id="Temporary"
                class="w-5 h-5"
                type="radio"
                name="enpType"
                value="Temporary"
                [(ngModel)]="empType"
                (ngModelChange)="updateEmployeeType($event)"
              />
              <label
                for="Temporary"
                class="block text-sm font-medium text-gray-700 dark:text-textDark"
              >
                Temporary
              </label>
            </div>
          </div>
          <p
            *ngIf="!personalData.empType && touchedFields.empType"
            class="text-red-600 text-sm mt-2"
          >
            Staff Employee Type is a required field.
          </p>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
        <div>
          <label
            for="firstNameEnglish"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
          >
            First Name <span class="text-[#2E2E2E]">*</span>
          </label>
          <input
            id="firstName"
            [(ngModel)]="personalData.firstName"
            name="firstName"
            (blur)="onBlur('firstName')"
              #firstNameInput="ngModel" 
            (keydown)="validateNameInput($event, 'firstName')"
            (input)="capitalizeFirstLetter('firstName')"
            class="form-control mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
        <div *ngIf="firstNameInput.touched">
  <div
    *ngIf="!personalData.firstName && !isLeadingSpaceErrorMap['firstName'] && !isSpecialCharErrorMap['firstName']"
    class="text-red-600 text-sm"
  >
    First Name is required.
  </div>
  <div *ngIf="personalData.firstName && isLeadingSpaceErrorMap['firstName']" class="text-red-600 text-sm">
    Leading spaces are not allowed.
  </div>
  <div *ngIf="personalData.firstName && isSpecialCharErrorMap['firstName']" class="text-red-600 text-sm">
    Only English letters allowed and first letter must be capitalized.
  </div>
</div>

        </div>

        <div>
          <label
            for="variety"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >Last Name <span class="text-[#2E2E2E]">*</span></label
          >
          <input
            id="lastName"
            name="lastName"
            [(ngModel)]="personalData.lastName"
              #lastNameInput="ngModel"
            (blur)="onBlur('lastName')"
            (keydown)="validateNameInput($event, 'lastName')"
            (input)="capitalizeFirstLetter('lastName')"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
         <div *ngIf="lastNameInput.touched">
  <div
    *ngIf="!personalData.lastName && !isLeadingSpaceErrorMap['lastName'] && !isSpecialCharErrorMap['lastName']"
    class="text-red-600 text-sm"
  >
    Last Name is required.
  </div>
  <div *ngIf="personalData.lastName && isLeadingSpaceErrorMap['lastName']" class="text-red-600 text-sm">
    Leading spaces are not allowed.
  </div>
  <div *ngIf="personalData.lastName && isSpecialCharErrorMap['lastName']" class="text-red-600 text-sm">
    Only English letters allowed and first letter must be capitalized.
  </div>
</div>

        </div>

        <div>
          <label
            for="phoneNumber1"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
          >
            Mobile Number - 1 <span class="text-[#2E2E2E]">*</span>
          </label>

          <!-- Input Row: Country code + Phone input -->
          <div class="mt-1 flex items-start">
            <select
              id="phoneNumber1Code"
              name="phoneNumber1Code"
              [(ngModel)]="personalData.phoneCode1"
              class="block p-2 border border-gray-300 rounded-l-md bg-gray-50 text-textLight dark:text-textDark dark:bg-tileBlack mr-5"
            >
              <option value="+94">🇱🇰 +94</option>
              <option value="+855">🇰🇭 +855</option>
              <option value="+880">🇧🇩 +880</option>
              <option value="+91">🇮🇳 +91</option>
              <option value="+31">🇳🇱 +31</option>
            </select>

            <input
              id="phoneNumber1"
              name="text"
              [(ngModel)]="personalData.phoneNumber1"
              class="block w-full p-2 border border-gray-300 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
              placeholder="Enter your mobile number"
              (blur)="onBlur('phoneNumber1')"
              #phoneNumber1Input="ngModel"
              required
              minlength="9"
              maxlength="9"
              (keypress)="allowOnlyNumbers($event)"
              pattern="^7\d{8}$"
            />
          </div>

          <!-- Validation messages below full row -->
          <div class="mt-1">
            <!-- Required validation -->
            <span
              *ngIf="phoneNumber1Input.touched && !personalData.phoneNumber1"
              class="text-red-500 text-sm mt-1"
            >
              <div>Mobile Number - 1 is required</div>
            </span>

            <!-- Invalid format -->
            <span
              *ngIf="
                phoneNumber1Input.touched &&
                personalData.phoneNumber1 &&
                phoneNumber1Input.invalid
              "
              class="text-red-500 text-sm mt-1"
            >
              Please enter a valid mobile number (format: +947XXXXXXXX)
            </span>
          </div>
        </div>

        <div>
          <label
            for="phoNumTwo"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
          >
            Mobile Number - 2
          </label>

          <!-- Input row (code + number) -->
          <div class="mt-1 flex items-start">
            <select
              id="phoneNumber2Code"
              name="phoneNumber2Code"
              [(ngModel)]="personalData.phoneCode2"
              class="block p-2 border border-gray-300 rounded-l-md bg-gray-50 text-textLight dark:text-textDark dark:bg-tileBlack mr-5"
            >
              <option value="+94">🇱🇰 +94</option>
              <option value="+855">🇰🇭 +855</option>
              <option value="+880">🇧🇩 +880</option>
              <option value="+91">🇮🇳 +91</option>
              <option value="+31">🇳🇱 +31</option>
            </select>

            <input
              id="phoneNumber2"
              name="phoneNumber2"
              type="text"
              [(ngModel)]="personalData.phoneNumber2"
              class="block w-full p-2 border border-gray-300 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
              placeholder="Enter your mobile number"
              (blur)="onBlur('phoneNumber2')"
              #phoneNumber2Input="ngModel"
              minlength="9"
              maxlength="9"
              (keypress)="allowOnlyNumbers($event)"
              pattern="^7\d{8}$"
            />
          </div>

          <!-- Validation messages below full row -->
          <div class="mt-1">
            <!-- adjust margin to align with select -->
            <div
              *ngIf="
                phoneNumber2Input.touched &&
                personalData.phoneNumber2 &&
                phoneNumber2Input.invalid
              "
              class="text-red-500 text-sm mt-1"
            >
              Please enter a valid mobile number (format: +947XXXXXXXX)
            </div>

            <!-- Duplicate Validation -->
            <div
              *ngIf="
                phoneNumber2Input.touched &&
                personalData.phoneNumber1 &&
                !phoneNumber2Input.invalid &&
                personalData.phoneNumber2?.trim() ===
                  personalData.phoneNumber1?.trim()
              "
              class="text-red-500 text-sm mt-1"
            >
              <div>Mobile Number 2 cannot be the same as Mobile Number 1.</div>
            </div>
          </div>
        </div>

        <div>
          <label
            for="nic"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >NIC Number <span class="text-[#2E2E2E]">*</span></label
          >
          <input
            id="nic"
            name="nic"
            [(ngModel)]="personalData.nic"
            (blur)="onBlur('nic')"
            (keydown)="validateNICInput($event)"
            (input)="formatNIC()"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
          <span
            *ngIf="
              touchedFields.nic &&
              personalData.nic &&
              !isValidNIC(personalData.nic)
            "
            class="text-red-600 text-sm"
          >
            Please enter a valid NIC number (12 digits or 10 digits followed by
            'V').
          </span>

          <span
            *ngIf="touchedFields.nic && !personalData.nic"
            class="text-red-600 text-sm"
          >
            NIC number is required.
          </span>
        </div>

        <div>
          <label
            for="email"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >Email <span class="text-[#2E2E2E]">*</span></label
          >
          <input
            type="email"
            id="email"
            name="email"
            [(ngModel)]="personalData.email"
            (blur)="onBlur('email')"
            (keydown)="validateEmailInput($event, 'email')"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
          <span
            *ngIf="
              touchedFields.email &&
              personalData.email &&
              !isValidEmail(personalData.email)
            "
            class="text-red-600 text-sm"
          >
            Please enter a valid email in the format: example&#64;domain.com
          </span>

          <span
            *ngIf="touchedFields.email && !personalData.email"
            class="text-red-600 text-sm"
          >
            Email is required.
          </span>
        </div>
      </div>

      <!-- <div class="flex justify-end m-10">
        <button
          (click)="onCancel()"
          type="button"
          class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md mr-2"
        >
          Cancel
        </button>
        <button
          (click)="nextFormCreate('pageTwo')"
          type="button"
          class="px-4 py-2 bg-[#3980C0] text-white rounded-md"
          [disabled]="!checkFormValidity()"
        >
          Next
        </button>
      </div> -->
    </div>
  </div>

  <div>
    <!-- <div> -->
    <h2 class="text-2xl mb-6 mt-10 text-textLight dark:text-textDark">
      Residential Details
    </h2>
    <div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
        <div class="pb-6">
          <label
            for="house"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >House / Plot Number <span class="text-[#2E2E2E]">*</span></label
          >
          <input
            (blur)="onBlur('houseNumber')"
            id="houseNumber"
            name="houseNumber"
            [(ngModel)]="personalData.houseNumber"
            (keydown)="validateAddressInput($event, 'houseNumber')"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
          <span
            *ngIf="isFieldInvalid('houseNumber')"
            class="text-red-600 text-sm"
            >House Number is required.</span
          >
        </div>

        <div class="pb-6">
          <label
            for="street"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >Street Name <span class="text-[#2E2E2E]">*</span></label
          >
          <input
            (blur)="onBlur('streetName')"
            id="streetName"
            name="streetName"
            [(ngModel)]="personalData.streetName"
            (keydown)="validateAddressInput($event, 'streetName')"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
          <span
            *ngIf="isFieldInvalid('streetName')"
            class="text-red-600 text-sm"
            >Street Name is required.</span
          >
        </div>

        <div class="pb-6">
          <label
            for="city"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >City <span class="text-[#2E2E2E]">*</span></label
          >
          <input
            (blur)="onBlur('city')"
            id="city"
            name="city"
            [(ngModel)]="personalData.city"
            (keydown)="validateAddressInput($event, 'city')"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
          <span *ngIf="isFieldInvalid('city')" class="text-red-600 text-sm"
            >City is required.</span
          >
        </div>

        <div class="pb-6">
          <label
            for="district"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
          >
            District <span class="text-[#2E2E2E]">*</span>
          </label>
        <p-dropdown
  id="district"
  [(ngModel)]="personalData.district"
  [options]="districts"
  optionLabel="name"
  optionValue="name"
  placeholder="Select a district"
  [filter]="true"
  [showClear]="false"
  (onBlur)="onBlur('district')"
  (onChange)="updateProvince($event)"
  class="w-full"
  [ngClass]="{ 'p-invalid': isFieldInvalid('district') }"
/>

<span *ngIf="isFieldInvalid('district')" class="text-red-600 text-sm">
  District is required.
</span>

        </div>

        <div class="pb-6">
          <label
            for="province"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
          >
            Province
          </label>
          <input
            id="province"
            name="province"
            [(ngModel)]="personalData.province"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
            readonly
          />
          <span *ngIf="isFieldInvalid('province')" class="text-red-600 text-sm"
            >Province is required.</span
          >
        </div>

        <div class="pb-6">
          <label
            for="country"
            class="block text-sm font-medium text-gray-700 dark:text-textDark"
            >Country</label
          >
          <input
            id="country"
            name="country"
            [(ngModel)]="personalData.country"
            disabled="true"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
          />
        </div>
      </div>
    </div>
    <div>
      <h2 class="text-2xl mt-10 mb-6 text-textLight dark:text-textDark">
        Add Bank Details
      </h2>
      <div class="pb-6">
        <label
          for="accHolderName"
          class="block text-sm font-medium text-gray-700 dark:text-textDark"
          >Account Holder's Name <span class="text-[#2E2E2E]">*</span></label
        >
        <input
          id="accHolderName"
          name="accHolderName"
          [(ngModel)]="personalData.accHolderName"
          (blur)="onBlur('accHolderName'); capitalizeName('accHolderName')"
          (keydown)="validateGeneralInput($event, 'accHolderName', true)"
          (input)="capitalizeName('accHolderName')"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
        />
        <span
          *ngIf="isFieldInvalid('accHolderName')"
          class="text-red-600 text-sm"
          >Account Holder's Name is required.</span
        >
        <span
          *ngIf="
            touchedFields.accHolderName &&
            personalData.accHolderName &&
            !isValidName(personalData.accHolderName)
          "
          class="text-red-600 text-sm"
        >
          Please enter a valid name (only letters, spaces, hyphens, and
          apostrophes)
        </span>
      </div>

      <div class="pb-6">
        <label
          for="accNumber"
          class="block text-sm font-medium text-gray-700 dark:text-textDark"
        >
          Account Number <span class="text-[#2E2E2E]">*</span>
        </label>
        <input
          id="accNumber"
          name="accNumber"
          [(ngModel)]="personalData.accNumber"
          (blur)="onBlur('accNumber')"
          (keypress)="allowOnlyAlphanumeric($event)"
          #accNumberInput="ngModel"
          required
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
        />

        <!-- <span *ngIf="isFieldInvalid('accNumber')" class="text-red-600 text-sm">
          Account Number is required.
        </span> -->
        <div
          *ngIf="accNumberInput.touched && !personalData.accNumber"
          class="text-red-500 text-sm mt-1"
        >
          <div>Account Number is required</div>
        </div>
        <div
          *ngIf="accNumberInput.touched && personalData.accNumber && accNumberInput.errors?.['pattern']"
          class="text-red-500 text-sm mt-1"
        >
          <div>Account Number cannot contain special characters</div>
        </div>
      </div>

      <div class="pb-6">
        <label
          for="confirmAccNumber"
          class="block text-sm font-medium text-gray-700 dark:text-textDark"
        >
          Confirm Account Number <span class="text-[#2E2E2E]">*</span>
        </label>
        <input
          id="confirmAccNumber"
          name="confirmAccNumber"
          [(ngModel)]="personalData.confirmAccNumber"
          (blur)="onBlur('confirmAccNumber')"
          (keypress)="allowOnlyAlphanumeric($event)"
          #confirmAccNumberInput="ngModel"
          required
          (ngModelChange)="validateConfirmAccNumber()"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
        />

        <!-- Required validation message -->
        <span *ngIf="confirmAccountNumberRequired" class="text-red-600 text-sm">
          Confirm Account Number is required.
        </span>

        <!-- Mismatch validation message -->
        <span
          *ngIf="confirmAccountNumberError && !confirmAccountNumberRequired"
          class="text-red-600 text-sm"
        >
          Account Numbers do not match.
        </span>

        <span
          *ngIf="confirmAccNumberInput.touched && personalData.confirmAccNumber && !confirmAccountNumberError && confirmAccNumberInput.errors?.['pattern']"
          class="text-red-500 text-sm mt-1"
        >
          <div>Account Number cannot contain special characters</div>
        </span>
      </div>

  <div class="pb-6">
  <label
    for="bankDropdown"
    class="block text-sm font-medium text-gray-700 dark:text-textDark mb-1"
  >
    Bank Name <span class="text-[#2E2E2E]">*</span>
  </label>
  <p-dropdown
    id="bankDropdown"
    [(ngModel)]="selectedBankId"
    (onChange)="onBankChange()"
    (onFocus)="onFieldTouched('bankName')"
    [options]="banks"
    optionLabel="name"
    optionValue="ID"
    [filter]="true"
    filterBy="name"
    placeholder="Select a bank"
    [showClear]="false"
    class="w-full"
    [ngClass]="{
      'p-invalid': isFieldInvalid('bankName')
    }"
  >
  </p-dropdown>
  <span *ngIf="isFieldInvalid('bankName')" class="text-red-600 text-sm">
    Bank Name is required.
  </span>
</div>

<div class="pb-6">
  <label
    for="branchDropdown"
    class="block text-sm font-medium text-gray-700 dark:text-textDark mb-1"
  >
    Branch Name <span class="text-[#2E2E2E]">*</span>
  </label>
  <p-dropdown
    id="branchDropdown"
    [(ngModel)]="selectedBranchId"
    (onChange)="onBranchChange()"
    (onFocus)="onBranchTouched('branchName')"
    [options]="branches"
    optionLabel="name"
    optionValue="ID"
    [filter]="true"
    filterBy="name"
    placeholder="Select a branch"
    [showClear]="false"
    [disabled]="!selectedBankId"
    class="w-full"
    [ngClass]="{
      'p-invalid': isFieldInvalid('branchName')
    }"
  >
  </p-dropdown>
  <span *ngIf="isFieldInvalid('branchName')" class="text-red-600 text-sm">
    Branch Name is required.
  </span>
</div>

    <div class="flex justify-end">
      <button
        type="button"
        (click)="onCancel()"
        class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md mr-2"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="px-4 py-2 bg-[#3980C0] text-white rounded-md"
        (click)="onSubmit()"
        [disabled]="!checkSubmitValidity()"
      >
        Submit
      </button>
    </div>
  </div>
</div>
