<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<button class="mb-5 text-textLight dark:text-textDark" (click)="navigatePath('/plant-care/action')">
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>

<div
  class="fixed-width-container overflow-x-auto scrollbar-thin scrollbar-thumb-[#8AC440] scrollbar-track-transparent scrollbar-thumb-rounded-full">
  <div class="pt-5 pr-12 pl-12 pb-5 min-w-[1100px] bg-tileLight dark:bg-tileBlack shadow-lg rounded-lg">
    <div class="flex justify-between items-center mb-8">
      <p class="text-xl my-8 text-textLight dark:text-textDark">Farmer List</p>
      <div class="flex justify-center items-end mr-8">
        <div class="flex items-center rounded-full bg-gray-100 dark:bg-[#272F45] px-4 py-2 w-96">
          <input type="text" placeholder="Search by First / Last Name, NIC"
            class="bg-transparent outline-none w-full text-gray-600" [(ngModel)]="searchNIC"
            (keydown)="preventLeadingSpace($event, 'searchNIC')" (keyup.enter)="searchPlantCareUsers()" />
          <button type="button" class="text-gray-500 hover:text-gray-700 focus:outline-none mr-2"
            (click)="searchPlantCareUsers()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 10-14 0 7 7 0 0014 0z" />
            </svg>
          </button>
          <button type="button" (click)="clearSearch()" class="text-gray-500 hover:text-gray-700 focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="!hasData" class="flex flex-col items-center w-full h-screen mt-6">
      <p class="text-[#494949] my-6 dark:text-white">--No Data Available--</p>
      <img src="assets/images/NoData.png" alt="No Data" class="w-20 h-20" />
    </div>

    <div *ngIf="hasData">
      <table class="w-full divide-y divide-gray-200 table-auto whitespace-nowrap">
        <thead>
          <tr>
            <th class="px-4 py-3 font-normal text-gray-500 dark:text-textDark text-left">
              First Name
            </th>
            <th class="px-4 py-3 font-normal text-gray-500 dark:text-textDark text-left">
              Last Name
            </th>
            <th class="px-4 py-3 font-normal text-gray-500 dark:text-textDark text-left">
              NIC
            </th>
            <th class="px-4 py-3 font-normal text-gray-500 dark:text-textDark text-left">
              Phone
            </th>
            <th class="px-3 py-3 font-normal text-gray-500 dark:text-textDark text-center">
              Farms
            </th>
            <th *ngIf="permissionService.hasPermission('View users current assets by category') ||
            tokenService.getUserDetails().role === '1'"
              class="px-3 py-3 font-normal text-gray-500 dark:text-textDark text-center">
              Current
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
        let item of plantCareUser
          | paginate
            : {
                itemsPerPage: itemsPerPage,
                currentPage: page,
                totalItems: totalItems
              }
      ">
            <td class="px-4 py-3 text-start text-textLight dark:text-textDark">
              {{ item.firstName }}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ item.lastName }}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ item.NICnumber }}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ item.phoneNumber }}
            </td>
            <td class="px-3 py-3 text-center">
              <button class="w-5 h-5 text-blue-500 hover:text-blue-700" (click)="viewFarms(item.id, item.firstName, item.lastName)" >
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </button>
            </td>
            <td *ngIf="permissionService.hasPermission('View users current assets by category') ||
            tokenService.getUserDetails().role === '1'" class="px-3 py-3 text-center">
              <button class="w-5 h-5 text-blue-500 hover:text-blue-700" (click)="
            viewCurrentAsset(item.id, item.firstName, item.lastName)
          ">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="dark:bg-[#262f45]">
        <pagination-controls (pageChange)="onPageChange($event)" [responsive]="true" [previousLabel]="'Previous'"
          [nextLabel]="'Next'" [screenReaderPaginationLabel]="'Pagination'" [screenReaderPageLabel]="'page'"
          [screenReaderCurrentLabel]="'Youre on page'">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>