<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<button
  class="mb-5 text-textLight dark:text-textDark"
  (click)="navigatePath('/plant-care/action')"
>
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>

<div
  class="fixed-width-container overflow-x-auto scrollbar-thin scrollbar-thumb-[#8AC440] scrollbar-track-transparent scrollbar-thumb-rounded-full"
>
  <div
    class="pt-5 pr-12 pl-12 pb-5 min-w-[1100px] bg-tileLight dark:bg-tileBlack shadow-lg rounded-lg"
  >
    <div class="flex justify-between items-center mb-8">
      <p class="text-xl my-8 text-textLight dark:text-textDark">Farmer List</p>
      <div class="flex justify-center items-end mr-8">
        <div
          class="flex items-center rounded-full bg-gray-100 dark:bg-[#272F45] px-4 py-2 w-96"
        >
          <input
            type="text"
            placeholder="Search.."
            class="bg-transparent outline-none w-full text-gray-600"
            [(ngModel)]="searchNIC"
            (keyup.enter)="searchPlantCareUsers()"
          />
          <button
            type="button"
            class="text-gray-500 hover:text-gray-700 focus:outline-none mr-2"
            (click)="searchPlantCareUsers()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 10-14 0 7 7 0 0014 0z"
              />
            </svg>
          </button>
          <button
            type="button"
            (click)="clearSearch()"
            class="text-gray-500 hover:text-gray-700 focus:outline-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div>
      <table
        class="w-full divide-y divide-gray-200 table-auto whitespace-nowrap"
      >
        <thead>
          <tr>
            <th
              class="px-4 py-3 font-normal text-gray-500 dark:text-textDark text-left"
            >
              First Name
            </th>
            <th
              class="px-4 py-3 font-normal text-gray-500 dark:text-textDark text-left"
            >
              Last Name
            </th>
            <th
              class="px-4 py-3 font-normal text-gray-500 dark:text-textDark text-left"
            >
              Phone
            </th>
            <th
              class="px-4 py-3 font-normal text-gray-500 dark:text-textDark text-left"
            >
              NIC
            </th>
            <th
            *ngIf="permissionService.hasPermission('View users current assets by category') ||
                  tokenService.getUserDetails().role === '1'"
              class="px-3 py-3 font-normal text-gray-500 dark:text-textDark text-center"
            >
              Current
            </th>
            <th
            *ngIf="permissionService.hasPermission('View users fixed assets by category') ||
                  tokenService.getUserDetails().role === '1'"
              class="px-3 py-3 font-normal text-gray-500 dark:text-textDark text-center"
            >
              Fixed
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of plantCareUser
                | paginate
                  : {
                      itemsPerPage: itemsPerPage,
                      currentPage: page,
                      totalItems: totalItems
                    }
            "
          >
            <td class="px-4 py-3 text-start text-textLight dark:text-textDark">
              {{ item.firstName }}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ item.lastName }}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ item.phoneNumber }}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ item.NICnumber }}
            </td>
            <td
            *ngIf="permissionService.hasPermission('View users current assets by category') ||
                  tokenService.getUserDetails().role === '1'"
                   class="px-3 py-3 text-center">
              <button
                class="w-5 h-5 text-blue-500 hover:text-blue-700"
                (click)="
                  viewCurrentAsset(item.id, item.firstName, item.lastName)
                "
              >
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3 14C3 9.02944 7.02944 5 12 5C16.9706 5 21 9.02944 21 14M17 14C17 16.7614 14.7614 19 12 19C9.23858 19 7 16.7614 7 14C7 11.2386 9.23858 9 12 9C14.7614 9 17 11.2386 17 14Z"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </td>
            <td
            *ngIf="permissionService.hasPermission('View users fixed assets by category') ||
                  tokenService.getUserDetails().role === '1'"
                   class="px-3 py-3 text-center">
              <button
                class="w-5 h-5 text-blue-500 hover:text-blue-700"
                (click)="viewFixedAsset(item.id, item.firstName, item.lastName)"
              >
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3 14C3 9.02944 7.02944 5 12 5C16.9706 5 21 9.02944 21 14M17 14C17 16.7614 14.7614 19 12 19C9.23858 19 7 16.7614 7 14C7 11.2386 9.23858 9 12 9C14.7614 9 17 11.2386 17 14Z"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="dark:bg-[#262f45]">
        <pagination-controls
          (pageChange)="onPageChange($event)"
          [responsive]="true"
          [previousLabel]="'Previous'"
          [nextLabel]="'Next'"
          [screenReaderPaginationLabel]="'Pagination'"
          [screenReaderPageLabel]="'page'"
          [screenReaderCurrentLabel]="'Youre on page'"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
