<div
  class="flex flex-col p-5 sm:p-10 items-center justify-center bg-white rounded-lg shadow-lg text-black w-full max-w-full h-auto sm:h-[450px]"
>
  <!-- Header Section -->
  <div class="flex w-full h-full sm:h-[20%] items-center justify-between">
    <div class="w-auto sm:w-[40%]">
      <h3 class="mb-3 text-lg sm:text-xl font-semibold">Statistics</h3>
    </div>

    <!-- Filter Section -->
    <div
      class="w-auto sm:w-[60%] flex items-center justify-end gap-3 whitespace-nowrap"
    >
      <i
        class="w-5 h-5 sm:w-6 sm:h-6 xl:w-6 xl:h-6 fill-current text-textLight dark:text-textDark"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="M0 416c0 17.7 14.3 32 32 32l54.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 448c17.7 0 32-14.3 32-32s-14.3-32-32-32l-246.7 0c-12.3-28.3-40.5-48-73.3-48s-61 19.7-73.3 48L32 384c-17.7 0-32 14.3-32 32zm128 0a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM320 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm32-80c-32.8 0-61 19.7-73.3 48L32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l246.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48l54.7 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-54.7 0c-12.3-28.3-40.5-48-73.3-48zM192 128a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm73.3-64C253 35.7 224.8 16 192 16s-61 19.7-73.3 48L32 64C14.3 64 0 78.3 0 96s14.3 32 32 32l86.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 128c17.7 0 32-14.3 32-32s-14.3-32-32-32L265.3 64z"
          />
        </svg>
      </i>

      <span class="text-xs sm:text-sm md:text-sm xl:text-sm">Filter by</span>

      <p-dropdown
        class="border-2 rounded-xl h-auto bg-[#F1F1F1] dark:bg-[#272F45]"
        [checkmark]="true"
        [options]="district"
        optionLabel="districtName"
        [showClear]="true"
        (onChange)="onDistrictChange($event)"
      />
    </div>
  </div>

  <ng-container *ngIf="loading">
    <div class="w-full h-full flex flex-col justify-end gap-2 p-4 bg-[#f3f1f1] dark:bg-[#d1cece] rounded-lg animate-pulse">
      
      <div class="flex items-end gap-10 w-full">
        <div class="w-3/6 h-12 bg-gray-300 dark:bg-gray-600 rounded"></div>
        <div class="w-3/6 h-24 bg-gray-300 dark:bg-gray-600 rounded"></div>
        
      </div>
    </div>
  </ng-container>

  <!-- Chart Section -->
  <ng-container *ngIf="!loading">
  <div class="w-full h-full sm:h-[80%] max-h-[500px] overflow-hidden">
    <p-chart
      class="w-full h-[500px]"
      type="bar"
      [data]="data"
      [options]="options"
    ></p-chart>
  </div>
</ng-container>
</div>

