<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<button class="mb-5 text-textLight dark:text-textDark" onclick="window.location.href='/plant-care'">
    <i class="fa-solid fa-arrow-left"></i>
    Back
</button>
<div class="pt-5 pr-12 pl-12 pb-5 w-100 bg-tileLight dark:bg-tileBlack shadow-lg rounded-lg">
    <div class="flex justify-end items-center">
        <h3 class="text-xl font-normal text-center text-textLight dark:text-textDark">{{currentDate}}</h3>
    </div>
    <div class="flex justify-center items-center mb-2">
        <h2 class="text-2xl font-normal text-center text-textLight dark:text-textDark">Current Market Prices</h2>
    </div>
    <div class="flex justify-center items-center mb-8">
        <h3 class="text-lg font-normal text-center text-textLight dark:text-textDark">08:00 AM to 12:00 PM</h3>
    </div>

    <!-- <div *ngIf="!hasData" class="text-center py-8">
    <p class="text-textLight dark:text-textDark text-lg">No data to display</p>
  </div> -->


    <div class="overflow-x-auto">
        <!-- <div *ngIf="hasData" class="overflow-x-auto"> -->
        <table class="w-full divide-y divide-gray-200 dark:divide-[#4B555A] table-auto">
            <thead>
                <tr>
                    <th class="py-3 font-normal text-textLight dark:text-textDark text-left">
                        Crop Name
                    </th>
                    <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center">
                        Variety
                    </th>
                    <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center">
                        Qulity
                    </th>
                    <th class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center">
                        Price ( per 1 Kg )
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b border-gray-200 dark:border-[#4B555A]">
                    <!-- | paginate
          : {
              itemsPerPage: itemsPerPage,
              currentPage: page,
              totalItems: totalItems
            } -->
                    <td class="py-3 text-textLight dark:text-textDark">jjdj dkdk</td>
                    <td class="px-4 py-3 text-center text-textLight dark:text-textDark">dcsc</td>
                    <td class="px-4 py-3 text-center text-textLight dark:text-textDark">sjsk</td>
                    <td class="px-4 py-3 text-center text-textLight dark:text-textDark">sjsk</td>
                </tr>
            </tbody>
        </table>

        <!-- <pagination-controls (pageChange)="onPageChange($event)" [responsive]="true" [previousLabel]="'Previous'"
      [nextLabel]="'Next'" [screenReaderPaginationLabel]="'Pagination'" [screenReaderPageLabel]="'page'"
      [screenReaderCurrentLabel]="'Youre on page'">
    </pagination-controls> -->
    </div>
</div>