
<!-- Main Container when itemId is null -->
<div *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>
<div>
  <button
   (click)="back()"
    class="text-textLight dark:text-textDark"
  >
    <i class="fa-solid fa-arrow-left"></i>
    Back
  </button>
  <div class="h-[20px]"></div>
  <!-- Admin Users Form -->
  <div
    class="mx-auto pr-16 pt-10 pb-52 pl-16 bg-tileLight dark:bg-tileBlack rounded-lg shadow-md"
  >
    <h2 class="text-2xl text-center mb-6 text-textLight dark:text-textDark">
      Admin Users
    </h2>
    <form [formGroup]="userForm">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
        <div>
          <!-- User Name Input -->
          <label
            for="userName"
            class="block text-sm font-medium text-textLight dark:text-textDark"
            >User Name</label
          >
<input
  id="userName"
  name="userName"
  formControlName="userName"
  (keypress)="allowOnlyLetters($event)"
  (keydown)="blockLeadingSpace($event, 'userName')"
  class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
/>

          <div
            *ngIf="
              userForm.get('userName')?.invalid &&
              (userForm.get('userName')?.dirty ||
                userForm.get('userName')?.touched)
            "
            class="text-red-500 text-sm mt-1"
          >
            {{ getErrorMessage("userName") }}
          </div>
        </div>

        <div>
          <!-- Email Input -->
          <label
            for="mail"
            class="block text-sm font-medium text-textLight dark:text-textDark"
            >Email</label
          >
         <input
  id="mail"
  name="mail"
  formControlName="mail"
  (keydown)="blockLeadingSpace($event, 'mail')"
  class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
/>
          <div
            *ngIf="
              userForm.get('mail')?.invalid &&
              (userForm.get('mail')?.dirty || userForm.get('mail')?.touched)
            "
            class="text-red-500 text-sm mt-1"
          >
            {{ getErrorMessage("mail") }}
          </div>
        </div>

        <!-- <div>
          <label
            for="role"
            class="block text-sm font-medium text-textLight dark:text-textDark"
            >Role</label
          >
          <input
            id="role"
            name="role"
            [value]="'SUPER_ADMIN'"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
            disabled
          />
        </div> -->

        <div>
          <!-- Change Password Button -->
          <button
            class="flex items-center align-middle mt-5 px-4 py-2 bg-[#7B7777] text-white rounded-md hover:bg-[#615F5F] w-full text-center"
            (click)="openPopup()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 mr-2"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.232 5.232l-4-4m-2.414 2.414a2 2 0 000 2.828l10 10a2 2 0 002.828 0l2.414-2.414a2 2 0 000-2.828l-10-10a2 2 0 00-2.828 0L5.232 7.464a2 2 0 000 2.828l2.414 2.414m10.414-2.414L13.414 5.828m-6.414 0L5.828 3.414m0 0L2 7.242 4.172 9.414 7.242 6.344m2.828-2.828L7.414 3m0 0L3.586 6.828m0 0L6 9.414m-2.414 0L2 7m10.586 10.586L17 21m0 0l4.414-4.414M17 21l-2.828-2.828M2 14l6 6M14 2l6 6"
              />
            </svg>
            Change Password
          </button>
        </div>
      </div>
    </form>

    <!-- Cancel and Save Buttons -->
    <div class="flex justify-end mt-6">
       <button type="button" class="px-4 py-2 bg-[#74788D] text-white rounded-md mr-2" (click)="onCancel()">
        Cancel
      </button>
      <button
        type="submit"
        class="px-4 py-2 bg-[#3980C0] text-white rounded-md cursor-pointer hover:bg-[#88c6fc]"
        (click)="updateMeAdmin()"
      >
        Save
      </button>
    </div>
  </div>

  <!-- Change Password Popup -->
  <div
    class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50"
    *ngIf="isPopupVisible"
  >
    <div
      class="bg-tileLight dark:bg-tileBlack w-full max-w-3xl mx-auto rounded-lg shadow-lg p-2 max-h-screen overflow-hidden"
    >
      <form
        [formGroup]="changePasswordForm"
        (ngSubmit)="savePasswordChanges()"
        class="bg-tileLight dark:bg-tileBlack w-full max-w-3xl mx-auto rounded-lg shadow-lg p-2 max-h-screen overflow-hidden"
      >
        <div class="flex justify-between items-center pb-3">
          <div
            class="bg-white w-full rounded-lg bg-tileLight dark:bg-tileBlack"
          >
            <!-- Modal Title -->
            <div
              class="flex justify-between items-center pb-3 bg-tileLight dark:bg-tileBlack"
            >
              <h2
                class="text-xl w-full font-bold text-center pt-5 pb-5 text-textLight dark:text-textDark"
              >
                Change Password
              </h2>
              <button
                class="text-gray-500 hover:text-gray-700"
                (click)="closePopup()"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </button>
            </div>

            <!-- Input Fields -->
            <div class="space-y-4 mr-10 ml-5 bg-tileLight dark:bg-tileBlack">
              <div
                class="flex flex-col bg-tileLight dark:bg-tileBlack bg-tileLight dark:bg-tileBlack"
              >
                <label
                  class="flex text-gray-700 w-52  mb-1 mr-5 text-textLight dark:text-textDark text-left"
                  for="current-password"
                  >Current Password*</label
                >
                <div
                  class="mt-1 block w-full p-2 border border-gray-300 rounded-md flex items-center"
                >
                  <input
                    [type]="showPassword1 ? 'text' : 'password'"
                    id="current-password"
                    formControlName="currentPassword"
                    name="current-password"
                         (keydown)="onKeyDownPassword($event)"
      (paste)="onPastePassword($event)"
      (input)="onInputPassword($event)"
                    class="w-full border-none rounded-none focus:outline-none focus:border-none bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
                  />
                  <i
                    [class]="
                      showPassword1
                        ? 'fa-solid fa-eye-slash'
                        : 'fa-solid fa-eye'
                    "
                    class="cursor-pointer ml-2"
                    (click)="togglePasswordVisibility1()"
                    style="color: #4a90e2"
                  ></i>
                </div>
                <div
                  *ngIf="
                    changePasswordForm.get('currentPassword')?.invalid &&
                    (changePasswordForm.get('currentPassword')?.dirty ||
                      changePasswordForm.get('currentPassword')?.touched)
                  "
                  class="text-red-500 text-sm mt-1"
                >
                  {{ getErrorMessage("currentPassword", changePasswordForm) }}
                </div>
              </div>

              <div
                class="flex flex-col bg-tileLight dark:bg-tileBlack bg-tileLight dark:bg-tileBlack"
              >
                <label
                  class="flex text-gray-700 w-52  items-center mb-1 mr-5 text-textLight dark:text-textDark"
                  for="new-password"
                  >New Password *</label
                >
                <div
                  class="mt-1 block w-full p-2 border border-gray-300 rounded-md flex items-center"
                >
                  <input
                    [type]="showPassword2 ? 'text' : 'password'"
                    id="new-password"
                    formControlName="newPassword"
                    name="new-password"
                    (keydown)="onKeyDownPassword($event)"
      (paste)="onPastePassword($event)"
      (input)="onInputPassword($event)"
                    class="w-full border-none rounded-none focus:outline-none focus:border-none bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
                  />
                  <i
                    [class]="
                      showPassword2
                        ? 'fa-solid fa-eye-slash'
                        : 'fa-solid fa-eye'
                    "
                    class="cursor-pointer ml-2"
                    (click)="togglePasswordVisibility2()"
                    style="color: #4a90e2"
                  ></i>
                </div>
                <div
                  *ngIf="
                    changePasswordForm.get('newPassword')?.invalid &&
                    (changePasswordForm.get('newPassword')?.dirty ||
                      changePasswordForm.get('newPassword')?.touched)
                  "
                  class="text-red-500 text-sm mt-1"
                >
                  {{ getErrorMessage("newPassword", changePasswordForm) }}
                </div>
              </div>

              <div
                class="flex flex-col bg-tileLight dark:bg-tileBlack bg-tileLight dark:bg-tileBlack"
              >
                <label
                  class="flex text-gray-700 w-52  items-center mb-1 mr-5 text-textLight dark:text-textDark"
                  for="confirm-password"
                  >Confirm Password *</label
                >
                <div
                  class="mt-1 block w-full p-2 border border-gray-300 rounded-md flex items-center"
                >
                  <input
                    [type]="showPassword3 ? 'text' : 'password'"
                    id="confirm-password"
                    formControlName="confirmPassword"
                    name="confirm-password"
                         (keydown)="onKeyDownPassword($event)"
      (paste)="onPastePassword($event)"
      (input)="onInputPassword($event)"
                    class="w-full border-none rounded-none focus:outline-none focus:border-none bg-tileLight dark:bg-tileBlack text-textLight dark:text-textDark"
                  />
                  <i
                    [class]="
                      showPassword3
                        ? 'fa-solid fa-eye-slash'
                        : 'fa-solid fa-eye'
                    "
                    class="cursor-pointer ml-2"
                    (click)="togglePasswordVisibility3()"
                    style="color: #4a90e2"
                  ></i>
                </div>
                <div
                  *ngIf="
                    changePasswordForm.get('confirmPassword')?.invalid &&
                    (changePasswordForm.get('confirmPassword')?.dirty ||
                      changePasswordForm.get('confirmPassword')?.touched)
                  "
                  class="text-red-500 text-sm mt-1"
                >
                  {{ getErrorMessage("confirmPassword", changePasswordForm) }}
                </div>
              </div>
            </div>

            <div *ngIf="errorMessage" class="text-red-500 text-sm text-center">
              {{ errorMessage }}
            </div>

            <!-- Buttons -->
            <div
              class="flex justify-center space-x-4 mt-6 mb-6 mr-10 bg-tileLight dark:bg-tileBlack"
            >
              <button
                [disabled]="changePasswordForm.invalid"
                class="px-4 py-2 bg-[#3980C0] text-white rounded-md cursor-pointer hover:bg-[#88c6fc] focus:outline-none focus:ring focus:ring-green-200"
                (click)="savePasswordChanges()"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
