<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<button class="mb-5 text-textLight dark:text-textDark" (click)="back()">
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>

<div
  class="fixed-width-container overflow-x-auto scrollbar-thin scrollbar-thumb-scrollBarColor scrollbar-track-transparent scrollbar-thumb-rounded-full"
>
  <div
    class="mb-10 p-6 min-w-[1700px] bg-white dark:bg-tileBlack rounded-lg shadow-md flex items-center gap-10"
  >
    <div class="flex flex-col">
      <span class="text-[#7E7E7E]">Request_ID :</span><span>GC000003</span>
    </div>
    <div class="flex flex-col">
      <span class="text-[#7E7E7E]">Farmer Phone :</span
      ><span>+94 783344555</span>
    </div>
    <div class="flex flex-col">
      <span class="text-[#7E7E7E]">Audited By :</span><span>CFO00001</span>
    </div>
    <div class="flex flex-col">
      <span class="text-[#7E7E7E]">Officer Phone :</span
      ><span>+94 783344500</span>
    </div>
    <div class="flex flex-col">
      <span class="text-[#7E7E7E]">Audited Date :</span
      ><span>June 2, 2023</span>
    </div>
    <div class="flex flex-col gap-4">
      <div class="flex gap-4">
        <button
          class="px-6 py-2 bg-[#3980C0] text-white font-medium rounded-md hover:bg-[#306797] transition-colors duration-200 shadow-sm"
        >
          Approve
        </button>

        <button
          class="px-8 py-2 bg-[#C40D0D] text-white font-medium rounded-md hover:bg-[#980808] transition-colors duration-200 shadow-sm"
        >
          Reject
        </button>
      </div>
    </div>
  </div>
  <div
    class="pt-5 pb-5 min-w-[1700px] bg-white dark:bg-tileBlack shadow-lg rounded-lg"
  >
    <div
      class="flex whitespace-nowrap space-x-4 pb-5 pr-12 pl-12 border-b border-gray-300"
    >
      <button
        (click)="selectTab('Personal')"
        [ngClass]="{
          'border border-[#415CFF] text-[#415CFF]': activeTab === 'Personal',
          'border border-gray-300 text-textLight dark:text-textDark':
            activeTab !== 'Personal'
        }"
        class="h-10 px-5 flex items-center justify-center rounded-full gap-2"
      >
        <i *ngIf="activeTab === 'Personal'" class="fa fa-check"></i>
        Personal Info
      </button>
      <button
        (click)="selectTab('IDProof')"
        [ngClass]="{
          'border border-[#415CFF] text-[#415CFF]': activeTab === 'IDProof',
          'border border-gray-300 text-textLight dark:text-textDark':
            activeTab !== 'IDProof'
        }"
        class="h-10 px-5 flex items-center justify-center rounded-full gap-2"
      >
        <i *ngIf="activeTab === 'IDProof'" class="fa fa-check"></i>
        ID Proof
      </button>
      <button
        (click)="selectTab('Finance')"
        [ngClass]="{
          'border border-[#415CFF] text-[#415CFF]': activeTab === 'Finance',
          'border border-gray-300 text-textLight dark:text-textDark':
            activeTab !== 'Finance'
        }"
        class="h-10 px-5 flex items-center justify-center rounded-full gap-2"
      >
        <i *ngIf="activeTab === 'Finance'" class="fa fa-check"></i>
        Finance Info
      </button>
      <button
        (click)="selectTab('Land')"
        [ngClass]="{
          'border border-[#415CFF] text-[#415CFF]': activeTab === 'Land',
          'border border-gray-300 text-textLight dark:text-textDark':
            activeTab !== 'Land'
        }"
        class="h-10 px-5 flex items-center justify-center rounded-full gap-2"
      >
        <i *ngIf="activeTab === 'Land'" class="fa fa-check"></i>
        Land Info
      </button>
      <button
        (click)="selectTab('Investment')"
        [ngClass]="{
          'border border-[#415CFF] text-[#415CFF]': activeTab === 'Investment',
          'border border-gray-300 text-textLight dark:text-textDark':
            activeTab !== 'Investment'
        }"
        class="h-10 px-5 flex items-center justify-center rounded-full gap-2"
      >
        <i *ngIf="activeTab === 'Investment'" class="fa fa-check"></i>
        Investment Info
      </button>
      <button
        (click)="selectTab('Cultivation')"
        [ngClass]="{
          'border border-[#415CFF] text-[#415CFF]': activeTab === 'Cultivation',
          'border border-gray-300 text-textLight dark:text-textDark':
            activeTab !== 'Cultivation'
        }"
        class="h-10 px-5 flex items-center justify-center rounded-full gap-2"
      >
        <i *ngIf="activeTab === 'Cultivation'" class="fa fa-check"></i>
        Cultivation Info
      </button>
      <button
        (click)="selectTab('CroppingSystems')"
        [ngClass]="{
          'border border-[#415CFF] text-[#415CFF]':
            activeTab === 'CroppingSystems',
          'border border-gray-300 text-textLight dark:text-textDark':
            activeTab !== 'CroppingSystems'
        }"
        class="h-10 px-5 flex items-center justify-center rounded-full gap-2"
      >
        <i *ngIf="activeTab === 'CroppingSystems'" class="fa fa-check"></i>
        Cropping Systems
      </button>
      <button
        (click)="selectTab('ProfitRisk')"
        [ngClass]="{
          'border border-[#415CFF] text-[#415CFF]': activeTab === 'ProfitRisk',
          'border border-gray-300 text-textLight dark:text-textDark':
            activeTab !== 'ProfitRisk'
        }"
        class="h-10 px-5 flex items-center justify-center rounded-full gap-2"
      >
        <i *ngIf="activeTab === 'ProfitRisk'" class="fa fa-check"></i>
        Profit & Risk
      </button>
      <button
        (click)="selectTab('Economical')"
        [ngClass]="{
          'border border-[#415CFF] text-[#415CFF]': activeTab === 'Economical',
          'border border-gray-300 text-textLight dark:text-textDark':
            activeTab !== 'Economical'
        }"
        class="h-10 px-5 flex items-center justify-center rounded-full gap-2"
      >
        <i *ngIf="activeTab === 'Economical'" class="fa fa-check"></i>
        Economical
      </button>
      <button
        (click)="selectTab('Labour')"
        [ngClass]="{
          'border border-[#415CFF] text-[#415CFF]': activeTab === 'Labour',
          'border border-gray-300 text-textLight dark:text-textDark':
            activeTab !== 'Labour'
        }"
        class="h-10 px-5 flex items-center justify-center rounded-full gap-2"
      >
        <i *ngIf="activeTab === 'Labour'" class="fa fa-check"></i>
        Labour
      </button>
      <button
        (click)="selectTab('HarvestStorage')"
        [ngClass]="{
          'border border-[#415CFF] text-[#415CFF]':
            activeTab === 'HarvestStorage',
          'border border-gray-300 text-textLight dark:text-textDark':
            activeTab !== 'HarvestStorage'
        }"
        class="h-10 px-5 flex items-center justify-center rounded-full gap-2"
      >
        <i *ngIf="activeTab === 'HarvestStorage'" class="fa fa-check"></i>
        Harvest Storage
      </button>
    </div>
    <div class="h-5"></div>
    <div *ngIf="activeTab === 'Personal'">
      <app-personal-info-tab [personalArr]="inspectionArray.Personal"></app-personal-info-tab>
    </div>
    <div *ngIf="activeTab === 'IDProof'">
      <app-id-proof-tab [personalArr]="inspectionArray.ID"></app-id-proof-tab>
    </div>
    <div *ngIf="activeTab === 'Finance'">
      <app-finance-info-tab [financeArr]="inspectionArray.Finance"></app-finance-info-tab>
    </div>
    <div *ngIf="activeTab === 'Land'">
      <app-land-info-tab></app-land-info-tab>
    </div>
    <div *ngIf="activeTab === 'Investment'">
      <app-investment-info-tab></app-investment-info-tab>
    </div>
    <div *ngIf="activeTab === 'Cultivation'">
      <app-cultivation-info-tab></app-cultivation-info-tab>
    </div>
    <div *ngIf="activeTab === 'CroppingSystems'">
      <app-cropping-system-tab></app-cropping-system-tab>
    </div>
    <div *ngIf="activeTab === 'ProfitRisk'">
      <app-profit-risk-tab></app-profit-risk-tab>
    </div>
    <div *ngIf="activeTab === 'Economical'">
      <app-economical-tab></app-economical-tab>
    </div>
    <div *ngIf="activeTab === 'Labour'">
      <app-labour-tab></app-labour-tab>
    </div>
    <div *ngIf="activeTab === 'HarvestStorage'">
      <app-harvest-storage-tab></app-harvest-storage-tab>
    </div>
  </div>
</div>
