/* Hides clear icon when dropdown has no selected value */
::ng-deep .p-dropdown .p-dropdown-clear {
    display: none;
}

/* Show the clear button only when a value is selected */
::ng-deep .p-dropdown.ng-dirty.ng-valid .p-dropdown-clear {
    display: inline-flex !important;
}

::ng-deep .dark .p-dropdown-panel {
    background-color: #2d354d !important;
    color: #B1B1B1 !important;
    border-radius: 6px !important;
    /* <-- add this for rounded corners */
    overflow: hidden;
    /* ensures child items don't spill over rounded corners */
}

::ng-deep .dark .p-dropdown-panel .p-dropdown-item {
    background-color: #2d354d !important;
    color: #B1B1B1 !important;
}

::ng-deep .dark .p-dropdown-panel .p-dropdown-item:hover {
    background-color: #3a4160 !important;
    color: #fff !important;
}

::ng-deep .dark .p-dropdown-panel .p-dropdown-item.p-highlight {
    background-color: #2d354d !important;
    color: #B1B1B1 !important;
}
