<div class="flex justify-center items-center">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-16 pb-44">
    <div class="relative flex justify-center cursor-pointer">
      <div
        class="transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight inline-flex items-center justify-between w-[310px] h-[70px] px-4 py-2 text-sm font-medium text-[#495057] bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500"
        (click)="togglePopupNews()"
      >
        <div class="flex items-center">
          <div class="bg-iconCoverLight dark:bg-iconCoverDark rounded-lg p-3">
            <i class="fa-regular fa-newspaper" style="color: #4a90e2"></i>
          </div>
          <span class="ml-3">News</span>
        </div>
        <i class="fa-solid fa-chevron-right" style="color: #4a90e2"></i>
      </div>
      <div
        class="mt-2 rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)] bg-white w-[310px] absolute top-full mt-2 left-0 dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500"
        *ngIf="popupVisibleNews"
      >
        <div
          class="flex rounded-t-lg align-middle items-center dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] dark:bg-iconCoverDark dark:hover:bg-tileHoverDark hover:bg-tileHoverLight px-4 py-2 cursor-pointer"
          onclick="window.location.href='/plant-care/create-news'"
        >
          Create News Content
        </div>
        <hr />
        <div
          class="flex rounded-b-lg align-middle items-center dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] dark:bg-iconCoverDark dark:hover:bg-tileHoverDark hover:bg-tileHoverLight px-4 py-2 cursor-pointer"
          onclick="window.location.href='/plant-care/manage-content'"
        >
          Manage News Content
        </div>
      </div>
    </div>

    <!-- <div class="relative flex justify-center cursor-pointer">
      <div
        class="transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight inline-flex items-center justify-between w-[310px] h-[70px] px-4 py-2 text-sm font-medium text-[#495057] bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500"
        (click)="togglePopupMarketPrice()">
        <div class="flex items-center">
          <div class="bg-iconCoverLight dark:bg-iconCoverDark rounded-lg p-3">
            <i class="fa-solid fa-shop " style="color: #4a90e2"></i>
          </div>
          <span class="ml-3">Market Price</span>
        </div>
        <i class="fa-solid fa-chevron-right" style="color: #4a90e2"></i>
      </div>
      <div
        class="mt-2 rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)] bg-white w-[310px] absolute top-full mt-2 left-0 dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500"
        *ngIf="popupVisibleMarketPrice">
        <div
          class="flex rounded-t-lg align-middle items-center dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] dark:bg-iconCoverDark dark:hover:bg-tileHoverDark hover:bg-tileHoverLight px-4 py-2 cursor-pointer"
          onclick="window.location.href='/plant-care/create-market-price'">Create Market Price</div>
        <hr>
        <div
          class="flex rounded-b-lg align-middle items-center dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] dark:bg-iconCoverDark dark:hover:bg-tileHoverDark hover:bg-tileHoverLight px-4 py-2 cursor-pointer"
          onclick="window.location.href='/plant-care/manage-market-price'">Manage Market Price</div>
      </div>
    </div> -->

    <div class="relative flex justify-center cursor-pointer">
      <div
        class="transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight inline-flex items-center justify-between w-[310px] h-[70px] px-4 py-2 text-sm font-medium text-[#495057] bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500"
        (click)="togglePopupCropCalender()"
      >
        <div class="flex items-center">
          <div class="bg-iconCoverLight dark:bg-iconCoverDark rounded-lg p-3">
            <i class="fa-regular fa-calendar-days" style="color: #4a90e2"></i>
          </div>
          <span class="ml-3">Crop Calendar</span>
        </div>
        <i class="fa-solid fa-chevron-right" style="color: #4a90e2"></i>
      </div>
      <div
        class="mt-2 rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)] bg-white w-[310px] absolute top-full mt-2 left-0 dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500"
        *ngIf="popupVisibleCropCalender"
      >
        <div
          class="flex rounded-t-lg align-middle items-center dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] dark:bg-iconCoverDark dark:hover:bg-tileHoverDark hover:bg-tileHoverLight px-4 py-2 cursor-pointer"
          onclick="window.location.href='/plant-care/create-crop-calender'"
        >
          Create Crop Calendar
        </div>
        <hr />
        <div
          class="flex rounded-b-lg align-middle items-center dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] dark:bg-iconCoverDark dark:hover:bg-tileHoverDark hover:bg-tileHoverLight px-4 py-2 cursor-pointer"
          onclick="window.location.href='/plant-care/view-crop-calender'"
        >
          Manage Crop Calendar
        </div>
        <hr />
        <div
          class="flex rounded-b-lg align-middle items-center dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] dark:bg-iconCoverDark dark:hover:bg-tileHoverDark hover:bg-tileHoverLight px-4 py-2 cursor-pointer"
          onclick="window.location.href='/plant-care/create-crop-group'"
        >
          Create Crop Group
        </div>
        <hr />
        <div
          class="flex rounded-b-lg align-middle items-center dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] dark:bg-iconCoverDark dark:hover:bg-tileHoverDark hover:bg-tileHoverLight px-4 py-2 cursor-pointer"
          onclick="window.location.href='/plant-care/view-crop-group'"
        >
          View Crop Group
        </div>
        <hr />
        <div
          class="flex rounded-b-lg align-middle items-center dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] dark:bg-iconCoverDark dark:hover:bg-tileHoverDark hover:bg-tileHoverLight px-4 py-2 cursor-pointer"
          onclick="window.location.href='/plant-care/create-crop-variety'"
        >
          Create Crop variety
        </div>
      </div>
    </div>

    <div
      class="flex justify-center cursor-pointer"
      onclick="window.location.href='/plant-care/public-forum'"
    >
      <div
        class="transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight inline-flex items-center justify-between w-[310px] h-[70px] px-4 py-2 text-sm font-medium text-[#495057] bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500"
      >
        <div class="flex items-center">
          <div class="bg-iconCoverLight dark:bg-iconCoverDark rounded-lg p-3">
            <i class="fa-regular fa-message" style="color: #4a90e2"></i>
          </div>
          <span class="ml-3">Public Forum</span>
        </div>
        <i class="fa-solid fa-chevron-right" style="color: #4a90e2"></i>
      </div>
    </div>

    <div
      class="flex justify-center cursor-pointer"
      onclick="window.location.href='/plant-care/ongoing-cultivation'"
    >
      <div
        class="transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight inline-flex items-center justify-between w-[310px] h-[70px] px-4 py-2 text-sm font-medium text-[#495057] bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500"
      >
        <div class="flex items-center">
          <div class="bg-iconCoverLight dark:bg-iconCoverDark rounded-lg p-3">
            <i class="fa-solid fa-rotate" style="color: #4a90e2"></i>
          </div>
          <span class="ml-3">Ongoing Cultivation</span>
        </div>
        <i class="fa-solid fa-chevron-right" style="color: #4a90e2"></i>
      </div>
    </div>

    <div
      class="flex justify-center cursor-pointer"
      onclick="window.location.href='/plant-care/report-farmer-list'"
    >
      <div
        class="transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight inline-flex items-center justify-between w-[310px] h-[70px] px-4 py-2 text-sm font-medium text-[#495057] bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500"
      >
        <div class="flex items-center">
          <div class="bg-iconCoverLight dark:bg-iconCoverDark rounded-lg p-3">
            <i class="fa-solid fa-table-list" style="color: #4a90e2"></i>
          </div>
          <span class="ml-3">Assets</span>
        </div>
        <i class="fa-solid fa-chevron-right" style="color: #4a90e2"></i>
      </div>
    </div>

    <div class="flex justify-center cursor-pointer">
      <div
        class="transition-shadow hover:shadow-[0_8px_30px_rgb(0,0,0,0.12)] dark:hover:shadow-[0_8px_30px_rgb(147,178,189,0.12)] hover:bg-tileHoverLight inline-flex items-center justify-between w-[310px] h-[70px] px-4 py-2 text-sm font-medium text-[#495057] bg-tileLight dark:bg-tileBlack dark:hover:bg-tileHoverDark dark:text-gray-200 group-hover:drop-shadow-md rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 dark:focus:ring-gray-500"
      >
        <div class="flex items-center">
          <div class="bg-iconCoverLight dark:bg-iconCoverDark rounded-lg p-3">
            <i class="fa-solid fa-rotate" style="color: #4a90e2"></i>
          </div>
          <span class="ml-3">Test</span>
        </div>
        <i class="fa-solid fa-chevron-right" style="color: #4a90e2"></i>
      </div>
    </div>
  </div>
</div>
