<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<button
  (click)="onBack()"
  class="text-textLight dark:text-textDark mb-2 flex items-center gap-2"
>
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>

<div class="mb-4 flex justify-between">
  <button
    class="bg-[#3980C0] text-white font-medium py-2 px-5 rounded text-lg flex mb-1 items-center"
    (click)="addNew()"
  >
    <svg
      class="w-5 h-5 mr-3"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M4 12H20M12 4V20"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    Add New
  </button>
</div>

<div class="overflow-x-auto">
  <div
    class="bg-tileLight dark:bg-tileBlack shadow-lg rounded-lg overflow-x-auto p-5"
  >
    <div>
      <div class="flex justify-between items-center mb-8">
        <!-- Left Title -->
        <div class="flex items-center">
          <h2
            class="text-xl font-normal text-textLight dark:text-textDark flex items-center gap-3"
          >
            Field Officers ({{
              filteredInspectors.length < 10
                ? "0" + filteredInspectors.length
                : filteredInspectors.length
            }})
          </h2>
        </div>

        <!-- Right Filters + Search -->
        <div class="flex items-center ml-25 mr-5">
          <!-- Status Dropdown -->
          <div class="mr-5">
            <p-dropdown
              styleClass="border border-2 rounded-xl h-8 items-center bg-[#F1F1F1] dark:bg-[#272F45]
        text-textLight dark:text-textDark border-[#yourLightColor] dark:border-[#AFAFAF]"
              [options]="statuses"
              [(ngModel)]="filterStatus"
              placeholder="Status"
              [showClear]="!!filterStatus"
              (onChange)="applyFilters()"
              class="w-40"
            >
            </p-dropdown>
          </div>

          <div class="mr-5">
            <p-dropdown
              styleClass="border border-2 rounded-xl h-8 items-center bg-[#F1F1F1] dark:bg-[#272F45]
        text-textLight dark:text-textDark border-[#yourLightColor] dark:border-[#AFAFAF]"
              [options]="languages"
              [(ngModel)]="filterLanguage"
              placeholder="Language"
              [showClear]="!!filterLanguage"
              (onChange)="applyFilters()"
              class="w-40"
            >
            </p-dropdown>
          </div>

          <div class="mr-5">
            <p-dropdown
              styleClass="border border-2 rounded-xl h-8 items-center bg-[#F1F1F1] dark:bg-[#272F45]
        text-textLight dark:text-textDark border-[#yourLightColor] dark:border-[#AFAFAF]"
              [options]="districts"
              [(ngModel)]="filterDistrict"
              placeholder="District"
              [showClear]="!!filterDistrict"
              (onChange)="applyFilters()"
              class="w-40"
            >
            </p-dropdown>
          </div>

          <!-- Role Dropdown -->
          <div class="mr-5">
            <p-dropdown
              styleClass="border border-2 rounded-xl h-8 items-center bg-[#F1F1F1] dark:bg-[#272F45]
        text-textLight dark:text-textDark border-[#yourLightColor] dark:border-[#AFAFAF]"
              [options]="roles"
              [(ngModel)]="filterRole"
              placeholder="Role"
              [showClear]="!!filterRole"
              (onChange)="applyFilters()"
              class="w-40"
            >
            </p-dropdown>
          </div>

          <!-- Search Bar -->
          <div
            class="flex items-center rounded-full px-4 py-2 w-95 bg-[#F1F1F1] dark:bg-[#272F45]"
          >
            <input
              type="text"
              placeholder="Search by EMP ID / NIC"
              [(ngModel)]="searchTerm"
              (keyup.enter)="onSearch()"
              (keyup.esc)="offSearch()"
              class="bg-transparent outline-none w-full text-textLight dark:text-textDark"
            />

            <button
              type="button"
              class="text-gray-500 hover:text-gray-700 focus:outline-none mr-2"
              (click)="onSearch()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 10-14 0 7 7 0 0014 0z"
                />
              </svg>
            </button>

            <button
              *ngIf="searchTerm && searchTerm.trim() !== ''"
              type="button"
              class="text-gray-500 hover:text-gray-700 focus:outline-none"
              (click)="offSearch()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- Table -->
      <table
        *ngIf="hasData"
        class="w-full divide-y divide-gray-200 dark:divide-[#4B555A] table-auto whitespace-nowrap gap-4"
      >
        <thead>
          <tr>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
            >
              No
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
            >
              EMP ID
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
            >
              First Name
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
            >
              Last Name
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
            >
              Role
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
            >
              District
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
            >
              Pref. Languages
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center"
            >
              Status
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
            >
              Phone
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
            >
              NIC
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
            >
              Last Modified By
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
            >
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let inspector of filteredInspectors; let i = index"
            class="border-b border-gray-200 dark:border-[#4B555A]"
          >
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ ("0" + (i + 1)).slice(-2) }}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ inspector.empId }}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ inspector.firstName }}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ inspector.lastName }}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ inspector.role }}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ inspector.district }}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ inspector.language }}
            </td>
            <td class="px-4 py-3 text-center">
              <span
                [ngClass]="{
                  'font-bold px-3 py-1 text-sm bg-[#F8FFA6] text-[#A8A100] rounded-lg':
                    inspector.status === 'Not Approved',
                  'font-bold px-3 py-1 text-sm bg-green-100 text-[#308233] rounded-lg':
                    inspector.status === 'Approved',
                  'font-bold px-3 py-1 text-sm bg-red-100 text-[#D16D6A] rounded-lg':
                    inspector.status === 'Rejected'
                }"
                class="inline-block font-medium rounded-md px-4 py-2 text-xs text-center w-32"
                (click)="openPopup(inspector)"
              >
                {{ inspector.status }}
              </span>
            </td>

            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ inspector.phone }}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ inspector.nic }}
            </td>
            <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
              {{ inspector.modifiedBy }}
            </td>
            <td class="text-center flex justify-center mt-3 space-x-3">
              <button
                class="w-6 h-6 text-blue-500 hover:text-blue-700"
                (click)="viewInspector(inspector.id)"
                title="View Company"
              >
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3 14C3 9.02944 7.02944 5 12 5C16.9706 5 21 9.02944 21 14M17 14C17 16.7614 14.7614 19 12 19C9.23858 19 7 16.7614 7 14C7 11.2386 9.23858 9 12 9C14.7614 9 17 11.2386 17 14Z"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="!hasData" class="text-center py-8">
        <p class="text-[#494949] dark:text-textDark">--No Data Available--</p>
        <img
          src="assets/images/NoData.png"
          alt="No Data"
          class="w-20 h-20 mx-auto"
        />
      </div>
    </div>
  </div>
</div>
