<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<!-- <div *ngIf="isLoading===false"> -->

<button class="mb-5 text-textLight dark:text-textDark" (click)="Back()">
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>

<div
  *ngIf="isLoading === false"
  class="fixed-width-container overflow-x-auto scrollbar-thin scrollbar-thumb-[#8AC440] scrollbar-track-transparent scrollbar-thumb-rounded-full"
>
  <div
    class="pt-5 pr-12 pl-12 pb-5 min-w-[1500px] bg-tileLight dark:bg-tileBlack shadow-lg rounded-lg"
  >
    <div class="flex justify-between items-center mb-8">
      <div class="flex items-center">
        <h2 class="text-2xl font-normal text-textLight dark:text-textDark">
          All Task
        </h2>
      </div>
    </div>

    <div>
      <table
        class="min-w-full divide-y divide-gray-200 table-auto whitespace-nowrap"
      >
        <thead>
          <tr>
            <th
            *ngIf="permissionService.hasPermission('Add new task') ||
                  tokenService.getUserDetails().role === '1'"
             class="py-3 font-normal text-gray-500 text-left"></th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center"
            >
              Index
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center"
            >
              Days
            </th>
            <th
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center"
            >
              Task
            </th>
            <th
             *ngIf="permissionService.hasPermission('View guided image') ||
                  tokenService.getUserDetails().role === '1'"
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center"
            >
              Guided Image
            </th>
            <th
            *ngIf="permissionService.hasPermission('View guided video') ||
                  tokenService.getUserDetails().role === '1'"
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center"
            >
              Guided Video English
            </th>
            <th
            *ngIf="permissionService.hasPermission('View guided video') ||
                  tokenService.getUserDetails().role === '1'"
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center"
            >
              Guided Video Sinhala
            </th>
            <th
            *ngIf="permissionService.hasPermission('View guided video') ||
                  tokenService.getUserDetails().role === '1'"
              class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center"
            >
              Guided Video Tamil
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let task of cropTask
                | paginate
                  : {
                      itemsPerPage: itemsPerPage,
                      currentPage: page,
                      totalItems: totalItems
                    }
            "
          >
            <td 
            *ngIf="permissionService.hasPermission('Add new task') ||
                  tokenService.getUserDetails().role === '1'"
                   class="px-4 py-3 text-center">
              <button
                class="w-6 h-6 mr-3 text-textLight dark:text-textDark hover:text-[#83aefd]"
                (click)="addNewTask(task.cropId, task.taskIndex)"
              >
                <i
                  class="fa-solid fa-arrow-down-short-wide text-blue-600 hover:text-blue-800"
                ></i>
              </button>
            </td>
            <td class="px-4 py-3 text-center text-textLight dark:text-textDark">
              {{ task.taskIndex }}
            </td>
            <td class="px-4 py-3 text-center text-textLight dark:text-textDark">
              {{ task.days ? task.days : 0 }}
            </td>
            <td class="pl-20 py-3 text-left text-textLight dark:text-textDark">
              {{
                task.taskEnglish.length > 40
                  ? (task.taskEnglish | slice : 0 : 35) + "......."
                  : task.taskEnglish
              }}
            </td>

            <td
             *ngIf="permissionService.hasPermission('View guided image') ||
                  tokenService.getUserDetails().role === '1'"
                   class="px-4 py-3 text-center text-textLight dark:text-textDark">
              <ng-container *ngIf="task.imageLink; else noImage">
                <a
                  [attr.href]="task.imageLink"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i
                    class="fa-solid fa-image text-blue-600 hover:text-blue-800"
                  ></i>
                </a>
              </ng-container>
              <ng-template #noImage> No image </ng-template>
            </td>

            <td
            *ngIf="permissionService.hasPermission('View guided video') ||
                  tokenService.getUserDetails().role === '1'"
                   class="px-4 py-3 text-center text-textLight dark:text-textDark">
              <ng-container *ngIf="task.videoLinkEnglish; else noVideo">
                <a
                  [attr.href]="task.videoLinkEnglish"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i
                    class="fa-solid fa-video text-blue-600 hover:text-blue-800"
                  ></i>
                </a>
              </ng-container>
              <ng-template #noVideo> No video </ng-template>
            </td>
            <td
            *ngIf="permissionService.hasPermission('View guided video') ||
                  tokenService.getUserDetails().role === '1'"
                   class="px-4 py-3 text-center text-textLight dark:text-textDark">
              <ng-container *ngIf="task.videoLinkSinhala; else noVideo">
                <a
                  [attr.href]="task.videoLinkSinhala"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i
                    class="fa-solid fa-video text-blue-600 hover:text-blue-800"
                  ></i>
                </a>
              </ng-container>
              <ng-template #noVideo> No video </ng-template>
            </td>
            <td *ngIf="permissionService.hasPermission('View guided video') ||
                  tokenService.getUserDetails().role === '1'"
                  class="px-4 py-3 text-center text-textLight dark:text-textDark">
              <ng-container *ngIf="task.videoLinkTamil; else noVideo">
                <a
                  [attr.href]="task.videoLinkTamil"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i
                    class="fa-solid fa-video text-blue-600 hover:text-blue-800"
                  ></i>
                </a>
              </ng-container>
              <ng-template #noVideo> No video </ng-template>
            </td>

            <td class="px-4 py-3 text-center">
              <button
              *ngIf="permissionService.hasPermission('Edit task') ||
                  tokenService.getUserDetails().role === '1'"
                class="w-6 h-6 mr-3 text-[#367bfa] hover:text-[#83aefd]"
                (click)="editCropTask(task.id)"
              >
                <svg
                  fill="currentColor"
                  viewBox="0 0 32 32"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>Edit</title>
                  <path
                    d="M7.263 19.051l-1.656 5.797c-0.030 0.102-0.048 0.22-0.048 0.342 0 0.691 0.559 1.251 1.25 1.252h0c0.126-0 0.248-0.019 0.363-0.053l-0.009 0.002 5.622-1.656c0.206-0.063 0.383-0.17 0.527-0.311l-0 0 17.568-17.394c0.229-0.227 0.371-0.541 0.371-0.889 0-0.345-0.14-0.657-0.365-0.883l-4.141-4.142c-0.227-0.226-0.539-0.366-0.885-0.366s-0.658 0.14-0.885 0.366v0l-17.394 17.394c-0.146 0.146-0.256 0.329-0.316 0.532l-0.002 0.009zM25.859 3.768l2.369 2.369-2.369 2.346-2.37-2.345zM9.578 20.049l12.144-12.144 2.361 2.336-12.307 12.184-3.141 0.924zM30 12.75c-0.69 0-1.25 0.56-1.25 1.25v14.75h-25.5v-25.5h14.75c0.69 0 1.25-0.56 1.25-1.25s-0.56-1.25-1.25-1.25v0h-16c-0.69 0-1.25 0.56-1.25 1.25v0 28c0 0.69 0.56 1.25 1.25 1.25h28c0.69-0.001 1.249-0.56 1.25-1.25v-16c-0-0.69-0.56-1.25-1.25-1.25h-0z"
                  ></path>
                </svg>
              </button>
              <button
              *ngIf="permissionService.hasPermission('Delete task') ||
                  tokenService.getUserDetails().role === '1'"
                class="w-6 h-6 ml-3 text-[#fc3636] hover:text-[#f38f8f]"
                (click)="deleteCroptask(task.id, task.cropId, task.taskIndex)"
              >
                <svg
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <title>Delete</title>
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
                  />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls
      (pageChange)="onPageChange($event)"
      [responsive]="true"
      [previousLabel]="'Previous'"
      [nextLabel]="'Next'"
      [screenReaderPaginationLabel]="'Pagination'"
      [screenReaderPageLabel]="'page'"
      [screenReaderCurrentLabel]="'Youre on page'"
    >
    </pagination-controls>
  </div>
</div>
