<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<button class="mb-5 text-textLight dark:text-textDark" (click)="back()" aria-label="Go back to market action page">
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>
<p class="text-xl font-medium mb-4 text-[#292929] dark:text-textDark">History Log</p>



<div
  class="fixed-width-container overflow-x-auto scrollbar-thin scrollbar-thumb-scrollBarColor scrollbar-track-transparent scrollbar-thumb-rounded-full">
  <div
    class="mx-auto w-[100%] py-6 bg-tileLight dark:bg-tileBlack rounded-lg shadow-lg flex flex-wrap gap-4 justify-between px-4 sm:px-16">
    <!-- Package Name -->
    <div class="flex items-center gap-2">
      <p class="font-normal text-[#393939] dark:text-textDark">
        Package Name: <strong>{{ packageName }}</strong>
      </p>
    </div>






    <!-- To Date Input -->
    <div class="ml-auto">
      <p-calendar id="toDate" [(ngModel)]="toDate" [maxDate]="maxDate" placeholder="----/--/--" [showIcon]="true"
        [showClear]="false" [showButtonBar]="true" iconDisplay="input" [style]="{ width: '22rem' }"
        styleClass="calendar-popup-small" panelStyleClass="calendar-popup-small rounded-xl dark:bg-[#2d354d] dark:text-textDark dark:border-gray-600
    [&_.p-datepicker-calendar_td_span:hover]:dark:bg-[#4a5568]
    [&_.p-datepicker-calendar_td_span:hover]:dark:text-white
    [&_.p-datepicker-header]:dark:bg-[#2d354d]
    [&_.p-datepicker-header]:dark:text-white
    [&_.p-datepicker-buttonbar]:dark:bg-[#2d354d]
    [&_.p-button:hover]:dark:bg-[#6b7280]"
        inputStyleClass="p-2 border cursor-pointer rounded-md bg-white dark:bg-[#1F2937] text-gray-800 dark:text-white border-gray-300 dark:border-gray-600 w-[350px] h-10 pr-12"
        [appendTo]="'body'" ariaLabel="Select date to view package history" />
    </div>

    <!-- Go Button -->
    <div class="flex items-center">
      <button (click)="getPackageHistory()" class="bg-[#3980C0] text-white px-4 py-2 rounded-md hover:bg-blue-600"
        aria-label="Fetch package history for selected date">
        Go
      </button>
    </div>
  </div>

  <div class="h-[20px] w-full"></div>

  <!-- Data Table -->
  <div class="mx-auto w-[100%]  p-6 bg-tileLight dark:bg-tileBlack shadow-lg rounded-lg" *ngIf="hasData && !isLoading">
    <div class="text-center">
      <p class="text-black dark:text-textDark">
        <ng-container *ngIf="toDate; else noDate">
          Defined Items on <strong>{{ toDate | date: 'MMMM d, yyyy' }}</strong>
        </ng-container>
        <ng-template #noDate>
          <strong class="text-[#393939] dark:text-textDark">--Please select a date first--</strong>
        </ng-template>

      </p>

      <hr class="border-t-2 border-black w-full mx-auto my-2 mb-8" />
    </div>

    <div #contentToConvert>
      <div class="flex justify-center">
        <table class="w-full max-w-[800px] text-sm text-left text-gray-900 dark:text-white"
          aria-label="Package history table">
          <thead class="text-gray-700 dark:bg-gray-700" style="color: #8492A3; font-size: 16px;">
            <tr>
              <th scope="col" class="px-6 py-4">Product Type</th>
              <th scope="col" class="px-6 py-4">Product</th>
              <th scope="col" class="px-6 py-4">Qty (kg)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of packageData" class="bg-white dark:bg-gray-800 dark:border-gray-700">
              <td class="px-10 py-4">{{ item.productType }}</td>
              <td class="px-8 py-4">{{ item.product }}</td>
              <td class="px-8 py-4">{{ item.quantity !== undefined ? (item.quantity | number: '1.3-3') : '---' }}</td>
            </tr>
            <tr *ngIf="!packageData.length" class="bg-white dark:bg-gray-800 dark:border-gray-700">
              <td colspan="3" class="px-6 py-4 text-center dark:text-textDark">No data available for the selected date
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>