<app-loading-spinner *ngIf="isLoading" />
<button onclick="history.back()" class="mb-5 text-textLight dark:text-textDark">
    <i class="fa-solid fa-arrow-left"></i>
    Back
</button>

<div class="mx-auto p-6 bg-tileLight dark:bg-tileBlack rounded-lg shadow-lg">
    <div>
        <div class="flex justify-between items-center mb-5">
            <h4 class="text-xl font-normal text-[#292929] dark:text-textDark">
               Invoice No : <span class="font-semibold">{{invNo}}</span>
            </h4>
        </div>

        <div>
            <!-- <div *ngIf="!hasData" class="flex flex-col items-center w-full h-screen mt-6">
            <p class="text-[#494949] my-6 dark:text-white">--No Data Available--</p>
            <img src="assets/images/NoData.png" alt="No Data" class="w-20 h-20" />
        </div> -->

            <table class=" divide-y divide-gray-200 table-auto">
                <thead>
                    <tr>
                        <th class="py-3 font-normal text-[#4B5563] dark:text-textDark text-left">
                            Packages
                        </th>
                        <th class="px-4 py-3 font-normal text-[#4B5563] dark:text-textDark text-start">
                            Price of Products (Rs.)
                        </th>
                        <th class="px-4 py-3 font-normal text-[#4B5563] dark:text-textDark text-center">
                            Package Items
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of packageObj.packageData">
                        <td class="py-3 text-[#000000] dark:text-textDark text-left">
                            {{item.name}}
                        </td>

                        <td class="px-4 py-3 font-normal text-[#000000] dark:text-textDark text-start">
                            {{item.price | number : '1.2-2'}}
                        </td>

                        <td
                            class="px-4 py-3 font-normal text-[#000000] dark:text-textDark text-center justify-center items-center">
                            <!-- (click)="navigateToAdditionalItemView(item.processOrderId, item.invNo,
                            item.orderAdditionalCount, item.displayName, item.additionalPrice)" -->

                            <button class="w-6 h-6 mr-3" 
                            (click)="navigateDispatchItems(item.packageId)"
                            [disabled]="item.packStatus === 'Unknown'" [ngClass]="{
                              'text-gray-300 cursor-not-allowed': item.packStatus === 'Unknown',
                              'text-yellow-500 hover:text-yellow-700': item.packStatus === 'Opened',
                              'text-green-500 hover:text-green-700': item.packStatus === 'Completed',
                              'text-red-500 hover:text-red-700': item.packStatus === 'Pending' 
                            }" [disabled]="item.packStatus === 'Unknown'">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3 14C3 9.02944 7.02944 5 12 5C16.9706 5 21 9.02944 21 14M17 14C17 16.7614 14.7614 19 12 19C9.23858 19 7 16.7614 7 14C7 11.2386 9.23858 9 12 9C14.7614 9 17 11.2386 17 14Z"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </button>


                        </td>

                    </tr>
                    <tr *ngIf="packageObj.additionalData !== null">
                        <td class="py-3 text-[#000000] dark:text-textDark text-left">
                            Additional
                        </td>

                        <td class="px-4 py-3 font-normal text-[#000000] dark:text-textDark text-start">
                            {{packageObj.additionalData.price| number : '1.2-2'}}
                        </td>

                        <td
                            class="px-4 py-3 font-normal text-[#000000] dark:text-textDark text-center justify-center items-center">
                            <!-- (click)="navigateToAdditionalItemView(item.processOrderId, item.invNo, item.orderAdditionalCount, item.displayName, item.additionalPrice)" -->

                            <button class="w-6 h-6 mr-3" [disabled]="packageObj.additionalData.packStatus === 'Unknown'"
                                [ngClass]="{
                              'text-gray-300 cursor-not-allowed': packageObj.additionalData.packStatus === 'Unknown',
                              'text-yellow-500 hover:text-yellow-700': packageObj.additionalData.packStatus === 'Opened',
                              'text-green-500 hover:text-green-700': packageObj.additionalData.packStatus === 'Completed',
                              'text-red-500 hover:text-red-700': packageObj.additionalData.packStatus === 'Pending'
                            }" [disabled]="packageObj.additionalData.packStatus === 'Unknown'">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3 14C3 9.02944 7.02944 5 12 5C16.9706 5 21 9.02944 21 14M17 14C17 16.7614 14.7614 19 12 19C9.23858 19 7 16.7614 7 14C7 11.2386 9.23858 9 12 9C14.7614 9 17 11.2386 17 14Z"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>