<button class="mb-5 text-textLight dark:text-textDark" (click)="back()">
    <i class="fa-solid fa-arrow-left"></i>
    Back
  </button>
  
  
  <div
    class="fixed-width-container min-w-full scrollbar-thin scrollbar-thumb-[#FACD07] scrollbar-track-transparent scrollbar-thumb-rounded-full">
    <div class="pt-5 pr-12 pl-12 pb-5 min-w-max bg-white dark:bg-tileBlack shadow-lg rounded-lg">
      <div class="flex space-x-4 pb-5 border-b border-gray-300">
        <button *ngIf="
          permissionService.hasPermission('Polygon centres view dashboard progress tab') ||
          tokenService.getUserDetails().role === '1'
        " (click)="setActiveTab('Progress')" [ngClass]="
            activeTab === 'Progress'
              ? 'border border-[#415CFF] text-[#415CFF]'
              : 'border border-gray-300 text-textLight dark:text-textDark'
          " class="h-10 px-5 flex items-center justify-center rounded-full gap-2">
          <i *ngIf="activeTab === 'Progress'" class="fa fa-check"></i>
          Progress
        </button>
  
        <button *ngIf="
          permissionService.hasPermission('Polygon centres view dashboard out for delivery tab') ||
          tokenService.getUserDetails().role === '1'
        " (click)="setActiveTab('Out for Delivery')" [ngClass]="
            activeTab === 'Out for Delivery'
              ? 'border border-[#415CFF] text-[#415CFF]'
              : 'border border-gray-300 text-textLight dark:text-textDark'
          " class="h-10 px-5 flex items-center justify-center rounded-full gap-2">
          <i *ngIf="activeTab === 'Out for Delivery'" class="fa fa-check"></i>
          Out for Delivery
        </button>
        
      </div>
      <div class="h-5"></div>
      <div class="tab-content">
        <app-progress [centerObj]="centerObj" *ngIf="activeTab === 'Progress' && (permissionService.hasPermission('Polygon centres view dashboard progress tab') || tokenService.getUserDetails().role === '1')"></app-progress>
        <app-out-of-delivery [centerObj]="centerObj" *ngIf="activeTab === 'Out for Delivery' && (permissionService.hasPermission('Polygon centres view dashboard out for delivery tab') || tokenService.getUserDetails().role === '1')"></app-out-of-delivery>
      </div>
    </div>
  </div>