<!-- Back Button -->
<button class="mb-5 text-textLight dark:text-textDark" onclick="history.back()">
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>

<!-- If there is data, show the table -->
<div *ngIf="hasData; else noDataTemplate"
  class="pt-5 pr-12 pl-12 pb-5 w-100 bg-white dark:bg-tileBlack shadow-lg rounded-lg">
  <div class="flex justify-between items-center mb-8">
    <div class="flex items-center">
      <h2 class="text-[22px] font-semibold  dark:text-textDark">
        {{this.firstName}} {{this.lastName}} - {{this.farmName}}
      </h2>
    </div>
  </div>

  <div class="overflow-x-auto">
    <table class="w-full divide-y divide-gray-200 table-auto">
      <thead>
        <tr>
          <th class="px-4 py-3 font-normal text-gray-500 dark:text-textDark text-left">Category</th>
          <th class="px-4 py-3 font-normal text-gray-500 dark:text-textDark text-center">View</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="px-4 py-3 font-normal text-[#000000] dark:text-textDark text-left">Building and Infastructures</th>
          <th class="px-4 py-3 font-normal text-gray-700 dark:text-textDark text-center">
            <button (click)="buildingCategory(this.userId!, this.farmId!)" 
                    [disabled]="!this.userId || !this.farmId">
   <i class="fa-solid fa-arrow-up-right-from-square text-blue-500"></i>


            </button>
          </th>
        </tr>

        <tr>
          <th class="px-4 py-3 font-normal text-[#000000] dark:text-textDark text-left">Lands</th>
          <th class="px-4 py-3 font-normal text-gray-700 dark:text-textDark text-center">
            <button (click)="landCategory(this.userId!, this.farmId!)" 
                    [disabled]="!this.userId || !this.farmId">
             <i class="fa-solid fa-arrow-up-right-from-square text-blue-500"></i>


            </button>
          </th>
        </tr>

        <tr>
          <th class="px-4 py-3 font-normal text-[#000000] dark:text-textDark text-left">Machinery, Vehicles</th>
          <th class="px-4 py-3 font-normal text-gray-700 dark:text-textDark text-center">
            <button (click)="machCategory(this.userId!, this.farmId!)" 
                    [disabled]="!this.userId || !this.farmId">
                 <i class="fa-solid fa-arrow-up-right-from-square text-blue-500"></i>


            </button>
          </th>
        </tr>

        <tr>
          <th class="px-4 py-3 font-normal text-[#000000] dark:text-textDark text-left">Tools & Equipments</th>
          <th class="px-4 py-3 font-normal text-gray-700 dark:text-textDark text-center">
            <button (click)="toolsCategory(this.userId!, this.farmId!)" 
                    [disabled]="!this.userId || !this.farmId">
            <i class="fa-solid fa-arrow-up-right-from-square text-blue-500"></i>


            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- No Data Template -->
<ng-template #noDataTemplate>
  <div class="flex flex-col justify-center items-center py-20 shadow-lg">
    <p class="text-[#494949] dark:text-textDark mb-4">
      -- No Data Available --
    </p>
    <img src="assets/images/NoData.png" alt="No Data" class="w-20 h-20 mb-4" />
  </div>
</ng-template>