::ng-deep .p-dropdown .p-dropdown-clear {
    display: none;
  }
  
  ::ng-deep .p-dropdown.ng-dirty.ng-valid .p-dropdown-clear {
    display: inline-flex !important;
  }

  ::ng-deep .dark .p-dropdown-panel {
    background-color: #2d354d !important;
    color: #B1B1B1 !important;
    border-radius: 6px !important; 
    overflow: hidden; 
  }
  
  ::ng-deep .dark .p-dropdown-panel .p-dropdown-item {
    background-color: #2d354d !important;
    color: #B1B1B1 !important;
  }
  
  ::ng-deep .dark .p-dropdown-panel .p-dropdown-item:hover {
    background-color: #3a4160 !important;
    color: #fff !important;
  }
  
  ::ng-deep .dark .p-dropdown-panel .p-dropdown-item.p-highlight {
    background-color: #2d354d !important;
    color: #B1B1B1 !important;
  }

::ng-deep .p-dropdown-panel .p-dropdown-items-wrapper::-webkit-scrollbar {
  width: 0px;
}


::ng-deep .p-dropdown-panel .p-dropdown-items-wrapper {
  scrollbar-width: none;
}

