<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div>
  <div class="w-[100]">
    <app-dashbord-first-row [firstRow]="responceData.firstRow" />
  </div>
  <div class="my-10 w-[100%]">
    <app-dashbord-second-row [secondRow]="responceData.secondRow"/>
  </div>
  <div class="flex flex-row justify-between items-center my-10">
    <div class="h-auto w-[65%]">
      <app-dashbord-area-chart [areaData]="responceData.areaData"/>
    </div>
    <div class="h-auto w-[30%]">
      <app-dashbord-pie-chart [pieData]="responceData.pieData"/>
    </div>
  </div>

  <div class="my-10">
    <app-dashbord-table [orders]="responceData.orders"/>
  </div>
</div>
