:host ::ng-deep .dark .p-dropdown {
  color: var(--text-textDark);
  background-color: var(--tile-tileBlack);
  border-color: #4b5563;
}

:host ::ng-deep .p-dropdown.p-invalid {
  border-color: #dc2626;
}

::ng-deep .dark .p-dropdown-item.p-highlight {
  background-color: #1e40af;
  color: white;
}

::ng-deep .dark .p-dropdown-item {
  color: #f9fafb;
}

::ng-deep .p-dropdown-item:hover {
  background-color: #f3f4f6;
}

::ng-deep .dark .p-dropdown-item:hover {
  background-color: #4b5563;
}

::ng-deep .p-dropdown-item.p-highlight {
  background-color: #dbeafe;
  color: #1e40af;
}

::ng-deep .p-dropdown-item {
  border: none;
  color: #374151;
  background-color: transparent;
  transition: background-color 0.15s ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::ng-deep .dark .p-dropdown-panel {
  background-color: #374151;
  border-color: #6b7280;
}

::ng-deep .p-dropdown-panel {
  z-index: 1000 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  background-color: white;
}

::ng-deep .dark .p-dropdown-custom .p-dropdown {
  background-color: #374151;
  border-color: #6b7280;
  color: #f9fafb;
}

::ng-deep .p-dropdown-custom .p-dropdown {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  background-color: #f9fafb;
  display: flex;
  align-items: center;
  position: relative;
}

::ng-deep .p-dropdown-filter {
  padding: 0.375rem 0.75rem;
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
}

::ng-deep .dark .p-dropdown-filter-container {
  border-bottom-color: #6b7280;
}

::ng-deep .dark .p-dropdown-header {
  background-color: #4b5563;
}

::ng-deep .p-dropdown-filter-container {
  padding: 0.5rem;
  border-bottom: 1px solid #e5e7eb;
}

::ng-deep .dark .p-dropdown-item.p-highlight {
  background-color: #1e40af;
  color: white;
}

::ng-deep .p-dropdown-item.p-highlight {
  background-color: #dbeafe;
  color: #1e40af;
}

.custom-calendar-wrapper {
  width: 100%;
}

::ng-deep .custom-calendar-addon {
  background: #F1F1F1 !important;
  border: 2px solid #d1d5db !important;
  border-right: none !important;
  border-radius: 0.75rem 0 0 0.75rem !important;
  padding: 0 0.75rem !important;
  color: #6b7280 !important;
}

:host-context(.dark) ::ng-deep .custom-calendar-addon {
  background: #272F45 !important;
  border-color: #AFAFAF !important;
  color: #d1d5db !important;
}

/* Adjust the calendar input border */
::ng-deep .custom-calendar-wrapper .p-calendar .p-inputtext {
  border-left: none !important;
  border-radius: 0 0.75rem 0.75rem 0 !important;
}
