<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>


<!-- Creating Area -->
<div *ngIf="this.itemId==null">
  <button onclick="window.location.href='/admin/plant-care/action'" class="mb-5 text-textLight dark:text-textDark">
    <i class="fa-solid fa-arrow-left"></i>
    Back
  </button>
  <div class="h-[20px]"></div>


  <div class="mx-auto p-6 bg-tileLight dark:bg-tileBlack rounded-lg shadow-lg">
    <h2 class="text-xl font-semibold text-center mb-4 dark:text-textDark">ADD CROP GROUP</h2>


    <div class="space-y-4">
      <!-- Crop Name -->
      <div>
        <label for="cropName" class="block text-sm font-medium text-gray-700 dark:text-textDark">Crop Name By English</label>
        <input type="text" id="cropName" [(ngModel)]="cropGroup.cropNameEnglish" name="cropName"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-blue-500"
          #cropEngNameInput="ngModel" pattern="^[a-zA-Z0-9]*$" required />
        <div *ngIf="cropEngNameInput.touched && !cropGroup.cropNameEnglish" class="text-red-500 text-sm mt-1">
          <div>English crop name is required</div>
        </div>
        <div *ngIf="cropEngNameInput.touched && cropEngNameInput.errors?.['pattern']" class="text-red-500 text-sm mt-1">
          <div>Can not enter special character</div>
        </div>
      </div>




      <div>
        <label for="cropName" class="block text-sm font-medium text-gray-700 dark:text-textDark">Crop Name By Sinhala</label>
        <input type="text" id="cropName" [(ngModel)]="cropGroup.cropNameSinahala" name="cropName"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-blue-500"
          #cropSinNameInput="ngModel" pattern="^[a-zA-Z0-9]*$" />
        <div *ngIf="cropSinNameInput.touched && !cropGroup.cropNameSinahala" class="text-red-500 text-sm mt-1">
          <div>Sinhala crop name is required</div>
        </div>
        <!-- <div *ngIf="cropSinNameInput.touched && cropSinNameInput.errors?.['pattern']" class="text-red-500 text-sm mt-1">
          <div>Can not enter special character</div>
        </div> -->
      </div>

      <div>
        <label for="cropName" class="block text-sm font-medium text-gray-700 dark:text-textDark">Crop Name By Tamil</label>
        <input type="text" id="cropName" [(ngModel)]="cropGroup.cropNameTamil" name="cropName"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-blue-500"
          #cropTamilNameInput="ngModel" pattern="^[a-zA-Z0-9]*$" />
        <div *ngIf="cropTamilNameInput.touched && !cropGroup.cropNameTamil" class="text-red-500 text-sm mt-1">
          <div>Tamil crop name is required</div>
        </div>
        <!-- <div *ngIf="cropTamilNameInput.touched && cropTamilNameInput.errors?.['pattern']"
          class="text-red-500 text-sm mt-1">
          <div>Can not enter special character</div>
        </div> -->
      </div>

      <!-- Select Parent Category -->
      <div>
        <label for="parentCategory" class="block text-sm font-medium text-gray-700 dark:text-textDark">Select Parent Category</label>
        <select id="parentCategory" [(ngModel)]="cropGroup.parentCategory" name="parentCategory"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-blue-500"
          #parentCategoryInput="ngModel">
          <option value="" disabled>Select Category</option>
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
        <div *ngIf="parentCategoryInput.touched && !cropGroup.parentCategory" class="text-red-500 text-sm mt-1">
          <div>Parent category is required</div>
        </div>
      </div>

      <!-- Add Image -->
      <input type="file" id="imageUpload" accept="image/*" class="hidden" (change)="onFileSelected($event)" />

      <!-- Button -->
      <button class="flex items-center text-textLight dark:text-textDark" (click)="triggerFileInput($event)">
        Add Image
        <span
          class="flex justify-center items-center w-6 h-6 ml-2 border border-[#4A90E2] rounded text-blue-500 font-bold">
          <i class="fa-solid fa-plus" style="color: #4A90E2;"></i>
        </span>
      </button>


      <div *ngIf="selectedFileName" class="mt-2 text-textLight dark:text-textDark w-full block">
        {{selectedFileName}}
        <div class="w-full h-72 py-5 mt-2 content-center flex justify-center border">
          <img [src]="selectedImage" alt="Crop Image" class="max-w-full w-auto object-contain">
        </div>
      </div>

      <!-- Add Background Color -->
      <div class="flex items-center space-x-4">
        <label for="bgColor" class="block text-sm font-medium text-textLight dark:text-textDark pt-2">Color</label>
        <ngx-colors ngx-colors-trigger [(ngModel)]="cropGroup.bgColor" (colorChange)="onColorChange($event)"
          style="display: inline-block; margin:5px;" #bgColorInput="ngModel">
        </ngx-colors>
        <div *ngIf="bgColorInput.touched && !cropGroup.bgColor" class="text-red-500 text-sm mt-1">
          <div>Background color is required</div>
        </div>
      </div>

      <!-- Buttons -->
      <div class="flex justify-end space-x-4 mt-6">
        <button type="button" (click)="onCancel()"
          class="px-4 py-2 text-sm font-medium text-gray-700 bg-gray-200 rounded-md">Cancel</button>
        <button type="submit" (click)="onSubmit()"
          class="px-6 py-2 mx-4 bg-[#3980C0] text-white rounded-md">Save</button>
      </div>
    </div>

  </div>

</div>







<!-- Editing Area -->

<div *ngIf="this.itemId!=null">
  <button onclick="window.location.href='/plant-care/view-crop-group'" class="mb-5 text-textLight dark:text-textDark">
    <i class="fa-solid fa-arrow-left"></i>
    Back
  </button>
  <div class="h-[20px]"></div>


  <div class="mx-auto p-6 bg-tileLight dark:bg-tileBlack rounded-lg shadow-lg">
    <h2 class="text-xl font-semibold text-center mb-4 dark:text-textDark">EDIT CROP GROUP</h2>


    <div class="space-y-4">
      <!-- Crop Name -->
      <div>
        <label for="cropName" class="block text-sm font-medium text-gray-700 dark:text-textDark">Crop Name By English</label>
        <input type="text" id="cropNameEnglish" [(ngModel)]="newsItems[0].cropNameEnglish" name="cropNameEnglish"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-blue-500"
          required #cropNameEnglishInput="ngModel" pattern="^[a-zA-Z0-9]*$" />
        <div *ngIf="cropNameEnglishInput.touched && !newsItems[0].cropNameEnglish" class="text-red-500 text-sm mt-1">
          <div>English crop name is required</div>
        </div>
        <div *ngIf="cropNameEnglishInput.touched && cropNameEnglishInput.errors?.['pattern']" class="text-red-500 text-sm mt-1">
          <div>Can not enter special character</div>
        </div>
      </div>

      <div>
        <label for="cropName" class="block text-sm font-medium text-gray-700 dark:text-textDark">Crop Name By Sinhala</label>
        <input type="text" id="cropNameSinhala" [(ngModel)]="newsItems[0].cropNameSinhala" name="cropNameSinhala"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-blue-500"
          required #cropNameSinhalaInput="ngModel" pattern="^[a-zA-Z0-9]*$"  />
          <div *ngIf="cropNameSinhalaInput.touched && !newsItems[0].cropNameSinhala" class="text-red-500 text-sm mt-1">
            <div>Sinhala crop name is required</div>
          </div>
          <!-- <div *ngIf="cropNameSinhalaInput.touched && cropNameSinhalaInput.errors?.['pattern']" class="text-red-500 text-sm mt-1">
            <div>Can not enter special character</div>
          </div> -->
      </div>

      <div>
        <label for="cropName" class="block text-sm font-medium text-gray-700 dark:text-textDark">Crop Name By Tamil</label>
        <input type="text" id="cropNameTamil" [(ngModel)]="newsItems[0].cropNameTamil" name="cropNameTamil"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-blue-500"
          required #cropNameTamilInput="ngModel" pattern="^[a-zA-Z0-9]*$" />
          <div *ngIf="cropNameTamilInput.touched && !newsItems[0].cropNameTamil" class="text-red-500 text-sm mt-1">
            <div>Tamil crop name is required</div>
          </div>
          <!-- <div *ngIf="cropNameTamilInput.touched && cropNameTamilInput.errors?.['pattern']" class="text-red-500 text-sm mt-1">
            <div>Can not enter special character</div>
          </div> -->
      </div>

      <!-- Select Parent Category -->
      <div>
        <label for="parentCategory" class="block text-sm font-medium text-gray-700 dark:text-textDark">Select Parent Category</label>
        <select id="parentCategory" [(ngModel)]="newsItems[0].category" name="parentCategory" #categoryInput="ngModel"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-blue-500"
          required>
          <option value="" disabled>Select Category</option>
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
        <div *ngIf="categoryInput.touched && !newsItems[0].category" class="text-red-500 text-sm mt-1">
          <div>Parent Category is required</div>
        </div>
      </div>

      <!-- Add Image -->
      <input type="file" id="imageUpload" accept="image/*" class="hidden" (change)="onFileSelected($event)" />

      <!-- Button -->
      <button class="flex items-center text-textLight dark:text-textDark" (click)="triggerFileInput($event)">
        Add Image
        <span
          class="flex justify-center items-center w-6 h-6 ml-2 border border-[#4A90E2] rounded text-blue-500 font-bold">
          <i class="fa-solid fa-plus" style="color: #4A90E2;"></i>
        </span>
      </button>


      <div *ngIf="selectedFileName" class="mt-2 text-textLight dark:text-textDark w-full block">
        {{selectedFileName}}
        <div class="w-full h-72 py-5 mt-2 content-center flex justify-center border">
          <img [src]="selectedFile ? selectedImage || '' : newsItems[0].image" alt="Crop Image"
            class="max-w-full w-auto object-contain">
        </div>
      </div>

      <!-- Add Background Color -->
      <div class="flex items-center space-x-4">
        <label for="bgColor" class="block text-sm font-medium text-textLight dark:text-textDark pt-2">Color</label>
        <ngx-colors ngx-colors-trigger [(ngModel)]="newsItems[0].bgColor" (colorChange)="onColorChange($event)"
          style="display: inline-block; margin:5px;">
        </ngx-colors>
      </div>

      <!-- Buttons -->
      <div class="flex justify-end space-x-4 mt-6">
        <button type="button" (click)="onCancel()"
          class="px-4 py-2 text-sm font-medium text-gray-700 bg-gray-200 rounded-md">Cancel</button>
        <button type="submit" (click)="updateNews()"
          class="px-6 py-2 mx-4 bg-[#3980C0] text-white rounded-md">Save</button>
      </div>
    </div>

  </div>

</div>