<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<button (click)="back()" class="text-textLight dark:text-textDark">
  <i class="fa-solid fa-arrow-left"></i> Back
</button>

<div class="h-[20px]"></div>

<div class="mx-auto p-6 bg-white dark:bg-tileBlack rounded-lg shadow-mg">
  <h2 class="text-2xl mb-6 text-textLight dark:text-textDark">
    Edit Collection Centres
  </h2>

  <form (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">

      <div>
        <label for="centerName" class="block text-sm font-medium text-gray-700 dark:text-textDark">Collection Centres
          Name *</label>
        <input id="centerName" name="centerName" [(ngModel)]="centerFetchData.centerName" #centerNameInput="ngModel"
          required (input)="onCenterNameInput($event)"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />

        <div *ngIf="(centerNameInput.touched && centerNameInput.errors?.['required']) "
          class="text-red-500 text-sm mt-1">
          Centres Name is required
        </div>
      </div>

      <div class="relative">
        <label for="companies" class="block text-sm font-medium text-gray-700 dark:text-textDark">
          Companies *
        </label>
        <p-multiSelect #companiesMultiSelect [options]="CompanyData" [(ngModel)]="selectedCompaniesIds"
          (onChange)="onCompanyChange($event)" optionLabel="companyNameEnglish" optionValue="id" [filter]="true"
          filterPlaceholder="Search company..." [showClear]="true" placeholder="Select companies"
          [styleClass]="'w-full mt-1 flex items-center text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800'"
          [ngModelOptions]="{standalone: true}">
        </p-multiSelect>

      </div>

      <div>
        <label for="contact01Code" class="block text-sm font-medium text-gray-700 dark:text-textDark">
          Contact Number 01 *
        </label>

        <div class="mt-1 flex">

          <p-dropdown [options]="countries" [(ngModel)]="centerFetchData.code1" [optionLabel]="'dialCode'"
            [optionValue]="'dialCode'"
            styleClass="border border-gray-300 mr-2 rounded-md bg-white dark:bg-tileBlack text-gray-800 dark:text-white custom-dropdown"
            [style]="{ width: '120px' }">
            <ng-template let-country pTemplate="item">
              <div class="flex items-center gap-2">
                <img [src]="getFlagUrl(country.code)" width="24" height="18" alt="{{ country.name }}" />
                <span>{{ country.dialCode }}</span>
              </div>
            </ng-template>

            <ng-template let-country pTemplate="selectedItem">
              <div class="flex items-center gap-2" *ngIf="country">
                <img [src]="getFlagUrl(country.code)" width="24" height="18" alt="{{ country.name }}" />
                <span>{{ country.dialCode }}</span>
              </div>
            </ng-template>
          </p-dropdown>

          <div class="flex-1">
            <input type="tel" [(ngModel)]="centerFetchData.contact01" id="contact01" name="contact01"
              #contact01="ngModel" required pattern="^[0-9]{9}$" minlength="9" (keypress)="allowOnlyNumbers($event)"
              (ngModelChange)="validateSriLankanPhone($event, 'phone01')" maxlength="9"
              class="block w-full p-2 border h-12 border-gray-300 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
              placeholder="Enter your phone number" />
          </div>
        </div>

        <div *ngIf="contact01.touched">
          <div *ngIf="!centerFetchData.contact01" class="text-red-500 text-sm mt-1">
            Contact Number 01 is required.
          </div>
          <div *ngIf="
              centerFetchData.contact01 &&
              contact01.invalid &&
              !isPhoneInvalidMap['phone01']
            " class="text-red-500 text-sm mt-1">
            Please enter a valid Contact Number (format: +947XXXXXXXX)
          </div>

          <div *ngIf="isPhoneInvalidMap['phone01'] && centerFetchData.contact01" class="text-red-500 text-sm mt-1">
            Please enter a valid Contact Number (format: +947XXXXXXXX)
          </div>
        </div>
      </div>

      <div>
        <label for="contact02Code" class="block text-sm font-medium text-gray-700 dark:text-textDark">
          Contact Number 02
        </label>

        <div class="mt-1 flex">

          <p-dropdown [options]="countries" [(ngModel)]="centerFetchData.code2" [optionLabel]="'dialCode'"
            [optionValue]="'dialCode'"
            styleClass="border border-gray-300 mr-2 rounded-md bg-white dark:bg-tileBlack text-gray-800 dark:text-white custom-dropdown"
            [style]="{ width: '120px' }">
            <ng-template let-country pTemplate="item">
              <div class="flex items-center gap-2">
                <img [src]="getFlagUrl(country.code)" width="24" height="18" alt="{{ country.name }}" />
                <span>{{ country.dialCode }}</span>
              </div>
            </ng-template>

            <ng-template let-country pTemplate="selectedItem">
              <div class="flex items-center gap-2" *ngIf="country">
                <img [src]="getFlagUrl(country.code)" width="24" height="18" alt="{{ country.name }}" />
                <span>{{ country.dialCode }}</span>
              </div>
            </ng-template>
          </p-dropdown>

          <input type="tel" [(ngModel)]="centerFetchData.contact02" id="contact02" name="contact02" #contact02="ngModel"
            required pattern="^[0-9]{9}$" minlength="9" (keypress)="allowOnlyNumbers($event)"
            (ngModelChange)="validateSriLankanPhone($event, 'phone02')" maxlength="9"
            class="flex-1 block p-2 border h-12 border-gray-300 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
            placeholder="Enter your phone number" />
        </div>

        <div *ngIf="contact02.touched">
          <div *ngIf="
              centerFetchData.contact02 &&
              centerFetchData.contact01 === centerFetchData.contact02 &&
              !isPhoneInvalidMap['phone02'] &&
              !contact02.invalid
            " class="text-red-500 text-sm mt-1">
            Contact Number - 1 and Contact Number - 2 cannot be the same </div>

          <div *ngIf="
              centerFetchData.contact02 &&
              contact02.invalid &&
              !isPhoneInvalidMap['phone02']
            " class="text-red-500 text-sm mt-1">
            Please enter a valid Contact Number (format: +947XXXXXXXX)
          </div>

          <div *ngIf="isPhoneInvalidMap['phone02'] && centerFetchData.contact02" class="text-red-500 text-sm mt-1">
            Please enter a valid Contact Number (format: +947XXXXXXXX)
          </div>
        </div>
      </div>

      <div>
        <label for="buildingNumber" class="block text-sm font-medium text-gray-700 dark:text-textDark">Building Number
          *</label>
        <input type="text" id="buildingNumber" name="buildingNumber" [value]="centerFetchData.buildingNumber"
          [(ngModel)]="centerFetchData.buildingNumber" #buildingNumberInput="ngModel"
          (input)="onBuildingNumberInput($event)"
          class="mt-1 block w-full p-2 border h-12 border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
        <div *ngIf="buildingNumberInput.touched && !centerFetchData.buildingNumber" class="text-red-500 text-sm mt-1">
          <div>Buliding Number is required</div>
        </div>
      </div>

      <div>
        <label for="street" class="block text-sm font-medium text-gray-700 dark:text-textDark">Street Name *</label>
        <input id="street" name="street" [value]="centerFetchData.street" [(ngModel)]="centerFetchData.street"
          (input)="onStreetNameInput($event)" #streetInput="ngModel" pattern="^[a-zA-Z]*$"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
        <div *ngIf="streetInput.touched && !centerFetchData.street" class="text-red-500 text-sm mt-1">
          <div>Street Name is required</div>
        </div>
      </div>

      <div>
        <label for="city" class="block text-sm font-medium text-gray-700 dark:text-textDark">City *</label>
        <input type="text" id="city" name="city" [value]="centerFetchData.city" [(ngModel)]="centerFetchData.city"
          (input)="onCityInput($event)" (change)="onCityChange()" #cityInput="ngModel"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
        <div *ngIf="cityInput.touched && !centerFetchData.city" class="text-red-500 text-sm mt-1">
          <div>City is required</div>
        </div>
      </div>

      <div>
        <label for="province" class="block text-sm font-medium text-gray-700 dark:text-textDark">Province *</label>
        <p-dropdown id="province" name="province" [(ngModel)]="centerFetchData.province" (onChange)="onProvinceChange()"
          [options]="ProvinceData" optionLabel="province" optionValue="province" filter="true" filterBy="province"
          placeholder="-- select --" [showClear]="true" [autoDisplayFirst]="false" #provinceInput="ngModel" required
          styleClass="w-full mt-1" panelStyleClass="custom-dropdown-panel"
          class="mt-1 block w-full p-dropdown-custom"></p-dropdown>
        <div *ngIf="provinceInput.touched && !centerFetchData.province" class="text-red-500 text-sm mt-1">
          <div>Province is required</div>
        </div>
      </div>

      <div>
        <label for="district" class="block text-sm font-medium text-gray-700 dark:text-textDark">District *</label>
        <p-dropdown id="district" name="district" [(ngModel)]="centerFetchData.district" (onChange)="onDistrictChange()"
          [options]="selectedDistrict" optionLabel="districtName" optionValue="districtName" filter="true"
          filterBy="districtName" placeholder="-- select --" [showClear]="true" [autoDisplayFirst]="false"
          #districtInput="ngModel" required [style]="{ 'min-height': '38px' }" styleClass="w-full mt-1"
          panelStyleClass="custom-dropdown-panel" class="mt-1 block w-full p-dropdown-custom"
          [disabled]="!centerFetchData.province"></p-dropdown>
        <div *ngIf="districtInput.touched && !centerFetchData.district" class="text-red-500 text-sm mt-1">
          <div>District is required</div>
        </div>
      </div>

      <div>
        <label for="country" class="block text-sm font-medium text-gray-700 dark:text-textDark">
          Country *
        </label>
        <input id="country" name="country" type="text" [ngModel]="centerFetchData.country" readonly
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
      </div>


      <div>
        <label for="regCode" class="block text-sm font-medium text-gray-700 dark:text-textDark">Collection Centre Reg
          Code</label>
        <input id="regCode" name="regCode" [(ngModel)]="centerFetchData.regCode" #regCodeInput="ngModel" readonly
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
      </div>
    </div>
    <div class="flex justify-end m-10">
      <div type="submit" class="px-6 py-2 mx-5 bg-[#74788D] text-white rounded-md cursor-pointer" (click)="onCancel()">
        Cancel
      </div>
      <button type="submit" class="px-6 py-2 bg-[#3980C0] text-white rounded-md">
        Save
      </button>
    </div>
  </form>
</div>