<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<button (click)="back()" class="text-textLight dark:text-textDark">
  <i class="fa-solid fa-arrow-left"></i> Back
</button>

<div class="h-[20px]"></div>

<div class="mx-auto p-6 bg-white dark:bg-tileBlack rounded-lg shadow-mg">
  <h2 class="text-2xl mb-6 text-textLight dark:text-textDark">
    Edit Collection Centres
  </h2>

  <form (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
      <!-- Registration Code -->

      <!-- Collection Center Name -->
      <div>
        <label
          for="centerName"
          class="block text-sm font-medium text-gray-700 dark:text-textDark"
          >Collection Centres Name *</label
        >
        <input
          id="centerName"
          name="centerName"
          [(ngModel)]="centerFetchData.centerName"
          #centerNameInput="ngModel"
          required
          (input)="onCenterNameInput($event)"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
        />

        <!-- Specific error messages -->
        <!-- <div *ngIf="centerNameInput.touched && leadingSpaceError && !centerNameInput.errors?.['required']" class="text-red-500 text-sm mt-1">
          Leading spaces are not allowed
        </div>
        <div *ngIf="centerNameInput.touched && specialCharOrNumberError && !centerNameInput.errors?.['required']" class="text-red-500 text-sm mt-1">
          Only English letters are allowed (no numbers or special characters)
        </div> -->
        <div
          *ngIf="(centerNameInput.touched && centerNameInput.errors?.['required']) || leadingSpaceError || specialCharOrNumberError"
          class="text-red-500 text-sm mt-1"
        >
          Centres Name is required
        </div>
      </div>

      <div class="relative">
        <!-- Input Field -->
        <label
          for="companies"
          class="block text-sm font-medium text-gray-700 dark:text-textDark"
        >
          Companies *
        </label>
        <input
          #companiesInput="ngModel"
          type="text"
          id="companies"
          name="companies"
          [(ngModel)]="centerFetchData.companies"
          readonly
          class="mt-2 block w-full p-2 text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 cursor-pointer"
          placeholder="Select companies"
          (click)="toggleDropdown()"
        />

        <!-- Dropdown -->
        <!-- Dropdown -->
        <div
          *ngIf="dropdownOpen"
          class="absolute left-0 w-full border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 rounded-md shadow-lg z-50 max-h-60 overflow-auto"
          style="top: 100%; position: absolute"
        >
          <div
            *ngFor="let company of CompanyData"
            class="p-2 cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700"
            (click)="toggleSelection(company)"
          >
            <input
              type="checkbox"
              [checked]="selectedCompaniesIds.includes(company.id)"
              class="mr-2"
            />
            {{ company.companyNameEnglish }}
          </div>
        </div>
        <div
          *ngIf="companiesInput.touched && !centerFetchData.companies"
          class="text-red-500 text-sm mt-1"
        >
          <div>Company Name is required</div>
        </div>
      </div>

      

      <div>
        <label
          for="contact01Code"
          class="block text-sm font-medium text-gray-700 dark:text-textDark"
        >
          Contact Number 01 *
        </label>

        <div class="mt-1 flex">
          <!-- Country Code Dropdown -->
          <!-- <select
            id="code1"
            [(ngModel)]="centerFetchData.code1"
            name="code1"
            class="block p-2 border border-gray-300 rounded-l-md bg-gray-50 mr-5 text-textLight dark:text-textDark dark:bg-tileBlack"
          >
            <option value="+94">🇱🇰 +94</option>
            <option value="+855">🇰🇭 +855</option>
            <option value="+880">🇧🇩 +880</option>
            <option value="+91">🇮🇳 +91</option>
            <option value="+31">🇳🇱 +31</option>
          </select> -->

          <p-dropdown
  [options]="countries"
  [(ngModel)]="centerFetchData.code1"
  [optionLabel]="'dialCode'"
  [optionValue]="'dialCode'"
  styleClass="border border-gray-300 mr-2 rounded-md bg-white dark:bg-tileBlack text-gray-800 dark:text-white custom-dropdown"
  [style]="{ width: '120px' }"
>
  <!-- Dropdown items -->
  <ng-template let-country pTemplate="item">
    <div class="flex items-center gap-2">
      <img
        [src]="getFlagUrl(country.code)"
        width="24"
        height="18"
        alt="{{ country.name }}"
      />
      <span>{{ country.dialCode }}</span>
    </div>
  </ng-template>

  <!-- Selected item -->
  <ng-template let-country pTemplate="selectedItem">
    <div class="flex items-center gap-2" *ngIf="country">
      <img
        [src]="getFlagUrl(country.code)"
        width="24"
        height="18"
        alt="{{ country.name }}"
      />
      <span>{{ country.dialCode }}</span>
    </div>
  </ng-template>
</p-dropdown>

          <!-- Contact Number Input -->
          <div class="flex-1">
            <input
              type="tel"
              [(ngModel)]="centerFetchData.contact01"
              id="contact01"
              name="contact01"
              #contact01="ngModel"
              required
              pattern="^[0-9]{9}$"
              minlength="9"
              (keypress)="allowOnlyNumbers($event)"
              (ngModelChange)="validateSriLankanPhone($event, 'phone01')"
              maxlength="9"
              class="block w-full p-2 border h-12 border-gray-300 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
              placeholder="Enter your phone number"
            />
          </div>
        </div>

        <!-- ✅ Validation Messages Below Full Row -->
        <div *ngIf="contact01.touched">
          <div
            *ngIf="!centerFetchData.contact01"
            class="text-red-500 text-sm mt-1"
          >
            Contact Number 01 is required.
          </div>
          <div
            *ngIf="
              centerFetchData.contact01 &&
              contact01.invalid &&
              !isPhoneInvalidMap['phone01']
            "
            class="text-red-500 text-sm mt-1"
          >
            Phone Number must be exactly 9 digits.
          </div>

          <div
            *ngIf="isPhoneInvalidMap['phone01'] && centerFetchData.contact01"
            class="text-red-500 text-sm mt-1"
          >
          Please enter a valid mobile number (format: +947XXXXXXXX)
          </div>
        </div>
      </div>

      <!-- Contact Number 02 -->
      <div>
        <label
          for="contact02Code"
          class="block text-sm font-medium text-gray-700 dark:text-textDark"
        >
          Contact Number 02
        </label>

        

        <div class="mt-1 flex">
          <!-- Country Code Dropdown -->
          <!-- <select
            [(ngModel)]="centerFetchData.code2"
            id="code2"
            name="code2"
            class="block p-2 border border-gray-300 rounded-l-md bg-gray-50 mr-5 text-textLight dark:text-textDark dark:bg-tileBlack"
          >
            <option value="+94">🇱🇰 +94</option>
            <option value="+855">🇰🇭 +855</option>
            <option value="+880">🇧🇩 +880</option>
            <option value="+91">🇮🇳 +91</option>
            <option value="+31">🇳🇱 +31</option>
          </select> -->

          <p-dropdown
  [options]="countries"
  [(ngModel)]="centerFetchData.code2"
  [optionLabel]="'dialCode'"
  [optionValue]="'dialCode'"
  styleClass="border border-gray-300 mr-2 rounded-md bg-white dark:bg-tileBlack text-gray-800 dark:text-white custom-dropdown"
  [style]="{ width: '120px' }"
>
  <!-- Dropdown items -->
  <ng-template let-country pTemplate="item">
    <div class="flex items-center gap-2">
      <img
        [src]="getFlagUrl(country.code)"
        width="24"
        height="18"
        alt="{{ country.name }}"
      />
      <span>{{ country.dialCode }}</span>
    </div>
  </ng-template>

  <!-- Selected item -->
  <ng-template let-country pTemplate="selectedItem">
    <div class="flex items-center gap-2" *ngIf="country">
      <img
        [src]="getFlagUrl(country.code)"
        width="24"
        height="18"
        alt="{{ country.name }}"
      />
      <span>{{ country.dialCode }}</span>
    </div>
  </ng-template>
</p-dropdown>

          <!-- Contact Input -->
          <input
            type="tel"
            [(ngModel)]="centerFetchData.contact02"
            id="contact02"
            name="contact02"
            #contact02="ngModel"
            required
            pattern="^[0-9]{9}$"
            minlength="9"
            (keypress)="allowOnlyNumbers($event)"
            (ngModelChange)="validateSriLankanPhone($event, 'phone02')"
            maxlength="9"
            class="flex-1 block p-2 border h-12 border-gray-300 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
            placeholder="Enter your phone number"
          />
        </div>

        <div *ngIf="contact02.touched">
          <div
            *ngIf="
              centerFetchData.contact02 &&
              centerFetchData.contact01 === centerFetchData.contact02 &&
              !isPhoneInvalidMap['phone02'] &&
              !contact02.invalid
            "
            class="text-red-500 text-sm mt-1"
          >
            Phone Number - 2 should be different from Phone Number - 1.
          </div>

          <div
            *ngIf="
              centerFetchData.contact02 &&
              contact02.invalid &&
              !isPhoneInvalidMap['phone02']
            "
            class="text-red-500 text-sm mt-1"
          >
            Phone Number must be exactly 9 digits.
          </div>

          <div
            *ngIf="isPhoneInvalidMap['phone02'] && centerFetchData.contact02"
            class="text-red-500 text-sm mt-1"
          >
          Please enter a valid mobile number (format: +947XXXXXXXX)
          </div>
        </div>
      </div>

      <!-- Building Number -->
      <div>
        <label
          for="buildingNumber"
          class="block text-sm font-medium text-gray-700 dark:text-textDark"
          >Building Number *</label
        >
        <input
          type="text"
          id="buildingNumber"
          name="buildingNumber"
          [value]="centerFetchData.buildingNumber"
          [(ngModel)]="centerFetchData.buildingNumber"
          #buildingNumberInput="ngModel"
          (input)="onBuildingNumberInput($event)"
          class="mt-1 block w-full p-2 border h-12 border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
        />
        <div
          *ngIf="buildingNumberInput.touched && !centerFetchData.buildingNumber"
          class="text-red-500 text-sm mt-1"
        >
          <div>Buliding Number is required</div>
        </div>
      </div>

      <!-- Street Name -->
      <div>
        <label
          for="street"
          class="block text-sm font-medium text-gray-700 dark:text-textDark"
          >Street Name *</label
        >
        <input
          id="street"
          name="street"
          [value]="centerFetchData.street"
          [(ngModel)]="centerFetchData.street"
          (input)="onStreetNameInput($event)"
          #streetInput="ngModel"
          pattern="^[a-zA-Z]*$"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
        />
        <div
          *ngIf="streetInput.touched && !centerFetchData.street"
          class="text-red-500 text-sm mt-1"
        >
          <div>Street Name is required</div>
        </div>
      </div>

      <div>
        <label
          for="city"
          class="block text-sm font-medium text-gray-700 dark:text-textDark"
          >City *</label
        >
        <input
          type="text"
          id="city"
          name="city"
          [value]="centerFetchData.city"
          [(ngModel)]="centerFetchData.city"
          (input)="onCityInput($event)"
          (change)="onCityChange()"
          #cityInput="ngModel"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
        />
        <div
          *ngIf="cityInput.touched && !centerFetchData.city"
          class="text-red-500 text-sm mt-1"
        >
          <div>City is required</div>
        </div>
      </div>

      <!-- Province -->
      <div>
  <label
    for="province"
    class="block text-sm font-medium text-gray-700 dark:text-textDark"
    >Province *</label
  >
  <p-dropdown
    id="province"
    name="province"
    [(ngModel)]="centerFetchData.province"
    (onChange)="onProvinceChange()"
    [options]="ProvinceData"
    optionLabel="province"
    optionValue="province"
    filter="true"
    filterBy="province"
    placeholder="-- select --"
    [showClear]="true"
    [autoDisplayFirst]="false"
    #provinceInput="ngModel"
    required
    styleClass="w-full mt-1" 
    panelStyleClass="custom-dropdown-panel" 
    class="mt-1 block w-full p-dropdown-custom"
  ></p-dropdown>
  <div
    *ngIf="provinceInput.touched && !centerFetchData.province"
    class="text-red-500 text-sm mt-1"
  >
    <div>Province is required</div>
  </div>
</div>

      <!-- District -->
      <div>
  <label
    for="district"
    class="block text-sm font-medium text-gray-700 dark:text-textDark"
    >District *</label
  >
  <p-dropdown
    id="district"
    name="district"
    [(ngModel)]="centerFetchData.district"
    (onChange)="onDistrictChange()"
    [options]="selectedDistrict"
    optionLabel="districtName"
    optionValue="districtName"
    filter="true"
    filterBy="districtName"
    placeholder="-- select --"
    [showClear]="true"
    [autoDisplayFirst]="false"
    #districtInput="ngModel"
    required
    [style]="{ 'min-height': '38px' }"
    styleClass="w-full mt-1" 
    panelStyleClass="custom-dropdown-panel" 
    class="mt-1 block w-full p-dropdown-custom"
    [disabled]="!centerFetchData.province"
  ></p-dropdown>
  <div
    *ngIf="districtInput.touched && !centerFetchData.district"
    class="text-red-500 text-sm mt-1"
  >
    <div>District is required</div>
  </div>
</div>

      <div>
        <label
          for="country"
          class="block text-sm font-medium text-gray-700 dark:text-textDark"
        >
          Country *
        </label>
        <input
          id="country"
          name="country"
          type="text"
          [ngModel]="centerFetchData.country"
          readonly
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
        />
      </div>

      <!-- <div>
                <label for="regCode" class="block text-sm font-medium text-gray-700 dark:text-textDark">Reg Code</label>
                <input id="regCode" name="regCode"
                    [(ngModel)]="centerFetchData.regCode" #regCodeInput="ngModel"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
                    required />
                <div *ngIf="regCodeInput.touched && !centerFetchData.regCode" class="text-red-500 text-sm mt-1">
                    <div>RegCode is required</div>
                </div>
            </div> -->

      <div>
        <label
          for="regCode"
          class="block text-sm font-medium text-gray-700 dark:text-textDark"
          >Collection Centres Reg Code</label
        >
        <input
          id="regCode"
          name="regCode"
          [(ngModel)]="centerFetchData.regCode"
          #regCodeInput="ngModel"
          readonly
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
        />
        <!-- ... validation ... -->
      </div>
    </div>
    <div class="flex justify-end m-10">
      <div
        type="submit"
        class="px-6 py-2 mx-5 bg-[#74788D] text-white rounded-md"
        (click)="onCancel()"
      >
        Cancel
      </div>
      <button
        type="submit"
        class="px-6 py-2 bg-[#3980C0] text-white rounded-md"
       
      >
        Save
      </button>
    </div>
  </form>
</div>
