<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<button (click)="back()" *ngIf="selectedPage === 'pageOne'" class="ml-5 text-textLight dark:text-textDark">
  <i class="fa-solid fa-arrow-left"></i>
  Back
</button>
<div class="h-[20px]"></div>
<div *ngIf="this.itemId == null" class="mx-auto p-6 bg-white dark:bg-tileBlack rounded-lg shadow-mg">
  <div *ngIf="selectedPage === 'pageOne'">
    <!-- <div> -->
    <h2 class="text-2xl mb-6 text-textLight dark:text-textDark">
      Add Personal Details
    </h2>
    <div>
      <div class="flex justify-center pt-3 pb-9">
        <div class="relative">
          <input type="file" id="imageUpload" accept="image/*" class="hidden" (change)="onFileSelected($event)" />

          <!-- Display default image if no file is selected -->
          <div *ngIf="!selectedImage"
            class="flex rounded-full border-solid border-2 justify-center items-center w-60 h-60">
            <i class="fa-regular fa-user text-8xl dark:text-textDark"></i>
          </div>

          <!-- Display the selected image if available -->
          <img *ngIf="selectedImage" class="rounded-full w-60 h-60 object-cover" [src]="selectedImage"
            alt="Profile Picture" />
          <span (click)="triggerFileInput($event)"
            class="absolute bottom-5 right-5 transform translate-x-1/4 translate-y-1/4 bg-[#3980C0] w-12 h-12 flex items-center justify-center rounded-full cursor-pointer">
            <i class="fa-solid fa-pen text-lg text-white"></i>
          </span>
        </div>
      </div>

      <div class="h-[20px]"></div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
       
        <div>
          <label for="centerId" class="block text-sm font-medium text-gray-700 dark:text-textDark">
            Company Name
          </label>
          <div class="relative">
            <input
              id="centerId"
              name="centerId"
              readonly
              [value]="companyName"
               (keydown)="blockLeadingSpace($event, 'nic')"
              class="form-control mt-1 block w-full p-2 text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 appearance-none focus:ring-indigo-500 focus:border-indigo-500 pr-10"
            />
          </div>
        </div>

         <div>
          <!-- <label class="block text-sm font-medium text-gray-700 dark:text-textDark">EMP ID / User name</label>
          <div class="flex mt-1">
            <span
              class="inline-flex items-center px-3 py-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
              <p *ngIf="personalData.jobRole === 'Distribution Center Head'">
                DCH
              </p>
            </span>
            <input type="text" [value]="lastID" name="empId"
              class="rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm pl-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              disabled />
          </div> -->
        </div>

        <div>
          <label for="enpType" class="block text-sm font-medium text-gray-700 dark:text-textDark">
            Staff Employee Type*
          </label>

          <div class="flex items-center space-x-4 mt-3">
            <div class="flex items-center space-x-2">
              <label class="block text-sm font-medium text-gray-700 dark:text-textDark">
                <input class="w-5 h-5" type="radio" name="enpType" value="Permanent" [(ngModel)]="empType"
                  (ngModelChange)="updateEmployeeType($event)" />
                Permanent
              </label>
            </div>
            <div class="flex items-center space-x-2">
              <label class="block text-sm font-medium text-gray-700 dark:text-textDark">
                <input class="w-5 h-5" type="radio" name="enpType" value="Temporary" [(ngModel)]="empType"
                  (ngModelChange)="updateEmployeeType($event)" />
                Temporary
              </label>
            </div>
          </div>
          <p *ngIf="!isEmpTypeSelected()" class="text-red-600 text-sm mt-2">
            Please select an employee type.
          </p>
        </div>

        <div>
          <label for="languages" class="block text-sm font-medium text-gray-700 dark:text-textDark">
            Preferred Languages*
          </label>

          <div class="flex items-center space-x-4 mt-3">
            <div class="flex items-center space-x-2">
              <input class="w-5 h-5" type="checkbox" id="sinhala" name="languages" value="Sinhala"
                (change)="onCheckboxChange('Sinhala', $event)" [checked]="personalData.languages.includes('Sinhala')" />
              <label for="sinhala" class="text-gray-700">Sinhala</label>
            </div>
            <div class="flex items-center space-x-2">
              <input class="w-5 h-5" type="checkbox" id="english" name="languages" value="English"
                (change)="onCheckboxChange('English', $event)" [checked]="personalData.languages.includes('English')" />
              <label for="english" class="text-gray-700">English</label>
            </div>
            <div class="flex items-center space-x-2">
              <input class="w-5 h-5" type="checkbox" id="tamil" name="languages" value="Tamil"
                (change)="onCheckboxChange('Tamil', $event)" [checked]="personalData.languages.includes('Tamil')" />
              <label for="tamil" class="text-gray-700">Tamil</label>
            </div>
          </div>
          <p *ngIf="!isAtLeastOneLanguageSelected()" class="text-red-600 text-sm mt-2">
            Please select at least one preferred language.
          </p>
        </div>

        <div *ngIf="personalData.jobRole === 'Collection Officer'">
          <label for="centerId" class="block text-sm font-medium text-gray-700 dark:text-textDark">
            Manager Name*
          </label>
          <div class="relative">
            <select id="centerId" [(ngModel)]="personalData.irmId" name="centerId"
              class="form-control mt-1 block w-full p-2 text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-600 rounded-md bg-gray-100 dark:bg-gray-800 appearance-none focus:ring-indigo-500 focus:border-indigo-500 pr-10">
              <option *ngFor="let center of distributionHeadData" [value]="center.id"
                class="p-2 text-gray-700 dark:text-gray-300 bg-gray-100 dark:bg-gray-800">
                {{ center.firstNameEnglish + " " + center.lastNameEnglish }}
              </option>
            </select>
            <!-- FontAwesome Down Arrow Icon -->
            <i
              class="fas fa-chevron-down absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500 dark:text-gray-400 pointer-events-none"></i>
          </div>
        </div>

        <div *ngIf="personalData.jobRole === 'Collection Officer'"></div>

     <div>
  <label for="firstNameEnglish" class="block text-sm font-medium text-gray-700 dark:text-textDark">
    First Name*
  </label>
  <input
    id="firstNameEnglish"
    name="firstNameEnglish"
    required
    [(ngModel)]="personalData.firstNameEnglish"
    #firstNameEnglishRef="ngModel"
    pattern="^[A-Z][a-zA-Z ]*$"
    (input)="capitalizeWhileTyping('firstNameEnglish')"
    (keypress)="blockInvalidNameInput($event, 'firstNameEnglish')"
    class="form-control mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
  />
  <span *ngIf="firstNameEnglishRef.invalid && (firstNameEnglishRef.dirty || firstNameEnglishRef.touched)" class="text-red-600 text-sm">
    <ng-container *ngIf="firstNameEnglishRef.errors?.['required']">
      First Name is required.
    </ng-container>
 
  </span>
</div>




<div>
  <label for="lastNameEnglish" class="block text-sm font-medium text-gray-700 dark:text-textDark">
    Last Name*
  </label>
  <input
    id="lastNameEnglish"
    name="lastNameEnglish"
    required
    [(ngModel)]="personalData.lastNameEnglish"
    #lastNameEnglishRef="ngModel"
    pattern="^[A-Z][a-zA-Z ]*$"
    (input)="capitalizeWhileTyping('lastNameEnglish')"
    (keypress)="blockInvalidNameInput($event, 'lastNameEnglish')"
    class="form-control mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
  />
  <span *ngIf="lastNameEnglishRef.invalid && (lastNameEnglishRef.dirty || lastNameEnglishRef.touched)" class="text-red-600 text-sm">
    <ng-container *ngIf="lastNameEnglishRef.errors?.['required']">
      Last Name is required.
    </ng-container>

  </span>
</div>



        <div>
          <label for="phoneNumber01" class="block text-sm font-medium text-gray-700 dark:text-textDark">
           Mobile Number - 1*
          </label>
         <div class="mt-1 flex flex-col">
  <div class="flex">
    <select id="phoneNumber01Code" name="phoneNumber01Code"
      [(ngModel)]="personalData.phoneCode01"
      class="block p-2 border border-gray-300 rounded-l-md bg-gray-50 mr-5 text-textLight dark:text-textDark dark:bg-tileBlack">
      <option value="+94">+94 (LK)</option>
      <option value="+1">+1 (US)</option>
      <option value="+44">+44 (UK)</option>
      <option value="+91">+91 (India)</option>
    </select>

    <input
      id="phoneNumber01"
      name="phoneNumber01"
      type="text"
      [(ngModel)]="personalData.phoneNumber01"
      class="block w-full p-2 border border-gray-300 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
      placeholder="Enter your phone number"
      (blur)="onBlur('phoneNumber01')"
      (keypress)="blockPhoneLength($event, personalData.phoneNumber01)"
      (input)="checkDuplicatePhoneNumbers(); enforcePhoneLength($event, 'phoneNumber01')"
    />
  </div>

  <!-- Validation messages below both inputs, full width -->
  <div class="mt-1 flex flex-col w-full">
    <span *ngIf="duplicatePhoneError" class="text-red-600 text-sm">
      Company Contact Number - 1 & 2 cannot be the same.
    </span>
<div *ngIf="personalData.phoneNumber01 && !isValidPhoneNumber(personalData.phoneNumber01)" class="text-red-500 text-sm">
  Please enter a valid mobile number (format: +947XXXXXXXX)
</div>


    <span *ngIf="isFieldInvalid('phoneNumber01') && !personalData.phoneNumber01" class="text-red-600 text-sm">
    Mobile Number - 01 and Mobile Number - 02 cannot be the same
    </span>
  </div>
</div>
        </div>
        

      <div>
  <label for="phoNumTwo" class="block text-sm font-medium text-gray-700 dark:text-textDark">
    Mobile Number - 2
  </label>

  <div class="mt-1 flex">
    <select id="phoneNumber02Code" name="phoneNumber02Code" [(ngModel)]="personalData.phoneCode02"
      class="block p-2 border border-gray-300 rounded-l-md bg-gray-50 mr-5 text-textLight dark:text-textDark dark:bg-tileBlack">
      <option value="+94">+94 (LK)</option>
      <option value="+1">+1 (US)</option>
      <option value="+44">+44 (UK)</option>
      <option value="+91">+91 (India)</option>
    </select>

    <input
      id="phoneNumber02"
      name="phoneNumber02"
      type="text"
      [(ngModel)]="personalData.phoneNumber02"
      class="block w-full p-2 border border-gray-300 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
      placeholder="Enter your phone number"
      (blur)="onBlur('phoneNumber02')"
      (keypress)="blockPhoneLength($event, personalData.phoneNumber02)"
      (input)="checkDuplicatePhoneNumbers(); enforcePhoneLength($event, 'phoneNumber02')"
    />
  </div>

  <!-- Validation messages below the row -->
  <div class="mt-1 flex flex-col w-full">
    <span *ngIf="duplicatePhoneError" class="text-red-600 text-sm">
      Mobile Number - 01 and Mobile Number - 02 cannot be the same
    </span>
<span *ngIf="personalData.phoneNumber02 && !isValidPhoneNumber(personalData.phoneNumber02, personalData.phoneCode02)" class="text-red-600 text-sm">
  Please enter a valid mobile number (format: +947XXXXXXXX)
</span>


    <!-- Optional extra validation
    <span *ngIf="touchedFields.phoneNumber02 && !isValidPhoneNumber(personalData.phoneNumber02)" class="text-red-600 text-sm">
      Invalid phone number.
    </span>
    -->
  </div>
</div>


      <div>
  <label for="nic" class="block text-sm font-medium text-gray-700 dark:text-textDark">
    NIC Number*
  </label>
  <input
    id="nic"
    name="nic"
    [(ngModel)]="personalData.nic"
    (blur)="onBlur('nic')"
    (input)="capitalizeV(); enforceNicLength($event)"
    (keydown)="blockLeadingSpace($event, 'nic'); blockNicInput($event)"
    class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
  />
  <span *ngIf="touchedFields.nic && personalData.nic && !isValidNIC(personalData.nic)" class="text-red-600 text-sm">
    Please enter a valid NIC number (12 digits or 10 digits followed by 'V')
  </span>
  <span *ngIf="isFieldInvalid('nic') && !personalData.nic" class="text-red-600 text-sm">
    NIC is a required field.
  </span>
</div>


        <div>
          <label for="email" class="block text-sm font-medium text-gray-700 dark:text-textDark">Email*</label>
          <input type="email" id="email" name="nic" [(ngModel)]="personalData.email"   (keydown)="blockLeadingSpace($event, 'nic')" (blur)="onBlur('email') "
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
          <span *ngIf="touchedFields.email && personalData.email && !isValidEmail(personalData.email)" class="text-red-600 text-sm">
            Please enter a valid email in the format: example&#64;domain.com
          </span>
          <span *ngIf="isFieldInvalid('email') && !personalData.email" class="text-red-600 text-sm">
            Email is a required field.
          </span>
        </div>
      </div>

      <div class="flex justify-end my-10 ml-10 mr-0">
        <button (click)="onCancel()" type="button" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md mr-2">
          Cancel
        </button>
        <button (click)="nextFormCreate('pageTwo')" type="button" class="px-4 py-2 bg-[#3980C0] text-white rounded-md"
          [disabled]="!checkFormValidity()">
          Next
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="selectedPage === 'pageTwo'">
    <!-- <div> -->
    <h2 class="text-2xl mb-6 text-textLight dark:text-textDark">
      Residential Details
    </h2>
    <div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
        <div class="pb-6">
          <label for="house" class="block text-sm font-medium text-gray-700 dark:text-textDark">House / Plot
            Number*</label>
          <input (blur)="onBlur('houseNumber')" id="houseNumber" name="houseNumber"
            [(ngModel)]="personalData.houseNumber"
             (keydown)="blockLeadingSpace($event, 'houseNumber')"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
          <span *ngIf="isFieldInvalid('houseNumber')" class="text-red-600 text-sm">House Number is required.</span>
        </div>

        <div class="pb-6">
          <label for="street" class="block text-sm font-medium text-gray-700 dark:text-textDark">Street Name*</label>
          <input (blur)="onBlur('streetName')" id="streetName" name="streetName" [(ngModel)]="personalData.streetName"  (keydown)="blockLeadingSpace($event, 'streetName')"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
          <span *ngIf="isFieldInvalid('streetName')" class="text-red-600 text-sm">Street Name is required.</span>
        </div>

        <div class="pb-6">
          <label for="city" class="block text-sm font-medium text-gray-700 dark:text-textDark">City*</label>
          <input
  (blur)="onBlur('city')"
  id="city"
  name="city"
  [(ngModel)]="personalData.city"
  (keydown)="blockLeadingSpace($event, 'city')"
  class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
/>

          <span *ngIf="isFieldInvalid('city')" class="text-red-600 text-sm">City is required.</span>
        </div>
<div class="pb-6">
  <label for="districtDropdown" class="block text-sm font-medium text-gray-700 dark:text-textDark">
    District*
  </label>

  <p-dropdown
    id="districtDropdown"
    name="district"
    [(ngModel)]="personalData.district"
    #districtModel="ngModel"
    required
    (onChange)="updateProvince($event)"
    [options]="districts"
    optionLabel="name"
    optionValue="name"
    placeholder="Select a district"
    [filter]="true"                    
    filterPlaceholder="Search district" 
    class="w-full"
    [ngClass]="{
      'p-invalid': isFieldInvalid('district')
    }"
  >
  </p-dropdown>

  <span *ngIf="districtModel.invalid && districtModel.touched" class="text-red-600 text-sm">
    District is required.
  </span>
</div>



        <div class="pb-6">
          <label for="province" class="block text-sm font-medium text-gray-700 dark:text-textDark">
            Province*
          </label>
          <input id="province" name="province" [(ngModel)]="personalData.province"  (keydown)="blockLeadingSpace($event, 'nic')"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
            readonly />
        </div>

       <div class="pb-6">
  <label for="country" class="block text-sm font-medium text-gray-700 dark:text-textDark">
    Country*
  </label>
  <input
    type="text"
    id="country"
    name="country"
    [value]="'Sri Lanka'"
     (keydown)="blockLeadingSpace($event, 'country')"
    disabled
    class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
  />
</div>

        
      </div>
    </div>
 <div>
  <h2 class="text-2xl mt-10 mb-6 text-textLight dark:text-textDark">
    Add Bank Details
  </h2>
  <div class="pb-6">
    <label for="accHolderName" class="block text-sm font-medium text-gray-700 dark:text-textDark">
      Account Holder’s Name*
    </label>
    <input
      maxlength="50"
      id="accHolderName"
      name="accHolderName"
      [(ngModel)]="personalData.accHolderName"
       (keydown)="blockLeadingSpace($event, 'nic')"
      #accHolderNameRef="ngModel"
      required
      pattern="^([A-Z][a-z]*)( [A-Z][a-z]*)*$"
      (input)="capitalizeWhileTyping('accHolderName')"
      (keypress)="blockInvalidNameInput($event, personalData.accHolderName)"
      (blur)="onBlur('accHolderName')"
      class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack"
    />
    <span
      *ngIf="accHolderNameRef.invalid && (accHolderNameRef.dirty || accHolderNameRef.touched)"
      class="text-red-600 text-sm"
    >
      <ng-container *ngIf="accHolderNameRef.errors?.['required']">
        Account Holder’s Name is required.
      </ng-container>
      
    </span>
  </div>


      

      <div class="pb-6">
        <label for="accNumber" class="block text-sm font-medium text-gray-700 dark:text-textDark">
          Account Number*
        </label>
        <input id="accNumber" name="accNumber" type="number" [(ngModel)]="personalData.accNumber"  (keydown)="blockLeadingSpace($event, 'nic')"
          (blur)="onBlur('accNumber')"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />
        <span *ngIf="isFieldInvalid('accNumber')" class="text-red-600 text-sm">
          Account Number is required.
        </span>
      </div>

      <div class="pb-6">
        <label for="confirmAccNumber" class="block text-sm font-medium text-gray-700 dark:text-textDark">
          Confirm Account Number*
        </label>
        <input id="confirmAccNumber" name="confirmAccNumber" type="number" [(ngModel)]="personalData.confirmAccNumber"  (keydown)="blockLeadingSpace($event, 'confirmAccNumber')"
          (blur)="onBlur('confirmAccNumber')"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-tileBlack" />

        <!-- Required validation message -->
        <span *ngIf="confirmAccountNumberRequired" class="text-red-600 text-sm">
          Confirm Account Number is required.
        </span>

        <!-- Mismatch validation message -->
        <span *ngIf="confirmAccountNumberError && !confirmAccountNumberRequired" class="text-red-600 text-sm">
          Account Numbers do not match.
        </span>
      </div>

<div class="pb-6">
  <label for="bankDropdown" class="block text-sm font-medium text-gray-700 dark:text-textDark">
    Bank Name*
  </label>

  <p-dropdown
    id="bankDropdown"
    name="bankName"
    [(ngModel)]="selectedBankId"
    #bankModel="ngModel"
    required
    (onChange)="onBankChange()"
    [options]="banks"
    optionLabel="name"
    optionValue="ID"
    [filter]="true"
    filterBy="name"
    placeholder="Select a bank"
    [showClear]="false"
    class="w-full"
    [ngClass]="{
      'p-invalid': isFieldInvalid('bankName')
    }"
  >
  </p-dropdown>

  <span *ngIf="bankModel.invalid && bankModel.touched" class="text-red-600 text-sm">
    Bank Name is required.
  </span>
</div>




<div class="pb-6">
  <label for="branchDropdown" class="block text-sm font-medium text-gray-700 dark:text-textDark">
    Branch Name*
  </label>

  <p-dropdown
    id="branchDropdown"
    name="branchDropdown"
    [(ngModel)]="selectedBranchId"
    #branchModel="ngModel"
    required
    (onChange)="onBranchChange()"
    [options]="branches"
    optionLabel="name"
    optionValue="ID"
    [disabled]="!selectedBankId"
    placeholder="Select a branch"
    [filter]="true"                     
    filterPlaceholder="Search branch"  
    class="w-full"
    [ngClass]="{ 'p-invalid': branchModel.invalid && branchModel.touched }">
  </p-dropdown>

  <span *ngIf="branchModel.invalid && branchModel.touched" class="text-red-600 text-sm">
    Branch Name is required.
  </span>
</div>



    <div class="flex justify-end my-10 ml-10 mr-0">
      <button (click)="nextFormCreate('pageOne')" type="button"
        class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md mr-2">
        Back
      </button>
      <button type="submit" class="px-4 py-2 bg-[#3980C0] text-white rounded-md" (click)="onSubmit()"
        [disabled]="!checkSubmitValidity()">
        Send To Approve
      </button>
    </div>
  </div>
</div>