<div class="flex flex-row items-center justify-center">
  <div
    class="flex flex-col justify-center items-center bg-[#0D9488] py-6 w-40 rounded-lg shadow-lg mr-4"
  >
    <i class="fa-solid fa-layer-group text-white text-3xl mb-2"></i>
    <h2 class="text-white">Vegetable</h2>
    <h5 class="text-white text-lg">Total Enrollments</h5>
    <h2 class="text-white text-2xl font-bold">1,80,000</h2>
  </div>

  <div
    class="flex flex-col justify-center items-center bg-[#DA6200] py-6 w-40 rounded-lg shadow-lg mx-4"
  >
    <i class="fa-solid fa-layer-group text-white text-3xl mb-2"></i>
    <h2 class="text-white">Fruits</h2>
    <h5 class="text-white text-lg">Total Enrollments</h5>
    <h2 class="text-white text-2xl font-bold">2,80,000</h2>
  </div>

  <div
    class="flex flex-col justify-center items-center bg-[#3B82F6] py-6 w-40 rounded-lg shadow-lg mx-4"
  >
    <i class="fa-solid fa-layer-group text-white text-3xl mb-2"></i>
    <h2 class="text-white">Grains</h2>
    <h5 class="text-white text-lg">Total Enrollments</h5>
    <h2 class="text-white text-2xl font-bold">33,80,000</h2>
  </div>

  <div
    class="flex flex-col justify-center items-center bg-[#A05CA6] py-6 w-40 rounded-lg shadow-lg mx-4"
  >
    <i class="fa-solid fa-layer-group text-white text-3xl mb-2"></i>
    <h2 class="text-white">Mushrooms</h2>
    <h5 class="text-white text-lg">Total Enrollments</h5>
    <h2 class="text-white text-2xl font-bold">80,000</h2>
  </div>

  <div
    class="flex flex-col justify-center items-center py-5 w-40 rounded-lg shadow-lg mx-4 dark:bg-[#061E2C]"
  >
    <h2 class="text-lg text-[#4B5563] dark:text-white">Active Users</h2>
    <h2 class="text-[#4B5563] my-4 text-md dark:text-white">Today</h2>
    <h2 class="text-4xl my-1 dark:text-white">37</h2>
  </div>

  <div
    class="flex flex-col justify-center items-center py-5 w-40 rounded-lg shadow-lg ml-4 dark:bg-[#061E2C]"
  >
    <h2 class="text-lg text-[#4B5563] dark:text-white">New Users</h2>
    <h2 class="text-[#4B5563] my-4 text-md dark:text-white">Today</h2>
    <h2 class="text-4xl my-1 dark:text-white">08</h2>
  </div>
</div>
