.italic-placeholder::placeholder {
    font-style: italic;
}

/* For browser compatibility */
.italic-placeholder::-webkit-input-placeholder {
    font-style: italic;
}

.italic-placeholder::-moz-placeholder {
    font-style: italic;
}

.italic-placeholder:-ms-input-placeholder {
    font-style: italic;
}

.italic-placeholder::placeholder {
    font-style: italic;
}