<div class="sidenav bg-[#061E2C] h-screen flex flex-col" [ngClass]="{'expanded': isExpanded}">
  <div class="logo-container">
    <img src="assets/images/logo.png" alt="Logo" class="logo-text w-16 cursor-pointer" *ngIf="!isExpanded"
      onclick="window.location.href='/admin/steckholders/dashboard'" />
    <img src="assets/images/logo.png" alt="Logo" class="logo-text w-32 cursor-pointer" *ngIf="isExpanded"
      onclick="window.location.href='/admin/steckholders/dashboard'" />
      
    <i class="flex justify-end text-white fa-solid fa-angle-right inset-y-0 right-0 w-full cursor-pointer"
      *ngIf="!isExpanded" (click)="toggleSidenav()"></i>
    <i class="flex justify-end text-white fa-solid fa-angle-left inset-y-0 right-0 w-full cursor-pointer"
    *ngIf="isExpanded" (click)="toggleSidenav()"></i>
  </div>



  <ul class="sidenav-nav flex-1 overflow-y-auto scrollbar-thin scrollbar-thumb-[#8AC440] scrollbar-track-transparent scrollbar-thumb-rounded-full">
    <li *ngFor="let item of navData" class="sidenav-nav-li" [class.active]="isParentActive(item)">
      <a 
         [routerLink]="item.children ? null : item.RouterLink" 
         class="sidenav-nav-link" 
         [routerLinkActive]="getActiveClass(item)" 
         (click)="toggleChildren(item)" 
         routerLinkActive="active" 
         [routerLinkActiveOptions]="{exact: false}">
        <i class="sidenav-link-icon" [class]="item.icon"></i>
        <span *ngIf="isExpanded" class="sidenav-link-text">{{ item.label }}</span>
        <i *ngIf="isExpanded && item.children && !item.expanded" class="fa-solid fa-chevron-right ml-auto pr-1"></i>
        <i *ngIf="isExpanded && item.expanded && item.children" class="fa-solid fa-chevron-down ml-auto pr-1"></i>
      </a>
  
      <!-- Render children -->
      <ul *ngIf="item.children && item.expanded" class="child-nav">
        <li *ngFor="let child of item.children" class="sidenav-nav-item">
          <a *ngIf="child.RouterLink"
             [routerLink]="child.RouterLink" 
             class="sidenav-child-link"
             [routerLinkActive]="getActiveChildClass(child)" 
             routerLinkActive="active" 
             [routerLinkActiveOptions]="{exact: false}">
            <i class="child-link-icon" [class]="child.childIcon"></i>
            <span *ngIf="isExpanded" class="sidenav-link-text">{{ child.label }}</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>

  
  
  

  <div class="setting-container p-4 pb-16 border-t" onclick="window.location.href='/admin/settings/view-roles'" *ngIf="tokenService.getUserDetails().role === '1'">

    <i class="sidenav-link-icon fa-solid fa-gear"></i>
    <span class="sidenav-link-text" *ngIf="isExpanded">Settings</span>
  </div>

  <div class="logout-container" (click)="logout()">
    <i class="sidenav-link-icon fa-solid fa-sign-out-alt"></i>
    <span class="sidenav-link-text" *ngIf="isExpanded">Logout</span>
  </div>

</div>