<div class="space-y-10 p-10">

    <div class="bg-[#F9FAFC] p-5 rounded-xl">
        <label class="block text-sm text-[#4A4A4A] mb-2">
            <span class="text-[#4A4A4A]">01.</span>
            Does the farmer own storage facility?
        </label>
        <input type="text" [value]="HarvestObj.hasOwnStorage == 1 ? 'Yes' : 'No'" readonly
            class="w-full px-4 py-3 rounded-lg border border-gray-200 bg-white text-gray-900 focus:outline-none" />
    </div>

    <div class="bg-[#F9FAFC] p-5 rounded-xl">
        <label class="block text-sm text-[#4A4A4A] mb-2">
            <span class="text-[#4A4A4A]">02.</span>
            If not, does the farmer have access to such facility?
        </label>
        <input type="text" [value]="HarvestObj.hasPrimaryProcessingAccess == 1 ? 'Yes' : 'No'" readonly
            class="w-full px-4 py-3 rounded-lg border border-gray-200 bg-white text-gray-900 focus:outline-none" />
    </div>

    <div class="bg-[#F9FAFC] p-5 rounded-xl">
        <label class="block text-sm text-[#4A4A4A] mb-2">
            <span class="text-[#4A4A4A]">03.</span>
            Does the farmer has access to primary processing facility?
        </label>
        <input type="text" [value]="HarvestObj.ifNotHasFacilityAccess == 1 ? 'Yes' : 'No'" readonly
            class="w-full px-4 py-3 rounded-lg border border-gray-200 bg-white text-gray-900 focus:outline-none" />
    </div>

    <div class="bg-[#F9FAFC] p-5 rounded-xl">
        <label class="block text-sm text-[#4A4A4A] mb-2">
            <span class="text-[#4A4A4A]">04.</span>
            Does farmer knows technologies for value addition of your crop?
        </label>
        <input type="text" [value]="HarvestObj.knowsValueAdditionTech == 1 ? 'Yes' : 'No'" readonly
            class="w-full px-4 py-3 rounded-lg border border-gray-200 bg-white text-gray-900 focus:outline-none" />
    </div>

    <div class="bg-[#F9FAFC] p-5 rounded-xl">
        <label class="block text-sm text-[#4A4A4A] mb-2">
            <span class="text-[#4A4A4A]">05.</span>
            Does the farmer has market linkage for value added products?
        </label>
        <input type="text" [value]="HarvestObj.hasValueAddedMarketLinkage == 1 ? 'Yes' : 'No'" readonly
            class="w-full px-4 py-3 rounded-lg border border-gray-200 bg-white text-gray-900 focus:outline-none" />
    </div>

    <div class="bg-[#F9FAFC] p-5 rounded-xl">
        <label class="block text-sm text-[#4A4A4A] mb-2">
            <span class="text-[#4A4A4A]">06.</span>
            Is farmer aware about required quality standards of value added products of proposed crops?
        </label>
        <input type="text" [value]="HarvestObj.awareOfQualityStandards == 1 ? 'Yes' : 'No'" readonly
            class="w-full px-4 py-3 rounded-lg border border-gray-200 bg-white text-gray-900 focus:outline-none" />
    </div>

</div>